snapshots/1-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1622802362627,
            "executionTime": 0,
            "data": {
              "main": [
                [
                  {
                    "json": {}
                  }
                ]
              ]
            }
          }
        ],
        "Twitter": [
          {
            "startTime": 1622802362628,
            "executionTime": 300,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "created_at": "Fri Jun 04 10:26:02 +0000 2021",
                      "id": 1400760752022208500,
                      "id_str": "1400760752022208515",
                      "text": "Hello from n8n testing framework 0.5530367052371468",
                      "truncated": false,
                      "entities": {
                        "object": true
                      },
                      "source": "<a href=\"https://empty-quail-11.hooks.n8n.cloud/\" rel=\"nofollow\">n8n testing framework</a>",
                      "in_reply_to_status_id": {
                        "object": true
                      },
                      "in_reply_to_status_id_str": {
                        "object": true
                      },
                      "in_reply_to_user_id": {
                        "object": true
                      },
                      "in_reply_to_user_id_str": {
                        "object": true
                      },
                      "in_reply_to_screen_name": {
                        "object": true
                      },
                      "user": {
                        "object": true
                      },
                      "geo": {
                        "object": true
                      },
                      "coordinates": {
                        "object": true
                      },
                      "place": {
                        "object": true
                      },
                      "contributors": {
                        "object": true
                      },
                      "is_quote_status": false,
                      "retweet_count": 0,
                      "favorite_count": 0,
                      "favorited": false,
                      "retweeted": false,
                      "lang": "en"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twitter4": [
          {
            "startTime": 1622802362929,
            "executionTime": 251,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "created_at": "Fri Jun 04 09:11:24 +0000 2021",
                      "id": 1400741967454212000,
                      "id_str": "1400741967454212098",
                      "text": "This is an interesting use case!\nI am interested to know what kind of automation you use?\n\nEven if you're not using… https://t.co/U0OnJbKAkh",
                      "truncated": true,
                      "entities": {
                        "object": true
                      },
                      "metadata": {
                        "object": true
                      },
                      "source": "<a href=\"https://mobile.twitter.com\" rel=\"nofollow\">Twitter Web App</a>",
                      "in_reply_to_status_id": {
                        "object": true
                      },
                      "in_reply_to_status_id_str": {
                        "object": true
                      },
                      "in_reply_to_user_id": {
                        "object": true
                      },
                      "in_reply_to_user_id_str": {
                        "object": true
                      },
                      "in_reply_to_screen_name": {
                        "object": true
                      },
                      "user": {
                        "object": true
                      },
                      "geo": {
                        "object": true
                      },
                      "coordinates": {
                        "object": true
                      },
                      "place": {
                        "object": true
                      },
                      "contributors": {
                        "object": true
                      },
                      "is_quote_status": true,
                      "retweet_count": 0,
                      "favorite_count": 0,
                      "favorited": false,
                      "retweeted": false,
                      "lang": "en"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twitter1": [
          {
            "startTime": 1622802363181,
            "executionTime": 277,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "created_at": "Fri Jun 04 10:26:02 +0000 2021",
                      "id": 1400760752022208500,
                      "id_str": "1400760752022208515",
                      "text": "Hello from n8n testing framework 0.5530367052371468",
                      "truncated": false,
                      "entities": {
                        "object": true
                      },
                      "source": "<a href=\"https://empty-quail-11.hooks.n8n.cloud/\" rel=\"nofollow\">n8n testing framework</a>",
                      "in_reply_to_status_id": {
                        "object": true
                      },
                      "in_reply_to_status_id_str": {
                        "object": true
                      },
                      "in_reply_to_user_id": {
                        "object": true
                      },
                      "in_reply_to_user_id_str": {
                        "object": true
                      },
                      "in_reply_to_screen_name": {
                        "object": true
                      },
                      "user": {
                        "object": true
                      },
                      "geo": {
                        "object": true
                      },
                      "coordinates": {
                        "object": true
                      },
                      "place": {
                        "object": true
                      },
                      "contributors": {
                        "object": true
                      },
                      "is_quote_status": false,
                      "retweet_count": 0,
                      "favorite_count": 0,
                      "favorited": true,
                      "retweeted": false,
                      "lang": "en"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twitter2": [
          {
            "startTime": 1622802363458,
            "executionTime": 305,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "created_at": "Fri Jun 04 10:26:03 +0000 2021",
                      "id": 1400760755448844300,
                      "id_str": "1400760755448844288",
                      "text": "RT @nodeqa1: Hello from n8n testing framework 0.5530367052371468",
                      "truncated": false,
                      "entities": {
                        "object": true
                      },
                      "source": "<a href=\"https://empty-quail-11.hooks.n8n.cloud/\" rel=\"nofollow\">n8n testing framework</a>",
                      "in_reply_to_status_id": {
                        "object": true
                      },
                      "in_reply_to_status_id_str": {
                        "object": true
                      },
                      "in_reply_to_user_id": {
                        "object": true
                      },
                      "in_reply_to_user_id_str": {
                        "object": true
                      },
                      "in_reply_to_screen_name": {
                        "object": true
                      },
                      "user": {
                        "object": true
                      },
                      "geo": {
                        "object": true
                      },
                      "coordinates": {
                        "object": true
                      },
                      "place": {
                        "object": true
                      },
                      "contributors": {
                        "object": true
                      },
                      "retweeted_status": {
                        "object": true
                      },
                      "is_quote_status": false,
                      "retweet_count": 1,
                      "favorite_count": 0,
                      "favorited": true,
                      "retweeted": true,
                      "lang": "en"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twitter3": [
          {
            "startTime": 1622802363764,
            "executionTime": 3324,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "created_at": "Fri Jun 04 10:26:02 +0000 2021",
                      "id": 1400760752022208500,
                      "id_str": "1400760752022208515",
                      "text": "Hello from n8n testing framework 0.5530367052371468",
                      "truncated": false,
                      "entities": {
                        "object": true
                      },
                      "source": "<a href=\"https://empty-quail-11.hooks.n8n.cloud/\" rel=\"nofollow\">n8n testing framework</a>",
                      "in_reply_to_status_id": {
                        "object": true
                      },
                      "in_reply_to_status_id_str": {
                        "object": true
                      },
                      "in_reply_to_user_id": {
                        "object": true
                      },
                      "in_reply_to_user_id_str": {
                        "object": true
                      },
                      "in_reply_to_screen_name": {
                        "object": true
                      },
                      "user": {
                        "object": true
                      },
                      "geo": {
                        "object": true
                      },
                      "coordinates": {
                        "object": true
                      },
                      "place": {
                        "object": true
                      },
                      "contributors": {
                        "object": true
                      },
                      "is_quote_status": false,
                      "retweet_count": 1,
                      "favorite_count": 1,
                      "favorited": true,
                      "retweeted": true,
                      "lang": "en"
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Twitter3"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {}
    }
  },
  "mode": "cli",
  "startedAt": "2021-06-04T10:26:02.625Z",
  "stoppedAt": "2021-06-04T10:26:07.089Z",
  "finished": true
}