snapshots/1-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1622629939534,
            "executionTime": 0,
            "data": {
              "main": [
                [
                  {
                    "json": {}
                  }
                ]
              ]
            }
          }
        ],
        "Twitter": [
          {
            "startTime": 1622629939535,
            "executionTime": 372,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "created_at": "Wed Jun 02 10:32:19 +0000 2021",
                      "id": 1400037557476499500,
                      "id_str": "1400037557476499456",
                      "text": "Hello from n8n testing framework 0.283059824636422",
                      "truncated": false,
                      "entities": {
                        "object": true
                      },
                      "source": "<a href=\"https://empty-quail-11.hooks.n8n.cloud/\" rel=\"nofollow\">n8n testing framework</a>",
                      "in_reply_to_status_id": {
                        "object": true
                      },
                      "in_reply_to_status_id_str": {
                        "object": true
                      },
                      "in_reply_to_user_id": {
                        "object": true
                      },
                      "in_reply_to_user_id_str": {
                        "object": true
                      },
                      "in_reply_to_screen_name": {
                        "object": true
                      },
                      "user": {
                        "object": true
                      },
                      "geo": {
                        "object": true
                      },
                      "coordinates": {
                        "object": true
                      },
                      "place": {
                        "object": true
                      },
                      "contributors": {
                        "object": true
                      },
                      "is_quote_status": false,
                      "retweet_count": 0,
                      "favorite_count": 0,
                      "favorited": false,
                      "retweeted": false,
                      "lang": "en"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twitter4": [
          {
            "startTime": 1622629939907,
            "executionTime": 288,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "created_at": "Wed Jun 02 08:40:36 +0000 2021",
                      "id": 1400009441249050600,
                      "id_str": "1400009441249050625",
                      "text": "RT @harshil1712: Creating an integration for @n8n_io is so much fun and addictive. Created a node yesterday, and man, I enjoyed the process…",
                      "truncated": false,
                      "entities": {
                        "object": true
                      },
                      "metadata": {
                        "object": true
                      },
                      "source": "<a href=\"https://mobile.twitter.com\" rel=\"nofollow\">Twitter Web App</a>",
                      "in_reply_to_status_id": {
                        "object": true
                      },
                      "in_reply_to_status_id_str": {
                        "object": true
                      },
                      "in_reply_to_user_id": {
                        "object": true
                      },
                      "in_reply_to_user_id_str": {
                        "object": true
                      },
                      "in_reply_to_screen_name": {
                        "object": true
                      },
                      "user": {
                        "object": true
                      },
                      "geo": {
                        "object": true
                      },
                      "coordinates": {
                        "object": true
                      },
                      "place": {
                        "object": true
                      },
                      "contributors": {
                        "object": true
                      },
                      "retweeted_status": {
                        "object": true
                      },
                      "is_quote_status": false,
                      "retweet_count": 1,
                      "favorite_count": 0,
                      "favorited": false,
                      "retweeted": false,
                      "lang": "en"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twitter1": [
          {
            "startTime": 1622629940195,
            "executionTime": 358,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "created_at": "Wed Jun 02 10:32:19 +0000 2021",
                      "id": 1400037557476499500,
                      "id_str": "1400037557476499456",
                      "text": "Hello from n8n testing framework 0.283059824636422",
                      "truncated": false,
                      "entities": {
                        "object": true
                      },
                      "source": "<a href=\"https://empty-quail-11.hooks.n8n.cloud/\" rel=\"nofollow\">n8n testing framework</a>",
                      "in_reply_to_status_id": {
                        "object": true
                      },
                      "in_reply_to_status_id_str": {
                        "object": true
                      },
                      "in_reply_to_user_id": {
                        "object": true
                      },
                      "in_reply_to_user_id_str": {
                        "object": true
                      },
                      "in_reply_to_screen_name": {
                        "object": true
                      },
                      "user": {
                        "object": true
                      },
                      "geo": {
                        "object": true
                      },
                      "coordinates": {
                        "object": true
                      },
                      "place": {
                        "object": true
                      },
                      "contributors": {
                        "object": true
                      },
                      "is_quote_status": false,
                      "retweet_count": 0,
                      "favorite_count": 0,
                      "favorited": true,
                      "retweeted": false,
                      "lang": "en"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twitter2": [
          {
            "startTime": 1622629940554,
            "executionTime": 407,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "created_at": "Wed Jun 02 10:32:20 +0000 2021",
                      "id": 1400037561792409600,
                      "id_str": "1400037561792409605",
                      "text": "RT @nodeqa1: Hello from n8n testing framework 0.283059824636422",
                      "truncated": false,
                      "entities": {
                        "object": true
                      },
                      "source": "<a href=\"https://empty-quail-11.hooks.n8n.cloud/\" rel=\"nofollow\">n8n testing framework</a>",
                      "in_reply_to_status_id": {
                        "object": true
                      },
                      "in_reply_to_status_id_str": {
                        "object": true
                      },
                      "in_reply_to_user_id": {
                        "object": true
                      },
                      "in_reply_to_user_id_str": {
                        "object": true
                      },
                      "in_reply_to_screen_name": {
                        "object": true
                      },
                      "user": {
                        "object": true
                      },
                      "geo": {
                        "object": true
                      },
                      "coordinates": {
                        "object": true
                      },
                      "place": {
                        "object": true
                      },
                      "contributors": {
                        "object": true
                      },
                      "retweeted_status": {
                        "object": true
                      },
                      "is_quote_status": false,
                      "retweet_count": 1,
                      "favorite_count": 0,
                      "favorited": true,
                      "retweeted": true,
                      "lang": "en"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twitter3": [
          {
            "startTime": 1622629940961,
            "executionTime": 3426,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "created_at": "Wed Jun 02 10:32:19 +0000 2021",
                      "id": 1400037557476499500,
                      "id_str": "1400037557476499456",
                      "text": "Hello from n8n testing framework 0.283059824636422",
                      "truncated": false,
                      "entities": {
                        "object": true
                      },
                      "source": "<a href=\"https://empty-quail-11.hooks.n8n.cloud/\" rel=\"nofollow\">n8n testing framework</a>",
                      "in_reply_to_status_id": {
                        "object": true
                      },
                      "in_reply_to_status_id_str": {
                        "object": true
                      },
                      "in_reply_to_user_id": {
                        "object": true
                      },
                      "in_reply_to_user_id_str": {
                        "object": true
                      },
                      "in_reply_to_screen_name": {
                        "object": true
                      },
                      "user": {
                        "object": true
                      },
                      "geo": {
                        "object": true
                      },
                      "coordinates": {
                        "object": true
                      },
                      "place": {
                        "object": true
                      },
                      "contributors": {
                        "object": true
                      },
                      "is_quote_status": false,
                      "retweet_count": 1,
                      "favorite_count": 1,
                      "favorited": true,
                      "retweeted": true,
                      "lang": "en"
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Twitter3"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {}
    }
  },
  "mode": "cli",
  "startedAt": "2021-06-02T10:32:19.531Z",
  "stoppedAt": "2021-06-02T10:32:24.388Z",
  "finished": true
}