snapshots/10-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1626269454776,
            "executionTime": 0,
            "data": {
              "main": [
                [
                  {
                    "json": {}
                  }
                ]
              ]
            }
          }
        ],
        "PagerDuty": [
          {
            "startTime": 1626269454777,
            "executionTime": 1156,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "incident_number": 278,
                      "title": "Test",
                      "description": "Test",
                      "created_at": "2021-07-14T13:30:55Z",
                      "status": "triggered",
                      "incident_key": "4e6c0e10ad164b6d8697ea9945a6cf3c",
                      "service": {
                        "object": true
                      },
                      "assignments": [
                        "json array"
                      ],
                      "assigned_via": "escalation_policy",
                      "last_status_change_at": "2021-07-14T13:30:55Z",
                      "first_trigger_log_entry": {
                        "object": true
                      },
                      "alert_counts": {
                        "object": true
                      },
                      "is_mergeable": true,
                      "escalation_policy": {
                        "object": true
                      },
                      "teams": [
                        "json array"
                      ],
                      "impacted_services": [
                        "json array"
                      ],
                      "pending_actions": [
                        "json array"
                      ],
                      "acknowledgements": [
                        "json array"
                      ],
                      "basic_alert_grouping": {
                        "object": true
                      },
                      "alert_grouping": {
                        "object": true
                      },
                      "last_status_change_by": {
                        "object": true
                      },
                      "incidents_responders": [
                        "json array"
                      ],
                      "responder_requests": [
                        "json array"
                      ],
                      "subscriber_requests": [
                        "json array"
                      ],
                      "urgency": "high",
                      "id": "PD535RP",
                      "type": "incident",
                      "summary": "[#278] Test",
                      "self": "https://api.pagerduty.com/incidents/PD535RP",
                      "html_url": "https://dev-nodeqan8n.pagerduty.com/incidents/PD535RP"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "PagerDuty7": [
          {
            "startTime": 1626269455934,
            "executionTime": 873,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "R62B3URF1UNDUQXU5N43DZIOJ9",
                      "type": "assign_log_entry",
                      "summary": "Assigned to Node Qa",
                      "self": "https://api.pagerduty.com/log_entries/R62B3URF1UNDUQXU5N43DZIOJ9",
                      "html_url": {
                        "object": true
                      },
                      "created_at": "2021-07-14T13:30:55Z",
                      "agent": {
                        "object": true
                      },
                      "channel": {
                        "object": true
                      },
                      "service": {
                        "object": true
                      },
                      "incident": {
                        "object": true
                      },
                      "teams": [
                        "json array"
                      ],
                      "contexts": [
                        "json array"
                      ]
                    }
                  }
                ]
              ]
            }
          }
        ],
        "PagerDuty6": [
          {
            "startTime": 1626269456808,
            "executionTime": 841,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "name": "Node Qa",
                      "email": "nodeqa@n8n.io",
                      "time_zone": "Europe/Berlin",
                      "color": "purple",
                      "avatar_url": "https://secure.gravatar.com/avatar/c81277605b129fdafaacede5ae34e07c.png?d=mm&r=PG",
                      "billed": true,
                      "role": "owner",
                      "description": {
                        "object": true
                      },
                      "invitation_sent": false,
                      "job_title": {
                        "object": true
                      },
                      "teams": [
                        "json array"
                      ],
                      "contact_methods": [
                        "json array"
                      ],
                      "notification_rules": [
                        "json array"
                      ],
                      "personal_web_cal_url": "webcal://dev-nodeqan8n.pagerduty.com/private/effe61535b688813e51b31cd68f98cf54428fe2848b86672bcff8689c9900c5a/feed",
                      "personal_http_cal_url": "https://dev-nodeqan8n.pagerduty.com/private/effe61535b688813e51b31cd68f98cf54428fe2848b86672bcff8689c9900c5a/feed",
                      "coordinated_incidents": [
                        "json array"
                      ],
                      "id": "PT0VVWO",
                      "type": "user",
                      "summary": "Node Qa",
                      "self": "https://api.pagerduty.com/users/PT0VVWO",
                      "html_url": "https://dev-nodeqan8n.pagerduty.com/users/PT0VVWO"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "PagerDuty1": [
          {
            "startTime": 1626269457649,
            "executionTime": 893,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "incident_number": 278,
                      "title": "Test",
                      "description": "Test",
                      "created_at": "2021-07-14T13:30:55Z",
                      "status": "triggered",
                      "incident_key": "4e6c0e10ad164b6d8697ea9945a6cf3c",
                      "service": {
                        "object": true
                      },
                      "assignments": [
                        "json array"
                      ],
                      "assigned_via": "escalation_policy",
                      "last_status_change_at": "2021-07-14T13:30:55Z",
                      "first_trigger_log_entry": {
                        "object": true
                      },
                      "alert_counts": {
                        "object": true
                      },
                      "is_mergeable": true,
                      "escalation_policy": {
                        "object": true
                      },
                      "teams": [
                        "json array"
                      ],
                      "impacted_services": [
                        "json array"
                      ],
                      "pending_actions": [
                        "json array"
                      ],
                      "acknowledgements": [
                        "json array"
                      ],
                      "basic_alert_grouping": {
                        "object": true
                      },
                      "alert_grouping": {
                        "object": true
                      },
                      "last_status_change_by": {
                        "object": true
                      },
                      "incidents_responders": [
                        "json array"
                      ],
                      "responder_requests": [
                        "json array"
                      ],
                      "subscriber_requests": [
                        "json array"
                      ],
                      "urgency": "high",
                      "id": "PD535RP",
                      "type": "incident",
                      "summary": "[#278] Test",
                      "self": "https://api.pagerduty.com/incidents/PD535RP",
                      "html_url": "https://dev-nodeqan8n.pagerduty.com/incidents/PD535RP"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Sleep 0.5 second1": [
          {
            "startTime": 1626269458542,
            "executionTime": 506,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "incident_number": 278,
                      "title": "Test",
                      "description": "Test",
                      "created_at": "2021-07-14T13:30:55Z",
                      "status": "triggered",
                      "incident_key": "4e6c0e10ad164b6d8697ea9945a6cf3c",
                      "service": {
                        "object": true
                      },
                      "assignments": [
                        "json array"
                      ],
                      "assigned_via": "escalation_policy",
                      "last_status_change_at": "2021-07-14T13:30:55Z",
                      "first_trigger_log_entry": {
                        "object": true
                      },
                      "alert_counts": {
                        "object": true
                      },
                      "is_mergeable": true,
                      "escalation_policy": {
                        "object": true
                      },
                      "teams": [
                        "json array"
                      ],
                      "impacted_services": [
                        "json array"
                      ],
                      "pending_actions": [
                        "json array"
                      ],
                      "acknowledgements": [
                        "json array"
                      ],
                      "basic_alert_grouping": {
                        "object": true
                      },
                      "alert_grouping": {
                        "object": true
                      },
                      "last_status_change_by": {
                        "object": true
                      },
                      "incidents_responders": [
                        "json array"
                      ],
                      "responder_requests": [
                        "json array"
                      ],
                      "subscriber_requests": [
                        "json array"
                      ],
                      "urgency": "high",
                      "id": "PD535RP",
                      "type": "incident",
                      "summary": "[#278] Test",
                      "self": "https://api.pagerduty.com/incidents/PD535RP",
                      "html_url": "https://dev-nodeqan8n.pagerduty.com/incidents/PD535RP"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "PagerDuty4": [
          {
            "startTime": 1626269459048,
            "executionTime": 882,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "note": {
                        "object": true
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "PagerDuty5": [
          {
            "startTime": 1626269459930,
            "executionTime": 831,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "P7LLB47",
                      "user": {
                        "object": true
                      },
                      "content": "Simple note for an incident",
                      "created_at": "2021-07-14T15:30:59+02:00",
                      "channel": {
                        "object": true
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "PagerDuty2": [
          {
            "startTime": 1626269460761,
            "executionTime": 877,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "incident_number": 278,
                      "title": "Test",
                      "description": "Test",
                      "created_at": "2021-07-14T13:30:55Z",
                      "status": "acknowledged",
                      "incident_key": "4e6c0e10ad164b6d8697ea9945a6cf3c",
                      "service": {
                        "object": true
                      },
                      "assignments": [
                        "json array"
                      ],
                      "assigned_via": "escalation_policy",
                      "last_status_change_at": "2021-07-14T13:31:01Z",
                      "first_trigger_log_entry": {
                        "object": true
                      },
                      "alert_counts": {
                        "object": true
                      },
                      "is_mergeable": true,
                      "escalation_policy": {
                        "object": true
                      },
                      "teams": [
                        "json array"
                      ],
                      "impacted_services": [
                        "json array"
                      ],
                      "pending_actions": [
                        "json array"
                      ],
                      "acknowledgements": [
                        "json array"
                      ],
                      "basic_alert_grouping": {
                        "object": true
                      },
                      "alert_grouping": {
                        "object": true
                      },
                      "last_status_change_by": {
                        "object": true
                      },
                      "incidents_responders": [
                        "json array"
                      ],
                      "responder_requests": [
                        "json array"
                      ],
                      "subscriber_requests": [
                        "json array"
                      ],
                      "urgency": "high",
                      "id": "PD535RP",
                      "type": "incident",
                      "summary": "[#278] Test",
                      "self": "https://api.pagerduty.com/incidents/PD535RP",
                      "html_url": "https://dev-nodeqan8n.pagerduty.com/incidents/PD535RP"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "PagerDuty8": [
          {
            "startTime": 1626269461639,
            "executionTime": 872,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "RPO4J3EREUCXMM73QG5TOBFIAW",
                      "type": "trigger_log_entry",
                      "summary": "Triggered through the website",
                      "self": "https://api.pagerduty.com/log_entries/RPO4J3EREUCXMM73QG5TOBFIAW",
                      "html_url": "https://dev-nodeqan8n.pagerduty.com/incidents/PD535RP/log_entries/RPO4J3EREUCXMM73QG5TOBFIAW",
                      "created_at": "2021-07-14T13:30:55Z",
                      "agent": {
                        "object": true
                      },
                      "channel": {
                        "object": true
                      },
                      "service": {
                        "object": true
                      },
                      "incident": {
                        "object": true
                      },
                      "teams": [
                        "json array"
                      ],
                      "contexts": [
                        "json array"
                      ],
                      "event_details": {
                        "object": true
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "PagerDuty3": [
          {
            "startTime": 1626269462512,
            "executionTime": 1134,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "incident_number": 222,
                      "title": "Test",
                      "description": "Test",
                      "created_at": "2021-06-15T10:15:10Z",
                      "status": "acknowledged",
                      "incident_key": "06fdf3f0bccf4261a3d5da2d6046810b",
                      "service": {
                        "object": true
                      },
                      "assignments": [
                        "json array"
                      ],
                      "assigned_via": "escalation_policy",
                      "last_status_change_at": "2021-06-15T10:15:15Z",
                      "first_trigger_log_entry": {
                        "object": true
                      },
                      "alert_counts": {
                        "object": true
                      },
                      "is_mergeable": true,
                      "escalation_policy": {
                        "object": true
                      },
                      "teams": [
                        "json array"
                      ],
                      "pending_actions": [
                        "json array"
                      ],
                      "acknowledgements": [
                        "json array"
                      ],
                      "basic_alert_grouping": {
                        "object": true
                      },
                      "alert_grouping": {
                        "object": true
                      },
                      "last_status_change_by": {
                        "object": true
                      },
                      "incidents_responders": [
                        "json array"
                      ],
                      "responder_requests": [
                        "json array"
                      ],
                      "subscriber_requests": [
                        "json array"
                      ],
                      "urgency": "high",
                      "id": "PJ877AT",
                      "type": "incident",
                      "summary": "[#222] Test",
                      "self": "https://api.pagerduty.com/incidents/PJ877AT",
                      "html_url": "https://dev-nodeqan8n.pagerduty.com/incidents/PJ877AT"
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "PagerDuty3"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {}
    }
  },
  "mode": "cli",
  "startedAt": "2021-07-14T13:30:54.773Z",
  "stoppedAt": "2021-07-14T13:31:03.647Z",
  "finished": true
}