snapshots/103-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1622630013846,
            "executionTime": 1,
            "data": {
              "main": [
                [
                  {
                    "json": {}
                  }
                ]
              ]
            }
          }
        ],
        "Set": [
          {
            "startTime": 1622630013847,
            "executionTime": 2,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "filename": "filename1622630013849"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Execute Command": [
          {
            "startTime": 1622630013849,
            "executionTime": 7,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "exitCode": 0,
                      "stderr": "",
                      "stdout": ""
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Read Binary File": [
          {
            "startTime": 1622630013857,
            "executionTime": 3,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "exitCode": 0,
                      "stderr": "",
                      "stdout": ""
                    },
                    "binary": {
                      "data": {
                        "mimeType": "text/plain",
                        "data": "dGVzdAo=",
                        "directory": "/tmp",
                        "fileName": "filename1622630013849"
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Function": [
          {
            "startTime": 1622630013860,
            "executionTime": 4,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "exitCode": 0,
                      "stderr": "",
                      "stdout": ""
                    },
                    "binary": {
                      "data": {
                        "mimeType": "text/plain",
                        "data": "dGVzdAo=",
                        "directory": "/tmp",
                        "fileName": "filename1622630013849"
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Execute Command1": [
          {
            "startTime": 1622630013864,
            "executionTime": 5,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "exitCode": 0,
                      "stderr": "",
                      "stdout": ""
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Execute Command1"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {}
    }
  },
  "mode": "cli",
  "startedAt": "2021-06-02T10:33:33.845Z",
  "stoppedAt": "2021-06-02T10:33:33.869Z",
  "finished": true
}