snapshots/103-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "hints": [],
            "startTime": 1732699027455,
            "executionTime": 1,
            "source": [],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Set": [
          {
            "hints": [],
            "startTime": 1732699027456,
            "executionTime": 21,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "filename": "filename1732699027477"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Execute Command": [
          {
            "hints": [],
            "startTime": 1732699027477,
            "executionTime": 315,
            "source": [
              {
                "previousNode": "Set"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "exitCode": 0,
                      "stderr": "",
                      "stdout": ""
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Read Binary File": [
          {
            "hints": [],
            "startTime": 1732699027792,
            "executionTime": 17,
            "source": [
              {
                "previousNode": "Execute Command"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "exitCode": 0,
                      "stderr": "",
                      "stdout": ""
                    },
                    "binary": {
                      "data": {
                        "mimeType": "text/plain",
                        "fileType": "text",
                        "data": "dGVzdAo=",
                        "directory": "/tmp",
                        "fileName": "filename1732699027477",
                        "fileSize": "5 B"
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Function": [
          {
            "hints": [],
            "startTime": 1732699027809,
            "executionTime": 4,
            "source": [
              {
                "previousNode": "Read Binary File"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "exitCode": 0,
                      "stderr": "",
                      "stdout": ""
                    },
                    "binary": {
                      "data": {
                        "mimeType": "text/plain",
                        "fileType": "text",
                        "data": "dGVzdAo=",
                        "directory": "/tmp",
                        "fileName": "filename1732699027477",
                        "fileSize": "5 B"
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    },
                    "index": 0
                  }
                ]
              ]
            }
          }
        ],
        "Execute Command1": [
          {
            "hints": [],
            "startTime": 1732699027813,
            "executionTime": 17,
            "source": [
              {
                "previousNode": "Function"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "exitCode": 0,
                      "stderr": "",
                      "stdout": ""
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Execute Command1"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2024-11-27T09:17:07.455Z",
  "stoppedAt": "2024-11-27T09:17:07.830Z",
  "status": "running",
  "finished": true
}