snapshots/108-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1622541697436,
            "executionTime": 0,
            "data": {
              "main": [
                [
                  {
                    "json": {}
                  }
                ]
              ]
            }
          }
        ],
        "Set": [
          {
            "startTime": 1622541697437,
            "executionTime": 1,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "value1": true
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Set1": [
          {
            "startTime": 1622541697438,
            "executionTime": 0,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "value2": 5
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Set2": [
          {
            "startTime": 1622541697438,
            "executionTime": 0,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "prop1": 1,
                      "prop3": -1
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Set3": [
          {
            "startTime": 1622541697439,
            "executionTime": 0,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "prop2": 2,
                      "prop4": -1
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Set7": [
          {
            "startTime": 1622541697439,
            "executionTime": 0,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "prop1": 1,
                      "prop3": -1
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Set6": [
          {
            "startTime": 1622541697439,
            "executionTime": 0,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "prop2": 2,
                      "prop3": -2,
                      "prop4": -3
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Set9": [
          {
            "startTime": 1622541697440,
            "executionTime": 0,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "prop1": 1,
                      "prop2": -1
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Set8": [
          {
            "startTime": 1622541697440,
            "executionTime": 0,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "prop3": 2,
                      "prop4": -4
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Set11": [
          {
            "startTime": 1622541697440,
            "executionTime": 0,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "prop1": 1,
                      "prop2": -1
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Set10": [
          {
            "startTime": 1622541697440,
            "executionTime": 0,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "prop3": 2,
                      "prop4": -4
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Set13": [
          {
            "startTime": 1622541697441,
            "executionTime": 0,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "prop1": 1,
                      "prop2": -1
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Set12": [
          {
            "startTime": 1622541697441,
            "executionTime": 0,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "prop3": 2,
                      "prop4": -4
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Function11": [
          {
            "startTime": 1622541697441,
            "executionTime": 5,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "title": "Input1item1"
                    }
                  },
                  {
                    "json": {
                      "title": "Input1item2"
                    }
                  },
                  {
                    "json": {
                      "title": "Input1item3"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Function12": [
          {
            "startTime": 1622541697446,
            "executionTime": 2,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "title": "Input2item1"
                    }
                  },
                  {
                    "json": {
                      "title": "Input2item2"
                    }
                  },
                  {
                    "json": {
                      "title": "Input2item3"
                    }
                  },
                  {
                    "json": {
                      "title": "Input2item4"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Merge": [
          {
            "startTime": 1622541697448,
            "executionTime": 0,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "value1": true
                    }
                  },
                  {
                    "json": {
                      "value2": 5
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Merge1": [
          {
            "startTime": 1622541697449,
            "executionTime": 0,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "prop1": 1,
                      "prop3": -1
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Merge5": [
          {
            "startTime": 1622541697449,
            "executionTime": 0,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "prop1": 1,
                      "prop3": -1
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Merge6": [
          {
            "startTime": 1622541697449,
            "executionTime": 0,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "prop1": 1,
                      "prop3": -1
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Merge7": [
          {
            "startTime": 1622541697449,
            "executionTime": 0,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "prop1": 1,
                      "prop3": -1
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Merge8": [
          {
            "startTime": 1622541697450,
            "executionTime": 0,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "prop1": 1,
                      "prop2": -1,
                      "prop3": 2,
                      "prop4": -4
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Merge9": [
          {
            "startTime": 1622541697450,
            "executionTime": 0,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "prop1": 1,
                      "prop2": -1
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Merge10": [
          {
            "startTime": 1622541697450,
            "executionTime": 0,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "prop1": 1,
                      "prop2": -1
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Merge3": [
          {
            "startTime": 1622541697450,
            "executionTime": 0,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "title": "Input2item1"
                    }
                  },
                  {
                    "json": {
                      "title": "Input2item2"
                    }
                  },
                  {
                    "json": {
                      "title": "Input2item3"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Merge2": [
          {
            "startTime": 1622541697451,
            "executionTime": 0,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "title": "Input2item1"
                    }
                  },
                  {
                    "json": {
                      "title": "Input2item2"
                    }
                  },
                  {
                    "json": {
                      "title": "Input2item3"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Merge4": [
          {
            "startTime": 1622541697451,
            "executionTime": 0,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "title": "Input2item1"
                    }
                  },
                  {
                    "json": {
                      "title": "Input2item2"
                    }
                  },
                  {
                    "json": {
                      "title": "Input2item3"
                    }
                  },
                  {
                    "json": {
                      "title": "Input2item4"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Function": [
          {
            "startTime": 1622541697451,
            "executionTime": 2,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "value1": true
                    }
                  },
                  {
                    "json": {
                      "value2": 5
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Function1": [
          {
            "startTime": 1622541697453,
            "executionTime": 2,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "prop1": 1,
                      "prop3": -1
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Function5": [
          {
            "startTime": 1622541697455,
            "executionTime": 1,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "prop1": 1,
                      "prop3": -1
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Function6": [
          {
            "startTime": 1622541697457,
            "executionTime": 1,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "prop1": 1,
                      "prop3": -1
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Function7": [
          {
            "startTime": 1622541697458,
            "executionTime": 2,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "prop1": 1,
                      "prop3": -1
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Function8": [
          {
            "startTime": 1622541697460,
            "executionTime": 2,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "prop1": 1,
                      "prop2": -1,
                      "prop3": 2,
                      "prop4": -4
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Function9": [
          {
            "startTime": 1622541697462,
            "executionTime": 1,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "prop1": 1,
                      "prop2": -1
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Function10": [
          {
            "startTime": 1622541697463,
            "executionTime": 2,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "prop1": 1,
                      "prop2": -1
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Function3": [
          {
            "startTime": 1622541697465,
            "executionTime": 1,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "title": "Input2item1"
                    }
                  },
                  {
                    "json": {
                      "title": "Input2item2"
                    }
                  },
                  {
                    "json": {
                      "title": "Input2item3"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Function2": [
          {
            "startTime": 1622541697467,
            "executionTime": 1,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "title": "Input2item1"
                    }
                  },
                  {
                    "json": {
                      "title": "Input2item2"
                    }
                  },
                  {
                    "json": {
                      "title": "Input2item3"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Function4": [
          {
            "startTime": 1622541697468,
            "executionTime": 2,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "title": "Input2item1"
                    }
                  },
                  {
                    "json": {
                      "title": "Input2item2"
                    }
                  },
                  {
                    "json": {
                      "title": "Input2item3"
                    }
                  },
                  {
                    "json": {
                      "title": "Input2item4"
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Function4"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {}
    }
  },
  "mode": "cli",
  "startedAt": "2021-06-01T10:01:37.434Z",
  "stoppedAt": "2021-06-01T10:01:37.470Z",
  "finished": true
}