snapshots/11-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "hints": [],
            "startTime": 1732699028047,
            "executionTime": 0,
            "source": [],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mailchimp1": [
          {
            "hints": [],
            "startTime": 1732699028047,
            "executionTime": 3134,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "c81277605b129fdafaacede5ae34e07c",
                      "email_address": "nodeqa@n8n.io",
                      "unique_email_id": "cb7624ba4b",
                      "contact_id": "2f4ff7f445018adb50969f99df88dd9e",
                      "full_name": "node qa",
                      "web_id": 502612022,
                      "email_type": "html",
                      "status": "subscribed",
                      "consents_to_one_to_one_messaging": true,
                      "sms_phone_number": "",
                      "sms_subscription_status": "",
                      "sms_subscription_last_updated": "",
                      "merge_fields": {
                        "object": true
                      },
                      "interests": {
                        "object": true
                      },
                      "stats": {
                        "object": true
                      },
                      "ip_signup": "",
                      "timestamp_signup": "",
                      "ip_opt": "41.62.62.149",
                      "timestamp_opt": "2021-02-19T10:59:04+00:00",
                      "member_rating": 2,
                      "last_changed": "2024-11-27T08:58:49+00:00",
                      "language": "",
                      "vip": false,
                      "email_client": "",
                      "location": {
                        "object": true
                      },
                      "source": "Admin Add",
                      "tags_count": 0,
                      "tags": [
                        "json array"
                      ],
                      "list_id": "eb9ad4be19",
                      "_links": [
                        "json array"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Function": [
          {
            "hints": [],
            "startTime": 1732699031181,
            "executionTime": 8,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "email": "test99031188@gmail.com"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mailchimp7": [
          {
            "hints": [],
            "startTime": 1732699031189,
            "executionTime": 320,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "category_id": "2adbc0d543",
                      "list_id": "eb9ad4be19",
                      "id": "928c597e2a",
                      "name": "QA",
                      "subscriber_count": "1",
                      "display_order": 1,
                      "_links": [
                        "json array"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mailchimp8": [
          {
            "hints": [],
            "startTime": 1732699031509,
            "executionTime": 371,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "6f13b9f38f",
                      "status": "save",
                      "settings": {
                        "object": true
                      },
                      "tracking": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mailchimp": [
          {
            "hints": [],
            "startTime": 1732699031881,
            "executionTime": 399,
            "source": [
              {
                "previousNode": "Mailchimp1"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "c81277605b129fdafaacede5ae34e07c",
                      "email_address": "nodeqa@n8n.io",
                      "unique_email_id": "cb7624ba4b",
                      "contact_id": "2f4ff7f445018adb50969f99df88dd9e",
                      "full_name": "node qa",
                      "web_id": 502612022,
                      "email_type": "html",
                      "status": "subscribed",
                      "consents_to_one_to_one_messaging": true,
                      "sms_phone_number": "",
                      "sms_subscription_status": "",
                      "sms_subscription_last_updated": "",
                      "merge_fields": {
                        "object": true
                      },
                      "interests": {
                        "object": true
                      },
                      "stats": {
                        "object": true
                      },
                      "ip_signup": "",
                      "timestamp_signup": "",
                      "ip_opt": "41.62.62.149",
                      "timestamp_opt": "2021-02-19T10:59:04+00:00",
                      "member_rating": 2,
                      "last_changed": "2024-11-27T08:58:49+00:00",
                      "language": "",
                      "vip": false,
                      "email_client": "",
                      "location": {
                        "object": true
                      },
                      "source": "Admin Add",
                      "tags_count": 0,
                      "tags": [
                        "json array"
                      ],
                      "list_id": "eb9ad4be19",
                      "_links": [
                        "json array"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mailchimp3": [
          {
            "hints": [],
            "startTime": 1732699032281,
            "executionTime": 633,
            "source": [
              {
                "previousNode": "Function"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "f18b96990fd8142078c0cb2d888f8e0d",
                      "email_address": "test99031188@gmail.com",
                      "unique_email_id": "82d0e35123",
                      "contact_id": "b1784d1636987ab85f98b4793cf5c5ca",
                      "full_name": "",
                      "web_id": 606403256,
                      "email_type": "html",
                      "status": "subscribed",
                      "consents_to_one_to_one_messaging": true,
                      "sms_phone_number": "",
                      "sms_subscription_status": "",
                      "sms_subscription_last_updated": "",
                      "merge_fields": {
                        "object": true
                      },
                      "interests": {
                        "object": true
                      },
                      "stats": {
                        "object": true
                      },
                      "ip_signup": "",
                      "timestamp_signup": "",
                      "ip_opt": "77.191.176.61",
                      "timestamp_opt": "2024-11-27T09:17:12+00:00",
                      "member_rating": 2,
                      "last_changed": "2024-11-27T09:17:12+00:00",
                      "language": "",
                      "vip": false,
                      "email_client": "",
                      "location": {
                        "object": true
                      },
                      "source": "API - Generic",
                      "tags_count": 0,
                      "tags": [
                        "json array"
                      ],
                      "list_id": "eb9ad4be19",
                      "_links": [
                        "json array"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mailchimp9": [
          {
            "hints": [],
            "startTime": 1732699032915,
            "executionTime": 402,
            "source": [
              {
                "previousNode": "Mailchimp8"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "6f13b9f38f",
                      "web_id": 4932290,
                      "type": "plaintext",
                      "create_time": "2021-06-04T09:15:43+00:00",
                      "archive_url": "http://eepurl.com/hAmnHn",
                      "long_archive_url": "https://us1.campaign-archive.com/?u=396affb9e515ed83edaecbba9&id=6f13b9f38f",
                      "status": "save",
                      "emails_sent": 0,
                      "send_time": "",
                      "content_type": "template",
                      "needs_block_refresh": false,
                      "resendable": false,
                      "recipients": {
                        "object": true
                      },
                      "settings": {
                        "object": true
                      },
                      "tracking": {
                        "object": true
                      },
                      "delivery_status": {
                        "object": true
                      },
                      "_links": [
                        "json array"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mailchimp2": [
          {
            "hints": [],
            "startTime": 1732699033318,
            "executionTime": 410,
            "source": [
              {
                "previousNode": "Mailchimp"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "c81277605b129fdafaacede5ae34e07c",
                      "email_address": "nodeqa@n8n.io",
                      "unique_email_id": "cb7624ba4b",
                      "contact_id": "2f4ff7f445018adb50969f99df88dd9e",
                      "full_name": "node qa",
                      "web_id": 502612022,
                      "email_type": "html",
                      "status": "subscribed",
                      "consents_to_one_to_one_messaging": true,
                      "sms_phone_number": "",
                      "sms_subscription_status": "",
                      "sms_subscription_last_updated": "",
                      "merge_fields": {
                        "object": true
                      },
                      "interests": {
                        "object": true
                      },
                      "stats": {
                        "object": true
                      },
                      "ip_signup": "",
                      "timestamp_signup": "",
                      "ip_opt": "41.62.62.149",
                      "timestamp_opt": "2021-02-19T10:59:04+00:00",
                      "member_rating": 2,
                      "last_changed": "2024-11-27T08:58:49+00:00",
                      "language": "",
                      "vip": false,
                      "email_client": "",
                      "location": {
                        "object": true
                      },
                      "source": "Admin Add",
                      "tags_count": 0,
                      "tags": [
                        "json array"
                      ],
                      "list_id": "eb9ad4be19",
                      "_links": [
                        "json array"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mailchimp4": [
          {
            "hints": [],
            "startTime": 1732699033729,
            "executionTime": 408,
            "source": [
              {
                "previousNode": "Mailchimp"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mailchimp6": [
          {
            "hints": [],
            "startTime": 1732699034138,
            "executionTime": 647,
            "source": [
              {
                "previousNode": "Mailchimp3"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mailchimp10": [
          {
            "hints": [],
            "startTime": 1732699034785,
            "executionTime": 1904,
            "source": [
              {
                "previousNode": "Mailchimp9"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "12b03e3722",
                      "web_id": 11036102,
                      "type": "plaintext",
                      "create_time": "2024-11-27T09:17:15+00:00",
                      "archive_url": "http://eepurl.com/i43ccA",
                      "long_archive_url": "https://us1.campaign-archive.com/?u=396affb9e515ed83edaecbba9&id=12b03e3722",
                      "status": "save",
                      "emails_sent": 0,
                      "send_time": "",
                      "content_type": "template",
                      "needs_block_refresh": false,
                      "resendable": false,
                      "recipients": {
                        "object": true
                      },
                      "settings": {
                        "object": true
                      },
                      "tracking": {
                        "object": true
                      },
                      "delivery_status": {
                        "object": true
                      },
                      "_links": [
                        "json array"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mailchimp5": [
          {
            "hints": [],
            "startTime": 1732699036690,
            "executionTime": 650,
            "source": [
              {
                "previousNode": "Mailchimp4"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mailchimp11": [
          {
            "hints": [],
            "startTime": 1732699037341,
            "executionTime": 659,
            "source": [
              {
                "previousNode": "Mailchimp10"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Mailchimp11"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2024-11-27T09:17:08.046Z",
  "stoppedAt": "2024-11-27T09:17:18.000Z",
  "status": "running",
  "finished": true
}