snapshots/110-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1676891404387,
            "executionTime": 0,
            "source": [],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "GraphQL": [
          {
            "startTime": 1676891404388,
            "executionTime": 339,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "data": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Function": [
          {
            "startTime": 1676891404727,
            "executionTime": 35,
            "source": [
              {
                "previousNode": "GraphQL"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "data": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    },
                    "index": 0
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Function"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2023-02-20T11:10:04.385Z",
  "stoppedAt": "2023-02-20T11:10:04.762Z",
  "status": "running",
  "finished": true
}