snapshots/112-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1622630016540,
            "executionTime": 1,
            "data": {
              "main": [
                [
                  {
                    "json": {}
                  }
                ]
              ]
            }
          }
        ],
        "RabbitMQ": [
          {
            "startTime": 1622630016541,
            "executionTime": 553,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    }
                  }
                ]
              ]
            }
          }
        ],
        "RabbitMQ1": [
          {
            "startTime": 1622630017095,
            "executionTime": 487,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    }
                  }
                ]
              ]
            }
          }
        ],
        "RabbitMQ2": [
          {
            "startTime": 1622630017582,
            "executionTime": 461,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    }
                  }
                ]
              ]
            }
          }
        ],
        "RabbitMQ3": [
          {
            "startTime": 1622630018044,
            "executionTime": 489,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    }
                  }
                ]
              ]
            }
          }
        ],
        "RabbitMQ4": [
          {
            "startTime": 1622630018533,
            "executionTime": 476,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "RabbitMQ4"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {}
    }
  },
  "mode": "cli",
  "startedAt": "2021-06-02T10:33:36.539Z",
  "stoppedAt": "2021-06-02T10:33:39.010Z",
  "finished": true
}