snapshots/114-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1676891405344,
            "executionTime": 1,
            "source": [],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Monday.com": [
          {
            "startTime": 1676891405345,
            "executionTime": 767,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "4013612300"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Monday.com1": [
          {
            "startTime": 1676891406113,
            "executionTime": 361,
            "source": [
              {
                "previousNode": "Monday.com"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "4013612300",
                      "name": "Board1676891405392",
                      "description": {
                        "object": true
                      },
                      "state": "active",
                      "board_folder_id": {
                        "object": true
                      },
                      "board_kind": "private",
                      "owner": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Monday.com2": [
          {
            "startTime": 1676891406474,
            "executionTime": 225,
            "source": [
              {
                "previousNode": "Monday.com1"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "4013612300",
                      "name": "Board1676891405392",
                      "description": {
                        "object": true
                      },
                      "state": "active",
                      "board_folder_id": {
                        "object": true
                      },
                      "board_kind": "private",
                      "owner": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Monday.com4": [
          {
            "startTime": 1676891406699,
            "executionTime": 396,
            "source": [
              {
                "previousNode": "Monday.com2"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "column1676891406700"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Monday.com6": [
          {
            "startTime": 1676891407096,
            "executionTime": 366,
            "source": [
              {
                "previousNode": "Monday.com4"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "group1676891407096"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Monday.com9": [
          {
            "startTime": 1676891407462,
            "executionTime": 434,
            "source": [
              {
                "previousNode": "Monday.com6"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "4013612396"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Monday.com10": [
          {
            "startTime": 1676891407896,
            "executionTime": 398,
            "source": [
              {
                "previousNode": "Monday.com9"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "1988368643"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Monday.com11": [
          {
            "startTime": 1676891408294,
            "executionTime": 447,
            "source": [
              {
                "previousNode": "Monday.com10"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "4013612396"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Monday.com12": [
          {
            "startTime": 1676891408741,
            "executionTime": 257,
            "source": [
              {
                "previousNode": "Monday.com11"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "4013612396",
                      "name": "Item1676891407463",
                      "created_at": "2023-02-20T11:10:07Z",
                      "state": "active",
                      "column_values": [
                        "json array"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Monday.com13": [
          {
            "startTime": 1676891408998,
            "executionTime": 277,
            "source": [
              {
                "previousNode": "Monday.com12"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "4013612396",
                      "name": "Item1676891407463",
                      "created_at": "2023-02-20T11:10:07Z",
                      "state": "active",
                      "column_values": [
                        "json array"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Monday.com14": [
          {
            "startTime": 1676891409276,
            "executionTime": 283,
            "source": [
              {
                "previousNode": "Monday.com13"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {}
                  }
                ]
              ]
            }
          }
        ],
        "Monday.com15": [
          {
            "startTime": 1676891409560,
            "executionTime": 613,
            "source": [
              {
                "previousNode": "Monday.com14"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "4013612396"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Monday.com16": [
          {
            "startTime": 1676891410173,
            "executionTime": 416,
            "source": [
              {
                "previousNode": "Monday.com15"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "4013612396"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Monday.com7": [
          {
            "startTime": 1676891410589,
            "executionTime": 518,
            "source": [
              {
                "previousNode": "Monday.com16"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "group1676891407096"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Monday.com8": [
          {
            "startTime": 1676891411107,
            "executionTime": 271,
            "source": [
              {
                "previousNode": "Monday.com7"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "topics",
                      "title": "Group Title",
                      "color": "#037f4c",
                      "position": "65536",
                      "archived": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Monday.com5": [
          {
            "startTime": 1676891411381,
            "executionTime": 234,
            "source": [
              {
                "previousNode": "Monday.com8"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "name",
                      "title": "Name",
                      "type": "name",
                      "settings_str": "{}",
                      "archived": false
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  },
                  {
                    "json": {
                      "id": "column1676891406700",
                      "title": "Column1676891406700",
                      "type": "boolean",
                      "settings_str": "{}",
                      "archived": false
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Merge": [
          {
            "startTime": 1676891411615,
            "executionTime": 2,
            "source": [
              {
                "previousNode": "Monday.com5"
              },
              {
                "previousNode": "Monday.com5"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {}
                  }
                ]
              ]
            }
          }
        ],
        "Monday.com3": [
          {
            "startTime": 1676891411617,
            "executionTime": 459,
            "source": [
              {
                "previousNode": "Merge"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "4013612300"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Monday.com3"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2023-02-20T11:10:05.342Z",
  "stoppedAt": "2023-02-20T11:10:12.077Z",
  "status": "running",
  "finished": true
}