snapshots/115-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1622630016906,
            "executionTime": 0,
            "data": {
              "main": [
                [
                  {
                    "json": {}
                  }
                ]
              ]
            }
          }
        ],
        "Cockpit": [
          {
            "startTime": 1622630016907,
            "executionTime": 113,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "Name": "entry1622630016908",
                      "_by": "604887bce94fea0ea177c951",
                      "_modified": 1622630017,
                      "_created": 1622630017,
                      "_id": "60b75e813666bb6c292d5f3b"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Cockpit3": [
          {
            "startTime": 1622630017020,
            "executionTime": 112,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "name": "FixedName",
                      "_mby": "604887bce94fea0ea177c951",
                      "_by": "604887bce94fea0ea177c951"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Cockpit4": [
          {
            "startTime": 1622630017133,
            "executionTime": 121,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "name": "name1622630017134",
                      "tag": "tag1622630017135"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Cockpit1": [
          {
            "startTime": 1622630017255,
            "executionTime": 123,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "_id": "60b75e813666bb6c292d5f3b",
                      "Name": "UpdatedEntry1622630017260",
                      "_by": "604887bce94fea0ea177c951",
                      "_modified": 1622630017
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Cockpit2": [
          {
            "startTime": 1622630017379,
            "executionTime": 101,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "Name": "UpdatedEntry1615366572785",
                      "_by": "604887bce94fea0ea177c951",
                      "_modified": 1615366572,
                      "_created": 1615366532,
                      "_id": "6048898478f13b61a46fc881"
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Cockpit2"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {}
    }
  },
  "mode": "cli",
  "startedAt": "2021-06-02T10:33:36.904Z",
  "stoppedAt": "2021-06-02T10:33:37.480Z",
  "finished": true
}