snapshots/119-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1622541700505,
            "executionTime": 0,
            "data": {
              "main": [
                [
                  {
                    "json": {}
                  }
                ]
              ]
            }
          }
        ],
        "Set": [
          {
            "startTime": 1622541700506,
            "executionTime": 2,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 62511,
                      "name": "Name1622541700508"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "CrateDB": [
          {
            "startTime": 1622541700508,
            "executionTime": 269,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 62511,
                      "name": "Name1622541700508"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Set1": [
          {
            "startTime": 1622541700777,
            "executionTime": 2,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 62511,
                      "name": "UpdatedName1622541700778"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "CrateDB1": [
          {
            "startTime": 1622541700779,
            "executionTime": 217,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 62511,
                      "name": "UpdatedName1622541700778"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "CrateDB2": [
          {
            "startTime": 1622541700996,
            "executionTime": 203,
            "data": {
              "main": [
                []
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "CrateDB2"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {}
    }
  },
  "mode": "cli",
  "startedAt": "2021-06-01T10:01:40.503Z",
  "stoppedAt": "2021-06-01T10:01:41.199Z",
  "finished": true
}