snapshots/124-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1676026071312,
            "executionTime": 1,
            "source": [],
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Set": [
          {
            "startTime": 1676026071313,
            "executionTime": 46,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 253,
                      "name": "Name1676026071359"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "QuestDB": [
          {
            "startTime": 1676026071359,
            "executionTime": 190,
            "source": [
              {
                "previousNode": "Set"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 253,
                      "name": "Name1676026071359"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "QuestDB1": [
          {
            "startTime": 1676026071550,
            "executionTime": 134,
            "source": [
              {
                "previousNode": "QuestDB"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 253,
                      "name": "Name1676026071359"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "QuestDB2": [
          {
            "startTime": 1676026071686,
            "executionTime": 145,
            "source": [
              {
                "previousNode": "QuestDB1"
              }
            ],
            "data": {
              "main": [
                []
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "QuestDB2"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2023-02-10T10:47:51.311Z",
  "stoppedAt": "2023-02-10T10:47:51.831Z",
  "finished": true
}