snapshots/130-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1622630022481,
            "executionTime": 0,
            "data": {
              "main": [
                [
                  {
                    "json": {}
                  }
                ]
              ]
            }
          }
        ],
        "Wekan": [
          {
            "startTime": 1622630022482,
            "executionTime": 478,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "_id": "iXazPG7H3PGxB7pgR",
                      "defaultSwimlaneId": "tRgGF3snX8wFmQZTh"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Wekan1": [
          {
            "startTime": 1622630022961,
            "executionTime": 416,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "_id": "iXazPG7H3PGxB7pgR",
                      "title": "Board1622630022484",
                      "members": [
                        "json array"
                      ],
                      "permission": "private",
                      "color": "belize",
                      "slug": "board1622630022484",
                      "archived": false,
                      "createdAt": "2021-06-02T10:33:42.911Z",
                      "modifiedAt": "2021-06-02T10:33:42.911Z",
                      "stars": 0,
                      "labels": [
                        "json array"
                      ],
                      "subtasksDefaultBoardId": {
                        "object": true
                      },
                      "subtasksDefaultListId": {
                        "object": true
                      },
                      "dateSettingsDefaultBoardId": {
                        "object": true
                      },
                      "dateSettingsDefaultListId": {
                        "object": true
                      },
                      "allowsSubtasks": true,
                      "allowsAttachments": true,
                      "allowsChecklists": true,
                      "allowsComments": true,
                      "allowsDescriptionTitle": true,
                      "allowsDescriptionText": true,
                      "allowsActivities": true,
                      "allowsLabels": true,
                      "allowsAssignee": true,
                      "allowsMembers": true,
                      "allowsRequestedBy": true,
                      "allowsAssignedBy": true,
                      "allowsReceivedDate": true,
                      "allowsStartDate": true,
                      "allowsEndDate": true,
                      "allowsDueDate": true,
                      "presentParentTask": "no-parent",
                      "isOvertime": false,
                      "type": "board",
                      "sort": 3
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Wekan2": [
          {
            "startTime": 1622630023378,
            "executionTime": 360,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "_id": "P2rsgwsk7pdqeLvgs",
                      "title": "Templates"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Wekan4": [
          {
            "startTime": 1622630023738,
            "executionTime": 384,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "_id": "tKPeRAW7M5qb3QyLf"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Wekan5": [
          {
            "startTime": 1622630024122,
            "executionTime": 333,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "_id": "tKPeRAW7M5qb3QyLf",
                      "title": "List1622630023739",
                      "boardId": "iXazPG7H3PGxB7pgR",
                      "sort": 0,
                      "starred": false,
                      "archived": false,
                      "swimlaneId": "",
                      "createdAt": "2021-06-02T10:33:44.105Z",
                      "updatedAt": "2021-06-02T10:33:44.105Z",
                      "modifiedAt": "2021-06-02T10:33:44.105Z",
                      "wipLimit": {
                        "object": true
                      },
                      "type": "list"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Wekan6": [
          {
            "startTime": 1622630024455,
            "executionTime": 379,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "_id": "tKPeRAW7M5qb3QyLf",
                      "title": "List1622630023739"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Wekan8": [
          {
            "startTime": 1622630024835,
            "executionTime": 345,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "_id": "hL4ZnEkKxbiAaN5sg"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Wekan9": [
          {
            "startTime": 1622630025181,
            "executionTime": 379,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "_id": "hL4ZnEkKxbiAaN5sg"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Wekan10": [
          {
            "startTime": 1622630025561,
            "executionTime": 333,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "_id": "hL4ZnEkKxbiAaN5sg",
                      "title": "UpdatedCard1622630025182",
                      "boardId": "iXazPG7H3PGxB7pgR",
                      "listId": "tKPeRAW7M5qb3QyLf",
                      "userId": "E27bvzwJ5A26xfAPG",
                      "swimlaneId": "CJ44cd7gPRf8qT3Xb",
                      "sort": 0,
                      "archived": false,
                      "parentId": "",
                      "coverId": "",
                      "createdAt": "2021-06-02T10:33:45.170Z",
                      "modifiedAt": "2021-06-02T10:33:45.543Z",
                      "customFields": [
                        "json array"
                      ],
                      "dateLastActivity": "2021-06-02T10:33:45.549Z",
                      "description": "",
                      "requestedBy": "",
                      "assignedBy": "",
                      "labelIds": [
                        "json array"
                      ],
                      "members": [
                        "json array"
                      ],
                      "assignees": [
                        "json array"
                      ],
                      "spentTime": 0,
                      "isOvertime": false,
                      "subtaskSort": -1,
                      "type": "cardType-card",
                      "linkedId": "",
                      "vote": {
                        "object": true
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Wekan11": [
          {
            "startTime": 1622630025895,
            "executionTime": 367,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "_id": "hL4ZnEkKxbiAaN5sg",
                      "title": "UpdatedCard1622630025182",
                      "description": "",
                      "assignees": [
                        "json array"
                      ]
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Wekan13": [
          {
            "startTime": 1622630026262,
            "executionTime": 370,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "_id": "6tSz9YG2EWXPTNWMe"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Wekan17": [
          {
            "startTime": 1622630026632,
            "executionTime": 409,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "_id": "SznDwSGe7qzho6A7H"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Wekan14": [
          {
            "startTime": 1622630027042,
            "executionTime": 426,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "_id": "6tSz9YG2EWXPTNWMe",
                      "userId": "E27bvzwJ5A26xfAPG",
                      "text": "CardComment1622630026263",
                      "cardId": "hL4ZnEkKxbiAaN5sg",
                      "boardId": "iXazPG7H3PGxB7pgR",
                      "createdAt": "2021-06-02T10:33:46.626Z",
                      "modifiedAt": "2021-06-02T10:33:46.626Z"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Wekan18": [
          {
            "startTime": 1622630027469,
            "executionTime": 359,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "_id": "SznDwSGe7qzho6A7H",
                      "title": "Checklist1622630026633",
                      "cardId": "hL4ZnEkKxbiAaN5sg",
                      "sort": 0,
                      "createdAt": "2021-06-02T10:33:46.983Z",
                      "modifiedAt": "2021-06-02T10:33:46.982Z",
                      "items": [
                        "json array"
                      ]
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Wekan15": [
          {
            "startTime": 1622630027828,
            "executionTime": 343,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "_id": "6tSz9YG2EWXPTNWMe",
                      "comment": "CardComment1622630026263",
                      "authorId": "E27bvzwJ5A26xfAPG"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Wekan19": [
          {
            "startTime": 1622630028172,
            "executionTime": 346,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "_id": "SznDwSGe7qzho6A7H",
                      "title": "Checklist1622630026633"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Wekan16": [
          {
            "startTime": 1622630028519,
            "executionTime": 422,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "_id": "hL4ZnEkKxbiAaN5sg"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Wekan21": [
          {
            "startTime": 1622630028943,
            "executionTime": 330,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "_id": "KPYEDzgkhZ2zq36sR",
                      "cardId": "hL4ZnEkKxbiAaN5sg",
                      "checklistId": "SznDwSGe7qzho6A7H",
                      "title": "ChecklistItem1622630026633",
                      "sort": 0,
                      "isFinished": false,
                      "createdAt": "2021-06-02T10:33:47.007Z",
                      "modifiedAt": "2021-06-02T10:33:47.007Z"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Wekan22": [
          {
            "startTime": 1622630029274,
            "executionTime": 357,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "_id": "KPYEDzgkhZ2zq36sR"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Wekan23": [
          {
            "startTime": 1622630029631,
            "executionTime": 340,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "_id": "KPYEDzgkhZ2zq36sR"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Wekan20": [
          {
            "startTime": 1622630029972,
            "executionTime": 385,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "_id": "SznDwSGe7qzho6A7H"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Merge": [
          {
            "startTime": 1622630030358,
            "executionTime": 0,
            "data": {
              "main": [
                [
                  {
                    "json": {}
                  }
                ]
              ]
            }
          }
        ],
        "Wekan12": [
          {
            "startTime": 1622630030358,
            "executionTime": 356,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "_id": "hL4ZnEkKxbiAaN5sg"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Wekan7": [
          {
            "startTime": 1622630030714,
            "executionTime": 360,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "_id": "tKPeRAW7M5qb3QyLf"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Wekan3": [
          {
            "startTime": 1622630031075,
            "executionTime": 391,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "_id": "iXazPG7H3PGxB7pgR"
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Wekan3"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {}
    }
  },
  "mode": "cli",
  "startedAt": "2021-06-02T10:33:42.477Z",
  "stoppedAt": "2021-06-02T10:33:51.467Z",
  "finished": true
}