snapshots/132-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "hints": [],
            "startTime": 1734618352740,
            "executionTime": 0,
            "source": [],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mandrill": [
          {
            "hints": [],
            "startTime": 1734618352741,
            "executionTime": 643,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "email": "nodeqa1734618352750@email.test",
                      "status": "rejected",
                      "_id": "badda127e35d43fcbddf8aa72bb21fe8",
                      "reject_reason": "unsigned",
                      "queued_reason": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mandrill1": [
          {
            "hints": [],
            "startTime": 1734618353385,
            "executionTime": 610,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "email": "nodeqa1734618353387@email.test",
                      "status": "rejected",
                      "_id": "fffb61bbda3447ca9196ae5d7dc6b113",
                      "reject_reason": "unsigned",
                      "queued_reason": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Mandrill1"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2024-12-19T14:25:52.740Z",
  "stoppedAt": "2024-12-19T14:25:53.996Z",
  "status": "running",
  "finished": true
}