snapshots/140-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "hints": [],
            "startTime": 1734619706689,
            "executionTime": 0,
            "source": [],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mailgun": [
          {
            "hints": [],
            "startTime": 1734619706690,
            "executionTime": 611,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "<20241219144827.5657f967bbb0d41e@sandbox9d3ed7f14628495f83c01d31dbc98ce4.mailgun.org>",
                      "message": "Queued. Thank you."
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Mailgun"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2024-12-19T14:48:26.689Z",
  "stoppedAt": "2024-12-19T14:48:27.301Z",
  "status": "running",
  "finished": true
}