snapshots/140-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1622541711845,
            "executionTime": 0,
            "data": {
              "main": [
                [
                  {
                    "json": {}
                  }
                ]
              ]
            }
          }
        ],
        "Mailgun": [
          {
            "startTime": 1622541711846,
            "executionTime": 637,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "<20210601100152.1.A13C5A1351DB2116@sandbox9d3ed7f14628495f83c01d31dbc98ce4.mailgun.org>",
                      "message": "Queued. Thank you."
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Mailgun"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {}
    }
  },
  "mode": "cli",
  "startedAt": "2021-06-01T10:01:51.844Z",
  "stoppedAt": "2021-06-01T10:01:52.483Z",
  "finished": true
}