snapshots/140-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1706635217035,
            "executionTime": 0,
            "source": [],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mailgun": [
          {
            "startTime": 1706635217036,
            "executionTime": 842,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "<20240130172017.616b5a6a82ab8083@sandbox9d3ed7f14628495f83c01d31dbc98ce4.mailgun.org>",
                      "message": "Queued. Thank you."
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Mailgun"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2024-01-30T17:20:17.035Z",
  "stoppedAt": "2024-01-30T17:20:17.879Z",
  "status": "running",
  "finished": true
}