snapshots/145-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1622630043762,
            "executionTime": 1,
            "data": {
              "main": [
                [
                  {
                    "json": {}
                  }
                ]
              ]
            }
          }
        ],
        "Peekalink1": [
          {
            "startTime": 1622630043763,
            "executionTime": 635,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "url": "https://n8n.io/",
                      "domain": "n8n.io",
                      "lastUpdated": "2021-06-01T14:53:14.283581Z",
                      "nextUpdate": "2021-06-02T14:53:14.280545Z",
                      "contentType": "html",
                      "mimeType": "text/html",
                      "redirected": false,
                      "title": "n8n",
                      "description": "n8n is an extendable workflow automation tool which enables you to connect anything to everything via its open, fair-code model.",
                      "name": "N8N.IO",
                      "trackersDetected": false,
                      "image": {
                        "object": true
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Peekalink": [
          {
            "startTime": 1622630044398,
            "executionTime": 289,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "isAvailable": true
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Peekalink"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {}
    }
  },
  "mode": "cli",
  "startedAt": "2021-06-02T10:34:03.761Z",
  "stoppedAt": "2021-06-02T10:34:04.687Z",
  "finished": true
}