snapshots/150-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1622541722598,
            "executionTime": 1,
            "data": {
              "main": [
                [
                  {
                    "json": {}
                  }
                ]
              ]
            }
          }
        ],
        "PostHog": [
          {
            "startTime": 1622541722599,
            "executionTime": 177,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "status": 1
                    }
                  }
                ]
              ]
            }
          }
        ],
        "PostHog1": [
          {
            "startTime": 1622541722777,
            "executionTime": 160,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "status": 1
                    }
                  }
                ]
              ]
            }
          }
        ],
        "PostHog2": [
          {
            "startTime": 1622541722938,
            "executionTime": 108,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "status": 1
                    }
                  }
                ]
              ]
            }
          }
        ],
        "PostHog3": [
          {
            "startTime": 1622541723047,
            "executionTime": 117,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "status": 1
                    }
                  }
                ]
              ]
            }
          }
        ],
        "PostHog4": [
          {
            "startTime": 1622541723165,
            "executionTime": 100,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "status": 1
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "PostHog4"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {}
    }
  },
  "mode": "cli",
  "startedAt": "2021-06-01T10:02:02.596Z",
  "stoppedAt": "2021-06-01T10:02:03.266Z",
  "finished": true
}