snapshots/150-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1622630047197,
            "executionTime": 1,
            "data": {
              "main": [
                [
                  {
                    "json": {}
                  }
                ]
              ]
            }
          }
        ],
        "PostHog": [
          {
            "startTime": 1622630047199,
            "executionTime": 198,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "status": 1
                    }
                  }
                ]
              ]
            }
          }
        ],
        "PostHog1": [
          {
            "startTime": 1622630047398,
            "executionTime": 112,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "status": 1
                    }
                  }
                ]
              ]
            }
          }
        ],
        "PostHog2": [
          {
            "startTime": 1622630047511,
            "executionTime": 123,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "status": 1
                    }
                  }
                ]
              ]
            }
          }
        ],
        "PostHog3": [
          {
            "startTime": 1622630047635,
            "executionTime": 155,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "status": 1
                    }
                  }
                ]
              ]
            }
          }
        ],
        "PostHog4": [
          {
            "startTime": 1622630047791,
            "executionTime": 111,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "status": 1
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "PostHog4"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {}
    }
  },
  "mode": "cli",
  "startedAt": "2021-06-02T10:34:07.196Z",
  "stoppedAt": "2021-06-02T10:34:07.903Z",
  "finished": true
}