snapshots/16-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1622629940421,
            "executionTime": 0,
            "data": {
              "main": [
                [
                  {
                    "json": {}
                  }
                ]
              ]
            }
          }
        ],
        "OpenWeatherMap": [
          {
            "startTime": 1622629940422,
            "executionTime": 292,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "coord": {
                        "object": true
                      },
                      "weather": [
                        "json array"
                      ],
                      "base": "stations",
                      "main": {
                        "object": true
                      },
                      "visibility": 10000,
                      "wind": {
                        "object": true
                      },
                      "clouds": {
                        "object": true
                      },
                      "dt": 1622629750,
                      "sys": {
                        "object": true
                      },
                      "timezone": 7200,
                      "id": 2950159,
                      "name": "Berlin",
                      "cod": 200
                    }
                  }
                ]
              ]
            }
          }
        ],
        "OpenWeatherMap1": [
          {
            "startTime": 1622629940715,
            "executionTime": 302,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "cod": "200",
                      "message": 0,
                      "cnt": 40,
                      "list": [
                        "json array"
                      ],
                      "city": {
                        "object": true
                      }
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "OpenWeatherMap1"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {}
    }
  },
  "mode": "cli",
  "startedAt": "2021-06-02T10:32:20.420Z",
  "stoppedAt": "2021-06-02T10:32:21.017Z",
  "finished": true
}