snapshots/16-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "hints": [],
            "startTime": 1733149962297,
            "executionTime": 0,
            "source": [],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "OpenWeatherMap": [
          {
            "hints": [],
            "startTime": 1733149962297,
            "executionTime": 254,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "coord": {
                        "object": true
                      },
                      "weather": [
                        "json array"
                      ],
                      "base": "stations",
                      "main": {
                        "object": true
                      },
                      "visibility": 10000,
                      "wind": {
                        "object": true
                      },
                      "clouds": {
                        "object": true
                      },
                      "dt": 1733149760,
                      "sys": {
                        "object": true
                      },
                      "timezone": 3600,
                      "id": 2950159,
                      "name": "Berlin",
                      "cod": 200
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "OpenWeatherMap1": [
          {
            "hints": [],
            "startTime": 1733149962552,
            "executionTime": 220,
            "source": [
              {
                "previousNode": "OpenWeatherMap"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "cod": "200",
                      "message": 0,
                      "cnt": 40,
                      "list": [
                        "json array"
                      ],
                      "city": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "OpenWeatherMap1"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2024-12-02T14:32:42.297Z",
  "stoppedAt": "2024-12-02T14:32:42.773Z",
  "status": "running",
  "finished": true
}