snapshots/162-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "hints": [],
            "startTime": 1739393971746,
            "executionTime": 0,
            "source": [],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "AWS SQS1": [
          {
            "hints": [],
            "startTime": 1739393971746,
            "executionTime": 548,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "MessageId": "07a0ca70-962e-4fa0-bf0b-30059f86ea3f",
                      "MD5OfMessageBody": "2d9b457d4cb65ab3184dc2d8d170595f",
                      "MD5OfMessageAttributes": "563c033205d4d7ddc71dceef55cae220",
                      "SequenceNumber": "166465981520276844544"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "AWS SQS": [
          {
            "hints": [],
            "startTime": 1739393972294,
            "executionTime": 511,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "MessageId": "443877f6-ad5b-4d8d-8e46-5dba3e5c5b8d",
                      "MD5OfMessageBody": "749f70179372e352df77e381f2391dc0",
                      "MD5OfMessageAttributes": "563c033205d4d7ddc71dceef55cae220"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "AWS SQS"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2025-02-12T20:59:31.745Z",
  "stoppedAt": "2025-02-12T20:59:32.805Z",
  "status": "running",
  "finished": true
}