snapshots/165-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1622630067378,
            "executionTime": 1,
            "data": {
              "main": [
                [
                  {
                    "json": {}
                  }
                ]
              ]
            }
          }
        ],
        "Emelia3": [
          {
            "startTime": 1622630067379,
            "executionTime": 298,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "_id": "60b75eb31e49b22cabe3bfea",
                      "name": "TestCampaign1622630067381",
                      "status": "DRAFT",
                      "createdAt": "1622630067657",
                      "provider": {
                        "object": true
                      },
                      "startAt": {
                        "object": true
                      },
                      "estimatedEnd": {
                        "object": true
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Emelia4": [
          {
            "startTime": 1622630067677,
            "executionTime": 254,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Emelia6": [
          {
            "startTime": 1622630067932,
            "executionTime": 357,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "_id": "6076f44687008a0e9fc32364",
                      "name": "nodeqa@n8n.io from Zapier/Integromat/n8n Hooks",
                      "contactCount": 65,
                      "fields": [
                        "json array"
                      ],
                      "usedInCampaign": true
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Emelia": [
          {
            "startTime": 1622630068290,
            "executionTime": 193,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "contactId": "60b75eb4c23cfe044d72606b"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Emelia5": [
          {
            "startTime": 1622630068484,
            "executionTime": 315,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Emelia7": [
          {
            "startTime": 1622630068800,
            "executionTime": 194,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "contactId": "60b75eb4c23cfe044d72606d"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Emelia1": [
          {
            "startTime": 1622630068995,
            "executionTime": 193,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "_id": "60b75eb31e49b22cabe3bfea",
                      "name": "TestCampaign1622630067381",
                      "status": "DRAFT",
                      "createdAt": "1622630067657",
                      "schedule": {
                        "object": true
                      },
                      "provider": {
                        "object": true
                      },
                      "startAt": {
                        "object": true
                      },
                      "recipients": {
                        "object": true
                      },
                      "estimatedEnd": {
                        "object": true
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Emelia2": [
          {
            "startTime": 1622630069189,
            "executionTime": 344,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "_id": "60b75eb31e49b22cabe3bfea",
                      "name": "TestCampaign1622630067381",
                      "status": "DRAFT",
                      "createdAt": "6/2/2021",
                      "stats": {
                        "object": true
                      }
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Emelia2"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {}
    }
  },
  "mode": "cli",
  "startedAt": "2021-06-02T10:34:27.376Z",
  "stoppedAt": "2021-06-02T10:34:29.533Z",
  "finished": true
}