snapshots/166-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "hints": [],
            "startTime": 1738078158018,
            "executionTime": 1,
            "source": [],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom5": [
          {
            "hints": [],
            "startTime": 1738078158019,
            "executionTime": 750,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "contact",
                      "id": "6798f7cedc75d4aac08b776d",
                      "user_id": "6ef9a37e-b4f5-4743-9386-67877b910dc5",
                      "anonymous": true,
                      "email": "fake1738078158024@email.com",
                      "phone": {
                        "object": true
                      },
                      "name": {
                        "object": true
                      },
                      "pseudonym": "Amber Locomotive",
                      "avatar": {
                        "object": true
                      },
                      "app_id": "t5y9d4d1",
                      "companies": {
                        "object": true
                      },
                      "location_data": {
                        "object": true
                      },
                      "last_request_at": {
                        "object": true
                      },
                      "created_at": 1738078158,
                      "remote_created_at": {
                        "object": true
                      },
                      "signed_up_at": {
                        "object": true
                      },
                      "updated_at": 1738078158,
                      "session_count": 0,
                      "social_profiles": {
                        "object": true
                      },
                      "owner_id": {
                        "object": true
                      },
                      "unsubscribed_from_emails": false,
                      "marked_email_as_spam": false,
                      "has_hard_bounced": false,
                      "tags": {
                        "object": true
                      },
                      "segments": {
                        "object": true
                      },
                      "custom_attributes": {
                        "object": true
                      },
                      "referrer": {
                        "object": true
                      },
                      "utm_campaign": {
                        "object": true
                      },
                      "utm_content": {
                        "object": true
                      },
                      "utm_medium": {
                        "object": true
                      },
                      "utm_source": {
                        "object": true
                      },
                      "utm_term": {
                        "object": true
                      },
                      "do_not_track": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom10": [
          {
            "hints": [],
            "startTime": 1738078158770,
            "executionTime": 795,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "user",
                      "id": "6798f7cf0e519a0430ae4e5b",
                      "user_id": "User1738078158774",
                      "anonymous": false,
                      "email": "",
                      "phone": {
                        "object": true
                      },
                      "name": {
                        "object": true
                      },
                      "pseudonym": {
                        "object": true
                      },
                      "avatar": {
                        "object": true
                      },
                      "app_id": "t5y9d4d1",
                      "companies": {
                        "object": true
                      },
                      "location_data": {
                        "object": true
                      },
                      "last_request_at": {
                        "object": true
                      },
                      "created_at": 1738078159,
                      "remote_created_at": {
                        "object": true
                      },
                      "signed_up_at": {
                        "object": true
                      },
                      "updated_at": 1738078159,
                      "session_count": 0,
                      "social_profiles": {
                        "object": true
                      },
                      "owner_id": {
                        "object": true
                      },
                      "unsubscribed_from_emails": false,
                      "marked_email_as_spam": false,
                      "has_hard_bounced": false,
                      "tags": {
                        "object": true
                      },
                      "segments": {
                        "object": true
                      },
                      "custom_attributes": {
                        "object": true
                      },
                      "referrer": {
                        "object": true
                      },
                      "utm_campaign": {
                        "object": true
                      },
                      "utm_content": {
                        "object": true
                      },
                      "utm_medium": {
                        "object": true
                      },
                      "utm_source": {
                        "object": true
                      },
                      "utm_term": {
                        "object": true
                      },
                      "do_not_track": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom1": [
          {
            "hints": [],
            "startTime": 1738078159566,
            "executionTime": 633,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "company",
                      "company_id": "Company1738078159570",
                      "id": "6798f7cfad6b560f05daee4a",
                      "app_id": "t5y9d4d1",
                      "name": "TestingCompany2025-01-28T15:29:19.573Z",
                      "created_at": 1738078160,
                      "updated_at": 1738078160,
                      "monthly_spend": 0,
                      "session_count": 0,
                      "user_count": 0,
                      "tags": {
                        "object": true
                      },
                      "segments": {
                        "object": true
                      },
                      "plan": {
                        "object": true
                      },
                      "custom_attributes": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom6": [
          {
            "hints": [],
            "startTime": 1738078160199,
            "executionTime": 570,
            "source": [
              {
                "previousNode": "Intercom5"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "contact",
                      "id": "6798f7cedc75d4aac08b776d",
                      "user_id": "6ef9a37e-b4f5-4743-9386-67877b910dc5",
                      "anonymous": true,
                      "email": "fake1738078158024@email.com",
                      "phone": {
                        "object": true
                      },
                      "name": {
                        "object": true
                      },
                      "pseudonym": "Amber Locomotive",
                      "avatar": {
                        "object": true
                      },
                      "app_id": "t5y9d4d1",
                      "companies": {
                        "object": true
                      },
                      "location_data": {
                        "object": true
                      },
                      "last_request_at": {
                        "object": true
                      },
                      "created_at": 1738078158,
                      "remote_created_at": {
                        "object": true
                      },
                      "signed_up_at": {
                        "object": true
                      },
                      "updated_at": 1738078158,
                      "session_count": 0,
                      "social_profiles": {
                        "object": true
                      },
                      "owner_id": {
                        "object": true
                      },
                      "unsubscribed_from_emails": false,
                      "marked_email_as_spam": false,
                      "has_hard_bounced": false,
                      "tags": {
                        "object": true
                      },
                      "segments": {
                        "object": true
                      },
                      "custom_attributes": {
                        "object": true
                      },
                      "referrer": {
                        "object": true
                      },
                      "utm_campaign": {
                        "object": true
                      },
                      "utm_content": {
                        "object": true
                      },
                      "utm_medium": {
                        "object": true
                      },
                      "utm_source": {
                        "object": true
                      },
                      "utm_term": {
                        "object": true
                      },
                      "do_not_track": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom11": [
          {
            "hints": [],
            "startTime": 1738078160769,
            "executionTime": 546,
            "source": [
              {
                "previousNode": "Intercom10"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "user",
                      "id": "6798f7cf0e519a0430ae4e5b",
                      "user_id": "User1738078158774",
                      "anonymous": false,
                      "email": "",
                      "phone": {
                        "object": true
                      },
                      "name": {
                        "object": true
                      },
                      "pseudonym": {
                        "object": true
                      },
                      "avatar": {
                        "object": true
                      },
                      "app_id": "t5y9d4d1",
                      "companies": {
                        "object": true
                      },
                      "location_data": {
                        "object": true
                      },
                      "last_request_at": {
                        "object": true
                      },
                      "created_at": 1738078159,
                      "remote_created_at": {
                        "object": true
                      },
                      "signed_up_at": {
                        "object": true
                      },
                      "updated_at": 1738078159,
                      "session_count": 0,
                      "social_profiles": {
                        "object": true
                      },
                      "owner_id": {
                        "object": true
                      },
                      "unsubscribed_from_emails": false,
                      "marked_email_as_spam": false,
                      "has_hard_bounced": false,
                      "tags": {
                        "object": true
                      },
                      "segments": {
                        "object": true
                      },
                      "custom_attributes": {
                        "object": true
                      },
                      "referrer": {
                        "object": true
                      },
                      "utm_campaign": {
                        "object": true
                      },
                      "utm_content": {
                        "object": true
                      },
                      "utm_medium": {
                        "object": true
                      },
                      "utm_source": {
                        "object": true
                      },
                      "utm_term": {
                        "object": true
                      },
                      "do_not_track": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom": [
          {
            "hints": [],
            "startTime": 1738078161316,
            "executionTime": 827,
            "source": [
              {
                "previousNode": "Intercom1"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "company",
                      "company_id": "Company1738078159570",
                      "id": "6798f7cfad6b560f05daee4a",
                      "app_id": "t5y9d4d1",
                      "name": "TestingCompany2025-01-28T15:29:19.573Z",
                      "created_at": 1738078160,
                      "updated_at": 1738078160,
                      "monthly_spend": 0,
                      "session_count": 0,
                      "user_count": 0,
                      "tags": {
                        "object": true
                      },
                      "segments": {
                        "object": true
                      },
                      "plan": {
                        "object": true
                      },
                      "custom_attributes": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom7": [
          {
            "hints": [],
            "startTime": 1738078162143,
            "executionTime": 759,
            "source": [
              {
                "previousNode": "Intercom6"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "contact",
                      "id": "672cb4756ffb4769fcb6ff7c",
                      "user_id": "4d8d4031-47fb-480d-98ff-9f807e0ec06d",
                      "anonymous": true,
                      "email": "fake1730983028569@email.com",
                      "phone": {
                        "object": true
                      },
                      "name": {
                        "object": true
                      },
                      "pseudonym": "Azure Bowtie",
                      "avatar": {
                        "object": true
                      },
                      "app_id": "t5y9d4d1",
                      "companies": {
                        "object": true
                      },
                      "location_data": {
                        "object": true
                      },
                      "last_request_at": {
                        "object": true
                      },
                      "created_at": 1730983029,
                      "remote_created_at": {
                        "object": true
                      },
                      "signed_up_at": {
                        "object": true
                      },
                      "updated_at": 1730983029,
                      "session_count": 0,
                      "social_profiles": {
                        "object": true
                      },
                      "owner_id": {
                        "object": true
                      },
                      "unsubscribed_from_emails": false,
                      "marked_email_as_spam": false,
                      "has_hard_bounced": false,
                      "tags": {
                        "object": true
                      },
                      "segments": {
                        "object": true
                      },
                      "custom_attributes": {
                        "object": true
                      },
                      "referrer": {
                        "object": true
                      },
                      "utm_campaign": {
                        "object": true
                      },
                      "utm_content": {
                        "object": true
                      },
                      "utm_medium": {
                        "object": true
                      },
                      "utm_source": {
                        "object": true
                      },
                      "utm_term": {
                        "object": true
                      },
                      "do_not_track": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom12": [
          {
            "hints": [],
            "startTime": 1738078162903,
            "executionTime": 626,
            "source": [
              {
                "previousNode": "Intercom11"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "user",
                      "id": "672cb4766890e72e5c549c68",
                      "user_id": "User1730983029523",
                      "anonymous": false,
                      "email": {
                        "object": true
                      },
                      "phone": {
                        "object": true
                      },
                      "name": {
                        "object": true
                      },
                      "pseudonym": {
                        "object": true
                      },
                      "avatar": {
                        "object": true
                      },
                      "app_id": "t5y9d4d1",
                      "companies": {
                        "object": true
                      },
                      "location_data": {
                        "object": true
                      },
                      "last_request_at": {
                        "object": true
                      },
                      "created_at": 1730983030,
                      "remote_created_at": {
                        "object": true
                      },
                      "signed_up_at": {
                        "object": true
                      },
                      "updated_at": 1730983030,
                      "session_count": 0,
                      "social_profiles": {
                        "object": true
                      },
                      "owner_id": {
                        "object": true
                      },
                      "unsubscribed_from_emails": false,
                      "marked_email_as_spam": false,
                      "has_hard_bounced": false,
                      "tags": {
                        "object": true
                      },
                      "segments": {
                        "object": true
                      },
                      "custom_attributes": {
                        "object": true
                      },
                      "referrer": {
                        "object": true
                      },
                      "utm_campaign": {
                        "object": true
                      },
                      "utm_content": {
                        "object": true
                      },
                      "utm_medium": {
                        "object": true
                      },
                      "utm_source": {
                        "object": true
                      },
                      "utm_term": {
                        "object": true
                      },
                      "do_not_track": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom2": [
          {
            "hints": [],
            "startTime": 1738078163530,
            "executionTime": 561,
            "source": [
              {
                "previousNode": "Intercom"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "company",
                      "company_id": "607ea26e5e1f73dc32c434bd-qualification-company",
                      "id": "607ea26e5e1f73dc32c434bc",
                      "app_id": "t5y9d4d1",
                      "name": "Acme",
                      "created_at": 1618911854,
                      "updated_at": 1618911854,
                      "monthly_spend": 0,
                      "session_count": 0,
                      "user_count": 1,
                      "tags": {
                        "object": true
                      },
                      "segments": {
                        "object": true
                      },
                      "plan": {
                        "object": true
                      },
                      "custom_attributes": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom8": [
          {
            "hints": [],
            "startTime": 1738078164092,
            "executionTime": 707,
            "source": [
              {
                "previousNode": "Intercom7"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "contact",
                      "id": "6798f7cedc75d4aac08b776d",
                      "user_id": "6ef9a37e-b4f5-4743-9386-67877b910dc5",
                      "anonymous": true,
                      "email": "fake1738078158024@email.com",
                      "phone": {
                        "object": true
                      },
                      "name": "UpdatedLead",
                      "pseudonym": "Amber Locomotive",
                      "avatar": {
                        "object": true
                      },
                      "app_id": "t5y9d4d1",
                      "companies": {
                        "object": true
                      },
                      "location_data": {
                        "object": true
                      },
                      "last_request_at": {
                        "object": true
                      },
                      "created_at": 1738078158,
                      "remote_created_at": {
                        "object": true
                      },
                      "signed_up_at": {
                        "object": true
                      },
                      "updated_at": 1738078164,
                      "session_count": 0,
                      "social_profiles": {
                        "object": true
                      },
                      "owner_id": {
                        "object": true
                      },
                      "unsubscribed_from_emails": false,
                      "marked_email_as_spam": false,
                      "has_hard_bounced": false,
                      "tags": {
                        "object": true
                      },
                      "segments": {
                        "object": true
                      },
                      "custom_attributes": {
                        "object": true
                      },
                      "referrer": {
                        "object": true
                      },
                      "utm_campaign": {
                        "object": true
                      },
                      "utm_content": {
                        "object": true
                      },
                      "utm_medium": {
                        "object": true
                      },
                      "utm_source": {
                        "object": true
                      },
                      "utm_term": {
                        "object": true
                      },
                      "do_not_track": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom13": [
          {
            "hints": [],
            "startTime": 1738078164800,
            "executionTime": 726,
            "source": [
              {
                "previousNode": "Intercom12"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "user",
                      "id": "6798f7cf0e519a0430ae4e5b",
                      "user_id": "User1738078158774",
                      "anonymous": false,
                      "email": "",
                      "phone": {
                        "object": true
                      },
                      "name": "UpdatedUser",
                      "pseudonym": {
                        "object": true
                      },
                      "avatar": {
                        "object": true
                      },
                      "app_id": "t5y9d4d1",
                      "companies": {
                        "object": true
                      },
                      "location_data": {
                        "object": true
                      },
                      "last_request_at": {
                        "object": true
                      },
                      "created_at": 1738078159,
                      "remote_created_at": {
                        "object": true
                      },
                      "signed_up_at": {
                        "object": true
                      },
                      "updated_at": 1738078165,
                      "session_count": 0,
                      "social_profiles": {
                        "object": true
                      },
                      "owner_id": {
                        "object": true
                      },
                      "unsubscribed_from_emails": false,
                      "marked_email_as_spam": false,
                      "has_hard_bounced": false,
                      "tags": {
                        "object": true
                      },
                      "segments": {
                        "object": true
                      },
                      "custom_attributes": {
                        "object": true
                      },
                      "referrer": {
                        "object": true
                      },
                      "utm_campaign": {
                        "object": true
                      },
                      "utm_content": {
                        "object": true
                      },
                      "utm_medium": {
                        "object": true
                      },
                      "utm_source": {
                        "object": true
                      },
                      "utm_term": {
                        "object": true
                      },
                      "do_not_track": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom3": [
          {
            "hints": [],
            "startTime": 1738078165526,
            "executionTime": 739,
            "source": [
              {
                "previousNode": "Intercom2"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "company",
                      "company_id": "Company1738078159570",
                      "id": "6798f7cfad6b560f05daee4a",
                      "app_id": "t5y9d4d1",
                      "name": "UpdatedTestingCompany2025-01-28T15:29:19.573Z",
                      "created_at": 1738078160,
                      "updated_at": 1738078166,
                      "monthly_spend": 0,
                      "session_count": 0,
                      "user_count": 0,
                      "tags": {
                        "object": true
                      },
                      "segments": {
                        "object": true
                      },
                      "plan": {
                        "object": true
                      },
                      "custom_attributes": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom9": [
          {
            "hints": [],
            "startTime": 1738078166265,
            "executionTime": 1234,
            "source": [
              {
                "previousNode": "Intercom8"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "contact",
                      "id": "6798f7cedc75d4aac08b776d",
                      "user_id": "6ef9a37e-b4f5-4743-9386-67877b910dc5",
                      "anonymous": true,
                      "email": "fake1738078158024@email.com",
                      "phone": {
                        "object": true
                      },
                      "name": "UpdatedLead",
                      "pseudonym": "Amber Locomotive",
                      "avatar": {
                        "object": true
                      },
                      "app_id": "t5y9d4d1",
                      "companies": {
                        "object": true
                      },
                      "location_data": {
                        "object": true
                      },
                      "last_request_at": {
                        "object": true
                      },
                      "created_at": 1738078158,
                      "remote_created_at": {
                        "object": true
                      },
                      "signed_up_at": {
                        "object": true
                      },
                      "updated_at": 1738078167,
                      "session_count": 0,
                      "social_profiles": {
                        "object": true
                      },
                      "owner_id": {
                        "object": true
                      },
                      "unsubscribed_from_emails": false,
                      "marked_email_as_spam": false,
                      "has_hard_bounced": false,
                      "tags": {
                        "object": true
                      },
                      "segments": {
                        "object": true
                      },
                      "custom_attributes": {
                        "object": true
                      },
                      "referrer": {
                        "object": true
                      },
                      "utm_campaign": {
                        "object": true
                      },
                      "utm_content": {
                        "object": true
                      },
                      "utm_medium": {
                        "object": true
                      },
                      "utm_source": {
                        "object": true
                      },
                      "utm_term": {
                        "object": true
                      },
                      "do_not_track": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom14": [
          {
            "hints": [],
            "startTime": 1738078167499,
            "executionTime": 979,
            "source": [
              {
                "previousNode": "Intercom13"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "user",
                      "id": "6798f7cf0e519a0430ae4e5b",
                      "user_id": "User1738078158774",
                      "anonymous": false,
                      "email": "",
                      "phone": {
                        "object": true
                      },
                      "name": "UpdatedUser",
                      "pseudonym": {
                        "object": true
                      },
                      "avatar": {
                        "object": true
                      },
                      "app_id": "t5y9d4d1",
                      "companies": {
                        "object": true
                      },
                      "location_data": {
                        "object": true
                      },
                      "last_request_at": {
                        "object": true
                      },
                      "created_at": 1738078159,
                      "remote_created_at": {
                        "object": true
                      },
                      "signed_up_at": {
                        "object": true
                      },
                      "updated_at": 1738078168,
                      "session_count": 0,
                      "social_profiles": {
                        "object": true
                      },
                      "owner_id": {
                        "object": true
                      },
                      "unsubscribed_from_emails": false,
                      "marked_email_as_spam": false,
                      "has_hard_bounced": false,
                      "tags": {
                        "object": true
                      },
                      "segments": {
                        "object": true
                      },
                      "custom_attributes": {
                        "object": true
                      },
                      "referrer": {
                        "object": true
                      },
                      "utm_campaign": {
                        "object": true
                      },
                      "utm_content": {
                        "object": true
                      },
                      "utm_medium": {
                        "object": true
                      },
                      "utm_source": {
                        "object": true
                      },
                      "utm_term": {
                        "object": true
                      },
                      "do_not_track": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom4": [
          {
            "hints": [],
            "startTime": 1738078168478,
            "executionTime": 646,
            "source": [
              {
                "previousNode": "Intercom3"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                []
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Intercom4"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2025-01-28T15:29:18.016Z",
  "stoppedAt": "2025-01-28T15:29:29.124Z",
  "status": "running",
  "finished": true
}