snapshots/166-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1676026079192,
            "executionTime": 0,
            "source": [],
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom5": [
          {
            "startTime": 1676026079193,
            "executionTime": 874,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "contact",
                      "id": "63e620dfc73e45bdbc2eec82",
                      "user_id": "d8218916-17f7-447c-b199-4ecaf8749e6d",
                      "anonymous": true,
                      "email": "fake1676026079209@email.com",
                      "phone": {
                        "object": true
                      },
                      "name": {
                        "object": true
                      },
                      "pseudonym": "Grey Spaceship",
                      "avatar": {
                        "object": true
                      },
                      "app_id": "t5y9d4d1",
                      "companies": {
                        "object": true
                      },
                      "location_data": {
                        "object": true
                      },
                      "last_request_at": {
                        "object": true
                      },
                      "created_at": 1676026079,
                      "remote_created_at": {
                        "object": true
                      },
                      "signed_up_at": {
                        "object": true
                      },
                      "updated_at": 1676026079,
                      "session_count": 0,
                      "social_profiles": {
                        "object": true
                      },
                      "owner_id": {
                        "object": true
                      },
                      "unsubscribed_from_emails": false,
                      "marked_email_as_spam": false,
                      "has_hard_bounced": false,
                      "tags": {
                        "object": true
                      },
                      "segments": {
                        "object": true
                      },
                      "custom_attributes": {
                        "object": true
                      },
                      "referrer": {
                        "object": true
                      },
                      "utm_campaign": {
                        "object": true
                      },
                      "utm_content": {
                        "object": true
                      },
                      "utm_medium": {
                        "object": true
                      },
                      "utm_source": {
                        "object": true
                      },
                      "utm_term": {
                        "object": true
                      },
                      "do_not_track": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom10": [
          {
            "startTime": 1676026080067,
            "executionTime": 587,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "user",
                      "id": "63e620e01aa9f912cb90cea5",
                      "user_id": "User1676026080068",
                      "anonymous": false,
                      "email": "",
                      "phone": {
                        "object": true
                      },
                      "name": {
                        "object": true
                      },
                      "pseudonym": {
                        "object": true
                      },
                      "avatar": {
                        "object": true
                      },
                      "app_id": "t5y9d4d1",
                      "companies": {
                        "object": true
                      },
                      "location_data": {
                        "object": true
                      },
                      "last_request_at": {
                        "object": true
                      },
                      "created_at": 1676026080,
                      "remote_created_at": {
                        "object": true
                      },
                      "signed_up_at": {
                        "object": true
                      },
                      "updated_at": 1676026080,
                      "session_count": 0,
                      "social_profiles": {
                        "object": true
                      },
                      "owner_id": {
                        "object": true
                      },
                      "unsubscribed_from_emails": false,
                      "marked_email_as_spam": false,
                      "has_hard_bounced": false,
                      "tags": {
                        "object": true
                      },
                      "segments": {
                        "object": true
                      },
                      "custom_attributes": {
                        "object": true
                      },
                      "referrer": {
                        "object": true
                      },
                      "utm_campaign": {
                        "object": true
                      },
                      "utm_content": {
                        "object": true
                      },
                      "utm_medium": {
                        "object": true
                      },
                      "utm_source": {
                        "object": true
                      },
                      "utm_term": {
                        "object": true
                      },
                      "do_not_track": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom1": [
          {
            "startTime": 1676026080654,
            "executionTime": 584,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "company",
                      "company_id": "Company1676026080654",
                      "id": "63e620e17908f775417b78ad",
                      "app_id": "t5y9d4d1",
                      "name": "TestingCompany2023-02-10T10:48:00.655Z",
                      "created_at": 1676026081,
                      "updated_at": 1676026081,
                      "monthly_spend": 0,
                      "session_count": 0,
                      "user_count": 0,
                      "tags": {
                        "object": true
                      },
                      "segments": {
                        "object": true
                      },
                      "plan": {
                        "object": true
                      },
                      "custom_attributes": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom6": [
          {
            "startTime": 1676026081238,
            "executionTime": 443,
            "source": [
              {
                "previousNode": "Intercom5"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "contact",
                      "id": "63e620dfc73e45bdbc2eec82",
                      "user_id": "d8218916-17f7-447c-b199-4ecaf8749e6d",
                      "anonymous": true,
                      "email": "fake1676026079209@email.com",
                      "phone": {
                        "object": true
                      },
                      "name": {
                        "object": true
                      },
                      "pseudonym": "Grey Spaceship",
                      "avatar": {
                        "object": true
                      },
                      "app_id": "t5y9d4d1",
                      "companies": {
                        "object": true
                      },
                      "location_data": {
                        "object": true
                      },
                      "last_request_at": {
                        "object": true
                      },
                      "created_at": 1676026079,
                      "remote_created_at": {
                        "object": true
                      },
                      "signed_up_at": {
                        "object": true
                      },
                      "updated_at": 1676026079,
                      "session_count": 0,
                      "social_profiles": {
                        "object": true
                      },
                      "owner_id": {
                        "object": true
                      },
                      "unsubscribed_from_emails": false,
                      "marked_email_as_spam": false,
                      "has_hard_bounced": false,
                      "tags": {
                        "object": true
                      },
                      "segments": {
                        "object": true
                      },
                      "custom_attributes": {
                        "object": true
                      },
                      "referrer": {
                        "object": true
                      },
                      "utm_campaign": {
                        "object": true
                      },
                      "utm_content": {
                        "object": true
                      },
                      "utm_medium": {
                        "object": true
                      },
                      "utm_source": {
                        "object": true
                      },
                      "utm_term": {
                        "object": true
                      },
                      "do_not_track": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom11": [
          {
            "startTime": 1676026081681,
            "executionTime": 536,
            "source": [
              {
                "previousNode": "Intercom10"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "user",
                      "id": "63e620e01aa9f912cb90cea5",
                      "user_id": "User1676026080068",
                      "anonymous": false,
                      "email": "",
                      "phone": {
                        "object": true
                      },
                      "name": {
                        "object": true
                      },
                      "pseudonym": {
                        "object": true
                      },
                      "avatar": {
                        "object": true
                      },
                      "app_id": "t5y9d4d1",
                      "companies": {
                        "object": true
                      },
                      "location_data": {
                        "object": true
                      },
                      "last_request_at": {
                        "object": true
                      },
                      "created_at": 1676026080,
                      "remote_created_at": {
                        "object": true
                      },
                      "signed_up_at": {
                        "object": true
                      },
                      "updated_at": 1676026080,
                      "session_count": 0,
                      "social_profiles": {
                        "object": true
                      },
                      "owner_id": {
                        "object": true
                      },
                      "unsubscribed_from_emails": false,
                      "marked_email_as_spam": false,
                      "has_hard_bounced": false,
                      "tags": {
                        "object": true
                      },
                      "segments": {
                        "object": true
                      },
                      "custom_attributes": {
                        "object": true
                      },
                      "referrer": {
                        "object": true
                      },
                      "utm_campaign": {
                        "object": true
                      },
                      "utm_content": {
                        "object": true
                      },
                      "utm_medium": {
                        "object": true
                      },
                      "utm_source": {
                        "object": true
                      },
                      "utm_term": {
                        "object": true
                      },
                      "do_not_track": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom": [
          {
            "startTime": 1676026082217,
            "executionTime": 402,
            "source": [
              {
                "previousNode": "Intercom1"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "company",
                      "company_id": "Company1676026080654",
                      "id": "63e620e17908f775417b78ad",
                      "app_id": "t5y9d4d1",
                      "name": "TestingCompany2023-02-10T10:48:00.655Z",
                      "created_at": 1676026081,
                      "updated_at": 1676026081,
                      "monthly_spend": 0,
                      "session_count": 0,
                      "user_count": 0,
                      "tags": {
                        "object": true
                      },
                      "segments": {
                        "object": true
                      },
                      "plan": {
                        "object": true
                      },
                      "custom_attributes": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom7": [
          {
            "startTime": 1676026082619,
            "executionTime": 646,
            "source": [
              {
                "previousNode": "Intercom6"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {}
                  }
                ]
              ]
            }
          }
        ],
        "Intercom12": [
          {
            "startTime": 1676026083265,
            "executionTime": 566,
            "source": [
              {
                "previousNode": "Intercom11"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "user",
                      "id": "607ea1b560aaae9a70ab31a7",
                      "user_id": "123",
                      "anonymous": false,
                      "email": "john@acme.com",
                      "phone": {
                        "object": true
                      },
                      "name": "John Doe",
                      "pseudonym": {
                        "object": true
                      },
                      "avatar": {
                        "object": true
                      },
                      "app_id": "t5y9d4d1",
                      "companies": {
                        "object": true
                      },
                      "location_data": {
                        "object": true
                      },
                      "last_request_at": {
                        "object": true
                      },
                      "created_at": 1618911669,
                      "remote_created_at": {
                        "object": true
                      },
                      "signed_up_at": {
                        "object": true
                      },
                      "updated_at": 1636915062,
                      "session_count": 0,
                      "social_profiles": {
                        "object": true
                      },
                      "owner_id": {
                        "object": true
                      },
                      "unsubscribed_from_emails": false,
                      "marked_email_as_spam": false,
                      "has_hard_bounced": false,
                      "tags": {
                        "object": true
                      },
                      "segments": {
                        "object": true
                      },
                      "custom_attributes": {
                        "object": true
                      },
                      "referrer": {
                        "object": true
                      },
                      "utm_campaign": {
                        "object": true
                      },
                      "utm_content": {
                        "object": true
                      },
                      "utm_medium": {
                        "object": true
                      },
                      "utm_source": {
                        "object": true
                      },
                      "utm_term": {
                        "object": true
                      },
                      "do_not_track": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom2": [
          {
            "startTime": 1676026083831,
            "executionTime": 458,
            "source": [
              {
                "previousNode": "Intercom"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "company",
                      "company_id": "607ea26e5e1f73dc32c434bd-qualification-company",
                      "id": "607ea26e5e1f73dc32c434bc",
                      "app_id": "t5y9d4d1",
                      "name": "Acme",
                      "created_at": 1618911854,
                      "updated_at": 1618911854,
                      "monthly_spend": 0,
                      "session_count": 0,
                      "user_count": 1,
                      "tags": {
                        "object": true
                      },
                      "segments": {
                        "object": true
                      },
                      "plan": {
                        "object": true
                      },
                      "custom_attributes": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom8": [
          {
            "startTime": 1676026084289,
            "executionTime": 630,
            "source": [
              {
                "previousNode": "Intercom7"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "contact",
                      "id": "63e620dfc73e45bdbc2eec82",
                      "user_id": "d8218916-17f7-447c-b199-4ecaf8749e6d",
                      "anonymous": true,
                      "email": "fake1676026079209@email.com",
                      "phone": {
                        "object": true
                      },
                      "name": "UpdatedLead",
                      "pseudonym": "Grey Spaceship",
                      "avatar": {
                        "object": true
                      },
                      "app_id": "t5y9d4d1",
                      "companies": {
                        "object": true
                      },
                      "location_data": {
                        "object": true
                      },
                      "last_request_at": {
                        "object": true
                      },
                      "created_at": 1676026079,
                      "remote_created_at": {
                        "object": true
                      },
                      "signed_up_at": {
                        "object": true
                      },
                      "updated_at": 1676026084,
                      "session_count": 0,
                      "social_profiles": {
                        "object": true
                      },
                      "owner_id": {
                        "object": true
                      },
                      "unsubscribed_from_emails": false,
                      "marked_email_as_spam": false,
                      "has_hard_bounced": false,
                      "tags": {
                        "object": true
                      },
                      "segments": {
                        "object": true
                      },
                      "custom_attributes": {
                        "object": true
                      },
                      "referrer": {
                        "object": true
                      },
                      "utm_campaign": {
                        "object": true
                      },
                      "utm_content": {
                        "object": true
                      },
                      "utm_medium": {
                        "object": true
                      },
                      "utm_source": {
                        "object": true
                      },
                      "utm_term": {
                        "object": true
                      },
                      "do_not_track": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom13": [
          {
            "startTime": 1676026084919,
            "executionTime": 444,
            "source": [
              {
                "previousNode": "Intercom12"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "user",
                      "id": "63e620e01aa9f912cb90cea5",
                      "user_id": "User1676026080068",
                      "anonymous": false,
                      "email": "",
                      "phone": {
                        "object": true
                      },
                      "name": "UpdatedUser",
                      "pseudonym": {
                        "object": true
                      },
                      "avatar": {
                        "object": true
                      },
                      "app_id": "t5y9d4d1",
                      "companies": {
                        "object": true
                      },
                      "location_data": {
                        "object": true
                      },
                      "last_request_at": {
                        "object": true
                      },
                      "created_at": 1676026080,
                      "remote_created_at": {
                        "object": true
                      },
                      "signed_up_at": {
                        "object": true
                      },
                      "updated_at": 1676026085,
                      "session_count": 0,
                      "social_profiles": {
                        "object": true
                      },
                      "owner_id": {
                        "object": true
                      },
                      "unsubscribed_from_emails": false,
                      "marked_email_as_spam": false,
                      "has_hard_bounced": false,
                      "tags": {
                        "object": true
                      },
                      "segments": {
                        "object": true
                      },
                      "custom_attributes": {
                        "object": true
                      },
                      "referrer": {
                        "object": true
                      },
                      "utm_campaign": {
                        "object": true
                      },
                      "utm_content": {
                        "object": true
                      },
                      "utm_medium": {
                        "object": true
                      },
                      "utm_source": {
                        "object": true
                      },
                      "utm_term": {
                        "object": true
                      },
                      "do_not_track": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom3": [
          {
            "startTime": 1676026085363,
            "executionTime": 544,
            "source": [
              {
                "previousNode": "Intercom2"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "company",
                      "company_id": "Company1676026080654",
                      "id": "63e620e17908f775417b78ad",
                      "app_id": "t5y9d4d1",
                      "name": "UpdatedTestingCompany2023-02-10T10:48:00.655Z",
                      "created_at": 1676026081,
                      "updated_at": 1676026085,
                      "monthly_spend": 0,
                      "session_count": 0,
                      "user_count": 0,
                      "tags": {
                        "object": true
                      },
                      "segments": {
                        "object": true
                      },
                      "plan": {
                        "object": true
                      },
                      "custom_attributes": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom9": [
          {
            "startTime": 1676026085907,
            "executionTime": 658,
            "source": [
              {
                "previousNode": "Intercom8"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "contact",
                      "id": "63e620dfc73e45bdbc2eec82",
                      "user_id": "d8218916-17f7-447c-b199-4ecaf8749e6d",
                      "anonymous": true,
                      "email": "fake1676026079209@email.com",
                      "phone": {
                        "object": true
                      },
                      "name": "UpdatedLead",
                      "pseudonym": "Grey Spaceship",
                      "avatar": {
                        "object": true
                      },
                      "app_id": "t5y9d4d1",
                      "companies": {
                        "object": true
                      },
                      "location_data": {
                        "object": true
                      },
                      "last_request_at": {
                        "object": true
                      },
                      "created_at": 1676026079,
                      "remote_created_at": {
                        "object": true
                      },
                      "signed_up_at": {
                        "object": true
                      },
                      "updated_at": 1676026086,
                      "session_count": 0,
                      "social_profiles": {
                        "object": true
                      },
                      "owner_id": {
                        "object": true
                      },
                      "unsubscribed_from_emails": false,
                      "marked_email_as_spam": false,
                      "has_hard_bounced": false,
                      "tags": {
                        "object": true
                      },
                      "segments": {
                        "object": true
                      },
                      "custom_attributes": {
                        "object": true
                      },
                      "referrer": {
                        "object": true
                      },
                      "utm_campaign": {
                        "object": true
                      },
                      "utm_content": {
                        "object": true
                      },
                      "utm_medium": {
                        "object": true
                      },
                      "utm_source": {
                        "object": true
                      },
                      "utm_term": {
                        "object": true
                      },
                      "do_not_track": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom14": [
          {
            "startTime": 1676026086565,
            "executionTime": 675,
            "source": [
              {
                "previousNode": "Intercom13"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "user",
                      "id": "63e620e01aa9f912cb90cea5",
                      "user_id": "User1676026080068",
                      "anonymous": false,
                      "email": "",
                      "phone": {
                        "object": true
                      },
                      "name": "UpdatedUser",
                      "pseudonym": {
                        "object": true
                      },
                      "avatar": {
                        "object": true
                      },
                      "app_id": "t5y9d4d1",
                      "companies": {
                        "object": true
                      },
                      "location_data": {
                        "object": true
                      },
                      "last_request_at": {
                        "object": true
                      },
                      "created_at": 1676026080,
                      "remote_created_at": {
                        "object": true
                      },
                      "signed_up_at": {
                        "object": true
                      },
                      "updated_at": 1676026087,
                      "session_count": 0,
                      "social_profiles": {
                        "object": true
                      },
                      "owner_id": {
                        "object": true
                      },
                      "unsubscribed_from_emails": false,
                      "marked_email_as_spam": false,
                      "has_hard_bounced": false,
                      "tags": {
                        "object": true
                      },
                      "segments": {
                        "object": true
                      },
                      "custom_attributes": {
                        "object": true
                      },
                      "referrer": {
                        "object": true
                      },
                      "utm_campaign": {
                        "object": true
                      },
                      "utm_content": {
                        "object": true
                      },
                      "utm_medium": {
                        "object": true
                      },
                      "utm_source": {
                        "object": true
                      },
                      "utm_term": {
                        "object": true
                      },
                      "do_not_track": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom4": [
          {
            "startTime": 1676026087240,
            "executionTime": 463,
            "source": [
              {
                "previousNode": "Intercom3"
              }
            ],
            "data": {
              "main": [
                []
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Intercom4"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2023-02-10T10:47:59.190Z",
  "stoppedAt": "2023-02-10T10:48:07.704Z",
  "finished": true
}