snapshots/166-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1676027888621,
            "executionTime": 0,
            "source": [],
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom5": [
          {
            "startTime": 1676027888622,
            "executionTime": 986,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "contact",
                      "id": "63e627f14a820c8986a912a7",
                      "user_id": "679c8fd0-595a-434c-8878-11a454b5c16b",
                      "anonymous": true,
                      "email": "fake1676027888635@email.com",
                      "phone": {
                        "object": true
                      },
                      "name": {
                        "object": true
                      },
                      "pseudonym": "Violet Sunshine",
                      "avatar": {
                        "object": true
                      },
                      "app_id": "t5y9d4d1",
                      "companies": {
                        "object": true
                      },
                      "location_data": {
                        "object": true
                      },
                      "last_request_at": {
                        "object": true
                      },
                      "created_at": 1676027889,
                      "remote_created_at": {
                        "object": true
                      },
                      "signed_up_at": {
                        "object": true
                      },
                      "updated_at": 1676027889,
                      "session_count": 0,
                      "social_profiles": {
                        "object": true
                      },
                      "owner_id": {
                        "object": true
                      },
                      "unsubscribed_from_emails": false,
                      "marked_email_as_spam": false,
                      "has_hard_bounced": false,
                      "tags": {
                        "object": true
                      },
                      "segments": {
                        "object": true
                      },
                      "custom_attributes": {
                        "object": true
                      },
                      "referrer": {
                        "object": true
                      },
                      "utm_campaign": {
                        "object": true
                      },
                      "utm_content": {
                        "object": true
                      },
                      "utm_medium": {
                        "object": true
                      },
                      "utm_source": {
                        "object": true
                      },
                      "utm_term": {
                        "object": true
                      },
                      "do_not_track": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom10": [
          {
            "startTime": 1676027889609,
            "executionTime": 620,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "user",
                      "id": "63e627f23ec23f94dc8eeb7e",
                      "user_id": "User1676027889611",
                      "anonymous": false,
                      "email": "",
                      "phone": {
                        "object": true
                      },
                      "name": {
                        "object": true
                      },
                      "pseudonym": {
                        "object": true
                      },
                      "avatar": {
                        "object": true
                      },
                      "app_id": "t5y9d4d1",
                      "companies": {
                        "object": true
                      },
                      "location_data": {
                        "object": true
                      },
                      "last_request_at": {
                        "object": true
                      },
                      "created_at": 1676027890,
                      "remote_created_at": {
                        "object": true
                      },
                      "signed_up_at": {
                        "object": true
                      },
                      "updated_at": 1676027890,
                      "session_count": 0,
                      "social_profiles": {
                        "object": true
                      },
                      "owner_id": {
                        "object": true
                      },
                      "unsubscribed_from_emails": false,
                      "marked_email_as_spam": false,
                      "has_hard_bounced": false,
                      "tags": {
                        "object": true
                      },
                      "segments": {
                        "object": true
                      },
                      "custom_attributes": {
                        "object": true
                      },
                      "referrer": {
                        "object": true
                      },
                      "utm_campaign": {
                        "object": true
                      },
                      "utm_content": {
                        "object": true
                      },
                      "utm_medium": {
                        "object": true
                      },
                      "utm_source": {
                        "object": true
                      },
                      "utm_term": {
                        "object": true
                      },
                      "do_not_track": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom1": [
          {
            "startTime": 1676027890230,
            "executionTime": 605,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "company",
                      "company_id": "Company1676027890230",
                      "id": "63e627f2b980ddcad5e25f77",
                      "app_id": "t5y9d4d1",
                      "name": "TestingCompany2023-02-10T11:18:10.231Z",
                      "created_at": 1676027890,
                      "updated_at": 1676027890,
                      "monthly_spend": 0,
                      "session_count": 0,
                      "user_count": 0,
                      "tags": {
                        "object": true
                      },
                      "segments": {
                        "object": true
                      },
                      "plan": {
                        "object": true
                      },
                      "custom_attributes": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom6": [
          {
            "startTime": 1676027890835,
            "executionTime": 485,
            "source": [
              {
                "previousNode": "Intercom5"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "contact",
                      "id": "63e627f14a820c8986a912a7",
                      "user_id": "679c8fd0-595a-434c-8878-11a454b5c16b",
                      "anonymous": true,
                      "email": "fake1676027888635@email.com",
                      "phone": {
                        "object": true
                      },
                      "name": {
                        "object": true
                      },
                      "pseudonym": "Violet Sunshine",
                      "avatar": {
                        "object": true
                      },
                      "app_id": "t5y9d4d1",
                      "companies": {
                        "object": true
                      },
                      "location_data": {
                        "object": true
                      },
                      "last_request_at": {
                        "object": true
                      },
                      "created_at": 1676027889,
                      "remote_created_at": {
                        "object": true
                      },
                      "signed_up_at": {
                        "object": true
                      },
                      "updated_at": 1676027889,
                      "session_count": 0,
                      "social_profiles": {
                        "object": true
                      },
                      "owner_id": {
                        "object": true
                      },
                      "unsubscribed_from_emails": false,
                      "marked_email_as_spam": false,
                      "has_hard_bounced": false,
                      "tags": {
                        "object": true
                      },
                      "segments": {
                        "object": true
                      },
                      "custom_attributes": {
                        "object": true
                      },
                      "referrer": {
                        "object": true
                      },
                      "utm_campaign": {
                        "object": true
                      },
                      "utm_content": {
                        "object": true
                      },
                      "utm_medium": {
                        "object": true
                      },
                      "utm_source": {
                        "object": true
                      },
                      "utm_term": {
                        "object": true
                      },
                      "do_not_track": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom11": [
          {
            "startTime": 1676027891321,
            "executionTime": 498,
            "source": [
              {
                "previousNode": "Intercom10"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "user",
                      "id": "63e627f23ec23f94dc8eeb7e",
                      "user_id": "User1676027889611",
                      "anonymous": false,
                      "email": "",
                      "phone": {
                        "object": true
                      },
                      "name": {
                        "object": true
                      },
                      "pseudonym": {
                        "object": true
                      },
                      "avatar": {
                        "object": true
                      },
                      "app_id": "t5y9d4d1",
                      "companies": {
                        "object": true
                      },
                      "location_data": {
                        "object": true
                      },
                      "last_request_at": {
                        "object": true
                      },
                      "created_at": 1676027890,
                      "remote_created_at": {
                        "object": true
                      },
                      "signed_up_at": {
                        "object": true
                      },
                      "updated_at": 1676027890,
                      "session_count": 0,
                      "social_profiles": {
                        "object": true
                      },
                      "owner_id": {
                        "object": true
                      },
                      "unsubscribed_from_emails": false,
                      "marked_email_as_spam": false,
                      "has_hard_bounced": false,
                      "tags": {
                        "object": true
                      },
                      "segments": {
                        "object": true
                      },
                      "custom_attributes": {
                        "object": true
                      },
                      "referrer": {
                        "object": true
                      },
                      "utm_campaign": {
                        "object": true
                      },
                      "utm_content": {
                        "object": true
                      },
                      "utm_medium": {
                        "object": true
                      },
                      "utm_source": {
                        "object": true
                      },
                      "utm_term": {
                        "object": true
                      },
                      "do_not_track": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom": [
          {
            "startTime": 1676027891819,
            "executionTime": 400,
            "source": [
              {
                "previousNode": "Intercom1"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "company",
                      "company_id": "Company1676027890230",
                      "id": "63e627f2b980ddcad5e25f77",
                      "app_id": "t5y9d4d1",
                      "name": "TestingCompany2023-02-10T11:18:10.231Z",
                      "created_at": 1676027890,
                      "updated_at": 1676027890,
                      "monthly_spend": 0,
                      "session_count": 0,
                      "user_count": 0,
                      "tags": {
                        "object": true
                      },
                      "segments": {
                        "object": true
                      },
                      "plan": {
                        "object": true
                      },
                      "custom_attributes": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom7": [
          {
            "startTime": 1676027892219,
            "executionTime": 864,
            "source": [
              {
                "previousNode": "Intercom6"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {}
                  }
                ]
              ]
            }
          }
        ],
        "Intercom12": [
          {
            "startTime": 1676027893084,
            "executionTime": 1093,
            "source": [
              {
                "previousNode": "Intercom11"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "user",
                      "id": "607ea1b560aaae9a70ab31a7",
                      "user_id": "123",
                      "anonymous": false,
                      "email": "john@acme.com",
                      "phone": {
                        "object": true
                      },
                      "name": "John Doe",
                      "pseudonym": {
                        "object": true
                      },
                      "avatar": {
                        "object": true
                      },
                      "app_id": "t5y9d4d1",
                      "companies": {
                        "object": true
                      },
                      "location_data": {
                        "object": true
                      },
                      "last_request_at": {
                        "object": true
                      },
                      "created_at": 1618911669,
                      "remote_created_at": {
                        "object": true
                      },
                      "signed_up_at": {
                        "object": true
                      },
                      "updated_at": 1636915062,
                      "session_count": 0,
                      "social_profiles": {
                        "object": true
                      },
                      "owner_id": {
                        "object": true
                      },
                      "unsubscribed_from_emails": false,
                      "marked_email_as_spam": false,
                      "has_hard_bounced": false,
                      "tags": {
                        "object": true
                      },
                      "segments": {
                        "object": true
                      },
                      "custom_attributes": {
                        "object": true
                      },
                      "referrer": {
                        "object": true
                      },
                      "utm_campaign": {
                        "object": true
                      },
                      "utm_content": {
                        "object": true
                      },
                      "utm_medium": {
                        "object": true
                      },
                      "utm_source": {
                        "object": true
                      },
                      "utm_term": {
                        "object": true
                      },
                      "do_not_track": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom2": [
          {
            "startTime": 1676027894178,
            "executionTime": 550,
            "source": [
              {
                "previousNode": "Intercom"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "company",
                      "company_id": "607ea26e5e1f73dc32c434bd-qualification-company",
                      "id": "607ea26e5e1f73dc32c434bc",
                      "app_id": "t5y9d4d1",
                      "name": "Acme",
                      "created_at": 1618911854,
                      "updated_at": 1618911854,
                      "monthly_spend": 0,
                      "session_count": 0,
                      "user_count": 1,
                      "tags": {
                        "object": true
                      },
                      "segments": {
                        "object": true
                      },
                      "plan": {
                        "object": true
                      },
                      "custom_attributes": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom8": [
          {
            "startTime": 1676027894728,
            "executionTime": 418,
            "source": [
              {
                "previousNode": "Intercom7"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "contact",
                      "id": "63e627f14a820c8986a912a7",
                      "user_id": "679c8fd0-595a-434c-8878-11a454b5c16b",
                      "anonymous": true,
                      "email": "fake1676027888635@email.com",
                      "phone": {
                        "object": true
                      },
                      "name": "UpdatedLead",
                      "pseudonym": "Violet Sunshine",
                      "avatar": {
                        "object": true
                      },
                      "app_id": "t5y9d4d1",
                      "companies": {
                        "object": true
                      },
                      "location_data": {
                        "object": true
                      },
                      "last_request_at": {
                        "object": true
                      },
                      "created_at": 1676027889,
                      "remote_created_at": {
                        "object": true
                      },
                      "signed_up_at": {
                        "object": true
                      },
                      "updated_at": 1676027895,
                      "session_count": 0,
                      "social_profiles": {
                        "object": true
                      },
                      "owner_id": {
                        "object": true
                      },
                      "unsubscribed_from_emails": false,
                      "marked_email_as_spam": false,
                      "has_hard_bounced": false,
                      "tags": {
                        "object": true
                      },
                      "segments": {
                        "object": true
                      },
                      "custom_attributes": {
                        "object": true
                      },
                      "referrer": {
                        "object": true
                      },
                      "utm_campaign": {
                        "object": true
                      },
                      "utm_content": {
                        "object": true
                      },
                      "utm_medium": {
                        "object": true
                      },
                      "utm_source": {
                        "object": true
                      },
                      "utm_term": {
                        "object": true
                      },
                      "do_not_track": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom13": [
          {
            "startTime": 1676027895146,
            "executionTime": 413,
            "source": [
              {
                "previousNode": "Intercom12"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "user",
                      "id": "63e627f23ec23f94dc8eeb7e",
                      "user_id": "User1676027889611",
                      "anonymous": false,
                      "email": "",
                      "phone": {
                        "object": true
                      },
                      "name": "UpdatedUser",
                      "pseudonym": {
                        "object": true
                      },
                      "avatar": {
                        "object": true
                      },
                      "app_id": "t5y9d4d1",
                      "companies": {
                        "object": true
                      },
                      "location_data": {
                        "object": true
                      },
                      "last_request_at": {
                        "object": true
                      },
                      "created_at": 1676027890,
                      "remote_created_at": {
                        "object": true
                      },
                      "signed_up_at": {
                        "object": true
                      },
                      "updated_at": 1676027895,
                      "session_count": 0,
                      "social_profiles": {
                        "object": true
                      },
                      "owner_id": {
                        "object": true
                      },
                      "unsubscribed_from_emails": false,
                      "marked_email_as_spam": false,
                      "has_hard_bounced": false,
                      "tags": {
                        "object": true
                      },
                      "segments": {
                        "object": true
                      },
                      "custom_attributes": {
                        "object": true
                      },
                      "referrer": {
                        "object": true
                      },
                      "utm_campaign": {
                        "object": true
                      },
                      "utm_content": {
                        "object": true
                      },
                      "utm_medium": {
                        "object": true
                      },
                      "utm_source": {
                        "object": true
                      },
                      "utm_term": {
                        "object": true
                      },
                      "do_not_track": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom3": [
          {
            "startTime": 1676027895559,
            "executionTime": 546,
            "source": [
              {
                "previousNode": "Intercom2"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "company",
                      "company_id": "Company1676027890230",
                      "id": "63e627f2b980ddcad5e25f77",
                      "app_id": "t5y9d4d1",
                      "name": "UpdatedTestingCompany2023-02-10T11:18:10.231Z",
                      "created_at": 1676027890,
                      "updated_at": 1676027896,
                      "monthly_spend": 0,
                      "session_count": 0,
                      "user_count": 0,
                      "tags": {
                        "object": true
                      },
                      "segments": {
                        "object": true
                      },
                      "plan": {
                        "object": true
                      },
                      "custom_attributes": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom9": [
          {
            "startTime": 1676027896106,
            "executionTime": 610,
            "source": [
              {
                "previousNode": "Intercom8"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "contact",
                      "id": "63e627f14a820c8986a912a7",
                      "user_id": "679c8fd0-595a-434c-8878-11a454b5c16b",
                      "anonymous": true,
                      "email": "fake1676027888635@email.com",
                      "phone": {
                        "object": true
                      },
                      "name": "UpdatedLead",
                      "pseudonym": "Violet Sunshine",
                      "avatar": {
                        "object": true
                      },
                      "app_id": "t5y9d4d1",
                      "companies": {
                        "object": true
                      },
                      "location_data": {
                        "object": true
                      },
                      "last_request_at": {
                        "object": true
                      },
                      "created_at": 1676027889,
                      "remote_created_at": {
                        "object": true
                      },
                      "signed_up_at": {
                        "object": true
                      },
                      "updated_at": 1676027896,
                      "session_count": 0,
                      "social_profiles": {
                        "object": true
                      },
                      "owner_id": {
                        "object": true
                      },
                      "unsubscribed_from_emails": false,
                      "marked_email_as_spam": false,
                      "has_hard_bounced": false,
                      "tags": {
                        "object": true
                      },
                      "segments": {
                        "object": true
                      },
                      "custom_attributes": {
                        "object": true
                      },
                      "referrer": {
                        "object": true
                      },
                      "utm_campaign": {
                        "object": true
                      },
                      "utm_content": {
                        "object": true
                      },
                      "utm_medium": {
                        "object": true
                      },
                      "utm_source": {
                        "object": true
                      },
                      "utm_term": {
                        "object": true
                      },
                      "do_not_track": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom14": [
          {
            "startTime": 1676027896717,
            "executionTime": 613,
            "source": [
              {
                "previousNode": "Intercom13"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "user",
                      "id": "63e627f23ec23f94dc8eeb7e",
                      "user_id": "User1676027889611",
                      "anonymous": false,
                      "email": "",
                      "phone": {
                        "object": true
                      },
                      "name": "UpdatedUser",
                      "pseudonym": {
                        "object": true
                      },
                      "avatar": {
                        "object": true
                      },
                      "app_id": "t5y9d4d1",
                      "companies": {
                        "object": true
                      },
                      "location_data": {
                        "object": true
                      },
                      "last_request_at": {
                        "object": true
                      },
                      "created_at": 1676027890,
                      "remote_created_at": {
                        "object": true
                      },
                      "signed_up_at": {
                        "object": true
                      },
                      "updated_at": 1676027897,
                      "session_count": 0,
                      "social_profiles": {
                        "object": true
                      },
                      "owner_id": {
                        "object": true
                      },
                      "unsubscribed_from_emails": false,
                      "marked_email_as_spam": false,
                      "has_hard_bounced": false,
                      "tags": {
                        "object": true
                      },
                      "segments": {
                        "object": true
                      },
                      "custom_attributes": {
                        "object": true
                      },
                      "referrer": {
                        "object": true
                      },
                      "utm_campaign": {
                        "object": true
                      },
                      "utm_content": {
                        "object": true
                      },
                      "utm_medium": {
                        "object": true
                      },
                      "utm_source": {
                        "object": true
                      },
                      "utm_term": {
                        "object": true
                      },
                      "do_not_track": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom4": [
          {
            "startTime": 1676027897331,
            "executionTime": 1071,
            "source": [
              {
                "previousNode": "Intercom3"
              }
            ],
            "data": {
              "main": [
                []
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Intercom4"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2023-02-10T11:18:08.619Z",
  "stoppedAt": "2023-02-10T11:18:18.403Z",
  "finished": true
}