snapshots/169-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1622541743710,
            "executionTime": 1,
            "data": {
              "main": [
                [
                  {
                    "json": {}
                  }
                ]
              ]
            }
          }
        ],
        "Mocean": [
          {
            "startTime": 1622541743711,
            "executionTime": 2391,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "status": 0,
                      "receiver": "21624827732",
                      "msgid": "Nodeqa0601180225257743.0001",
                      "type": "sms"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mocean1": [
          {
            "startTime": 1622541746103,
            "executionTime": 0,
            "data": {
              "main": [
                [
                  {
                    "json": {}
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Mocean1"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {}
    }
  },
  "mode": "cli",
  "startedAt": "2021-06-01T10:02:23.709Z",
  "stoppedAt": "2021-06-01T10:02:26.103Z",
  "finished": true
}