snapshots/169-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1622630072090,
            "executionTime": 0,
            "data": {
              "main": [
                [
                  {
                    "json": {}
                  }
                ]
              ]
            }
          }
        ],
        "Mocean": [
          {
            "startTime": 1622630072091,
            "executionTime": 2033,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "status": 0,
                      "receiver": "21624827732",
                      "msgid": "Nodeqa0602183433472368.0003",
                      "type": "sms"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mocean1": [
          {
            "startTime": 1622630074124,
            "executionTime": 1,
            "data": {
              "main": [
                [
                  {
                    "json": {}
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Mocean1"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {}
    }
  },
  "mode": "cli",
  "startedAt": "2021-06-02T10:34:32.088Z",
  "stoppedAt": "2021-06-02T10:34:34.125Z",
  "finished": true
}