snapshots/17-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "hints": [],
            "startTime": 1739393972828,
            "executionTime": 0,
            "source": [],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "OpenThesaurus": [
          {
            "hints": [],
            "startTime": 1739393972828,
            "executionTime": 202,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 3913,
                      "categories": [
                        "json array"
                      ],
                      "terms": [
                        "json array"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  },
                  {
                    "json": {
                      "id": 11705,
                      "categories": [
                        "json array"
                      ],
                      "terms": [
                        "json array"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  },
                  {
                    "json": {
                      "id": 8559,
                      "categories": [
                        "json array"
                      ],
                      "terms": [
                        "json array"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  },
                  {
                    "json": {
                      "id": 15485,
                      "categories": [
                        "json array"
                      ],
                      "terms": [
                        "json array"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "OpenThesaurus"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2025-02-12T20:59:32.827Z",
  "stoppedAt": "2025-02-12T20:59:33.031Z",
  "status": "running",
  "finished": true
}