snapshots/172-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "hints": [],
            "startTime": 1738078158533,
            "executionTime": 1,
            "source": [],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "PayPal": [
          {
            "hints": [],
            "startTime": 1738078158534,
            "executionTime": 1181,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "batch_header": {
                        "object": true
                      },
                      "links": [
                        "json array"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "PayPal1": [
          {
            "hints": [],
            "startTime": 1738078159716,
            "executionTime": 1047,
            "source": [
              {
                "previousNode": "PayPal"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "payout_item_id": "QAJV9MWKDU2MQ",
                      "transaction_status": "PENDING",
                      "payout_item_fee": {
                        "object": true
                      },
                      "payout_batch_id": "ZYTS5Q3W7TJY6",
                      "payout_item": {
                        "object": true
                      },
                      "links": [
                        "json array"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "PayPal2": [
          {
            "hints": [],
            "startTime": 1738078160763,
            "executionTime": 957,
            "source": [
              {
                "previousNode": "PayPal1"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "payout_item_id": "QAJV9MWKDU2MQ",
                      "transaction_status": "PENDING",
                      "payout_item_fee": {
                        "object": true
                      },
                      "payout_batch_id": "ZYTS5Q3W7TJY6",
                      "sender_batch_id": "1738078158536",
                      "payout_item": {
                        "object": true
                      },
                      "links": [
                        "json array"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "PayPal3": [
          {
            "hints": [],
            "startTime": 1738078161721,
            "executionTime": 0,
            "source": [
              {
                "previousNode": "PayPal2"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "payout_item_id": "QAJV9MWKDU2MQ",
                      "transaction_status": "PENDING",
                      "payout_item_fee": {
                        "object": true
                      },
                      "payout_batch_id": "ZYTS5Q3W7TJY6",
                      "sender_batch_id": "1738078158536",
                      "payout_item": {
                        "object": true
                      },
                      "links": [
                        "json array"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "PayPal3"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2025-01-28T15:29:18.533Z",
  "stoppedAt": "2025-01-28T15:29:21.721Z",
  "status": "running",
  "finished": true
}