snapshots/182-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "hints": [],
            "startTime": 1733911657765,
            "executionTime": 0,
            "source": [],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Webflow": [
          {
            "hints": [],
            "startTime": 1733911657765,
            "executionTime": 737,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "_cid": "608289f18593d40792d70d54",
                      "_id": "6759646a414767d986fc3758",
                      "_draft": true,
                      "_archived": false,
                      "name": "Item1733911657765",
                      "slug": "ItemSlug1733911657767",
                      "updated-on": "2024-12-11T10:07:38.181Z",
                      "updated-by": "Person_60828826c12bb73d4752eedb",
                      "created-on": "2024-12-11T10:07:38.181Z",
                      "created-by": "Person_60828826c12bb73d4752eedb",
                      "published-on": {
                        "object": true
                      },
                      "published-by": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Webflow1": [
          {
            "hints": [],
            "startTime": 1733911658502,
            "executionTime": 407,
            "source": [
              {
                "previousNode": "Webflow"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "_cid": "608289f18593d40792d70d54",
                      "_id": "6759646a414767d986fc3758",
                      "_draft": true,
                      "_archived": false,
                      "name": "Item1733911657765",
                      "slug": "ItemSlug1733911657767",
                      "updated-on": "2024-12-11T10:07:38.181Z",
                      "updated-by": "Person_60828826c12bb73d4752eedb",
                      "created-on": "2024-12-11T10:07:38.181Z",
                      "created-by": "Person_60828826c12bb73d4752eedb",
                      "published-on": {
                        "object": true
                      },
                      "published-by": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Webflow2": [
          {
            "hints": [],
            "startTime": 1733911658909,
            "executionTime": 458,
            "source": [
              {
                "previousNode": "Webflow1"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "_cid": "608289f18593d40792d70d54",
                      "_id": "6759646a414767d986fc3758",
                      "_draft": false,
                      "_archived": false,
                      "name": "UpdatedItem1733911657765",
                      "slug": "UpdatedItemSlug1733911657767",
                      "updated-on": "2024-12-11T10:07:39.266Z",
                      "updated-by": "Person_60828826c12bb73d4752eedb",
                      "created-on": "2024-12-11T10:07:38.181Z",
                      "created-by": "Person_60828826c12bb73d4752eedb",
                      "published-on": {
                        "object": true
                      },
                      "published-by": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Webflow3": [
          {
            "hints": [],
            "startTime": 1733911659368,
            "executionTime": 900,
            "source": [
              {
                "previousNode": "Webflow2"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "deleted": 1
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Webflow4": [
          {
            "hints": [],
            "startTime": 1733911660269,
            "executionTime": 384,
            "source": [
              {
                "previousNode": "Webflow3"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "_cid": "608289f18593d40792d70d54",
                      "_id": "668801d4c89cdad6305c9fb3",
                      "_draft": false,
                      "_archived": false,
                      "name": "interesting",
                      "slug": "test-da5e5",
                      "updated-on": "2024-07-05T15:27:59.922Z",
                      "updated-by": "Person_60828826c12bb73d4752eedb",
                      "created-on": "2024-07-05T14:23:16.749Z",
                      "created-by": "Person_60828826c12bb73d4752eedb",
                      "published-on": {
                        "object": true
                      },
                      "published-by": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Webflow4"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2024-12-11T10:07:37.765Z",
  "stoppedAt": "2024-12-11T10:07:40.653Z",
  "status": "running",
  "finished": true
}