snapshots/186-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1676026082775,
            "executionTime": 1,
            "source": [],
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Salesforce": [
          {
            "startTime": 1676026082776,
            "executionTime": 267,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "0060900000Pqjw2AAB",
                      "success": true,
                      "errors": [
                        "json array"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Salesforce7": [
          {
            "startTime": 1676026083043,
            "executionTime": 130,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "attributes": {
                        "object": true
                      },
                      "Id": "0010900001XeZZGAA3",
                      "Name": "test account",
                      "BillingCity": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Sleep 0.5 second4": [
          {
            "startTime": 1676026083174,
            "executionTime": 508,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    },
                    "index": 0
                  }
                ]
              ]
            }
          }
        ],
        "Sleep 0.5 second": [
          {
            "startTime": 1676026083682,
            "executionTime": 504,
            "source": [
              {
                "previousNode": "Salesforce"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "0060900000Pqjw2AAB",
                      "success": true,
                      "errors": [
                        "json array"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    },
                    "index": 0
                  }
                ]
              ]
            }
          }
        ],
        "Salesforce8": [
          {
            "startTime": 1676026084187,
            "executionTime": 187,
            "source": [
              {
                "previousNode": "Sleep 0.5 second4"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "00T0900001EvWXMEA3",
                      "success": true,
                      "errors": [
                        "json array"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Salesforce1": [
          {
            "startTime": 1676026084374,
            "executionTime": 110,
            "source": [
              {
                "previousNode": "Sleep 0.5 second"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "attributes": {
                        "object": true
                      },
                      "Id": "0060900000Pqjw2AAB",
                      "IsDeleted": false,
                      "AccountId": {
                        "object": true
                      },
                      "IsPrivate": false,
                      "Name": "Opp1676026082790",
                      "Description": {
                        "object": true
                      },
                      "StageName": "Value Proposition",
                      "Amount": {
                        "object": true
                      },
                      "Probability": 50,
                      "ExpectedRevenue": {
                        "object": true
                      },
                      "TotalOpportunityQuantity": {
                        "object": true
                      },
                      "CloseDate": "2021-03-31",
                      "Type": {
                        "object": true
                      },
                      "NextStep": {
                        "object": true
                      },
                      "LeadSource": {
                        "object": true
                      },
                      "IsClosed": false,
                      "IsWon": false,
                      "ForecastCategory": "Pipeline",
                      "ForecastCategoryName": "Pipeline",
                      "CampaignId": {
                        "object": true
                      },
                      "HasOpportunityLineItem": false,
                      "Pricebook2Id": {
                        "object": true
                      },
                      "OwnerId": "00509000005ntkGAAQ",
                      "CreatedDate": "2023-02-10T10:48:02.000+0000",
                      "CreatedById": "00509000005ntkGAAQ",
                      "LastModifiedDate": "2023-02-10T10:48:02.000+0000",
                      "LastModifiedById": "00509000005ntkGAAQ",
                      "SystemModstamp": "2023-02-10T10:48:03.000+0000",
                      "LastActivityDate": {
                        "object": true
                      },
                      "FiscalQuarter": 1,
                      "FiscalYear": 2021,
                      "Fiscal": "2021 1",
                      "LastViewedDate": "2023-02-10T10:48:03.000+0000",
                      "LastReferencedDate": "2023-02-10T10:48:03.000+0000",
                      "HasOpenActivity": false,
                      "HasOverdueTask": false,
                      "DeliveryInstallationStatus__c": {
                        "object": true
                      },
                      "TrackingNumber__c": {
                        "object": true
                      },
                      "OrderNumber__c": {
                        "object": true
                      },
                      "CurrentGenerators__c": {
                        "object": true
                      },
                      "MainCompetitors__c": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Salesforce9": [
          {
            "startTime": 1676026084484,
            "executionTime": 128,
            "source": [
              {
                "previousNode": "Salesforce8"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "attributes": {
                        "object": true
                      },
                      "Id": "00T0900001EvWXMEA3",
                      "WhoId": {
                        "object": true
                      },
                      "WhatId": {
                        "object": true
                      },
                      "Subject": {
                        "object": true
                      },
                      "ActivityDate": {
                        "object": true
                      },
                      "Status": "In Progress",
                      "Priority": "Normal",
                      "IsHighPriority": false,
                      "OwnerId": "00509000005ntkGAAQ",
                      "Description": {
                        "object": true
                      },
                      "IsDeleted": false,
                      "AccountId": {
                        "object": true
                      },
                      "IsClosed": false,
                      "CreatedDate": "2023-02-10T10:48:04.000+0000",
                      "CreatedById": "00509000005ntkGAAQ",
                      "LastModifiedDate": "2023-02-10T10:48:04.000+0000",
                      "LastModifiedById": "00509000005ntkGAAQ",
                      "SystemModstamp": "2023-02-10T10:48:04.000+0000",
                      "IsArchived": false,
                      "CallDurationInSeconds": {
                        "object": true
                      },
                      "CallType": {
                        "object": true
                      },
                      "CallDisposition": {
                        "object": true
                      },
                      "CallObject": {
                        "object": true
                      },
                      "ReminderDateTime": {
                        "object": true
                      },
                      "IsReminderSet": false,
                      "RecurrenceActivityId": {
                        "object": true
                      },
                      "IsRecurrence": false,
                      "RecurrenceStartDateOnly": {
                        "object": true
                      },
                      "RecurrenceEndDateOnly": {
                        "object": true
                      },
                      "RecurrenceTimeZoneSidKey": {
                        "object": true
                      },
                      "RecurrenceType": {
                        "object": true
                      },
                      "RecurrenceInterval": {
                        "object": true
                      },
                      "RecurrenceDayOfWeekMask": {
                        "object": true
                      },
                      "RecurrenceDayOfMonth": {
                        "object": true
                      },
                      "RecurrenceInstance": {
                        "object": true
                      },
                      "RecurrenceMonthOfYear": {
                        "object": true
                      },
                      "RecurrenceRegeneratedType": {
                        "object": true
                      },
                      "TaskSubtype": "Task"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Salesforce2": [
          {
            "startTime": 1676026084612,
            "executionTime": 144,
            "source": [
              {
                "previousNode": "Salesforce1"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "00209000001LyUFAA0",
                      "success": true,
                      "errors": [
                        "json array"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Sleep 0.5 second3": [
          {
            "startTime": 1676026084756,
            "executionTime": 504,
            "source": [
              {
                "previousNode": "Salesforce9"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "attributes": {
                        "object": true
                      },
                      "Id": "00T0900001EvWXMEA3",
                      "WhoId": {
                        "object": true
                      },
                      "WhatId": {
                        "object": true
                      },
                      "Subject": {
                        "object": true
                      },
                      "ActivityDate": {
                        "object": true
                      },
                      "Status": "In Progress",
                      "Priority": "Normal",
                      "IsHighPriority": false,
                      "OwnerId": "00509000005ntkGAAQ",
                      "Description": {
                        "object": true
                      },
                      "IsDeleted": false,
                      "AccountId": {
                        "object": true
                      },
                      "IsClosed": false,
                      "CreatedDate": "2023-02-10T10:48:04.000+0000",
                      "CreatedById": "00509000005ntkGAAQ",
                      "LastModifiedDate": "2023-02-10T10:48:04.000+0000",
                      "LastModifiedById": "00509000005ntkGAAQ",
                      "SystemModstamp": "2023-02-10T10:48:04.000+0000",
                      "IsArchived": false,
                      "CallDurationInSeconds": {
                        "object": true
                      },
                      "CallType": {
                        "object": true
                      },
                      "CallDisposition": {
                        "object": true
                      },
                      "CallObject": {
                        "object": true
                      },
                      "ReminderDateTime": {
                        "object": true
                      },
                      "IsReminderSet": false,
                      "RecurrenceActivityId": {
                        "object": true
                      },
                      "IsRecurrence": false,
                      "RecurrenceStartDateOnly": {
                        "object": true
                      },
                      "RecurrenceEndDateOnly": {
                        "object": true
                      },
                      "RecurrenceTimeZoneSidKey": {
                        "object": true
                      },
                      "RecurrenceType": {
                        "object": true
                      },
                      "RecurrenceInterval": {
                        "object": true
                      },
                      "RecurrenceDayOfWeekMask": {
                        "object": true
                      },
                      "RecurrenceDayOfMonth": {
                        "object": true
                      },
                      "RecurrenceInstance": {
                        "object": true
                      },
                      "RecurrenceMonthOfYear": {
                        "object": true
                      },
                      "RecurrenceRegeneratedType": {
                        "object": true
                      },
                      "TaskSubtype": "Task"
                    },
                    "pairedItem": {
                      "item": 0
                    },
                    "index": 0
                  }
                ]
              ]
            }
          }
        ],
        "Sleep 0.5 second1": [
          {
            "startTime": 1676026085260,
            "executionTime": 504,
            "source": [
              {
                "previousNode": "Salesforce2"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "00209000001LyUFAA0",
                      "success": true,
                      "errors": [
                        "json array"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    },
                    "index": 0
                  }
                ]
              ]
            }
          }
        ],
        "Salesforce10": [
          {
            "startTime": 1676026085764,
            "executionTime": 113,
            "source": [
              {
                "previousNode": "Sleep 0.5 second3"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "objectDescribe": {
                        "object": true
                      },
                      "recentItems": [
                        "json array"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Salesforce3": [
          {
            "startTime": 1676026085877,
            "executionTime": 122,
            "source": [
              {
                "previousNode": "Sleep 0.5 second1"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "objectDescribe": {
                        "object": true
                      },
                      "recentItems": [
                        "json array"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Salesforce11": [
          {
            "startTime": 1676026086000,
            "executionTime": 125,
            "source": [
              {
                "previousNode": "Salesforce10"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "attributes": {
                        "object": true
                      },
                      "Id": "00T0900000NzAPdEAN",
                      "Subject": {
                        "object": true
                      },
                      "Status": "In Progress",
                      "Priority": "Normal"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Salesforce4": [
          {
            "startTime": 1676026086126,
            "executionTime": 123,
            "source": [
              {
                "previousNode": "Salesforce3"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "attributes": {
                        "object": true
                      },
                      "Id": "00609000006wdbhAAA",
                      "AccountId": {
                        "object": true
                      },
                      "Amount": {
                        "object": true
                      },
                      "Probability": 50,
                      "Type": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Sleep 0.5 second5": [
          {
            "startTime": 1676026086249,
            "executionTime": 504,
            "source": [
              {
                "previousNode": "Salesforce11"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "attributes": {
                        "object": true
                      },
                      "Id": "00T0900000NzAPdEAN",
                      "Subject": {
                        "object": true
                      },
                      "Status": "In Progress",
                      "Priority": "Normal"
                    },
                    "pairedItem": {
                      "item": 0
                    },
                    "index": 0
                  }
                ]
              ]
            }
          }
        ],
        "Sleep 0.5 second2": [
          {
            "startTime": 1676026086753,
            "executionTime": 503,
            "source": [
              {
                "previousNode": "Salesforce4"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "attributes": {
                        "object": true
                      },
                      "Id": "00609000006wdbhAAA",
                      "AccountId": {
                        "object": true
                      },
                      "Amount": {
                        "object": true
                      },
                      "Probability": 50,
                      "Type": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    },
                    "index": 0
                  }
                ]
              ]
            }
          }
        ],
        "Salesforce12": [
          {
            "startTime": 1676026087256,
            "executionTime": 951,
            "source": [
              {
                "previousNode": "Sleep 0.5 second5"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "errors": [
                        "json array"
                      ],
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Salesforce5": [
          {
            "startTime": 1676026088207,
            "executionTime": 199,
            "source": [
              {
                "previousNode": "Sleep 0.5 second2"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "errors": [
                        "json array"
                      ],
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Salesforce13": [
          {
            "startTime": 1676026088406,
            "executionTime": 258,
            "source": [
              {
                "previousNode": "Salesforce12"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "errors": [
                        "json array"
                      ],
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Salesforce6": [
          {
            "startTime": 1676026088664,
            "executionTime": 333,
            "source": [
              {
                "previousNode": "Salesforce5"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "errors": [
                        "json array"
                      ],
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Salesforce6"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2023-02-10T10:48:02.771Z",
  "stoppedAt": "2023-02-10T10:48:08.997Z",
  "finished": true
}