snapshots/187-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1706635222472,
            "executionTime": 0,
            "source": [],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Set": [
          {
            "startTime": 1706635222472,
            "executionTime": 3,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "random": 793,
                      "test": "Entry1706635222475"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Strapi": [
          {
            "startTime": 1706635222475,
            "executionTime": 388,
            "source": [
              {
                "previousNode": "Set"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 1211,
                      "test": "Entry1706635222475",
                      "random": 793,
                      "published_at": "2024-01-30T17:20:22.817Z",
                      "created_at": "2024-01-30T17:20:22.827Z",
                      "updated_at": "2024-01-30T17:20:22.827Z"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Strapi1": [
          {
            "startTime": 1706635222864,
            "executionTime": 303,
            "source": [
              {
                "previousNode": "Strapi"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 1211,
                      "test": "Entry1706635222475",
                      "random": 793,
                      "published_at": "2024-01-30T17:20:22.817Z",
                      "created_at": "2024-01-30T17:20:22.827Z",
                      "updated_at": "2024-01-30T17:20:22.827Z"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Strapi2": [
          {
            "startTime": 1706635223168,
            "executionTime": 273,
            "source": [
              {
                "previousNode": "Strapi1"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 2,
                      "test": {
                        "object": true
                      },
                      "random": 563,
                      "published_at": "2021-04-29T07:56:29.555Z",
                      "created_at": "2021-04-29T07:56:29.563Z",
                      "updated_at": "2021-04-29T07:56:29.563Z"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Set1": [
          {
            "startTime": 1706635223442,
            "executionTime": 6,
            "source": [
              {
                "previousNode": "Strapi2"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 1211,
                      "test": "UpdatedEntry1706635222475"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Strapi3": [
          {
            "startTime": 1706635223448,
            "executionTime": 342,
            "source": [
              {
                "previousNode": "Set1"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 1211,
                      "test": "UpdatedEntry1706635222475",
                      "random": 793,
                      "published_at": "2024-01-30T17:20:22.817Z",
                      "created_at": "2024-01-30T17:20:22.827Z",
                      "updated_at": "2024-01-30T17:20:23.715Z"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Strapi4": [
          {
            "startTime": 1706635223790,
            "executionTime": 285,
            "source": [
              {
                "previousNode": "Strapi3"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 1211,
                      "test": "UpdatedEntry1706635222475",
                      "random": 793,
                      "published_at": "2024-01-30T17:20:22.817Z",
                      "created_at": "2024-01-30T17:20:22.827Z",
                      "updated_at": "2024-01-30T17:20:23.715Z"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Strapi4"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2024-01-30T17:20:22.472Z",
  "stoppedAt": "2024-01-30T17:20:24.075Z",
  "status": "running",
  "finished": true
}