snapshots/189-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1622541771410,
            "executionTime": 1,
            "data": {
              "main": [
                [
                  {
                    "json": {}
                  }
                ]
              ]
            }
          }
        ],
        "Affinity": [
          {
            "startTime": 1622541771412,
            "executionTime": 848,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 282305773,
                      "name": "TESTCOMPANY1622541771413",
                      "domain": "test.com",
                      "domains": [
                        "test.com"
                      ],
                      "crunchbase_uuid": null,
                      "global": false,
                      "person_ids": [
                        42887757,
                        76988774,
                        77047542,
                        77058687,
                        77271831
                      ]
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Affinity4": [
          {
            "startTime": 1622541772260,
            "executionTime": 607,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 223548265,
                      "name": "n8n.io",
                      "domain": "n8n.io",
                      "domains": [
                        "n8n.io"
                      ],
                      "crunchbase_uuid": null,
                      "global": true
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Affinity5": [
          {
            "startTime": 1622541772868,
            "executionTime": 608,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 51365,
                      "type": 1,
                      "name": "Deals",
                      "public": true,
                      "owner_id": 41500021,
                      "list_size": 5
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Affinity7": [
          {
            "startTime": 1622541773476,
            "executionTime": 669,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 77707926,
                      "type": 0,
                      "first_name": "Fname_2021-06-01T10:02:53.476Z",
                      "last_name": "Lname_2021-06-01T10:02:53.476Z",
                      "primary_email": null,
                      "emails": [],
                      "organization_ids": []
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Affinity12": [
          {
            "startTime": 1622541774145,
            "executionTime": 701,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 32936534,
                      "list_id": 51365,
                      "creator_id": 73468989,
                      "entity_id": 282305773,
                      "entity_type": 1,
                      "created_at": "2021-06-01T03:02:54.675-07:00",
                      "entity": {
                        "id": 282305773,
                        "name": "TESTCOMPANY1622541771413",
                        "domain": "test.com",
                        "domains": [
                          "test.com"
                        ],
                        "crunchbase_uuid": null,
                        "global": false
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Affinity6": [
          {
            "startTime": 1622541774847,
            "executionTime": 664,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 51365,
                      "type": 1,
                      "name": "Deals",
                      "public": true,
                      "owner_id": 41500021,
                      "list_size": 6,
                      "fields": [
                        {
                          "id": 457695,
                          "name": "Status",
                          "list_id": 51365,
                          "value_type": 7,
                          "allows_multiple": false,
                          "track_changes": true,
                          "dropdown_options": [
                            {
                              "id": 1682433,
                              "text": "New",
                              "rank": 1,
                              "color": 3
                            },
                            {
                              "id": 1682434,
                              "text": "In Progress",
                              "rank": 2,
                              "color": 3
                            },
                            {
                              "id": 1682435,
                              "text": "Won",
                              "rank": 3,
                              "color": 2
                            },
                            {
                              "id": 1682436,
                              "text": "Lost",
                              "rank": 4,
                              "color": 1
                            },
                            {
                              "id": 1682437,
                              "text": "On Hold",
                              "rank": 5,
                              "color": 5
                            }
                          ]
                        },
                        {
                          "id": 457696,
                          "name": "Owners",
                          "list_id": 51365,
                          "value_type": 0,
                          "allows_multiple": true,
                          "track_changes": true,
                          "dropdown_options": []
                        },
                        {
                          "id": 457697,
                          "name": "Amount",
                          "list_id": 51365,
                          "value_type": 3,
                          "allows_multiple": false,
                          "track_changes": true,
                          "dropdown_options": []
                        },
                        {
                          "id": 457698,
                          "name": "Priority",
                          "list_id": 51365,
                          "value_type": 7,
                          "allows_multiple": false,
                          "track_changes": true,
                          "dropdown_options": []
                        }
                      ]
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Affinity8": [
          {
            "startTime": 1622541775511,
            "executionTime": 639,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 77707926,
                      "type": 0,
                      "first_name": "Fname_2021-06-01T10:02:53.476Z",
                      "last_name": "Lname_2021-06-01T10:02:53.476Z",
                      "primary_email": null,
                      "emails": [],
                      "organization_ids": [],
                      "list_entries": []
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Affinity13": [
          {
            "startTime": 1622541776150,
            "executionTime": 706,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 32936534,
                      "list_id": 51365,
                      "creator_id": 73468989,
                      "entity_id": 282305773,
                      "entity_type": 1,
                      "created_at": "2021-06-01T03:02:54.675-07:00",
                      "entity": {
                        "id": 282305773,
                        "name": "TESTCOMPANY1622541771413",
                        "domain": "test.com",
                        "domains": [
                          "test.com"
                        ],
                        "crunchbase_uuid": null,
                        "global": false
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Affinity9": [
          {
            "startTime": 1622541776856,
            "executionTime": 729,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 77707926,
                      "type": 0,
                      "first_name": "Fname_2021-06-01T10:02:53.476Z",
                      "last_name": "Lname_2021-06-01T10:02:53.476Z",
                      "primary_email": "email_1622541776857@test.com",
                      "emails": [
                        "email_1622541776857@test.com"
                      ],
                      "organization_ids": [
                        282128763
                      ]
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Affinity14": [
          {
            "startTime": 1622541777585,
            "executionTime": 621,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 32936534,
                      "list_id": 51365,
                      "creator_id": 73468989,
                      "entity_id": 282305773,
                      "entity_type": 1,
                      "created_at": "2021-06-01T03:02:54.675-07:00",
                      "entity": {
                        "id": 282305773,
                        "name": "TESTCOMPANY1622541771413",
                        "domain": "test.com",
                        "domains": [
                          "test.com"
                        ],
                        "crunchbase_uuid": null,
                        "global": false
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Affinity10": [
          {
            "startTime": 1622541778207,
            "executionTime": 605,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 77707926,
                      "type": 0,
                      "first_name": "Fname_2021-06-01T10:02:53.476Z",
                      "last_name": "Lname_2021-06-01T10:02:53.476Z",
                      "primary_email": "email_1622541776857@test.com",
                      "emails": [
                        "email_1622541776857@test.com"
                      ]
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Affinity15": [
          {
            "startTime": 1622541778813,
            "executionTime": 654,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Affinity11": [
          {
            "startTime": 1622541779468,
            "executionTime": 758,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Affinity1": [
          {
            "startTime": 1622541780227,
            "executionTime": 642,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 282305773,
                      "name": "TESTCOMPANY1622541771413",
                      "domain": "test.com",
                      "domains": [
                        "test.com"
                      ],
                      "crunchbase_uuid": null,
                      "global": false,
                      "person_ids": [
                        42887757,
                        76988774,
                        77047542,
                        77058687,
                        77271831
                      ],
                      "list_entries": []
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Affinity2": [
          {
            "startTime": 1622541780869,
            "executionTime": 638,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 282305773,
                      "name": "TESTCOMPANY1622541771413-UPDATED",
                      "domain": "test.com",
                      "domains": [
                        "test.com"
                      ],
                      "crunchbase_uuid": null,
                      "global": false,
                      "person_ids": [
                        42887757,
                        76988774,
                        77047542,
                        77058687,
                        77271831
                      ]
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Affinity3": [
          {
            "startTime": 1622541781509,
            "executionTime": 772,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Affinity3"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {}
    }
  },
  "mode": "cli",
  "startedAt": "2021-06-01T10:02:51.407Z",
  "stoppedAt": "2021-06-01T10:03:02.282Z",
  "finished": true
}