snapshots/191-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1676027895309,
            "executionTime": 0,
            "source": [],
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "MailerLite": [
          {
            "startTime": 1676027895310,
            "executionTime": 262,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 1486222224984746200,
                      "name": {
                        "object": true
                      },
                      "email": "fake1676027895323@test.com",
                      "sent": 0,
                      "opened": 0,
                      "opened_rate": 0,
                      "clicked": 0,
                      "clicked_rate": 0,
                      "type": "active",
                      "country_id": {
                        "object": true
                      },
                      "signup_ip": "",
                      "signup_timestamp": "",
                      "confirmation_ip": "",
                      "confirmation_timestamp": "",
                      "fields": [
                        "json array"
                      ],
                      "webform_subscribe_date": {
                        "object": true
                      },
                      "date_subscribe": {
                        "object": true
                      },
                      "date_unsubscribe": {
                        "object": true
                      },
                      "date_created": "2023-02-10 11:18:15",
                      "date_updated": "2023-02-10 11:18:15",
                      "user_agent": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "MailerLite1": [
          {
            "startTime": 1676027895572,
            "executionTime": 137,
            "source": [
              {
                "previousNode": "MailerLite"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 1486222224984746200,
                      "name": "",
                      "email": "fake1676027895323@test.com",
                      "sent": 0,
                      "opened": 0,
                      "opened_rate": 0,
                      "clicked": 0,
                      "clicked_rate": 0,
                      "type": "active",
                      "country_id": {
                        "object": true
                      },
                      "signup_ip": "",
                      "signup_timestamp": "",
                      "confirmation_ip": "",
                      "confirmation_timestamp": "",
                      "fields": [
                        "json array"
                      ],
                      "webform_subscribe_date": {
                        "object": true
                      },
                      "date_subscribe": {
                        "object": true
                      },
                      "date_unsubscribe": {
                        "object": true
                      },
                      "date_created": "2023-02-10 11:18:15",
                      "date_updated": "2023-02-10 11:18:15",
                      "user_agent": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "MailerLite2": [
          {
            "startTime": 1676027895709,
            "executionTime": 178,
            "source": [
              {
                "previousNode": "MailerLite1"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 1486222224984746200,
                      "name": "UpdatedName1676027895710",
                      "email": "fake1676027895323@test.com",
                      "sent": 0,
                      "opened": 0,
                      "opened_rate": 0,
                      "clicked": 0,
                      "clicked_rate": 0,
                      "type": "active",
                      "country_id": {
                        "object": true
                      },
                      "signup_ip": "",
                      "signup_timestamp": "",
                      "confirmation_ip": "",
                      "confirmation_timestamp": "",
                      "fields": [
                        "json array"
                      ],
                      "webform_subscribe_date": {
                        "object": true
                      },
                      "date_subscribe": {
                        "object": true
                      },
                      "date_unsubscribe": {
                        "object": true
                      },
                      "date_created": "2023-02-10 11:18:15",
                      "date_updated": "2023-02-10 11:18:15",
                      "user_agent": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "MailerLite3": [
          {
            "startTime": 1676027895887,
            "executionTime": 160,
            "source": [
              {
                "previousNode": "MailerLite2"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 968892253701516000,
                      "name": "",
                      "email": "nodeqa@n8n.io",
                      "sent": 0,
                      "opened": 0,
                      "opened_rate": 0,
                      "clicked": 0,
                      "clicked_rate": 0,
                      "type": "active",
                      "country_id": {
                        "object": true
                      },
                      "signup_ip": {
                        "object": true
                      },
                      "signup_timestamp": {
                        "object": true
                      },
                      "confirmation_ip": {
                        "object": true
                      },
                      "confirmation_timestamp": {
                        "object": true
                      },
                      "fields": [
                        "json array"
                      ],
                      "webform_subscribe_date": {
                        "object": true
                      },
                      "date_subscribe": {
                        "object": true
                      },
                      "date_unsubscribe": {
                        "object": true
                      },
                      "date_created": "2021-02-26 16:35:57",
                      "date_updated": "2021-02-26 16:35:57",
                      "user_agent": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "MailerLite3"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2023-02-10T11:18:15.307Z",
  "stoppedAt": "2023-02-10T11:18:16.047Z",
  "finished": true
}