snapshots/192-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1622541773176,
            "executionTime": 1,
            "data": {
              "main": [
                [
                  {
                    "json": {}
                  }
                ]
              ]
            }
          }
        ],
        "Mattermost": [
          {
            "startTime": 1622541773177,
            "executionTime": 165,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "nhg84pabiprzmxo9tbdb6i4wfe",
                      "create_at": 1622541773263,
                      "update_at": 1622541773263,
                      "delete_at": 0,
                      "team_id": "y1p853gfspdrxre5oextbii7wh",
                      "type": "O",
                      "display_name": "TestChannel1622541773187",
                      "name": "testchannel1622541773187",
                      "header": "",
                      "purpose": "",
                      "last_post_at": 0,
                      "total_msg_count": 0,
                      "extra_update_at": 0,
                      "creator_id": "fo4frgcntiy6jfc63wor76kxpy",
                      "scheme_id": null,
                      "props": null,
                      "group_constrained": null
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mattermost13": [
          {
            "startTime": 1622541773342,
            "executionTime": 185,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "fs947si8b3dof8eo6s3gpwuqfr",
                      "create_at": 1622541773416,
                      "update_at": 1622541773416,
                      "delete_at": 0,
                      "username": "username1622541773347",
                      "auth_data": "",
                      "auth_service": "email",
                      "email": "fake1622541773347@test.com",
                      "nickname": "",
                      "first_name": "",
                      "last_name": "",
                      "position": "",
                      "roles": "system_user",
                      "notify_props": {
                        "channel": "true",
                        "comments": "never",
                        "desktop": "mention",
                        "desktop_sound": "true",
                        "email": "true",
                        "first_name": "false",
                        "mention_keys": "",
                        "push": "mention",
                        "push_status": "away"
                      },
                      "last_password_update": 1622541773416,
                      "locale": "en",
                      "timezone": {
                        "automaticTimezone": "",
                        "manualTimezone": "",
                        "useAutomaticTimezone": "true"
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mattermost1": [
          {
            "startTime": 1622541773528,
            "executionTime": 101,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "channel_id": "nhg84pabiprzmxo9tbdb6i4wfe",
                      "user_id": "4yp7tpa3sbgk9qrf38egttbioo",
                      "roles": "channel_user",
                      "last_viewed_at": 0,
                      "msg_count": 0,
                      "mention_count": 0,
                      "notify_props": {
                        "desktop": "default",
                        "email": "default",
                        "ignore_channel_mentions": "default",
                        "mark_unread": "all",
                        "push": "default"
                      },
                      "last_update_at": 1622541773609,
                      "scheme_guest": false,
                      "scheme_user": true,
                      "scheme_admin": false,
                      "explicit_roles": ""
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mattermost14": [
          {
            "startTime": 1622541773630,
            "executionTime": 80,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "fs947si8b3dof8eo6s3gpwuqfr",
                      "create_at": 1622541773416,
                      "update_at": 1622541773416,
                      "delete_at": 0,
                      "username": "username1622541773347",
                      "auth_data": "",
                      "auth_service": "email",
                      "email": "fake1622541773347@test.com",
                      "nickname": "",
                      "first_name": "",
                      "last_name": "",
                      "position": "",
                      "roles": "system_user",
                      "locale": "en",
                      "timezone": {
                        "automaticTimezone": "",
                        "manualTimezone": "",
                        "useAutomaticTimezone": "true"
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mattermost7": [
          {
            "startTime": 1622541773710,
            "executionTime": 102,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "hog9hecuhi8ktc4igyqozdh9sa",
                      "create_at": 1622541773769,
                      "update_at": 1622541773769,
                      "edit_at": 0,
                      "delete_at": 0,
                      "is_pinned": false,
                      "user_id": "fo4frgcntiy6jfc63wor76kxpy",
                      "channel_id": "nhg84pabiprzmxo9tbdb6i4wfe",
                      "root_id": "",
                      "parent_id": "",
                      "original_id": "",
                      "message": "Message1622541773713",
                      "type": "",
                      "props": {
                        "attachments": null
                      },
                      "hashtags": "",
                      "pending_post_id": "",
                      "reply_count": 0,
                      "metadata": {
                        "embeds": [
                          {
                            "type": "message_attachment"
                          }
                        ]
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mattermost15": [
          {
            "startTime": 1622541773812,
            "executionTime": 70,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "fs947si8b3dof8eo6s3gpwuqfr",
                      "create_at": 1622541773416,
                      "update_at": 1622541773416,
                      "delete_at": 0,
                      "username": "username1622541773347",
                      "auth_data": "",
                      "auth_service": "email",
                      "email": "fake1622541773347@test.com",
                      "nickname": "",
                      "first_name": "",
                      "last_name": "",
                      "position": "",
                      "roles": "system_user",
                      "locale": "en",
                      "timezone": {
                        "automaticTimezone": "",
                        "manualTimezone": "",
                        "useAutomaticTimezone": "true"
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mattermost8": [
          {
            "startTime": 1622541773882,
            "executionTime": 67,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "f1bfoc6zopb5pgeoj7jdpaa55y",
                      "create_at": 1622541773938,
                      "update_at": 0,
                      "edit_at": 0,
                      "delete_at": 0,
                      "is_pinned": false,
                      "user_id": "fo4frgcntiy6jfc63wor76kxpy",
                      "channel_id": "nhg84pabiprzmxo9tbdb6i4wfe",
                      "root_id": "",
                      "parent_id": "",
                      "original_id": "",
                      "message": "EpheMessage1622541773884",
                      "type": "system_ephemeral",
                      "props": {},
                      "hashtags": "",
                      "pending_post_id": "",
                      "reply_count": 0,
                      "metadata": {}
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mattermost16": [
          {
            "startTime": 1622541773949,
            "executionTime": 118,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "hp6pnfry6tfr8nsjbsowcpunah",
                      "create_at": 1619769670089,
                      "update_at": 1619769670089,
                      "delete_at": 0,
                      "username": "channelexport",
                      "auth_data": "",
                      "auth_service": "",
                      "email": "channelexport@localhost",
                      "nickname": "",
                      "first_name": "Channel Export Bot",
                      "last_name": "",
                      "position": "",
                      "roles": "system_user",
                      "locale": "en",
                      "timezone": {
                        "automaticTimezone": "",
                        "manualTimezone": "",
                        "useAutomaticTimezone": "true"
                      },
                      "is_bot": true,
                      "bot_description": "A bot account created by the channel export plugin."
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mattermost10": [
          {
            "startTime": 1622541774068,
            "executionTime": 87,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "user_id": "fo4frgcntiy6jfc63wor76kxpy",
                      "post_id": "hog9hecuhi8ktc4igyqozdh9sa",
                      "emoji_name": "rocket",
                      "create_at": 1622541774069
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mattermost17": [
          {
            "startTime": 1622541774155,
            "executionTime": 76,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "status": "OK"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mattermost11": [
          {
            "startTime": 1622541774231,
            "executionTime": 73,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "user_id": "fo4frgcntiy6jfc63wor76kxpy",
                      "post_id": "hog9hecuhi8ktc4igyqozdh9sa",
                      "emoji_name": "rocket",
                      "create_at": 1622541774069
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mattermost18": [
          {
            "startTime": 1622541774304,
            "executionTime": 86,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "status": "OK"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mattermost12": [
          {
            "startTime": 1622541774390,
            "executionTime": 83,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "status": "OK"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mattermost9": [
          {
            "startTime": 1622541774474,
            "executionTime": 85,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "status": "OK"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mattermost2": [
          {
            "startTime": 1622541774559,
            "executionTime": 157,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "4yp7tpa3sbgk9qrf38egttbioo",
                      "create_at": 1619771361034,
                      "update_at": 1619771362666,
                      "delete_at": 0,
                      "username": "fixedaccount",
                      "auth_data": "",
                      "auth_service": "",
                      "email": "fixedaccount@test.com",
                      "nickname": "",
                      "first_name": "",
                      "last_name": "",
                      "position": "",
                      "roles": "system_user",
                      "locale": "en",
                      "timezone": {
                        "automaticTimezone": "Europe/Paris",
                        "manualTimezone": "",
                        "useAutomaticTimezone": "true"
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mattermost3": [
          {
            "startTime": 1622541774717,
            "executionTime": 86,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "channel_id": "nhg84pabiprzmxo9tbdb6i4wfe",
                      "member_count": 2,
                      "guest_count": 0,
                      "pinnedpost_count": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mattermost4": [
          {
            "startTime": 1622541774804,
            "executionTime": 97,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "status": "OK"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mattermost5": [
          {
            "startTime": 1622541774902,
            "executionTime": 90,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "nhg84pabiprzmxo9tbdb6i4wfe",
                      "create_at": 1622541773263,
                      "update_at": 1622541774887,
                      "delete_at": 0,
                      "team_id": "y1p853gfspdrxre5oextbii7wh",
                      "type": "O",
                      "display_name": "TestChannel1622541773187",
                      "name": "testchannel1622541773187",
                      "header": "",
                      "purpose": "",
                      "last_post_at": 1622541774875,
                      "total_msg_count": 2,
                      "extra_update_at": 0,
                      "creator_id": "fo4frgcntiy6jfc63wor76kxpy",
                      "scheme_id": null,
                      "props": null,
                      "group_constrained": null
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mattermost6": [
          {
            "startTime": 1622541774992,
            "executionTime": 96,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "status": "OK"
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Mattermost6"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {}
    }
  },
  "mode": "cli",
  "startedAt": "2021-06-01T10:02:53.171Z",
  "stoppedAt": "2021-06-01T10:02:55.089Z",
  "finished": true
}