snapshots/194-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "hints": [],
            "startTime": 1722863135775,
            "executionTime": 0,
            "source": [],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mailjet": [
          {
            "hints": [],
            "startTime": 1722863135775,
            "executionTime": 157,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "Status": "success",
                      "CustomID": "",
                      "To": [
                        "json array"
                      ],
                      "Cc": [
                        "json array"
                      ],
                      "Bcc": [
                        "json array"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mailjet2": [
          {
            "hints": [],
            "startTime": 1722863135933,
            "executionTime": 0,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mailjet1": [
          {
            "hints": [],
            "startTime": 1722863135933,
            "executionTime": 142,
            "source": [
              {
                "previousNode": "Mailjet"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "Status": "success",
                      "CustomID": "",
                      "To": [
                        "json array"
                      ],
                      "Cc": [
                        "json array"
                      ],
                      "Bcc": [
                        "json array"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Mailjet1"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2024-08-05T13:05:35.775Z",
  "stoppedAt": "2024-08-05T13:05:36.076Z",
  "status": "running",
  "finished": true
}