snapshots/194-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1710331895402,
            "executionTime": 0,
            "source": [],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mailjet": [
          {
            "startTime": 1710331895402,
            "executionTime": 136,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "Status": "success",
                      "CustomID": "",
                      "To": [
                        "json array"
                      ],
                      "Cc": [
                        "json array"
                      ],
                      "Bcc": [
                        "json array"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mailjet2": [
          {
            "startTime": 1710331895538,
            "executionTime": 0,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mailjet1": [
          {
            "startTime": 1710331895538,
            "executionTime": 111,
            "source": [
              {
                "previousNode": "Mailjet"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "Status": "success",
                      "CustomID": "",
                      "To": [
                        "json array"
                      ],
                      "Cc": [
                        "json array"
                      ],
                      "Bcc": [
                        "json array"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Mailjet1"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2024-03-13T12:11:35.402Z",
  "stoppedAt": "2024-03-13T12:11:35.649Z",
  "status": "running",
  "finished": true
}