snapshots/195-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1706635222769,
            "executionTime": 0,
            "source": [],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Kitemaker1": [
          {
            "startTime": 1706635222769,
            "executionTime": 359,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "0f42cd20b0617400",
                      "name": "n8n-qa",
                      "labels": [
                        "json array"
                      ],
                      "statuses": [
                        "json array"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Kitemaker": [
          {
            "startTime": 1706635223128,
            "executionTime": 164,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "0f42cd2088617400",
                      "name": "n8n-qa"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Kitemaker2": [
          {
            "startTime": 1706635223292,
            "executionTime": 121,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "0f42ccbcb93d4000",
                      "username": "node8qa"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Kitemaker3": [
          {
            "startTime": 1706635223413,
            "executionTime": 201,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "236d11fc2138f800",
                      "number": "1245",
                      "title": "WorkItem1706635223415",
                      "description": "",
                      "status": {
                        "object": true
                      },
                      "members": [
                        "json array"
                      ],
                      "watchers": [
                        "json array"
                      ],
                      "labels": [
                        "json array"
                      ],
                      "effort": {
                        "object": true
                      },
                      "impact": {
                        "object": true
                      },
                      "updatedAt": 1706635223561,
                      "createdAt": 1706635223561
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Kitemaker4": [
          {
            "startTime": 1706635223615,
            "executionTime": 174,
            "source": [
              {
                "previousNode": "Kitemaker3"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "236d11fc2138f800",
                      "number": "1245",
                      "title": "WorkItem1706635223415",
                      "description": "",
                      "status": {
                        "object": true
                      },
                      "sort": "s",
                      "members": [
                        "json array"
                      ],
                      "watchers": [
                        "json array"
                      ],
                      "labels": [
                        "json array"
                      ],
                      "comments": [
                        "json array"
                      ],
                      "effort": {
                        "object": true
                      },
                      "impact": {
                        "object": true
                      },
                      "updatedAt": 1706635223561,
                      "createdAt": 1706635223561
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Kitemaker5": [
          {
            "startTime": 1706635223789,
            "executionTime": 173,
            "source": [
              {
                "previousNode": "Kitemaker4"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "0f42cd2103617400",
                      "title": "Use arrow keys to navigate work items",
                      "description": "# Things to explore\n\n- [ ] Press the little + sign to the top right to see different types of meta data you can add to work items\n- [ ] Learn some markdown\n  - [ ] `#` On an empty line creates a headline (type ## and ### for sub headlines)\n  - [ ] Type `**` or `__` before and after a section of text to make it **bold**\n  - [ ] Type `*` or `_` before and after a section of text to make it _italic_\n  - [ ] Type `´`  before and after a section of text to make it `a code block`\n  - [ ] Type `*` followed by space on an empty line to make bullet points\n  - [ ] Type `[]` followed by space on an empty line to make todo-lists\n  - [ ] Type `1.` followed by space on an empty line to make numbered lists\n  - [ ] Type `$$` before and after Tex expression $$\\frac{1}{100}$$\n- [ ] Check out our integrations\n- [ ] Make comments (they support everything the description field supports)\n- [ ] Invite your team\n- [ ] Learn hotkeys:\n  - [ ] Hovering elements gives you hotkey tips. Hover this sections to see that `D` lets you edit the description\n  - [ ] Other times the hotkey hints are in the UI. If you look at the right section of this screen, `R` adds a new comment\n  - [ ] Pressing `?` gives you a searchable list of all hotkeys\n  - [ ] In the Kitemaker command (open it by pressing `CTRL/CMD+k`) you will also be able to see the hotkeys for the commands\n  - [ ] When you have long descriptions use `SPACE` and `SHIFT+SPACE` to scroll up and down\n\n",
                      "labels": [
                        "json array"
                      ],
                      "comments": [
                        "json array"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Kitemaker6": [
          {
            "startTime": 1706635223962,
            "executionTime": 205,
            "source": [
              {
                "previousNode": "Kitemaker5"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "236d11fc2138f800",
                      "number": "1245",
                      "title": "UpdatedWorkItem1706635223415",
                      "description": "",
                      "status": {
                        "object": true
                      },
                      "members": [
                        "json array"
                      ],
                      "watchers": [
                        "json array"
                      ],
                      "labels": [
                        "json array"
                      ],
                      "effort": {
                        "object": true
                      },
                      "impact": {
                        "object": true
                      },
                      "updatedAt": 1706635224110,
                      "createdAt": 1706635223561
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Kitemaker6"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2024-01-30T17:20:22.768Z",
  "stoppedAt": "2024-01-30T17:20:24.167Z",
  "status": "running",
  "finished": true
}