snapshots/20-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1676026052648,
            "executionTime": 0,
            "source": [],
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Hubspot6": [
          {
            "startTime": 1676026052649,
            "executionTime": 353,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "portalId": 9435114,
                      "companyId": 12451588911,
                      "isDeleted": false,
                      "properties": {
                        "object": true
                      },
                      "additionalDomains": [
                        "json array"
                      ],
                      "stateChanges": [
                        "json array"
                      ],
                      "mergeAudits": [
                        "json array"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Hubspot": [
          {
            "startTime": 1676026053002,
            "executionTime": 552,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "vid": 19501,
                      "canonical-vid": 19501,
                      "merged-vids": [
                        "json array"
                      ],
                      "portal-id": 9435114,
                      "is-contact": true,
                      "properties": {
                        "object": true
                      },
                      "form-submissions": [
                        "json array"
                      ],
                      "list-memberships": [
                        "json array"
                      ],
                      "identity-profiles": [
                        "json array"
                      ],
                      "merge-audits": [
                        "json array"
                      ],
                      "isNew": false
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Hubspot7": [
          {
            "startTime": 1676026053555,
            "executionTime": 235,
            "source": [
              {
                "previousNode": "Hubspot6"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "portalId": 9435114,
                      "companyId": 5386687576,
                      "isDeleted": false,
                      "properties": {
                        "object": true
                      },
                      "additionalDomains": [
                        "json array"
                      ],
                      "stateChanges": [
                        "json array"
                      ],
                      "mergeAudits": [
                        "json array"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Sleep 0.5 second": [
          {
            "startTime": 1676026053791,
            "executionTime": 509,
            "source": [
              {
                "previousNode": "Hubspot"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "vid": 19501,
                      "canonical-vid": 19501,
                      "merged-vids": [
                        "json array"
                      ],
                      "portal-id": 9435114,
                      "is-contact": true,
                      "properties": {
                        "object": true
                      },
                      "form-submissions": [
                        "json array"
                      ],
                      "list-memberships": [
                        "json array"
                      ],
                      "identity-profiles": [
                        "json array"
                      ],
                      "merge-audits": [
                        "json array"
                      ],
                      "isNew": false
                    },
                    "pairedItem": {
                      "item": 0
                    },
                    "index": 0
                  }
                ]
              ]
            }
          }
        ],
        "Hubspot9": [
          {
            "startTime": 1676026054301,
            "executionTime": 224,
            "source": [
              {
                "previousNode": "Hubspot7"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "portalId": 9435114,
                      "companyId": 5441478717,
                      "isDeleted": false,
                      "properties": {
                        "object": true
                      },
                      "additionalDomains": [
                        "json array"
                      ],
                      "stateChanges": [
                        "json array"
                      ],
                      "mergeAudits": [
                        "json array"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Hubspot2": [
          {
            "startTime": 1676026054525,
            "executionTime": 268,
            "source": [
              {
                "previousNode": "Sleep 0.5 second"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "vid": 19501,
                      "canonical-vid": 19501,
                      "merged-vids": [
                        "json array"
                      ],
                      "portal-id": 9435114,
                      "is-contact": true,
                      "properties": {
                        "object": true
                      },
                      "form-submissions": [
                        "json array"
                      ],
                      "identity-profiles": [
                        "json array"
                      ],
                      "merge-audits": [
                        "json array"
                      ],
                      "addedAt": 1641349488565
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Hubspot8": [
          {
            "startTime": 1676026054793,
            "executionTime": 282,
            "source": [
              {
                "previousNode": "Hubspot9"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "portalId": 9435114,
                      "companyId": 12451588911,
                      "isDeleted": false,
                      "properties": {
                        "object": true
                      },
                      "additionalDomains": [
                        "json array"
                      ],
                      "stateChanges": [
                        "json array"
                      ],
                      "mergeAudits": [
                        "json array"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Sleep 0.5 second1": [
          {
            "startTime": 1676026055078,
            "executionTime": 505,
            "source": [
              {
                "previousNode": "Hubspot2"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "vid": 19501,
                      "canonical-vid": 19501,
                      "merged-vids": [
                        "json array"
                      ],
                      "portal-id": 9435114,
                      "is-contact": true,
                      "properties": {
                        "object": true
                      },
                      "form-submissions": [
                        "json array"
                      ],
                      "identity-profiles": [
                        "json array"
                      ],
                      "merge-audits": [
                        "json array"
                      ],
                      "addedAt": 1641349488565
                    },
                    "pairedItem": {
                      "item": 0
                    },
                    "index": 0
                  }
                ]
              ]
            }
          }
        ],
        "Hubspot10": [
          {
            "startTime": 1676026055583,
            "executionTime": 267,
            "source": [
              {
                "previousNode": "Hubspot8"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "portalId": 9435114,
                      "companyId": 12451588911,
                      "isDeleted": false,
                      "properties": {
                        "object": true
                      },
                      "additionalDomains": [
                        "json array"
                      ],
                      "stateChanges": [
                        "json array"
                      ],
                      "mergeAudits": [
                        "json array"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Hubspot3": [
          {
            "startTime": 1676026055850,
            "executionTime": 229,
            "source": [
              {
                "previousNode": "Sleep 0.5 second1"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "19901",
                      "properties": {
                        "object": true
                      },
                      "createdAt": "2022-12-13T09:38:40.693Z",
                      "updatedAt": "2022-12-13T09:38:55.035Z",
                      "archived": false
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Hubspot11": [
          {
            "startTime": 1676026056079,
            "executionTime": 239,
            "source": [
              {
                "previousNode": "Hubspot10"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "portalId": 9435114,
                      "companyId": 12451588911,
                      "isDeleted": false,
                      "properties": {
                        "object": true
                      },
                      "additionalDomains": [
                        "json array"
                      ],
                      "stateChanges": [
                        "json array"
                      ],
                      "mergeAudits": [
                        "json array"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Function": [
          {
            "startTime": 1676026056319,
            "executionTime": 1504,
            "source": [
              {
                "previousNode": "Hubspot3"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "19901",
                      "properties": {
                        "object": true
                      },
                      "createdAt": "2022-12-13T09:38:40.693Z",
                      "updatedAt": "2022-12-13T09:38:55.035Z",
                      "archived": false
                    },
                    "pairedItem": {
                      "item": 0
                    },
                    "index": 0
                  }
                ]
              ]
            }
          }
        ],
        "Hubspot12": [
          {
            "startTime": 1676026057824,
            "executionTime": 261,
            "source": [
              {
                "previousNode": "Hubspot11"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "companyId": 12451588911,
                      "deleted": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Hubspot1": [
          {
            "startTime": 1676026058086,
            "executionTime": 222,
            "source": [
              {
                "previousNode": "Function"
              }
            ],
            "data": {
              "main": [
                []
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Hubspot1"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2023-02-10T10:47:32.644Z",
  "stoppedAt": "2023-02-10T10:47:38.309Z",
  "finished": true
}