snapshots/20-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1622802797299,
            "executionTime": 0,
            "data": {
              "main": [
                [
                  {
                    "json": {}
                  }
                ]
              ]
            }
          }
        ],
        "Hubspot6": [
          {
            "startTime": 1622802797300,
            "executionTime": 336,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "portalId": 9435114,
                      "companyId": 6190645077,
                      "isDeleted": false,
                      "properties": {
                        "object": true
                      },
                      "additionalDomains": [
                        "json array"
                      ],
                      "stateChanges": [
                        "json array"
                      ],
                      "mergeAudits": [
                        "json array"
                      ]
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Hubspot": [
          {
            "startTime": 1622802797637,
            "executionTime": 700,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "vid": 9951,
                      "canonical-vid": 9951,
                      "merged-vids": [
                        "json array"
                      ],
                      "portal-id": 9435114,
                      "is-contact": true,
                      "properties": {
                        "object": true
                      },
                      "form-submissions": [
                        "json array"
                      ],
                      "list-memberships": [
                        "json array"
                      ],
                      "identity-profiles": [
                        "json array"
                      ],
                      "merge-audits": [
                        "json array"
                      ],
                      "isNew": true
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Hubspot7": [
          {
            "startTime": 1622802798338,
            "executionTime": 281,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "portalId": 9435114,
                      "companyId": 5386687576,
                      "isDeleted": false,
                      "properties": {
                        "object": true
                      },
                      "additionalDomains": [
                        "json array"
                      ],
                      "stateChanges": [
                        "json array"
                      ],
                      "mergeAudits": [
                        "json array"
                      ]
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Hubspot2": [
          {
            "startTime": 1622802798619,
            "executionTime": 331,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "addedAt": 1613502000930,
                      "vid": 251,
                      "canonical-vid": 251,
                      "merged-vids": [
                        "json array"
                      ],
                      "portal-id": 9435114,
                      "is-contact": true,
                      "properties": {
                        "object": true
                      },
                      "form-submissions": [
                        "json array"
                      ],
                      "identity-profiles": [
                        "json array"
                      ],
                      "merge-audits": [
                        "json array"
                      ]
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Hubspot9": [
          {
            "startTime": 1622802798951,
            "executionTime": 218,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "portalId": 9435114,
                      "companyId": 5441478717,
                      "isDeleted": false,
                      "properties": {
                        "object": true
                      },
                      "additionalDomains": [
                        "json array"
                      ],
                      "stateChanges": [
                        "json array"
                      ],
                      "mergeAudits": [
                        "json array"
                      ]
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Hubspot3": [
          {
            "startTime": 1622802799169,
            "executionTime": 271,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "251",
                      "properties": {
                        "object": true
                      },
                      "createdAt": "2021-02-16T19:00:00.764Z",
                      "updatedAt": "2021-02-16T19:00:02.964Z",
                      "archived": false
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Hubspot8": [
          {
            "startTime": 1622802799441,
            "executionTime": 258,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "portalId": 9435114,
                      "companyId": 6173850234,
                      "isDeleted": false,
                      "properties": {
                        "object": true
                      },
                      "additionalDomains": [
                        "json array"
                      ],
                      "stateChanges": [
                        "json array"
                      ],
                      "mergeAudits": [
                        "json array"
                      ]
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Function": [
          {
            "startTime": 1622802799700,
            "executionTime": 5,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "251",
                      "properties": {
                        "object": true
                      },
                      "createdAt": "2021-02-16T19:00:00.764Z",
                      "updatedAt": "2021-02-16T19:00:02.964Z",
                      "archived": false
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Hubspot10": [
          {
            "startTime": 1622802799705,
            "executionTime": 284,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "portalId": 9435114,
                      "companyId": 6190645077,
                      "isDeleted": false,
                      "properties": {
                        "object": true
                      },
                      "additionalDomains": [
                        "json array"
                      ],
                      "stateChanges": [
                        "json array"
                      ],
                      "mergeAudits": [
                        "json array"
                      ]
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Hubspot1": [
          {
            "startTime": 1622802799990,
            "executionTime": 254,
            "data": {
              "main": [
                []
              ]
            }
          }
        ],
        "Hubspot11": [
          {
            "startTime": 1622802800244,
            "executionTime": 284,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "portalId": 9435114,
                      "companyId": 6190645077,
                      "isDeleted": false,
                      "properties": {
                        "object": true
                      },
                      "additionalDomains": [
                        "json array"
                      ],
                      "stateChanges": [
                        "json array"
                      ],
                      "mergeAudits": [
                        "json array"
                      ]
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Hubspot12": [
          {
            "startTime": 1622802800528,
            "executionTime": 282,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "companyId": 6190645077,
                      "deleted": true
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Hubspot12"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {}
    }
  },
  "mode": "cli",
  "startedAt": "2021-06-04T10:33:17.294Z",
  "stoppedAt": "2021-06-04T10:33:20.811Z",
  "finished": true
}