snapshots/205-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1676027899698,
            "executionTime": 1,
            "source": [],
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Pushover": [
          {
            "startTime": 1676027899699,
            "executionTime": 702,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "info": "no active devices to send to",
                      "status": 1,
                      "request": "304ca448-e611-447a-9e9e-f1258057d590"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Pushover"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2023-02-10T11:18:19.697Z",
  "stoppedAt": "2023-02-10T11:18:20.401Z",
  "finished": true
}