snapshots/21-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1676026052538,
            "executionTime": 1,
            "source": [],
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Hubspot8": [
          {
            "startTime": 1676026052539,
            "executionTime": 455,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "portalId": 9435114,
                      "objectType": "TICKET",
                      "objectId": 1428193632,
                      "properties": {
                        "object": true
                      },
                      "isDeleted": false
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Hubspot": [
          {
            "startTime": 1676026052994,
            "executionTime": 325,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "portalId": 9435114,
                      "dealId": 12097349171,
                      "isDeleted": false,
                      "associations": {
                        "object": true
                      },
                      "properties": {
                        "object": true
                      },
                      "stateChanges": [
                        "json array"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Hubspot9": [
          {
            "startTime": 1676026053319,
            "executionTime": 255,
            "source": [
              {
                "previousNode": "Hubspot8"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "portalId": 9435114,
                      "objectType": "TICKET",
                      "objectId": 1428193632,
                      "properties": {
                        "object": true
                      },
                      "version": 1,
                      "isDeleted": false
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Hubspot4": [
          {
            "startTime": 1676026053574,
            "executionTime": 256,
            "source": [
              {
                "previousNode": "Hubspot"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "portalId": 9435114,
                      "dealId": 12097349171,
                      "isDeleted": false,
                      "associations": {
                        "object": true
                      },
                      "properties": {
                        "object": true
                      },
                      "stateChanges": [
                        "json array"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Hubspot10": [
          {
            "startTime": 1676026053830,
            "executionTime": 217,
            "source": [
              {
                "previousNode": "Hubspot9"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "portalId": 9435114,
                      "objectType": "TICKET",
                      "objectId": 855323460,
                      "properties": {
                        "object": true
                      },
                      "isDeleted": false
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Hubspot1": [
          {
            "startTime": 1676026054047,
            "executionTime": 276,
            "source": [
              {
                "previousNode": "Hubspot4"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "portalId": 9435114,
                      "dealId": 4167790328,
                      "isDeleted": false,
                      "associations": {
                        "object": true
                      },
                      "properties": {
                        "object": true
                      },
                      "stateChanges": [
                        "json array"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Hubspot11": [
          {
            "startTime": 1676026054323,
            "executionTime": 203,
            "source": [
              {
                "previousNode": "Hubspot10"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "portalId": 9435114,
                      "objectType": "TICKET",
                      "objectId": 855323460,
                      "properties": {
                        "object": true
                      },
                      "isDeleted": false
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Hubspot3": [
          {
            "startTime": 1676026054526,
            "executionTime": 248,
            "source": [
              {
                "previousNode": "Hubspot1"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "12097406897",
                      "properties": {
                        "object": true
                      },
                      "createdAt": "2023-02-10T10:37:11.510Z",
                      "updatedAt": "2023-02-10T10:37:12.560Z",
                      "archived": false
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Hubspot12": [
          {
            "startTime": 1676026054774,
            "executionTime": 240,
            "source": [
              {
                "previousNode": "Hubspot11"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Hubspot5": [
          {
            "startTime": 1676026055014,
            "executionTime": 249,
            "source": [
              {
                "previousNode": "Hubspot3"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "portalId": 9435114,
                      "dealId": 12097349171,
                      "isDeleted": false,
                      "associations": {
                        "object": true
                      },
                      "properties": {
                        "object": true
                      },
                      "stateChanges": [
                        "json array"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Hubspot7": [
          {
            "startTime": 1676026055263,
            "executionTime": 290,
            "source": [
              {
                "previousNode": "Hubspot5"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "portalId": 9435114,
                      "dealId": 12097349171,
                      "isDeleted": false,
                      "associations": {
                        "object": true
                      },
                      "properties": {
                        "object": true
                      },
                      "stateChanges": [
                        "json array"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Hubspot2": [
          {
            "startTime": 1676026055554,
            "executionTime": 425,
            "source": [
              {
                "previousNode": "Hubspot7"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "portalId": 9435114,
                      "dealId": 12097349171,
                      "isDeleted": false,
                      "associations": {
                        "object": true
                      },
                      "properties": {
                        "object": true
                      },
                      "stateChanges": [
                        "json array"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Hubspot6": [
          {
            "startTime": 1676026055980,
            "executionTime": 245,
            "source": [
              {
                "previousNode": "Hubspot2"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Hubspot6"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2023-02-10T10:47:32.534Z",
  "stoppedAt": "2023-02-10T10:47:36.225Z",
  "finished": true
}