snapshots/212-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "hints": [],
            "startTime": 1722863140233,
            "executionTime": 0,
            "source": [],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Delete existing dir": [
          {
            "hints": [],
            "startTime": 1722863140234,
            "executionTime": 16,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "exitCode": 0,
                      "stderr": "",
                      "stdout": ""
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Git": [
          {
            "hints": [],
            "startTime": 1722863140250,
            "executionTime": 712,
            "source": [
              {
                "previousNode": "Delete existing dir"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Git1": [
          {
            "hints": [],
            "startTime": 1722863140963,
            "executionTime": 11,
            "source": [
              {
                "previousNode": "Git"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "_file": ".git/config"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Git2": [
          {
            "hints": [],
            "startTime": 1722863140974,
            "executionTime": 60,
            "source": [
              {
                "previousNode": "Git1"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Git7": [
          {
            "hints": [],
            "startTime": 1722863141035,
            "executionTime": 61,
            "source": [
              {
                "previousNode": "Git2"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Add file to dir": [
          {
            "hints": [],
            "startTime": 1722863141096,
            "executionTime": 17,
            "source": [
              {
                "previousNode": "Git7"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "exitCode": 0,
                      "stderr": "",
                      "stdout": ""
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Git3": [
          {
            "hints": [],
            "startTime": 1722863141113,
            "executionTime": 65,
            "source": [
              {
                "previousNode": "Add file to dir"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Git4": [
          {
            "hints": [],
            "startTime": 1722863141178,
            "executionTime": 16,
            "source": [
              {
                "previousNode": "Git3"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "not_added": [
                        "json array"
                      ],
                      "conflicted": [
                        "json array"
                      ],
                      "created": [
                        "json array"
                      ],
                      "deleted": [
                        "json array"
                      ],
                      "modified": [
                        "json array"
                      ],
                      "renamed": [
                        "json array"
                      ],
                      "files": [
                        "json array"
                      ],
                      "staged": [
                        "json array"
                      ],
                      "ahead": 0,
                      "behind": 0,
                      "current": "main",
                      "tracking": "origin/main",
                      "detached": false
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Git5": [
          {
            "hints": [],
            "startTime": 1722863141194,
            "executionTime": 30,
            "source": [
              {
                "previousNode": "Git4"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Git6": [
          {
            "hints": [],
            "startTime": 1722863141224,
            "executionTime": 12,
            "source": [
              {
                "previousNode": "Git5"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "hash": "c7a999cc99375e4876823557bf6681d7a251fdd9",
                      "date": "2024-08-05T15:05:41+02:00",
                      "message": "GitNode commit Mon, 05 Aug 2024 13:05:41 GMT",
                      "refs": "HEAD -> main",
                      "body": "",
                      "author_name": "nodemationqa",
                      "author_email": "nodeqa@n8n.io"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Git8": [
          {
            "hints": [],
            "startTime": 1722863141236,
            "executionTime": 66,
            "source": [
              {
                "previousNode": "Git6"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Git9": [
          {
            "hints": [],
            "startTime": 1722863141302,
            "executionTime": 0,
            "source": [
              {
                "previousNode": "Git8"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Git10": [
          {
            "hints": [],
            "startTime": 1722863141302,
            "executionTime": 0,
            "source": [
              {
                "previousNode": "Git9"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Git11": [
          {
            "hints": [],
            "startTime": 1722863141302,
            "executionTime": 0,
            "source": [
              {
                "previousNode": "Git10"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Git12": [
          {
            "hints": [],
            "startTime": 1722863141302,
            "executionTime": 478,
            "source": [
              {
                "previousNode": "Git11"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Git13": [
          {
            "hints": [],
            "startTime": 1722863141781,
            "executionTime": 0,
            "source": [
              {
                "previousNode": "Git12"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Git13"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2024-08-05T13:05:40.233Z",
  "stoppedAt": "2024-08-05T13:05:41.781Z",
  "status": "running",
  "finished": true
}