snapshots/212-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "hints": [],
            "startTime": 1732699050586,
            "executionTime": 0,
            "source": [],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Delete existing dir": [
          {
            "hints": [],
            "startTime": 1732699050586,
            "executionTime": 9,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "exitCode": 0,
                      "stderr": "",
                      "stdout": ""
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Git": [
          {
            "hints": [],
            "startTime": 1732699050595,
            "executionTime": 811,
            "source": [
              {
                "previousNode": "Delete existing dir"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Git1": [
          {
            "hints": [],
            "startTime": 1732699051406,
            "executionTime": 8,
            "source": [
              {
                "previousNode": "Git"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "_file": ".git/config"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Git2": [
          {
            "hints": [],
            "startTime": 1732699051414,
            "executionTime": 62,
            "source": [
              {
                "previousNode": "Git1"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Git7": [
          {
            "hints": [],
            "startTime": 1732699051476,
            "executionTime": 59,
            "source": [
              {
                "previousNode": "Git2"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Add file to dir": [
          {
            "hints": [],
            "startTime": 1732699051535,
            "executionTime": 17,
            "source": [
              {
                "previousNode": "Git7"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "exitCode": 0,
                      "stderr": "",
                      "stdout": ""
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Git3": [
          {
            "hints": [],
            "startTime": 1732699051552,
            "executionTime": 58,
            "source": [
              {
                "previousNode": "Add file to dir"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Git4": [
          {
            "hints": [],
            "startTime": 1732699051610,
            "executionTime": 11,
            "source": [
              {
                "previousNode": "Git3"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "not_added": [
                        "json array"
                      ],
                      "conflicted": [
                        "json array"
                      ],
                      "created": [
                        "json array"
                      ],
                      "deleted": [
                        "json array"
                      ],
                      "modified": [
                        "json array"
                      ],
                      "renamed": [
                        "json array"
                      ],
                      "files": [
                        "json array"
                      ],
                      "staged": [
                        "json array"
                      ],
                      "ahead": 0,
                      "behind": 0,
                      "current": "main",
                      "tracking": "origin/main",
                      "detached": false
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Git5": [
          {
            "hints": [],
            "startTime": 1732699051621,
            "executionTime": 17,
            "source": [
              {
                "previousNode": "Git4"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Git6": [
          {
            "hints": [],
            "startTime": 1732699051638,
            "executionTime": 11,
            "source": [
              {
                "previousNode": "Git5"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "hash": "37eb932b59d10630b341b479854bbbbd29d12066",
                      "date": "2024-11-27T10:17:31+01:00",
                      "message": "GitNode commit Wed, 27 Nov 2024 09:17:31 GMT",
                      "refs": "HEAD -> main",
                      "body": "",
                      "author_name": "nodemationqa",
                      "author_email": "nodeqa@n8n.io"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Git8": [
          {
            "hints": [],
            "startTime": 1732699051649,
            "executionTime": 64,
            "source": [
              {
                "previousNode": "Git6"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Git9": [
          {
            "hints": [],
            "startTime": 1732699051713,
            "executionTime": 0,
            "source": [
              {
                "previousNode": "Git8"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Git10": [
          {
            "hints": [],
            "startTime": 1732699051713,
            "executionTime": 1,
            "source": [
              {
                "previousNode": "Git9"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Git11": [
          {
            "hints": [],
            "startTime": 1732699051714,
            "executionTime": 0,
            "source": [
              {
                "previousNode": "Git10"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Git12": [
          {
            "hints": [],
            "startTime": 1732699051714,
            "executionTime": 466,
            "source": [
              {
                "previousNode": "Git11"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Git13": [
          {
            "hints": [],
            "startTime": 1732699052181,
            "executionTime": 0,
            "source": [
              {
                "previousNode": "Git12"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Git13"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2024-11-27T09:17:30.585Z",
  "stoppedAt": "2024-11-27T09:17:32.181Z",
  "status": "running",
  "finished": true
}