snapshots/216-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1676026089472,
            "executionTime": 1,
            "source": [],
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Handle JSON data": [
          {
            "startTime": 1676026089473,
            "executionTime": 20,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "arr": [
                        "json array"
                      ],
                      "str": "Testing Function Item node",
                      "num": 1337,
                      "obj": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Handle Binary data": [
          {
            "startTime": 1676026089494,
            "executionTime": 2,
            "source": [
              {
                "previousNode": "Handle JSON data"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "arr": [
                        "json array"
                      ],
                      "str": "Testing Function Item node",
                      "num": 1337,
                      "obj": {
                        "object": true
                      },
                      "binaryData": "NIL"
                    },
                    "pairedItem": {
                      "item": 0
                    },
                    "binary": {
                      "data": {
                        "data": "SGVsbG8gZnJvbSBuOG4gRnVuY3Rpb24gaXRlbSB0ZXN0aW5nIHdvcmtmbG93",
                        "mimeType": "text",
                        "fileExtension": "text",
                        "fileName": "testfile"
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Handle Static data": [
          {
            "startTime": 1676026089496,
            "executionTime": 4,
            "source": [
              {
                "previousNode": "Handle Binary data"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "arr": [
                        "json array"
                      ],
                      "str": "Testing Function Item node",
                      "num": 1337,
                      "obj": {
                        "object": true
                      },
                      "binaryData": "NIL",
                      "globalStaticMessage": "Hello, Global Static Data",
                      "nodeStaticMessage": "Hello, Node Static Data"
                    },
                    "pairedItem": {
                      "item": 0
                    },
                    "binary": {
                      "data": {
                        "data": "SGVsbG8gZnJvbSBuOG4gRnVuY3Rpb24gaXRlbSB0ZXN0aW5nIHdvcmtmbG93",
                        "mimeType": "text",
                        "fileExtension": "text",
                        "fileName": "testfile"
                      }
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Handle Static data"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2023-02-10T10:48:09.471Z",
  "stoppedAt": "2023-02-10T10:48:09.500Z",
  "finished": true
}