snapshots/221-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1625825077774,
            "executionTime": 0,
            "data": {
              "main": [
                [
                  {
                    "json": {}
                  }
                ]
              ]
            }
          }
        ],
        "Copper": [
          {
            "startTime": 1625825077775,
            "executionTime": 1552,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 54204469,
                      "name": "Company1625825077776",
                      "address": {
                        "object": true
                      },
                      "assignee_id": {
                        "object": true
                      },
                      "contact_type_id": {
                        "object": true
                      },
                      "details": "Description",
                      "email_domain": "test1625825077777",
                      "phone_numbers": [
                        "json array"
                      ],
                      "socials": [
                        "json array"
                      ],
                      "tags": [
                        "json array"
                      ],
                      "websites": [
                        "json array"
                      ],
                      "custom_fields": [
                        "json array"
                      ],
                      "interaction_count": 0,
                      "date_created": 1625825079,
                      "date_modified": 1625825079
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Copper6": [
          {
            "startTime": 1625825079329,
            "executionTime": 1172,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 120884839,
                      "name": "Person1625825079330",
                      "prefix": {
                        "object": true
                      },
                      "first_name": "Person1625825079330",
                      "middle_name": {
                        "object": true
                      },
                      "last_name": {
                        "object": true
                      },
                      "suffix": {
                        "object": true
                      },
                      "address": {
                        "object": true
                      },
                      "assignee_id": {
                        "object": true
                      },
                      "company_id": {
                        "object": true
                      },
                      "company_name": {
                        "object": true
                      },
                      "contact_type_id": 1774299,
                      "details": "Person description - Test",
                      "emails": [
                        "json array"
                      ],
                      "phone_numbers": [
                        "json array"
                      ],
                      "socials": [
                        "json array"
                      ],
                      "tags": [
                        "json array"
                      ],
                      "title": {
                        "object": true
                      },
                      "websites": [
                        "json array"
                      ],
                      "custom_fields": [
                        "json array"
                      ],
                      "date_created": 1625825080,
                      "date_modified": 1625825080,
                      "date_last_contacted": {
                        "object": true
                      },
                      "interaction_count": 0,
                      "leads_converted_from": [
                        "json array"
                      ],
                      "date_lead_created": {
                        "object": true
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Copper11": [
          {
            "startTime": 1625825080502,
            "executionTime": 1480,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 1256548,
                      "name": "Project1625825080504",
                      "related_resource": {
                        "object": true
                      },
                      "assignee_id": {
                        "object": true
                      },
                      "status": "Open",
                      "details": "Detail projects - Test",
                      "tags": [
                        "json array"
                      ],
                      "custom_fields": [
                        "json array"
                      ],
                      "date_created": 1625825081,
                      "date_modified": 1625825081
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Copper16": [
          {
            "startTime": 1625825081983,
            "executionTime": 973,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 31327086,
                      "name": "Task1625825081984",
                      "related_resource": {
                        "object": true
                      },
                      "assignee_id": 930585,
                      "due_date": {
                        "object": true
                      },
                      "reminder_date": {
                        "object": true
                      },
                      "completed_date": {
                        "object": true
                      },
                      "priority": "High",
                      "status": "Open",
                      "details": "Task description",
                      "tags": [
                        "json array"
                      ],
                      "custom_fields": [
                        "json array"
                      ],
                      "date_created": 1625825082,
                      "date_modified": 1625825082,
                      "custom_activity_type_id": 1154633
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Copper21": [
          {
            "startTime": 1625825082956,
            "executionTime": 1127,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 930585,
                      "name": "nodeqagm",
                      "email": "node8qa@gmail.com"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Copper1": [
          {
            "startTime": 1625825084083,
            "executionTime": 1108,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 54204469,
                      "name": "Company1625825077776",
                      "address": {
                        "object": true
                      },
                      "assignee_id": {
                        "object": true
                      },
                      "contact_type_id": {
                        "object": true
                      },
                      "details": "Description",
                      "email_domain": "test1625825077777",
                      "phone_numbers": [
                        "json array"
                      ],
                      "socials": [
                        "json array"
                      ],
                      "tags": [
                        "json array"
                      ],
                      "websites": [
                        "json array"
                      ],
                      "custom_fields": [
                        "json array"
                      ],
                      "interaction_count": 0,
                      "date_created": 1625825079,
                      "date_modified": 1625825079
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Copper5": [
          {
            "startTime": 1625825085192,
            "executionTime": 1138,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 1315469,
                      "name": "Advertising"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Copper12": [
          {
            "startTime": 1625825086331,
            "executionTime": 1027,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 1256548,
                      "name": "Project1625825080504",
                      "related_resource": {
                        "object": true
                      },
                      "assignee_id": {
                        "object": true
                      },
                      "status": "Open",
                      "details": "Detail projects - Test",
                      "tags": [
                        "json array"
                      ],
                      "custom_fields": [
                        "json array"
                      ],
                      "date_created": 1625825081,
                      "date_modified": 1625825081
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Copper17": [
          {
            "startTime": 1625825087359,
            "executionTime": 839,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 31327086,
                      "name": "Task1625825081984",
                      "related_resource": {
                        "object": true
                      },
                      "assignee_id": 930585,
                      "due_date": {
                        "object": true
                      },
                      "reminder_date": {
                        "object": true
                      },
                      "completed_date": {
                        "object": true
                      },
                      "priority": "High",
                      "status": "Open",
                      "details": "Task description",
                      "tags": [
                        "json array"
                      ],
                      "custom_fields": [
                        "json array"
                      ],
                      "date_created": 1625825082,
                      "date_modified": 1625825082,
                      "custom_activity_type_id": 1154633
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Copper2": [
          {
            "startTime": 1625825088199,
            "executionTime": 1515,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 54204469,
                      "name": "UpdatedCompany1625825077776",
                      "address": {
                        "object": true
                      },
                      "assignee_id": {
                        "object": true
                      },
                      "contact_type_id": {
                        "object": true
                      },
                      "details": "Description",
                      "email_domain": "test1625825077777",
                      "phone_numbers": [
                        "json array"
                      ],
                      "socials": [
                        "json array"
                      ],
                      "tags": [
                        "json array"
                      ],
                      "websites": [
                        "json array"
                      ],
                      "custom_fields": [
                        "json array"
                      ],
                      "interaction_count": 0,
                      "date_created": 1625825079,
                      "date_modified": 1625825089
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Copper22": [
          {
            "startTime": 1625825089715,
            "executionTime": 2105,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 24800943,
                      "name": "Opportunity1625825089716",
                      "assignee_id": {
                        "object": true
                      },
                      "close_date": {
                        "object": true
                      },
                      "company_id": {
                        "object": true
                      },
                      "company_name": {
                        "object": true
                      },
                      "customer_source_id": 1315469,
                      "details": {
                        "object": true
                      },
                      "loss_reason_id": {
                        "object": true
                      },
                      "pipeline_id": 855016,
                      "pipeline_stage_id": 4008674,
                      "primary_contact_id": 120884839,
                      "priority": "None",
                      "status": "Open",
                      "tags": [
                        "json array"
                      ],
                      "interaction_count": 0,
                      "monetary_unit": {
                        "object": true
                      },
                      "monetary_value": {
                        "object": true
                      },
                      "converted_unit": "USD",
                      "converted_value": {
                        "object": true
                      },
                      "win_probability": 5,
                      "date_stage_changed": 1625825090,
                      "date_last_contacted": {
                        "object": true
                      },
                      "leads_converted_from": [
                        "json array"
                      ],
                      "date_lead_created": {
                        "object": true
                      },
                      "date_created": 1625825090,
                      "date_modified": 1625825090,
                      "custom_fields": [
                        "json array"
                      ]
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Copper13": [
          {
            "startTime": 1625825091821,
            "executionTime": 965,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 1256548,
                      "name": "UpatedProject1625825080504",
                      "related_resource": {
                        "object": true
                      },
                      "assignee_id": {
                        "object": true
                      },
                      "status": "Completed",
                      "details": "Completed Update",
                      "tags": [
                        "json array"
                      ],
                      "custom_fields": [
                        "json array"
                      ],
                      "date_created": 1625825081,
                      "date_modified": 1625825092
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Copper18": [
          {
            "startTime": 1625825092787,
            "executionTime": 946,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 31327086,
                      "name": "UpdatedTask1625825081984",
                      "related_resource": {
                        "object": true
                      },
                      "assignee_id": 930585,
                      "due_date": {
                        "object": true
                      },
                      "reminder_date": {
                        "object": true
                      },
                      "completed_date": 1625825093,
                      "priority": "None",
                      "status": "Completed",
                      "details": "Update task description",
                      "tags": [
                        "json array"
                      ],
                      "custom_fields": [
                        "json array"
                      ],
                      "date_created": 1625825082,
                      "date_modified": 1625825093,
                      "custom_activity_type_id": 1154633
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Copper3": [
          {
            "startTime": 1625825093734,
            "executionTime": 779,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 54204469,
                      "name": "UpdatedCompany1625825077776",
                      "address": {
                        "object": true
                      },
                      "assignee_id": {
                        "object": true
                      },
                      "contact_type_id": {
                        "object": true
                      },
                      "details": "Description",
                      "email_domain": "test1625825077777",
                      "phone_numbers": [
                        "json array"
                      ],
                      "socials": [
                        "json array"
                      ],
                      "tags": [
                        "json array"
                      ],
                      "websites": [
                        "json array"
                      ],
                      "custom_fields": [
                        "json array"
                      ],
                      "interaction_count": 0,
                      "date_created": 1625825079,
                      "date_modified": 1625825089
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Copper23": [
          {
            "startTime": 1625825094513,
            "executionTime": 1073,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 24800943,
                      "name": "Opportunity1625825089716",
                      "assignee_id": {
                        "object": true
                      },
                      "close_date": {
                        "object": true
                      },
                      "company_id": {
                        "object": true
                      },
                      "company_name": {
                        "object": true
                      },
                      "customer_source_id": 1315469,
                      "details": {
                        "object": true
                      },
                      "loss_reason_id": {
                        "object": true
                      },
                      "pipeline_id": 855016,
                      "pipeline_stage_id": 4008674,
                      "primary_contact_id": 120884839,
                      "priority": "None",
                      "status": "Open",
                      "tags": [
                        "json array"
                      ],
                      "interaction_count": 0,
                      "monetary_unit": {
                        "object": true
                      },
                      "monetary_value": {
                        "object": true
                      },
                      "converted_unit": "USD",
                      "converted_value": {
                        "object": true
                      },
                      "win_probability": 5,
                      "date_stage_changed": 1625825090,
                      "date_last_contacted": {
                        "object": true
                      },
                      "leads_converted_from": [
                        "json array"
                      ],
                      "date_lead_created": {
                        "object": true
                      },
                      "date_created": 1625825090,
                      "date_modified": 1625825091,
                      "custom_fields": [
                        "json array"
                      ]
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Copper14": [
          {
            "startTime": 1625825095586,
            "executionTime": 876,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 1256537,
                      "name": "Customize Your New CRM",
                      "related_resource": {
                        "object": true
                      },
                      "assignee_id": 930585,
                      "status": "Open",
                      "details": "Visit our settings section to discover all the ways you can customize Copper to fit your sales workflow.",
                      "tags": [
                        "json array"
                      ],
                      "custom_fields": [
                        "json array"
                      ],
                      "date_created": 1625822590,
                      "date_modified": 1625822591
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Copper19": [
          {
            "startTime": 1625825096462,
            "executionTime": 912,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 31326818,
                      "name": "Check out integrations",
                      "related_resource": {
                        "object": true
                      },
                      "assignee_id": 930585,
                      "due_date": {
                        "object": true
                      },
                      "reminder_date": {
                        "object": true
                      },
                      "completed_date": {
                        "object": true
                      },
                      "priority": "None",
                      "status": "Open",
                      "details": {
                        "object": true
                      },
                      "tags": [
                        "json array"
                      ],
                      "custom_fields": [
                        "json array"
                      ],
                      "date_created": 1625822590,
                      "date_modified": 1625822590,
                      "custom_activity_type_id": 1154635
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Copper4": [
          {
            "startTime": 1625825097374,
            "executionTime": 902,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 54204469,
                      "is_deleted": true
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Copper24": [
          {
            "startTime": 1625825098276,
            "executionTime": 1030,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 24800943,
                      "name": "UpdatedOpportunity1625825089716",
                      "assignee_id": {
                        "object": true
                      },
                      "close_date": {
                        "object": true
                      },
                      "company_id": {
                        "object": true
                      },
                      "company_name": {
                        "object": true
                      },
                      "customer_source_id": 1315469,
                      "details": {
                        "object": true
                      },
                      "loss_reason_id": {
                        "object": true
                      },
                      "pipeline_id": 855016,
                      "pipeline_stage_id": 4008674,
                      "primary_contact_id": 120884839,
                      "priority": "None",
                      "status": "Open",
                      "tags": [
                        "json array"
                      ],
                      "interaction_count": 0,
                      "monetary_unit": {
                        "object": true
                      },
                      "monetary_value": {
                        "object": true
                      },
                      "converted_unit": "USD",
                      "converted_value": {
                        "object": true
                      },
                      "win_probability": 5,
                      "date_stage_changed": 1625825090,
                      "date_last_contacted": {
                        "object": true
                      },
                      "leads_converted_from": [
                        "json array"
                      ],
                      "date_lead_created": {
                        "object": true
                      },
                      "date_created": 1625825090,
                      "date_modified": 1625825098,
                      "custom_fields": [
                        "json array"
                      ]
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Copper15": [
          {
            "startTime": 1625825099306,
            "executionTime": 902,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 1256548,
                      "is_deleted": true
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Copper20": [
          {
            "startTime": 1625825100209,
            "executionTime": 918,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 31327086,
                      "is_deleted": true
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Copper25": [
          {
            "startTime": 1625825101128,
            "executionTime": 815,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 24800789,
                      "name": "25 Office Chairs (Sample - Try me!)",
                      "assignee_id": 930585,
                      "close_date": "7/16/2021",
                      "company_id": 54204386,
                      "company_name": "Copper",
                      "customer_source_id": 1315469,
                      "details": "Opportunities are created for People and Companies that are interested in buying your products or services. Create Opportunities for People and Companies to move them through one of your Pipelines.",
                      "loss_reason_id": {
                        "object": true
                      },
                      "pipeline_id": 855016,
                      "pipeline_stage_id": 4008677,
                      "primary_contact_id": 120884414,
                      "priority": "None",
                      "status": "Open",
                      "tags": [
                        "json array"
                      ],
                      "interaction_count": 0,
                      "monetary_unit": "USD",
                      "monetary_value": 75000,
                      "converted_unit": "USD",
                      "converted_value": "75000.0",
                      "win_probability": 40,
                      "date_stage_changed": 1625822589,
                      "date_last_contacted": {
                        "object": true
                      },
                      "leads_converted_from": [
                        "json array"
                      ],
                      "date_lead_created": {
                        "object": true
                      },
                      "date_created": 1625822589,
                      "date_modified": 1625822593,
                      "custom_fields": [
                        "json array"
                      ]
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Copper26": [
          {
            "startTime": 1625825101944,
            "executionTime": 912,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 24800943,
                      "is_deleted": true
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Copper7": [
          {
            "startTime": 1625825102857,
            "executionTime": 678,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 120884839,
                      "name": "Person1625825079330",
                      "prefix": {
                        "object": true
                      },
                      "first_name": "Person1625825079330",
                      "middle_name": {
                        "object": true
                      },
                      "last_name": {
                        "object": true
                      },
                      "suffix": {
                        "object": true
                      },
                      "address": {
                        "object": true
                      },
                      "assignee_id": {
                        "object": true
                      },
                      "company_id": {
                        "object": true
                      },
                      "company_name": {
                        "object": true
                      },
                      "contact_type_id": 1774299,
                      "details": "Person description - Test",
                      "emails": [
                        "json array"
                      ],
                      "phone_numbers": [
                        "json array"
                      ],
                      "socials": [
                        "json array"
                      ],
                      "tags": [
                        "json array"
                      ],
                      "title": {
                        "object": true
                      },
                      "websites": [
                        "json array"
                      ],
                      "custom_fields": [
                        "json array"
                      ],
                      "date_created": 1625825080,
                      "date_modified": 1625825091,
                      "date_last_contacted": {
                        "object": true
                      },
                      "interaction_count": 0,
                      "leads_converted_from": [
                        "json array"
                      ],
                      "date_lead_created": {
                        "object": true
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Copper8": [
          {
            "startTime": 1625825103535,
            "executionTime": 872,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 120884839,
                      "name": "UpdatedPerson1625825079330",
                      "prefix": {
                        "object": true
                      },
                      "first_name": "UpdatedPerson1625825079330",
                      "middle_name": {
                        "object": true
                      },
                      "last_name": {
                        "object": true
                      },
                      "suffix": {
                        "object": true
                      },
                      "address": {
                        "object": true
                      },
                      "assignee_id": {
                        "object": true
                      },
                      "company_id": {
                        "object": true
                      },
                      "company_name": {
                        "object": true
                      },
                      "contact_type_id": 1774299,
                      "details": "Person description - Test",
                      "emails": [
                        "json array"
                      ],
                      "phone_numbers": [
                        "json array"
                      ],
                      "socials": [
                        "json array"
                      ],
                      "tags": [
                        "json array"
                      ],
                      "title": {
                        "object": true
                      },
                      "websites": [
                        "json array"
                      ],
                      "custom_fields": [
                        "json array"
                      ],
                      "date_created": 1625825080,
                      "date_modified": 1625825104,
                      "date_last_contacted": {
                        "object": true
                      },
                      "interaction_count": 0,
                      "leads_converted_from": [
                        "json array"
                      ],
                      "date_lead_created": {
                        "object": true
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Copper9": [
          {
            "startTime": 1625825104408,
            "executionTime": 931,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 120884416,
                      "name": "Brittany Hughes (Sample - Try me!)",
                      "prefix": {
                        "object": true
                      },
                      "first_name": "Brittany Hughes (Sample - Try me!)",
                      "middle_name": {
                        "object": true
                      },
                      "last_name": {
                        "object": true
                      },
                      "suffix": {
                        "object": true
                      },
                      "address": {
                        "object": true
                      },
                      "assignee_id": {
                        "object": true
                      },
                      "company_id": 54204386,
                      "company_name": "Copper",
                      "contact_type_id": 1774297,
                      "details": {
                        "object": true
                      },
                      "emails": [
                        "json array"
                      ],
                      "phone_numbers": [
                        "json array"
                      ],
                      "socials": [
                        "json array"
                      ],
                      "tags": [
                        "json array"
                      ],
                      "title": "Lead Product Designer",
                      "websites": [
                        "json array"
                      ],
                      "custom_fields": [
                        "json array"
                      ],
                      "date_created": 1625822589,
                      "date_modified": 1625822591,
                      "date_last_contacted": {
                        "object": true
                      },
                      "interaction_count": 0,
                      "leads_converted_from": [
                        "json array"
                      ],
                      "date_lead_created": {
                        "object": true
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Copper10": [
          {
            "startTime": 1625825105339,
            "executionTime": 1284,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 120884839,
                      "is_deleted": true
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Copper10"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {}
    }
  },
  "mode": "cli",
  "startedAt": "2021-07-09T10:04:37.768Z",
  "stoppedAt": "2021-07-09T10:05:06.624Z",
  "finished": true
}