snapshots/226-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1625838194804,
            "executionTime": 0,
            "data": {
              "main": [
                [
                  {
                    "json": {}
                  }
                ]
              ]
            }
          }
        ],
        "Unleashed Software": [
          {
            "startTime": 1625838194805,
            "executionTime": 1802,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "SalesOrderLines": [
                        "json array"
                      ],
                      "OrderNumber": "SO-00000123",
                      "OrderDate": "2021-07-08T13:35:47.576Z",
                      "RequiredDate": "2021-07-08T13:35:47.576Z",
                      "CompletedDate": "2021-07-08T13:35:47.576Z",
                      "OrderStatus": "Completed",
                      "Customer": {
                        "object": true
                      },
                      "CustomerRef": {
                        "object": true
                      },
                      "Comments": {
                        "object": true
                      },
                      "Warehouse": {
                        "object": true
                      },
                      "ReceivedDate": {
                        "object": true
                      },
                      "DeliveryInstruction": {
                        "object": true
                      },
                      "DeliveryName": {
                        "object": true
                      },
                      "DeliveryStreetAddress": {
                        "object": true
                      },
                      "DeliveryStreetAddress2": {
                        "object": true
                      },
                      "DeliverySuburb": {
                        "object": true
                      },
                      "DeliveryCity": {
                        "object": true
                      },
                      "DeliveryRegion": {
                        "object": true
                      },
                      "DeliveryCountry": {
                        "object": true
                      },
                      "DeliveryPostCode": {
                        "object": true
                      },
                      "Currency": {
                        "object": true
                      },
                      "ExchangeRate": 0.9492,
                      "DiscountRate": 0,
                      "Tax": {
                        "object": true
                      },
                      "TaxRate": 0.15,
                      "XeroTaxCode": "G.S.T.",
                      "SubTotal": 4163.5,
                      "TaxTotal": 624.53,
                      "Total": 4788.03,
                      "TotalVolume": 0,
                      "TotalWeight": 0,
                      "BCSubTotal": 4386.33,
                      "BCTaxTotal": 657.95,
                      "BCTotal": 5044.28,
                      "PaymentDueDate": "2021-08-07T13:35:47.576Z",
                      "AllocateProduct": true,
                      "SalesOrderGroup": {
                        "object": true
                      },
                      "DeliveryMethod": {
                        "object": true
                      },
                      "SalesPerson": {
                        "object": true
                      },
                      "SendAccountingJournalOnly": false,
                      "SourceId": {
                        "object": true
                      },
                      "CreatedBy": "admin",
                      "CreatedOn": "2021-07-08T13:35:47.576Z",
                      "LastModifiedBy": "admin",
                      "Guid": "12873d3b-5c95-46e1-bafe-e75a2c8ff6f1",
                      "LastModifiedOn": "2021-07-08T13:35:47.576Z"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Unleashed Software1": [
          {
            "startTime": 1625838196609,
            "executionTime": 1103,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "ProductCode": "BOOKSHELF",
                      "ProductDescription": "Wooden Bookshelf",
                      "ProductGuid": "43eebfa3-1b4f-4c67-95c4-eb836489ff8b",
                      "ProductSourceId": {
                        "object": true
                      },
                      "ProductGroupName": "Furniture",
                      "WarehouseId": "",
                      "Warehouse": "",
                      "WarehouseCode": "",
                      "DaysSinceLastSale": 12,
                      "OnPurchase": 0,
                      "AllocatedQty": 0,
                      "AvailableQty": 75,
                      "QtyOnHand": 75,
                      "AvgCost": 1774.9344933333334,
                      "TotalCost": 133120.087,
                      "Guid": "43eebfa3-1b4f-4c67-95c4-eb836489ff8b",
                      "LastModifiedOn": "2021-06-27T13:35:47.576Z"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Unleashed Software2": [
          {
            "startTime": 1625838197713,
            "executionTime": 1105,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "ProductCode": "BOOKSHELF",
                      "ProductDescription": "Wooden Bookshelf",
                      "ProductGuid": "43eebfa3-1b4f-4c67-95c4-eb836489ff8b",
                      "ProductSourceId": {
                        "object": true
                      },
                      "ProductGroupName": "Furniture",
                      "WarehouseId": "",
                      "Warehouse": "",
                      "WarehouseCode": "",
                      "DaysSinceLastSale": 12,
                      "OnPurchase": 0,
                      "AllocatedQty": 0,
                      "AvailableQty": 75,
                      "QtyOnHand": 75,
                      "AvgCost": 1774.9344933333334,
                      "TotalCost": 133120.087,
                      "Guid": "43eebfa3-1b4f-4c67-95c4-eb836489ff8b",
                      "LastModifiedOn": "2021-06-27T13:35:47.576Z"
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Unleashed Software2"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {}
    }
  },
  "mode": "cli",
  "startedAt": "2021-07-09T13:43:14.802Z",
  "stoppedAt": "2021-07-09T13:43:18.819Z",
  "finished": true
}