snapshots/230-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "When clicking \"Execute Workflow\"": [
          {
            "startTime": 1710331899540,
            "executionTime": 0,
            "source": [],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "VirusTotal HTTP Request": [
          {
            "startTime": 1710331899540,
            "executionTime": 451,
            "source": [
              {
                "previousNode": "When clicking \"Execute Workflow\""
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "data": [
                        "json array"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "VirusTotal HTTP Request"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2024-03-13T12:11:39.539Z",
  "stoppedAt": "2024-03-13T12:11:39.991Z",
  "status": "running",
  "finished": true
}