snapshots/230-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1626451246707,
            "executionTime": 0,
            "data": {
              "main": [
                [
                  {
                    "json": {}
                  }
                ]
              ]
            }
          }
        ],
        "Stripe": [
          {
            "startTime": 1626451246708,
            "executionTime": 711,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "object": "balance",
                      "available": [
                        "json array"
                      ],
                      "livemode": false,
                      "pending": [
                        "json array"
                      ]
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Stripe15": [
          {
            "startTime": 1626451247420,
            "executionTime": 534,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "ch_1JDrnNH0zmR2qems6A1z0rKI",
                      "object": "charge",
                      "amount": 100,
                      "amount_captured": 0,
                      "amount_refunded": 0,
                      "application": {
                        "object": true
                      },
                      "application_fee": {
                        "object": true
                      },
                      "application_fee_amount": {
                        "object": true
                      },
                      "balance_transaction": {
                        "object": true
                      },
                      "billing_details": {
                        "object": true
                      },
                      "calculated_statement_descriptor": {
                        "object": true
                      },
                      "captured": false,
                      "created": 1626444821,
                      "currency": "eur",
                      "customer": {
                        "object": true
                      },
                      "description": "Update Description Fri Jul 16 2021 17:58:08 GMT+0200 (Central European Summer Time)",
                      "destination": {
                        "object": true
                      },
                      "dispute": {
                        "object": true
                      },
                      "disputed": false,
                      "failure_code": {
                        "object": true
                      },
                      "failure_message": {
                        "object": true
                      },
                      "fraud_details": {
                        "object": true
                      },
                      "invoice": {
                        "object": true
                      },
                      "livemode": false,
                      "metadata": {
                        "object": true
                      },
                      "on_behalf_of": {
                        "object": true
                      },
                      "order": {
                        "object": true
                      },
                      "outcome": {
                        "object": true
                      },
                      "paid": true,
                      "payment_intent": {
                        "object": true
                      },
                      "payment_method": "card_1JDrnNH0zmR2qemscQuvNopV",
                      "payment_method_details": {
                        "object": true
                      },
                      "receipt_email": {
                        "object": true
                      },
                      "receipt_number": {
                        "object": true
                      },
                      "receipt_url": "https://pay.stripe.com/receipts/acct_1JDrf6H0zmR2qems/ch_1JDrnNH0zmR2qems6A1z0rKI/rcpt_JrazgrUXYc0NnGAhkPPbJj0GHg3Nc7i",
                      "refunded": false,
                      "refunds": {
                        "object": true
                      },
                      "review": {
                        "object": true
                      },
                      "shipping": {
                        "object": true
                      },
                      "source": {
                        "object": true
                      },
                      "source_transfer": {
                        "object": true
                      },
                      "statement_descriptor": {
                        "object": true
                      },
                      "statement_descriptor_suffix": {
                        "object": true
                      },
                      "status": "succeeded",
                      "transfer_data": {
                        "object": true
                      },
                      "transfer_group": {
                        "object": true
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Stripe1": [
          {
            "startTime": 1626451247956,
            "executionTime": 566,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "cus_JrciDP4sQjZGLS",
                      "object": "customer",
                      "address": {
                        "object": true
                      },
                      "balance": 0,
                      "created": 1626451248,
                      "currency": {
                        "object": true
                      },
                      "default_source": {
                        "object": true
                      },
                      "delinquent": false,
                      "description": "Customer descr",
                      "discount": {
                        "object": true
                      },
                      "email": "customer1626451247964@fakeemail.com",
                      "invoice_prefix": "AC6EFEEE",
                      "invoice_settings": {
                        "object": true
                      },
                      "livemode": false,
                      "metadata": {
                        "object": true
                      },
                      "name": "CustomerName1626451247963",
                      "phone": "22 333 444",
                      "preferred_locales": [
                        "json array"
                      ],
                      "shipping": {
                        "object": true
                      },
                      "tax_exempt": "none"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Stripe17": [
          {
            "startTime": 1626451248523,
            "executionTime": 566,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "ch_1JDrnNH0zmR2qems6A1z0rKI",
                      "object": "charge",
                      "amount": 100,
                      "amount_captured": 0,
                      "amount_refunded": 0,
                      "application": {
                        "object": true
                      },
                      "application_fee": {
                        "object": true
                      },
                      "application_fee_amount": {
                        "object": true
                      },
                      "balance_transaction": {
                        "object": true
                      },
                      "billing_details": {
                        "object": true
                      },
                      "calculated_statement_descriptor": {
                        "object": true
                      },
                      "captured": false,
                      "created": 1626444821,
                      "currency": "eur",
                      "customer": {
                        "object": true
                      },
                      "description": "Update Description Fri Jul 16 2021 17:58:08 GMT+0200 (Central European Summer Time)",
                      "destination": {
                        "object": true
                      },
                      "dispute": {
                        "object": true
                      },
                      "disputed": false,
                      "failure_code": {
                        "object": true
                      },
                      "failure_message": {
                        "object": true
                      },
                      "fraud_details": {
                        "object": true
                      },
                      "invoice": {
                        "object": true
                      },
                      "livemode": false,
                      "metadata": {
                        "object": true
                      },
                      "on_behalf_of": {
                        "object": true
                      },
                      "order": {
                        "object": true
                      },
                      "outcome": {
                        "object": true
                      },
                      "paid": true,
                      "payment_intent": {
                        "object": true
                      },
                      "payment_method": "card_1JDrnNH0zmR2qemscQuvNopV",
                      "payment_method_details": {
                        "object": true
                      },
                      "receipt_email": {
                        "object": true
                      },
                      "receipt_number": {
                        "object": true
                      },
                      "receipt_url": "https://pay.stripe.com/receipts/acct_1JDrf6H0zmR2qems/ch_1JDrnNH0zmR2qems6A1z0rKI/rcpt_JrazgrUXYc0NnGAhkPPbJj0GHg3Nc7i",
                      "refunded": false,
                      "refunds": {
                        "object": true
                      },
                      "review": {
                        "object": true
                      },
                      "shipping": {
                        "object": true
                      },
                      "source": {
                        "object": true
                      },
                      "source_transfer": {
                        "object": true
                      },
                      "statement_descriptor": {
                        "object": true
                      },
                      "statement_descriptor_suffix": {
                        "object": true
                      },
                      "status": "succeeded",
                      "transfer_data": {
                        "object": true
                      },
                      "transfer_group": {
                        "object": true
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Stripe2": [
          {
            "startTime": 1626451249090,
            "executionTime": 517,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "cus_JrciDP4sQjZGLS",
                      "object": "customer",
                      "address": {
                        "object": true
                      },
                      "balance": 0,
                      "created": 1626451248,
                      "currency": {
                        "object": true
                      },
                      "default_source": {
                        "object": true
                      },
                      "delinquent": false,
                      "description": "Customer descr",
                      "discount": {
                        "object": true
                      },
                      "email": "customer1626451247964@fakeemail.com",
                      "invoice_prefix": "AC6EFEEE",
                      "invoice_settings": {
                        "object": true
                      },
                      "livemode": false,
                      "metadata": {
                        "object": true
                      },
                      "name": "CustomerName1626451247963",
                      "phone": "22 333 444",
                      "preferred_locales": [
                        "json array"
                      ],
                      "shipping": {
                        "object": true
                      },
                      "tax_exempt": "none"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Stripe19": [
          {
            "startTime": 1626451249608,
            "executionTime": 728,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "ch_1JDrnNH0zmR2qems6A1z0rKI",
                      "object": "charge",
                      "amount": 100,
                      "amount_captured": 0,
                      "amount_refunded": 0,
                      "application": {
                        "object": true
                      },
                      "application_fee": {
                        "object": true
                      },
                      "application_fee_amount": {
                        "object": true
                      },
                      "balance_transaction": {
                        "object": true
                      },
                      "billing_details": {
                        "object": true
                      },
                      "calculated_statement_descriptor": {
                        "object": true
                      },
                      "captured": false,
                      "created": 1626444821,
                      "currency": "eur",
                      "customer": {
                        "object": true
                      },
                      "description": "Update Description Fri Jul 16 2021 18:00:49 GMT+0200 (Central European Summer Time)",
                      "destination": {
                        "object": true
                      },
                      "dispute": {
                        "object": true
                      },
                      "disputed": false,
                      "failure_code": {
                        "object": true
                      },
                      "failure_message": {
                        "object": true
                      },
                      "fraud_details": {
                        "object": true
                      },
                      "invoice": {
                        "object": true
                      },
                      "livemode": false,
                      "metadata": {
                        "object": true
                      },
                      "on_behalf_of": {
                        "object": true
                      },
                      "order": {
                        "object": true
                      },
                      "outcome": {
                        "object": true
                      },
                      "paid": true,
                      "payment_intent": {
                        "object": true
                      },
                      "payment_method": "card_1JDrnNH0zmR2qemscQuvNopV",
                      "payment_method_details": {
                        "object": true
                      },
                      "receipt_email": {
                        "object": true
                      },
                      "receipt_number": {
                        "object": true
                      },
                      "receipt_url": "https://pay.stripe.com/receipts/acct_1JDrf6H0zmR2qems/ch_1JDrnNH0zmR2qems6A1z0rKI/rcpt_JrazgrUXYc0NnGAhkPPbJj0GHg3Nc7i",
                      "refunded": false,
                      "refunds": {
                        "object": true
                      },
                      "review": {
                        "object": true
                      },
                      "shipping": {
                        "object": true
                      },
                      "source": {
                        "object": true
                      },
                      "source_transfer": {
                        "object": true
                      },
                      "statement_descriptor": {
                        "object": true
                      },
                      "statement_descriptor_suffix": {
                        "object": true
                      },
                      "status": "succeeded",
                      "transfer_data": {
                        "object": true
                      },
                      "transfer_group": {
                        "object": true
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Stripe3": [
          {
            "startTime": 1626451250337,
            "executionTime": 556,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "cus_JrciDP4sQjZGLS",
                      "object": "customer",
                      "address": {
                        "object": true
                      },
                      "balance": 0,
                      "created": 1626451248,
                      "currency": {
                        "object": true
                      },
                      "default_source": {
                        "object": true
                      },
                      "delinquent": false,
                      "description": "Updated descr",
                      "discount": {
                        "object": true
                      },
                      "email": "customer1626451247964@fakeemail.com",
                      "invoice_prefix": "AC6EFEEE",
                      "invoice_settings": {
                        "object": true
                      },
                      "livemode": false,
                      "metadata": {
                        "object": true
                      },
                      "name": "UpdatedCustomerName1626451247963",
                      "phone": "22 333 444",
                      "preferred_locales": [
                        "json array"
                      ],
                      "shipping": {
                        "object": true
                      },
                      "tax_exempt": "none"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Stripe4": [
          {
            "startTime": 1626451250895,
            "executionTime": 508,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "cus_JrciDP4sQjZGLS",
                      "object": "customer",
                      "address": {
                        "object": true
                      },
                      "balance": 0,
                      "created": 1626451248,
                      "currency": {
                        "object": true
                      },
                      "default_source": {
                        "object": true
                      },
                      "delinquent": false,
                      "description": "Updated descr",
                      "discount": {
                        "object": true
                      },
                      "email": "customer1626451247964@fakeemail.com",
                      "invoice_prefix": "AC6EFEEE",
                      "invoice_settings": {
                        "object": true
                      },
                      "livemode": false,
                      "metadata": {
                        "object": true
                      },
                      "name": "UpdatedCustomerName1626451247963",
                      "phone": "22 333 444",
                      "preferred_locales": [
                        "json array"
                      ],
                      "shipping": {
                        "object": true
                      },
                      "tax_exempt": "none"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Stripe6": [
          {
            "startTime": 1626451251403,
            "executionTime": 1202,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "src_1JDtT5H0zmR2qemsLaIcQQxc",
                      "object": "source",
                      "amount": 8,
                      "client_secret": "src_client_secret_NZVxqQmcB3q5Fkg2kSGNkwGT",
                      "created": 1626451251,
                      "currency": "eur",
                      "flow": "none",
                      "livemode": false,
                      "metadata": {
                        "object": true
                      },
                      "owner": {
                        "object": true
                      },
                      "statement_descriptor": {
                        "object": true
                      },
                      "status": "pending",
                      "type": "wechat",
                      "usage": "single_use",
                      "wechat": {
                        "object": true
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Stripe7": [
          {
            "startTime": 1626451252605,
            "executionTime": 612,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "src_1JDtT5H0zmR2qemsLaIcQQxc",
                      "object": "source",
                      "amount": 8,
                      "client_secret": "src_client_secret_NZVxqQmcB3q5Fkg2kSGNkwGT",
                      "created": 1626451251,
                      "currency": "eur",
                      "customer": "cus_JrciDP4sQjZGLS",
                      "flow": "none",
                      "livemode": false,
                      "metadata": {
                        "object": true
                      },
                      "owner": {
                        "object": true
                      },
                      "statement_descriptor": {
                        "object": true
                      },
                      "status": "pending",
                      "type": "wechat",
                      "usage": "single_use",
                      "wechat": {
                        "object": true
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Stripe9": [
          {
            "startTime": 1626451253218,
            "executionTime": 520,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "e5JcVqBT",
                      "object": "coupon",
                      "amount_off": {
                        "object": true
                      },
                      "created": 1626451253,
                      "currency": {
                        "object": true
                      },
                      "duration": "once",
                      "duration_in_months": {
                        "object": true
                      },
                      "livemode": false,
                      "max_redemptions": {
                        "object": true
                      },
                      "metadata": {
                        "object": true
                      },
                      "name": {
                        "object": true
                      },
                      "percent_off": 8,
                      "redeem_by": {
                        "object": true
                      },
                      "times_redeemed": 0,
                      "valid": true
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Stripe10": [
          {
            "startTime": 1626451253739,
            "executionTime": 486,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "e5JcVqBT",
                      "object": "coupon",
                      "amount_off": {
                        "object": true
                      },
                      "created": 1626451253,
                      "currency": {
                        "object": true
                      },
                      "duration": "once",
                      "duration_in_months": {
                        "object": true
                      },
                      "livemode": false,
                      "max_redemptions": {
                        "object": true
                      },
                      "metadata": {
                        "object": true
                      },
                      "name": {
                        "object": true
                      },
                      "percent_off": 8,
                      "redeem_by": {
                        "object": true
                      },
                      "times_redeemed": 0,
                      "valid": true
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Stripe11": [
          {
            "startTime": 1626451254226,
            "executionTime": 718,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "tok_1JDtT8H0zmR2qemspLNxiNjs",
                      "object": "token",
                      "card": {
                        "object": true
                      },
                      "client_ip": "41.62.201.76",
                      "created": 1626451254,
                      "livemode": false,
                      "type": "card",
                      "used": false
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Stripe12": [
          {
            "startTime": 1626451254945,
            "executionTime": 1128,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "card_1JDtT8H0zmR2qemsdz9VXhJl",
                      "object": "card",
                      "address_city": {
                        "object": true
                      },
                      "address_country": {
                        "object": true
                      },
                      "address_line1": {
                        "object": true
                      },
                      "address_line1_check": {
                        "object": true
                      },
                      "address_line2": {
                        "object": true
                      },
                      "address_state": {
                        "object": true
                      },
                      "address_zip": {
                        "object": true
                      },
                      "address_zip_check": {
                        "object": true
                      },
                      "brand": "Visa",
                      "country": "US",
                      "customer": "cus_JrciDP4sQjZGLS",
                      "cvc_check": "pass",
                      "dynamic_last4": {
                        "object": true
                      },
                      "exp_month": 12,
                      "exp_year": 2025,
                      "fingerprint": "UI5PDiK29Z5h4XFj",
                      "funding": "credit",
                      "last4": "4242",
                      "metadata": {
                        "object": true
                      },
                      "name": {
                        "object": true
                      },
                      "tokenization_method": {
                        "object": true
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Stripe13": [
          {
            "startTime": 1626451256074,
            "executionTime": 462,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "src_1JDtT5H0zmR2qemsLaIcQQxc",
                      "object": "source",
                      "amount": 8,
                      "client_secret": "src_client_secret_NZVxqQmcB3q5Fkg2kSGNkwGT",
                      "created": 1626451251,
                      "currency": "eur",
                      "customer": "cus_JrciDP4sQjZGLS",
                      "flow": "none",
                      "livemode": false,
                      "metadata": {
                        "object": true
                      },
                      "owner": {
                        "object": true
                      },
                      "statement_descriptor": {
                        "object": true
                      },
                      "status": "pending",
                      "type": "wechat",
                      "usage": "single_use",
                      "wechat": {
                        "object": true
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Stripe14": [
          {
            "startTime": 1626451256538,
            "executionTime": 769,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "card_1JDtT8H0zmR2qemsdz9VXhJl",
                      "object": "card",
                      "deleted": true
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Stripe8": [
          {
            "startTime": 1626451257308,
            "executionTime": 651,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "src_1JDtT5H0zmR2qemsLaIcQQxc",
                      "object": "source",
                      "amount": 8,
                      "client_secret": "src_client_secret_NZVxqQmcB3q5Fkg2kSGNkwGT",
                      "created": 1626451251,
                      "currency": "eur",
                      "flow": "none",
                      "livemode": false,
                      "metadata": {
                        "object": true
                      },
                      "owner": {
                        "object": true
                      },
                      "statement_descriptor": {
                        "object": true
                      },
                      "status": "canceled",
                      "type": "wechat",
                      "usage": "single_use",
                      "wechat": {
                        "object": true
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Stripe5": [
          {
            "startTime": 1626451257960,
            "executionTime": 525,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "cus_JrciDP4sQjZGLS",
                      "object": "customer",
                      "deleted": true
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Stripe5"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {}
    }
  },
  "mode": "cli",
  "startedAt": "2021-07-16T16:00:46.702Z",
  "stoppedAt": "2021-07-16T16:00:58.487Z",
  "finished": true
}