snapshots/237-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "When clicking \"Test workflow\"": [
          {
            "startTime": 1709625840352,
            "executionTime": 0,
            "source": [],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Azure OpenAI Chat Model": [
          {
            "startTime": 1709625840664,
            "executionTime": 2166,
            "executionStatus": "success",
            "source": [
              null
            ],
            "data": {
              "ai_languageModel": [
                [
                  {
                    "json": {
                      "response": {
                        "object": true
                      }
                    }
                  }
                ]
              ]
            },
            "inputOverride": {
              "ai_languageModel": [
                [
                  {
                    "json": {
                      "messages": [
                        {
                          "lc": 1,
                          "type": "constructor",
                          "id": [
                            "langchain_core",
                            "messages",
                            "HumanMessage"
                          ],
                          "kwargs": {
                            "content": "How much is 1+1? Only provide the numerical answer without any other text.\n",
                            "additional_kwargs": {}
                          }
                        }
                      ],
                      "options": {
                        "signal": {},
                        "promptIndex": 0
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Azure OpenAI Chat": [
          {
            "startTime": 1709625840352,
            "executionTime": 2786,
            "source": [
              {
                "previousNode": "When clicking \"Test workflow\""
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "text": "2"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            },
            "metadata": {
              "subRun": [
                {
                  "node": "Azure OpenAI Chat Model",
                  "runIndex": 0
                }
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Azure OpenAI Chat"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {
        "Azure OpenAI Chat": [
          {
            "subRun": [
              {
                "node": "Azure OpenAI Chat Model",
                "runIndex": 0
              }
            ]
          }
        ]
      },
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2024-03-05T08:04:00.351Z",
  "stoppedAt": "2024-03-05T08:04:03.138Z",
  "status": "running",
  "finished": true
}