snapshots/255-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "When clicking ‘Test workflow’": [
          {
            "hints": [],
            "startTime": 1730909041782,
            "executionTime": 0,
            "source": [],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "OpenAI Chat Model": [
          {
            "startTime": 1730909042295,
            "executionTime": 207,
            "executionStatus": "error",
            "source": [
              null
            ],
            "data": {
              "ai_languageModel": [
                [
                  {
                    "json": {
                      "messages": [
                        "json array"
                      ],
                      "estimatedTokens": 3,
                      "options": {
                        "object": true
                      }
                    }
                  }
                ]
              ]
            },
            "inputOverride": {
              "ai_languageModel": [
                [
                  {
                    "json": {
                      "messages": [
                        "json array"
                      ],
                      "estimatedTokens": 3,
                      "options": {
                        "object": true
                      }
                    }
                  }
                ]
              ]
            },
            "error": {
              "message": "The resource you are requesting could not be found",
              "timestamp": 1730909042502,
              "name": "NodeApiError",
              "description": "The model `gpt-4o-mini123` does not exist or you do not have access to it.",
              "context": {},
              "cause": {
                "status": 404,
                "headers": {
                  "alt-svc": "h3=\":443\"; ma=86400",
                  "cf-cache-status": "DYNAMIC",
                  "cf-ray": "8de6512adc5fe512-TXL",
                  "connection": "keep-alive",
                  "content-encoding": "gzip",
                  "content-type": "application/json; charset=utf-8",
                  "date": "Wed, 06 Nov 2024 16:04:02 GMT",
                  "server": "cloudflare",
                  "set-cookie": "__cf_bm=WNJEeCqEoPzVvQM23bn0dPtxFBJSGW3hlgy4fLTDjCA-1730909042-1.0.1.1-IKh2SSXY9K4GymDmuwu2QNFMhLeKaqXRe0oqBawnz1C8gAD2rSdsBb2hfiCkQicPh_YAXgNF1yLI88mE2MGT1Q; path=/; expires=Wed, 06-Nov-24 16:34:02 GMT; domain=.api.openai.com; HttpOnly; Secure; SameSite=None, _cfuvid=RyITTkz.YgSfTVhf.ozP_WRkXK498AWz0YptGzGWAb4-1730909042530-0.0.1.1-604800000; path=/; domain=.api.openai.com; HttpOnly; Secure; SameSite=None",
                  "strict-transport-security": "max-age=31536000; includeSubDomains; preload",
                  "transfer-encoding": "chunked",
                  "vary": "Origin",
                  "x-content-type-options": "nosniff",
                  "x-request-id": "req_e571eb81a626398a898ea38cb1f842e0"
                },
                "request_id": "req_e571eb81a626398a898ea38cb1f842e0",
                "error": {
                  "message": "The model `gpt-4o-mini123` does not exist or you do not have access to it.",
                  "type": "invalid_request_error",
                  "param": null,
                  "code": "model_not_found"
                },
                "code": "model_not_found",
                "param": null,
                "type": "invalid_request_error",
                "lc_error_code": "MODEL_NOT_FOUND",
                "attemptNumber": 1,
                "retriesLeft": 2
              }
            },
            "metadata": {
              "subRun": [
                {
                  "node": "OpenAI Chat Model",
                  "runIndex": 0
                }
              ]
            }
          }
        ],
        "Basic LLM Chain": [
          {
            "hints": [],
            "startTime": 1730909041783,
            "executionTime": 720,
            "source": [
              {
                "previousNode": "When clicking ‘Test workflow’"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [],
                [
                  {
                    "json": {
                      "error": "The resource you are requesting could not be found"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Basic LLM Chain"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {
        "OpenAI Chat Model": [
          {
            "subRun": [
              {
                "node": "OpenAI Chat Model",
                "runIndex": 0
              }
            ]
          }
        ]
      },
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2024-11-06T16:04:01.781Z",
  "stoppedAt": "2024-11-06T16:04:02.503Z",
  "status": "running",
  "finished": true
}