snapshots/26-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1676027850663,
            "executionTime": 0,
            "source": [],
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ClickUp": [
          {
            "startTime": 1676027850665,
            "executionTime": 1451,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "90100369501",
                      "name": "testFolder1676027850687",
                      "orderindex": 148,
                      "override_statuses": false,
                      "hidden": false,
                      "space": {
                        "object": true
                      },
                      "task_count": "0",
                      "archived": false,
                      "statuses": [
                        "json array"
                      ],
                      "lists": [
                        "json array"
                      ],
                      "permission_level": "create"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Sleep 8 Seconds": [
          {
            "startTime": 1676027852116,
            "executionTime": 809,
            "source": [
              {
                "previousNode": "ClickUp"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "90100369501",
                      "name": "testFolder1676027850687",
                      "orderindex": 148,
                      "override_statuses": false,
                      "hidden": false,
                      "space": {
                        "object": true
                      },
                      "task_count": "0",
                      "archived": false,
                      "statuses": [
                        "json array"
                      ],
                      "lists": [
                        "json array"
                      ],
                      "permission_level": "create"
                    },
                    "pairedItem": {
                      "item": 0
                    },
                    "index": 0
                  }
                ]
              ]
            }
          }
        ],
        "ClickUp1": [
          {
            "startTime": 1676027852925,
            "executionTime": 390,
            "source": [
              {
                "previousNode": "Sleep 8 Seconds"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "90100369501",
                      "name": "testFolderUpdated1676027852927",
                      "orderindex": 148,
                      "override_statuses": false,
                      "hidden": false,
                      "space": {
                        "object": true
                      },
                      "task_count": "0",
                      "archived": false,
                      "statuses": [
                        "json array"
                      ],
                      "lists": [
                        "json array"
                      ],
                      "permission_level": "create"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Sleep 8 Seconds1": [
          {
            "startTime": 1676027853316,
            "executionTime": 808,
            "source": [
              {
                "previousNode": "ClickUp1"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "90100369501",
                      "name": "testFolderUpdated1676027852927",
                      "orderindex": 148,
                      "override_statuses": false,
                      "hidden": false,
                      "space": {
                        "object": true
                      },
                      "task_count": "0",
                      "archived": false,
                      "statuses": [
                        "json array"
                      ],
                      "lists": [
                        "json array"
                      ],
                      "permission_level": "create"
                    },
                    "pairedItem": {
                      "item": 0
                    },
                    "index": 0
                  }
                ]
              ]
            }
          }
        ],
        "ClickUp2": [
          {
            "startTime": 1676027854124,
            "executionTime": 1038,
            "source": [
              {
                "previousNode": "Sleep 8 Seconds1"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "38002200",
                      "name": "n8n folder",
                      "orderindex": 1,
                      "override_statuses": false,
                      "hidden": false,
                      "space": {
                        "object": true
                      },
                      "task_count": "5",
                      "archived": false,
                      "statuses": [
                        "json array"
                      ],
                      "lists": [
                        "json array"
                      ],
                      "permission_level": "create"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Sleep 8 Seconds2": [
          {
            "startTime": 1676027855162,
            "executionTime": 803,
            "source": [
              {
                "previousNode": "ClickUp2"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "38002200",
                      "name": "n8n folder",
                      "orderindex": 1,
                      "override_statuses": false,
                      "hidden": false,
                      "space": {
                        "object": true
                      },
                      "task_count": "5",
                      "archived": false,
                      "statuses": [
                        "json array"
                      ],
                      "lists": [
                        "json array"
                      ],
                      "permission_level": "create"
                    },
                    "pairedItem": {
                      "item": 0
                    },
                    "index": 0
                  }
                ]
              ]
            }
          }
        ],
        "ClickUp3": [
          {
            "startTime": 1676027855965,
            "executionTime": 1940,
            "source": [
              {
                "previousNode": "Sleep 8 Seconds2"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "90100369501",
                      "name": "testFolderUpdated1676027852927",
                      "orderindex": 137,
                      "override_statuses": false,
                      "hidden": false,
                      "space": {
                        "object": true
                      },
                      "task_count": "0",
                      "archived": false,
                      "statuses": [
                        "json array"
                      ],
                      "lists": [
                        "json array"
                      ],
                      "permission_level": "create"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Sleep 8 Seconds3": [
          {
            "startTime": 1676027857905,
            "executionTime": 803,
            "source": [
              {
                "previousNode": "ClickUp3"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "90100369501",
                      "name": "testFolderUpdated1676027852927",
                      "orderindex": 137,
                      "override_statuses": false,
                      "hidden": false,
                      "space": {
                        "object": true
                      },
                      "task_count": "0",
                      "archived": false,
                      "statuses": [
                        "json array"
                      ],
                      "lists": [
                        "json array"
                      ],
                      "permission_level": "create"
                    },
                    "pairedItem": {
                      "item": 0
                    },
                    "index": 0
                  }
                ]
              ]
            }
          }
        ],
        "ClickUp4": [
          {
            "startTime": 1676027858709,
            "executionTime": 659,
            "source": [
              {
                "previousNode": "Sleep 8 Seconds3"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "ClickUp4"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2023-02-10T11:17:30.661Z",
  "stoppedAt": "2023-02-10T11:17:39.368Z",
  "finished": true
}