snapshots/32-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1622541637429,
            "executionTime": 0,
            "data": {
              "main": [
                [
                  {
                    "json": {}
                  }
                ]
              ]
            }
          }
        ],
        "Drift ": [
          {
            "startTime": 1622541637430,
            "executionTime": 710,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 9841336154,
                      "createdAt": 1622541637935,
                      "attributes": {
                        "_END_USER_VERSION": 3,
                        "_end_user_version": 3,
                        "_calculated_version": 3,
                        "socialProfiles": {},
                        "name": "Test1622541637432",
                        "email": "fake1622541637431@gmail.com",
                        "events": {},
                        "tags": [],
                        "start_date": 1622541637935
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Drift 1": [
          {
            "startTime": 1622541638140,
            "executionTime": 605,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 9841336154,
                      "createdAt": 1622541637935,
                      "attributes": {
                        "_END_USER_VERSION": 3,
                        "_end_user_version": 3,
                        "_calculated_version": 3,
                        "socialProfiles": {},
                        "name": "node qtest1622541638141",
                        "email": "fake1622541637431@gmail.com",
                        "events": {},
                        "tags": [],
                        "start_date": 1622541637935
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Drift 2": [
          {
            "startTime": 1622541638745,
            "executionTime": 511,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 9841336154,
                      "createdAt": 1622541637935,
                      "attributes": {
                        "_END_USER_VERSION": 4,
                        "_end_user_version": 4,
                        "_calculated_version": 4,
                        "socialProfiles": {},
                        "name": "node qtest1622541638141",
                        "email": "fake1622541637431@gmail.com",
                        "events": {},
                        "tags": [],
                        "start_date": 1622541637935
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Drift 3": [
          {
            "startTime": 1622541639256,
            "executionTime": 456,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Drift 3"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {}
    }
  },
  "mode": "cli",
  "startedAt": "2021-06-01T10:00:37.428Z",
  "stoppedAt": "2021-06-01T10:00:39.712Z",
  "finished": true
}