snapshots/45-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1622541651738,
            "executionTime": 0,
            "data": {
              "main": [
                [
                  {
                    "json": {}
                  }
                ]
              ]
            }
          }
        ],
        "Google Sheets": [
          {
            "startTime": 1622541651739,
            "executionTime": 1846,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "spreadsheetId": "1yvMzrR__eFYeK6l3EcNgCyyaJwg-tDzIz3oxDjma3l8",
                      "properties": {
                        "title": "TestSpreadSheet Tue, 01 Jun 2021 10:00:51 GMT",
                        "locale": "en_US",
                        "autoRecalc": "ON_CHANGE",
                        "timeZone": "Etc/GMT",
                        "defaultFormat": {
                          "backgroundColor": {
                            "red": 1,
                            "green": 1,
                            "blue": 1
                          },
                          "padding": {
                            "top": 2,
                            "right": 3,
                            "bottom": 2,
                            "left": 3
                          },
                          "verticalAlignment": "BOTTOM",
                          "wrapStrategy": "OVERFLOW_CELL",
                          "textFormat": {
                            "foregroundColor": {},
                            "fontFamily": "arial,sans,sans-serif",
                            "fontSize": 10,
                            "bold": false,
                            "italic": false,
                            "strikethrough": false,
                            "underline": false,
                            "foregroundColorStyle": {
                              "rgbColor": {}
                            }
                          },
                          "backgroundColorStyle": {
                            "rgbColor": {
                              "red": 1,
                              "green": 1,
                              "blue": 1
                            }
                          }
                        },
                        "spreadsheetTheme": {
                          "primaryFontFamily": "Arial",
                          "themeColors": [
                            {
                              "colorType": "BACKGROUND",
                              "color": {
                                "rgbColor": {
                                  "red": 1,
                                  "green": 1,
                                  "blue": 1
                                }
                              }
                            },
                            {
                              "colorType": "ACCENT5",
                              "color": {
                                "rgbColor": {
                                  "red": 1,
                                  "green": 0.42745098,
                                  "blue": 0.003921569
                                }
                              }
                            },
                            {
                              "colorType": "ACCENT6",
                              "color": {
                                "rgbColor": {
                                  "red": 0.27450982,
                                  "green": 0.7411765,
                                  "blue": 0.7764706
                                }
                              }
                            },
                            {
                              "colorType": "TEXT",
                              "color": {
                                "rgbColor": {}
                              }
                            },
                            {
                              "colorType": "ACCENT2",
                              "color": {
                                "rgbColor": {
                                  "red": 0.91764706,
                                  "green": 0.2627451,
                                  "blue": 0.20784314
                                }
                              }
                            },
                            {
                              "colorType": "ACCENT4",
                              "color": {
                                "rgbColor": {
                                  "red": 0.20392157,
                                  "green": 0.65882355,
                                  "blue": 0.3254902
                                }
                              }
                            },
                            {
                              "colorType": "ACCENT3",
                              "color": {
                                "rgbColor": {
                                  "red": 0.9843137,
                                  "green": 0.7372549,
                                  "blue": 0.015686275
                                }
                              }
                            },
                            {
                              "colorType": "LINK",
                              "color": {
                                "rgbColor": {
                                  "red": 0.06666667,
                                  "green": 0.33333334,
                                  "blue": 0.8
                                }
                              }
                            },
                            {
                              "colorType": "ACCENT1",
                              "color": {
                                "rgbColor": {
                                  "red": 0.25882354,
                                  "green": 0.52156866,
                                  "blue": 0.95686275
                                }
                              }
                            }
                          ]
                        }
                      },
                      "sheets": [
                        {
                          "properties": {
                            "sheetId": 0,
                            "title": "Sheet1",
                            "index": 0,
                            "sheetType": "GRID",
                            "gridProperties": {
                              "rowCount": 1000,
                              "columnCount": 26
                            }
                          }
                        }
                      ],
                      "spreadsheetUrl": "https://docs.google.com/spreadsheets/d/1yvMzrR__eFYeK6l3EcNgCyyaJwg-tDzIz3oxDjma3l8/edit"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Function": [
          {
            "startTime": 1622541653585,
            "executionTime": 5,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 379,
                      "name": "test1"
                    }
                  },
                  {
                    "json": {
                      "id": 897,
                      "name": "test2"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Google Sheets7": [
          {
            "startTime": 1622541653590,
            "executionTime": 1243,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "spreadsheetId": "1yvMzrR__eFYeK6l3EcNgCyyaJwg-tDzIz3oxDjma3l8",
                      "sheetId": 1251156314,
                      "title": "Sheet2",
                      "index": 1,
                      "sheetType": "GRID",
                      "gridProperties": {
                        "rowCount": 20,
                        "columnCount": 10
                      },
                      "tabColor": {
                        "red": 1,
                        "green": 0.43137255,
                        "blue": 0.22352941
                      },
                      "tabColorStyle": {
                        "rgbColor": {
                          "red": 1,
                          "green": 0.43137255,
                          "blue": 0.22352941
                        }
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Google Sheets1": [
          {
            "startTime": 1622541654833,
            "executionTime": 2468,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 379,
                      "name": "test1"
                    }
                  },
                  {
                    "json": {
                      "id": 897,
                      "name": "test2"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Google Sheets8": [
          {
            "startTime": 1622541657301,
            "executionTime": 1022,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "spreadsheetId": "1yvMzrR__eFYeK6l3EcNgCyyaJwg-tDzIz3oxDjma3l8"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Google Sheets3": [
          {
            "startTime": 1622541658323,
            "executionTime": 1358,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 379,
                      "name": "test1"
                    }
                  },
                  {
                    "json": {
                      "id": 897,
                      "name": "test2"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Google Sheets4": [
          {
            "startTime": 1622541659682,
            "executionTime": 1008,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 379,
                      "name": "test1"
                    }
                  },
                  {
                    "json": {
                      "id": 379,
                      "name": "test1"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Set1": [
          {
            "startTime": 1622541660690,
            "executionTime": 1,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 379,
                      "name": "Updated test1"
                    }
                  },
                  {
                    "json": {
                      "id": 897,
                      "name": "Updated test2"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Google Sheets2": [
          {
            "startTime": 1622541660691,
            "executionTime": 2863,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 379,
                      "name": "Updated test1"
                    }
                  },
                  {
                    "json": {
                      "id": 897,
                      "name": "Updated test2"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Google Sheets6": [
          {
            "startTime": 1622541663554,
            "executionTime": 987,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 379,
                      "name": "Updated test1"
                    }
                  },
                  {
                    "json": {
                      "id": 897,
                      "name": "Updated test2"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Google Sheets5": [
          {
            "startTime": 1622541664541,
            "executionTime": 968,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 379,
                      "name": "Updated test1"
                    }
                  },
                  {
                    "json": {
                      "id": 897,
                      "name": "Updated test2"
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Google Sheets5"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {}
    }
  },
  "mode": "cli",
  "startedAt": "2021-06-01T10:00:51.736Z",
  "stoppedAt": "2021-06-01T10:01:05.510Z",
  "finished": true
}