snapshots/48-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1622629970573,
            "executionTime": 1,
            "data": {
              "main": [
                [
                  {
                    "json": {}
                  }
                ]
              ]
            }
          }
        ],
        "Asana2": [
          {
            "startTime": 1622629970574,
            "executionTime": 1980,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "gid": "1200414963532425",
                      "projects": [
                        "json array"
                      ],
                      "memberships": [
                        "json array"
                      ],
                      "resource_type": "task",
                      "created_at": "2021-06-02T10:32:51.376Z",
                      "modified_at": "2021-06-02T10:32:51.376Z",
                      "name": "TaskTest",
                      "notes": "",
                      "completed": false,
                      "completed_at": {
                        "object": true
                      },
                      "due_on": {
                        "object": true
                      },
                      "due_at": {
                        "object": true
                      },
                      "resource_subtype": "default_task",
                      "start_on": {
                        "object": true
                      },
                      "tags": [
                        "json array"
                      ],
                      "workspace": {
                        "object": true
                      },
                      "num_hearts": 0,
                      "num_likes": 0,
                      "permalink_url": "https://app.asana.com/0/1199961131280920/1200414963532425",
                      "assignee": {
                        "object": true
                      },
                      "parent": {
                        "object": true
                      },
                      "assignee_status": "inbox",
                      "hearted": false,
                      "hearts": [
                        "json array"
                      ],
                      "followers": [
                        "json array"
                      ],
                      "liked": false,
                      "likes": [
                        "json array"
                      ]
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Asana14": [
          {
            "startTime": 1622629972555,
            "executionTime": 698,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "gid": "1199961026001666",
                      "email": "nodeqa@n8n.io",
                      "name": "nodeqa",
                      "photo": {
                        "object": true
                      },
                      "resource_type": "user",
                      "workspaces": [
                        "json array"
                      ]
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Asana": [
          {
            "startTime": 1622629973253,
            "executionTime": 725,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "gid": "1199961131378839",
                      "name": "QAtest",
                      "resource_type": "project"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Asana3": [
          {
            "startTime": 1622629973979,
            "executionTime": 1553,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "gid": "1200414963532425",
                      "projects": [
                        "json array"
                      ],
                      "memberships": [
                        "json array"
                      ],
                      "resource_type": "task",
                      "created_at": "2021-06-02T10:32:51.376Z",
                      "modified_at": "2021-06-02T10:32:55.043Z",
                      "name": "UpdatedTestTask",
                      "notes": "",
                      "completed": false,
                      "assignee_status": "inbox",
                      "completed_at": {
                        "object": true
                      },
                      "due_on": {
                        "object": true
                      },
                      "due_at": {
                        "object": true
                      },
                      "resource_subtype": "default_task",
                      "start_on": {
                        "object": true
                      },
                      "tags": [
                        "json array"
                      ],
                      "workspace": {
                        "object": true
                      },
                      "num_hearts": 0,
                      "num_likes": 0,
                      "permalink_url": "https://app.asana.com/0/1199961131280920/1200414963532425",
                      "assignee": {
                        "object": true
                      },
                      "parent": {
                        "object": true
                      },
                      "hearted": false,
                      "hearts": [
                        "json array"
                      ],
                      "followers": [
                        "json array"
                      ],
                      "liked": false,
                      "likes": [
                        "json array"
                      ]
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Asana15": [
          {
            "startTime": 1622629975532,
            "executionTime": 676,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "gid": "1183698132267547",
                      "name": "Inte Gration",
                      "resource_type": "user"
                    }
                  },
                  {
                    "json": {
                      "gid": "1198750619112603",
                      "name": "Jan Oberhauser",
                      "resource_type": "user"
                    }
                  },
                  {
                    "json": {
                      "gid": "1199961026001666",
                      "name": "nodeqa",
                      "resource_type": "user"
                    }
                  },
                  {
                    "json": {
                      "gid": "1177656661193880",
                      "name": "Ronalds Upenieks",
                      "resource_type": "user"
                    }
                  },
                  {
                    "json": {
                      "gid": "1177253503277681",
                      "name": "Tanay Pant",
                      "resource_type": "user"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Asana1": [
          {
            "startTime": 1622629976208,
            "executionTime": 574,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "gid": "1199961131378839",
                      "archived": false,
                      "color": {
                        "object": true
                      },
                      "created_at": "2021-02-19T14:12:58.357Z",
                      "current_status": {
                        "object": true
                      },
                      "custom_fields": [
                        "json array"
                      ],
                      "default_view": "list",
                      "due_on": {
                        "object": true
                      },
                      "due_date": {
                        "object": true
                      },
                      "followers": [
                        "json array"
                      ],
                      "is_template": false,
                      "members": [
                        "json array"
                      ],
                      "modified_at": "2021-06-01T15:20:17.178Z",
                      "name": "QAtest",
                      "notes": "",
                      "owner": {
                        "object": true
                      },
                      "permalink_url": "https://app.asana.com/0/1199961131378839/1199961131378839",
                      "public": true,
                      "resource_type": "project",
                      "start_on": {
                        "object": true
                      },
                      "team": {
                        "object": true
                      },
                      "workspace": {
                        "object": true
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Asana4": [
          {
            "startTime": 1622629976782,
            "executionTime": 1338,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Asana5": [
          {
            "startTime": 1622629978121,
            "executionTime": 626,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "gid": "1199961131378855",
                      "name": "✏️ Finish setting up your first project",
                      "resource_type": "task"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Asana6": [
          {
            "startTime": 1622629978749,
            "executionTime": 721,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "gid": "1200414963532425",
                      "assignee": {
                        "object": true
                      },
                      "assignee_status": "inbox",
                      "completed": false,
                      "completed_at": {
                        "object": true
                      },
                      "created_at": "2021-06-02T10:32:51.376Z",
                      "due_at": {
                        "object": true
                      },
                      "due_on": {
                        "object": true
                      },
                      "followers": [
                        "json array"
                      ],
                      "hearted": false,
                      "hearts": [
                        "json array"
                      ],
                      "liked": false,
                      "likes": [
                        "json array"
                      ],
                      "memberships": [
                        "json array"
                      ],
                      "modified_at": "2021-06-02T10:32:57.772Z",
                      "name": "UpdatedTestTask",
                      "notes": "",
                      "num_hearts": 0,
                      "num_likes": 0,
                      "parent": {
                        "object": true
                      },
                      "permalink_url": "https://app.asana.com/0/1199961131378839/1200414963532425",
                      "projects": [
                        "json array"
                      ],
                      "resource_type": "task",
                      "start_on": {
                        "object": true
                      },
                      "tags": [
                        "json array"
                      ],
                      "resource_subtype": "default_task",
                      "workspace": {
                        "object": true
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Asana8": [
          {
            "startTime": 1622629979471,
            "executionTime": 1415,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "gid": "1200414963719001",
                      "resource_type": "story",
                      "created_at": "2021-06-02T10:33:00.343Z",
                      "target": {
                        "object": true
                      },
                      "source": "api",
                      "is_pinned": false,
                      "type": "comment",
                      "text": "TestTaskComment",
                      "is_edited": false,
                      "resource_subtype": "comment_added",
                      "num_hearts": 0,
                      "num_likes": 0,
                      "created_by": {
                        "object": true
                      },
                      "is_editable": true,
                      "hearted": false,
                      "hearts": [
                        "json array"
                      ],
                      "previews": [
                        "json array"
                      ],
                      "liked": false,
                      "likes": [
                        "json array"
                      ]
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Asana10": [
          {
            "startTime": 1622629980886,
            "executionTime": 1183,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Asana12": [
          {
            "startTime": 1622629982069,
            "executionTime": 1174,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Asana16": [
          {
            "startTime": 1622629983244,
            "executionTime": 1298,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "gid": "1200414993818596",
                      "projects": [
                        "json array"
                      ],
                      "memberships": [
                        "json array"
                      ],
                      "resource_type": "task",
                      "created_at": "2021-06-02T10:33:03.841Z",
                      "modified_at": "2021-06-02T10:33:03.841Z",
                      "name": "SubTestTask",
                      "notes": "",
                      "assignee": {
                        "object": true
                      },
                      "completed": false,
                      "assignee_status": "upcoming",
                      "completed_at": {
                        "object": true
                      },
                      "due_on": {
                        "object": true
                      },
                      "due_at": {
                        "object": true
                      },
                      "resource_subtype": "default_task",
                      "start_on": {
                        "object": true
                      },
                      "tags": [
                        "json array"
                      ],
                      "workspace": {
                        "object": true
                      },
                      "num_hearts": 0,
                      "num_likes": 0,
                      "permalink_url": "https://app.asana.com/0/1199961131378839/1200414993818596",
                      "parent": {
                        "object": true
                      },
                      "hearted": false,
                      "hearts": [
                        "json array"
                      ],
                      "liked": false,
                      "likes": [
                        "json array"
                      ],
                      "followers": [
                        "json array"
                      ]
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Asana9": [
          {
            "startTime": 1622629984543,
            "executionTime": 975,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Asana11": [
          {
            "startTime": 1622629985518,
            "executionTime": 1245,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Asana13": [
          {
            "startTime": 1622629986763,
            "executionTime": 2289,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Asana17": [
          {
            "startTime": 1622629989052,
            "executionTime": 797,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "gid": "1200414993818596",
                      "name": "SubTestTask",
                      "resource_type": "task"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Asana7": [
          {
            "startTime": 1622629989849,
            "executionTime": 1252,
            "data": {
              "main": [
                [
                  {
                    "json": {}
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Asana7"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {}
    }
  },
  "mode": "cli",
  "startedAt": "2021-06-02T10:32:50.571Z",
  "stoppedAt": "2021-06-02T10:33:11.101Z",
  "finished": true
}