snapshots/51-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1622629975547,
            "executionTime": 0,
            "data": {
              "main": [
                [
                  {
                    "json": {}
                  }
                ]
              ]
            }
          }
        ],
        "Clockify": [
          {
            "startTime": 1622629975548,
            "executionTime": 300,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "60b75e574e7eb60b346b257a",
                      "name": "TestProject created Wed, 02 Jun 2021 10:32:55 GMT",
                      "hourlyRate": {
                        "object": true
                      },
                      "clientId": "",
                      "workspaceId": "60335ad3f24e660123d7fdee",
                      "billable": true,
                      "memberships": [
                        "json array"
                      ],
                      "color": "#3F51B5",
                      "estimate": {
                        "object": true
                      },
                      "archived": false,
                      "duration": "PT0S",
                      "clientName": "",
                      "note": "",
                      "costRate": {
                        "object": true
                      },
                      "timeEstimate": {
                        "object": true
                      },
                      "budgetEstimate": {
                        "object": true
                      },
                      "public": false,
                      "template": false
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Clockify5": [
          {
            "startTime": 1622629975849,
            "executionTime": 216,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "60b75e584e7eb60b346b257c",
                      "name": "TestTag",
                      "workspaceId": "60335ad3f24e660123d7fdee",
                      "archived": false
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Clockify9": [
          {
            "startTime": 1622629976066,
            "executionTime": 179,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "60b75e58f009db602653c2e6",
                      "description": {
                        "object": true
                      },
                      "tagIds": {
                        "object": true
                      },
                      "userId": "60335ad2f24e660123d7fdeb",
                      "billable": false,
                      "taskId": {
                        "object": true
                      },
                      "projectId": {
                        "object": true
                      },
                      "timeInterval": {
                        "object": true
                      },
                      "workspaceId": "60335ad3f24e660123d7fdee",
                      "isLocked": false,
                      "customFieldValues": [
                        "json array"
                      ]
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Clockify1": [
          {
            "startTime": 1622629976246,
            "executionTime": 184,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "60b75e574e7eb60b346b257a",
                      "name": "Updated TestProject created Wed, 02 Jun 2021 10:32:55 GMT",
                      "hourlyRate": {
                        "object": true
                      },
                      "clientId": "",
                      "workspaceId": "60335ad3f24e660123d7fdee",
                      "billable": false,
                      "memberships": [
                        "json array"
                      ],
                      "color": "#3F51B5",
                      "estimate": {
                        "object": true
                      },
                      "archived": false,
                      "duration": "PT0S",
                      "clientName": "",
                      "note": "",
                      "costRate": {
                        "object": true
                      },
                      "timeEstimate": {
                        "object": true
                      },
                      "budgetEstimate": {
                        "object": true
                      },
                      "public": false,
                      "template": false
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Clockify6": [
          {
            "startTime": 1622629976431,
            "executionTime": 138,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "60b75e584e7eb60b346b257c",
                      "name": "UpdatedTag",
                      "workspaceId": "60335ad3f24e660123d7fdee",
                      "archived": false
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Clockify10": [
          {
            "startTime": 1622629976569,
            "executionTime": 367,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "60b75e58f009db602653c2e6",
                      "description": "Updated time entry",
                      "tagIds": {
                        "object": true
                      },
                      "userId": "60335ad2f24e660123d7fdeb",
                      "billable": false,
                      "taskId": {
                        "object": true
                      },
                      "projectId": {
                        "object": true
                      },
                      "timeInterval": {
                        "object": true
                      },
                      "workspaceId": "60335ad3f24e660123d7fdee",
                      "isLocked": false,
                      "customFieldValues": [
                        "json array"
                      ]
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Clockify2": [
          {
            "startTime": 1622629976936,
            "executionTime": 145,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "60b75e574e7eb60b346b257a",
                      "name": "Updated TestProject created Wed, 02 Jun 2021 10:32:55 GMT",
                      "hourlyRate": {
                        "object": true
                      },
                      "clientId": "",
                      "workspaceId": "60335ad3f24e660123d7fdee",
                      "billable": false,
                      "memberships": [
                        "json array"
                      ],
                      "color": "#3F51B5",
                      "estimate": {
                        "object": true
                      },
                      "archived": false,
                      "duration": "PT0S",
                      "clientName": "",
                      "note": "",
                      "costRate": {
                        "object": true
                      },
                      "timeEstimate": {
                        "object": true
                      },
                      "budgetEstimate": {
                        "object": true
                      },
                      "public": false,
                      "template": false
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Clockify7": [
          {
            "startTime": 1622629977082,
            "executionTime": 109,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "60b75e584e7eb60b346b257c",
                      "name": "UpdatedTag",
                      "workspaceId": "60335ad3f24e660123d7fdee",
                      "archived": false
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Clockify11": [
          {
            "startTime": 1622629977191,
            "executionTime": 185,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "60b75e58f009db602653c2e6",
                      "description": "Updated time entry",
                      "tagIds": {
                        "object": true
                      },
                      "userId": "60335ad2f24e660123d7fdeb",
                      "billable": false,
                      "taskId": {
                        "object": true
                      },
                      "projectId": {
                        "object": true
                      },
                      "timeInterval": {
                        "object": true
                      },
                      "workspaceId": "60335ad3f24e660123d7fdee",
                      "isLocked": false,
                      "customFieldValues": [
                        "json array"
                      ]
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Clockify3": [
          {
            "startTime": 1622629977377,
            "executionTime": 231,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "60b4ef40f009db60265201e8",
                      "name": "TestProject created Mon, 31 May 2021 14:14:23 GMT",
                      "hourlyRate": {
                        "object": true
                      },
                      "clientId": "",
                      "workspaceId": "60335ad3f24e660123d7fdee",
                      "billable": true,
                      "memberships": [
                        "json array"
                      ],
                      "color": "#673AB7",
                      "estimate": {
                        "object": true
                      },
                      "archived": false,
                      "duration": "PT0S",
                      "clientName": "",
                      "note": "",
                      "costRate": {
                        "object": true
                      },
                      "timeEstimate": {
                        "object": true
                      },
                      "budgetEstimate": {
                        "object": true
                      },
                      "public": false,
                      "template": false
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Clockify8": [
          {
            "startTime": 1622629977609,
            "executionTime": 158,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Clockify12": [
          {
            "startTime": 1622629977767,
            "executionTime": 150,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Clockify4": [
          {
            "startTime": 1622629977917,
            "executionTime": 0,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "60b4ef40f009db60265201e8",
                      "name": "TestProject created Mon, 31 May 2021 14:14:23 GMT",
                      "hourlyRate": {
                        "object": true
                      },
                      "clientId": "",
                      "workspaceId": "60335ad3f24e660123d7fdee",
                      "billable": true,
                      "memberships": [
                        "json array"
                      ],
                      "color": "#673AB7",
                      "estimate": {
                        "object": true
                      },
                      "archived": false,
                      "duration": "PT0S",
                      "clientName": "",
                      "note": "",
                      "costRate": {
                        "object": true
                      },
                      "timeEstimate": {
                        "object": true
                      },
                      "budgetEstimate": {
                        "object": true
                      },
                      "public": false,
                      "template": false
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Clockify4"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {}
    }
  },
  "mode": "cli",
  "startedAt": "2021-06-02T10:32:55.544Z",
  "stoppedAt": "2021-06-02T10:32:57.918Z",
  "finished": true
}