snapshots/53-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1710331931345,
            "executionTime": 0,
            "source": [],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ConvertKit": [
          {
            "startTime": 1710331931345,
            "executionTime": 673,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 514804,
                      "name": "ck_field_514804_testfield07177155688825265",
                      "key": "testfield0_7177155688825265",
                      "label": "testField0.7177155688825265"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ConvertKit4": [
          {
            "startTime": 1710331932018,
            "executionTime": 571,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 2059113,
                      "name": "TestForm",
                      "created_at": "2021-02-22T09:16:09.000Z",
                      "type": "embed",
                      "format": "inline",
                      "embed_js": "https://chipper-musician-5875.ck.page/bec913a630/index.js",
                      "embed_url": "https://chipper-musician-5875.ck.page/bec913a630",
                      "archived": false,
                      "uid": "bec913a630"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ConvertKit1": [
          {
            "startTime": 1710331932589,
            "executionTime": 679,
            "source": [
              {
                "previousNode": "ConvertKit"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 213135,
                      "name": "ck_field_213135_testfield",
                      "key": "testfield",
                      "label": "testField"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ConvertKit5": [
          {
            "startTime": 1710331933268,
            "executionTime": 805,
            "source": [
              {
                "previousNode": "ConvertKit4"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 7823243737,
                      "state": "inactive",
                      "created_at": "2024-03-13T12:12:13.000Z",
                      "source": "API::V3::SubscriptionsController (external)",
                      "referrer": {
                        "object": true
                      },
                      "subscribable_id": 2059113,
                      "subscribable_type": "form",
                      "subscriber": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ConvertKit2": [
          {
            "startTime": 1710331934073,
            "executionTime": 678,
            "source": [
              {
                "previousNode": "ConvertKit1"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ConvertKit7": [
          {
            "startTime": 1710331934751,
            "executionTime": 569,
            "source": [
              {
                "previousNode": "ConvertKit5"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 4594592,
                      "name": "tag1710331934751",
                      "created_at": "2024-03-13T12:12:15.000Z"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ConvertKit3": [
          {
            "startTime": 1710331935321,
            "executionTime": 635,
            "source": [
              {
                "previousNode": "ConvertKit2"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ConvertKit8": [
          {
            "startTime": 1710331935957,
            "executionTime": 2375,
            "source": [
              {
                "previousNode": "ConvertKit7"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 2205755,
                      "name": "tag1613985759319",
                      "created_at": "2021-02-22T09:22:40.000Z"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ConvertKit9": [
          {
            "startTime": 1710331938332,
            "executionTime": 824,
            "source": [
              {
                "previousNode": "ConvertKit8"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 7823243940,
                      "state": "inactive",
                      "created_at": "2024-03-13T12:12:19.000Z",
                      "source": "API::V3::SubscriptionsController (external)",
                      "referrer": {
                        "object": true
                      },
                      "subscribable_id": 4594592,
                      "subscribable_type": "tag",
                      "subscriber": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ConvertKit10": [
          {
            "startTime": 1710331939156,
            "executionTime": 574,
            "source": [
              {
                "previousNode": "ConvertKit9"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": [
                      {
                        "item": 0,
                        "input": 0
                      }
                    ]
                  }
                ]
              ]
            }
          }
        ],
        "ConvertKit11": [
          {
            "startTime": 1710331939731,
            "executionTime": 790,
            "source": [
              {
                "previousNode": "ConvertKit10"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 4594592,
                      "name": "tag1710331934751",
                      "created_at": "2024-03-13T12:12:15.000Z"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ConvertKit6": [
          {
            "startTime": 1710331940521,
            "executionTime": 691,
            "source": [
              {
                "previousNode": "ConvertKit11"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                []
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "ConvertKit6"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2024-03-13T12:12:11.345Z",
  "stoppedAt": "2024-03-13T12:12:21.212Z",
  "status": "running",
  "finished": true
}