snapshots/53-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "hints": [],
            "startTime": 1739394052688,
            "executionTime": 0,
            "source": [],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ConvertKit": [
          {
            "hints": [],
            "startTime": 1739394052689,
            "executionTime": 723,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 856511,
                      "name": "ck_field_856511_testfield05743274672355758",
                      "key": "testfield0_5743274672355758",
                      "label": "testField0.5743274672355758"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ConvertKit4": [
          {
            "hints": [],
            "startTime": 1739394053413,
            "executionTime": 655,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 2059113,
                      "name": "TestForm",
                      "created_at": "2021-02-22T09:16:09.000Z",
                      "type": "embed",
                      "format": "inline",
                      "embed_js": "https://chipper-musician-5875.kit.com/bec913a630/index.js",
                      "embed_url": "https://chipper-musician-5875.kit.com/bec913a630",
                      "archived": false,
                      "uid": "bec913a630"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ConvertKit1": [
          {
            "hints": [],
            "startTime": 1739394054069,
            "executionTime": 533,
            "source": [
              {
                "previousNode": "ConvertKit"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 213135,
                      "name": "ck_field_213135_testfield",
                      "key": "testfield",
                      "label": "testField"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ConvertKit5": [
          {
            "hints": [],
            "startTime": 1739394054603,
            "executionTime": 784,
            "source": [
              {
                "previousNode": "ConvertKit4"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 9828283171,
                      "state": "inactive",
                      "created_at": "2025-02-12T21:00:55.000Z",
                      "source": "API::V3::SubscriptionsController (external)",
                      "referrer": {
                        "object": true
                      },
                      "subscribable_id": 2059113,
                      "subscribable_type": "form",
                      "subscriber": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ConvertKit2": [
          {
            "hints": [],
            "startTime": 1739394055388,
            "executionTime": 698,
            "source": [
              {
                "previousNode": "ConvertKit1"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ConvertKit7": [
          {
            "hints": [],
            "startTime": 1739394056087,
            "executionTime": 624,
            "source": [
              {
                "previousNode": "ConvertKit5"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 6320731,
                      "name": "tag1739394056091",
                      "created_at": "2025-02-12T21:00:56.000Z"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ConvertKit3": [
          {
            "hints": [],
            "startTime": 1739394056712,
            "executionTime": 547,
            "source": [
              {
                "previousNode": "ConvertKit2"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ConvertKit8": [
          {
            "hints": [],
            "startTime": 1739394057260,
            "executionTime": 1234,
            "source": [
              {
                "previousNode": "ConvertKit7"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 2205755,
                      "name": "tag1613985759319",
                      "created_at": "2021-02-22T09:22:40.000Z"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ConvertKit9": [
          {
            "hints": [],
            "startTime": 1739394058494,
            "executionTime": 781,
            "source": [
              {
                "previousNode": "ConvertKit8"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 9828283353,
                      "state": "active",
                      "created_at": "2025-02-12T21:00:59.000Z",
                      "source": "API::V3::SubscriptionsController (external)",
                      "referrer": {
                        "object": true
                      },
                      "subscribable_id": 6320731,
                      "subscribable_type": "tag",
                      "subscriber": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ConvertKit10": [
          {
            "hints": [],
            "startTime": 1739394059276,
            "executionTime": 545,
            "source": [
              {
                "previousNode": "ConvertKit9"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 4467904347,
                      "state": "active",
                      "created_at": "2025-02-12T21:00:59.000Z",
                      "source": {
                        "object": true
                      },
                      "referrer": {
                        "object": true
                      },
                      "subscribable_id": 6320731,
                      "subscribable_type": "Tag",
                      "subscriber": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ConvertKit11": [
          {
            "hints": [],
            "startTime": 1739394059821,
            "executionTime": 635,
            "source": [
              {
                "previousNode": "ConvertKit10"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 6320731,
                      "name": "tag1739394056091",
                      "created_at": "2025-02-12T21:00:56.000Z"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ConvertKit6": [
          {
            "hints": [],
            "startTime": 1739394060457,
            "executionTime": 642,
            "source": [
              {
                "previousNode": "ConvertKit11"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                []
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "ConvertKit6"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2025-02-12T21:00:52.687Z",
  "stoppedAt": "2025-02-12T21:01:01.099Z",
  "status": "running",
  "finished": true
}