snapshots/53-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "hints": [],
            "startTime": 1734618443032,
            "executionTime": 0,
            "source": [],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ConvertKit": [
          {
            "hints": [],
            "startTime": 1734618443032,
            "executionTime": 660,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 783484,
                      "name": "ck_field_783484_testfield042473075124850546",
                      "key": "testfield0_42473075124850546",
                      "label": "testField0.42473075124850546"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ConvertKit4": [
          {
            "hints": [],
            "startTime": 1734618443693,
            "executionTime": 630,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 2059113,
                      "name": "TestForm",
                      "created_at": "2021-02-22T09:16:09.000Z",
                      "type": "embed",
                      "format": "inline",
                      "embed_js": "https://chipper-musician-5875.kit.com/bec913a630/index.js",
                      "embed_url": "https://chipper-musician-5875.kit.com/bec913a630",
                      "archived": false,
                      "uid": "bec913a630"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ConvertKit1": [
          {
            "hints": [],
            "startTime": 1734618444324,
            "executionTime": 600,
            "source": [
              {
                "previousNode": "ConvertKit"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 213135,
                      "name": "ck_field_213135_testfield",
                      "key": "testfield",
                      "label": "testField"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ConvertKit5": [
          {
            "hints": [],
            "startTime": 1734618444924,
            "executionTime": 721,
            "source": [
              {
                "previousNode": "ConvertKit4"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 9488777969,
                      "state": "inactive",
                      "created_at": "2024-12-19T14:27:25.000Z",
                      "source": "API::V3::SubscriptionsController (external)",
                      "referrer": {
                        "object": true
                      },
                      "subscribable_id": 2059113,
                      "subscribable_type": "form",
                      "subscriber": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ConvertKit2": [
          {
            "hints": [],
            "startTime": 1734618445646,
            "executionTime": 671,
            "source": [
              {
                "previousNode": "ConvertKit1"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ConvertKit7": [
          {
            "hints": [],
            "startTime": 1734618446317,
            "executionTime": 606,
            "source": [
              {
                "previousNode": "ConvertKit5"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 5669270,
                      "name": "tag1734618446322",
                      "created_at": "2024-12-19T14:27:26.000Z"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ConvertKit3": [
          {
            "hints": [],
            "startTime": 1734618446924,
            "executionTime": 604,
            "source": [
              {
                "previousNode": "ConvertKit2"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ConvertKit8": [
          {
            "hints": [],
            "startTime": 1734618447528,
            "executionTime": 1326,
            "source": [
              {
                "previousNode": "ConvertKit7"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 2205755,
                      "name": "tag1613985759319",
                      "created_at": "2021-02-22T09:22:40.000Z"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ConvertKit9": [
          {
            "hints": [],
            "startTime": 1734618448854,
            "executionTime": 663,
            "source": [
              {
                "previousNode": "ConvertKit8"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 9488778417,
                      "state": "active",
                      "created_at": "2024-12-19T14:27:29.000Z",
                      "source": "API::V3::SubscriptionsController (external)",
                      "referrer": {
                        "object": true
                      },
                      "subscribable_id": 5669270,
                      "subscribable_type": "tag",
                      "subscriber": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ConvertKit10": [
          {
            "hints": [],
            "startTime": 1734618449517,
            "executionTime": 602,
            "source": [
              {
                "previousNode": "ConvertKit9"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 4031058036,
                      "state": "active",
                      "created_at": "2024-12-19T14:27:29.000Z",
                      "source": {
                        "object": true
                      },
                      "referrer": {
                        "object": true
                      },
                      "subscribable_id": 5669270,
                      "subscribable_type": "Tag",
                      "subscriber": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ConvertKit11": [
          {
            "hints": [],
            "startTime": 1734618450120,
            "executionTime": 612,
            "source": [
              {
                "previousNode": "ConvertKit10"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 5669270,
                      "name": "tag1734618446322",
                      "created_at": "2024-12-19T14:27:26.000Z"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ConvertKit6": [
          {
            "hints": [],
            "startTime": 1734618450733,
            "executionTime": 561,
            "source": [
              {
                "previousNode": "ConvertKit11"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                []
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "ConvertKit6"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2024-12-19T14:27:23.031Z",
  "stoppedAt": "2024-12-19T14:27:31.295Z",
  "status": "running",
  "finished": true
}