snapshots/58-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "hints": [],
            "startTime": 1732699127554,
            "executionTime": 0,
            "source": [],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Todoist": [
          {
            "hints": [],
            "startTime": 1732699127555,
            "executionTime": 737,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "8627158783",
                      "assigner_id": {
                        "object": true
                      },
                      "assignee_id": {
                        "object": true
                      },
                      "project_id": "2259097055",
                      "section_id": {
                        "object": true
                      },
                      "parent_id": {
                        "object": true
                      },
                      "order": 19,
                      "content": "Test Task",
                      "description": "",
                      "is_completed": false,
                      "labels": [
                        "json array"
                      ],
                      "priority": 1,
                      "comment_count": 0,
                      "creator_id": "32694069",
                      "created_at": "2024-11-27T09:18:47.916991Z",
                      "due": {
                        "object": true
                      },
                      "url": "https://app.todoist.com/app/task/8627158783",
                      "duration": {
                        "object": true
                      },
                      "deadline": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Todoist1": [
          {
            "hints": [],
            "startTime": 1732699128292,
            "executionTime": 356,
            "source": [
              {
                "previousNode": "Todoist"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "8627158783",
                      "assigner_id": {
                        "object": true
                      },
                      "assignee_id": {
                        "object": true
                      },
                      "project_id": "2259097055",
                      "section_id": {
                        "object": true
                      },
                      "parent_id": {
                        "object": true
                      },
                      "order": 19,
                      "content": "Test Task",
                      "description": "",
                      "is_completed": false,
                      "labels": [
                        "json array"
                      ],
                      "priority": 1,
                      "comment_count": 0,
                      "creator_id": "32694069",
                      "created_at": "2024-11-27T09:18:47.916991Z",
                      "due": {
                        "object": true
                      },
                      "url": "https://app.todoist.com/app/task/8627158783",
                      "duration": {
                        "object": true
                      },
                      "deadline": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Todoist2": [
          {
            "hints": [],
            "startTime": 1732699128648,
            "executionTime": 544,
            "source": [
              {
                "previousNode": "Todoist1"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Todoist3": [
          {
            "hints": [],
            "startTime": 1732699129192,
            "executionTime": 585,
            "source": [
              {
                "previousNode": "Todoist2"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Todoist5": [
          {
            "hints": [],
            "startTime": 1732699129777,
            "executionTime": 795,
            "source": [
              {
                "previousNode": "Todoist3"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "4603488029",
                      "assigner_id": {
                        "object": true
                      },
                      "assignee_id": {
                        "object": true
                      },
                      "project_id": "2259097058",
                      "section_id": "38720481",
                      "parent_id": {
                        "object": true
                      },
                      "order": 1,
                      "content": "Click this task to see more details",
                      "description": "",
                      "is_completed": false,
                      "labels": [
                        "json array"
                      ],
                      "priority": 1,
                      "comment_count": 1,
                      "creator_id": "32694069",
                      "created_at": "2021-02-23T09:24:40.694459Z",
                      "due": {
                        "object": true
                      },
                      "url": "https://app.todoist.com/app/task/4603488029",
                      "duration": {
                        "object": true
                      },
                      "deadline": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Todoist4": [
          {
            "hints": [],
            "startTime": 1732699130572,
            "executionTime": 515,
            "source": [
              {
                "previousNode": "Todoist5"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Todoist4"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2024-11-27T09:18:47.554Z",
  "stoppedAt": "2024-11-27T09:18:51.087Z",
  "status": "running",
  "finished": true
}