snapshots/58-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1676027862688,
            "executionTime": 1,
            "source": [],
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Todoist": [
          {
            "startTime": 1676027862689,
            "executionTime": 1712,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "6605915881",
                      "assigner_id": {
                        "object": true
                      },
                      "assignee_id": {
                        "object": true
                      },
                      "project_id": "2259097055",
                      "section_id": {
                        "object": true
                      },
                      "parent_id": {
                        "object": true
                      },
                      "order": 15,
                      "content": "Test Task",
                      "description": "",
                      "is_completed": false,
                      "labels": [
                        "json array"
                      ],
                      "priority": 1,
                      "comment_count": 0,
                      "creator_id": "32694069",
                      "created_at": "2023-02-10T11:17:44.310792Z",
                      "due": {
                        "object": true
                      },
                      "url": "https://todoist.com/showTask?id=6605915881"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Todoist1": [
          {
            "startTime": 1676027864401,
            "executionTime": 415,
            "source": [
              {
                "previousNode": "Todoist"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "6605915881",
                      "assigner_id": {
                        "object": true
                      },
                      "assignee_id": {
                        "object": true
                      },
                      "project_id": "2259097055",
                      "section_id": {
                        "object": true
                      },
                      "parent_id": {
                        "object": true
                      },
                      "order": 15,
                      "content": "Test Task",
                      "description": "",
                      "is_completed": false,
                      "labels": [
                        "json array"
                      ],
                      "priority": 1,
                      "comment_count": 0,
                      "creator_id": "32694069",
                      "created_at": "2023-02-10T11:17:44.310792Z",
                      "due": {
                        "object": true
                      },
                      "url": "https://todoist.com/showTask?id=6605915881"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Todoist2": [
          {
            "startTime": 1676027864816,
            "executionTime": 334,
            "source": [
              {
                "previousNode": "Todoist1"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Todoist3": [
          {
            "startTime": 1676027865150,
            "executionTime": 321,
            "source": [
              {
                "previousNode": "Todoist2"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Todoist5": [
          {
            "startTime": 1676027865471,
            "executionTime": 416,
            "source": [
              {
                "previousNode": "Todoist3"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "4603488029",
                      "assigner_id": {
                        "object": true
                      },
                      "assignee_id": {
                        "object": true
                      },
                      "project_id": "2259097058",
                      "section_id": "38720481",
                      "parent_id": {
                        "object": true
                      },
                      "order": 1,
                      "content": "Click this task to see more details",
                      "description": "",
                      "is_completed": false,
                      "labels": [
                        "json array"
                      ],
                      "priority": 1,
                      "comment_count": 1,
                      "creator_id": "32694069",
                      "created_at": "2021-02-23T09:24:40.694459Z",
                      "due": {
                        "object": true
                      },
                      "url": "https://todoist.com/showTask?id=4603488029"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Todoist4": [
          {
            "startTime": 1676027865887,
            "executionTime": 348,
            "source": [
              {
                "previousNode": "Todoist5"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Todoist4"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2023-02-10T11:17:42.687Z",
  "stoppedAt": "2023-02-10T11:17:46.235Z",
  "finished": true
}