snapshots/58-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "hints": [],
            "startTime": 1734619805724,
            "executionTime": 0,
            "source": [],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Todoist": [
          {
            "hints": [],
            "startTime": 1734619805724,
            "executionTime": 1770,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "8695538034",
                      "assigner_id": {
                        "object": true
                      },
                      "assignee_id": {
                        "object": true
                      },
                      "project_id": "2259097055",
                      "section_id": {
                        "object": true
                      },
                      "parent_id": {
                        "object": true
                      },
                      "order": 19,
                      "content": "Test Task",
                      "description": "",
                      "is_completed": false,
                      "labels": [
                        "json array"
                      ],
                      "priority": 1,
                      "comment_count": 0,
                      "creator_id": "32694069",
                      "created_at": "2024-12-19T14:50:06.995079Z",
                      "due": {
                        "object": true
                      },
                      "url": "https://app.todoist.com/app/task/8695538034",
                      "duration": {
                        "object": true
                      },
                      "deadline": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Todoist1": [
          {
            "hints": [],
            "startTime": 1734619807495,
            "executionTime": 478,
            "source": [
              {
                "previousNode": "Todoist"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "8695538034",
                      "assigner_id": {
                        "object": true
                      },
                      "assignee_id": {
                        "object": true
                      },
                      "project_id": "2259097055",
                      "section_id": {
                        "object": true
                      },
                      "parent_id": {
                        "object": true
                      },
                      "order": 19,
                      "content": "Test Task",
                      "description": "",
                      "is_completed": false,
                      "labels": [
                        "json array"
                      ],
                      "priority": 1,
                      "comment_count": 0,
                      "creator_id": "32694069",
                      "created_at": "2024-12-19T14:50:06.995079Z",
                      "due": {
                        "object": true
                      },
                      "url": "https://app.todoist.com/app/task/8695538034",
                      "duration": {
                        "object": true
                      },
                      "deadline": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Todoist2": [
          {
            "hints": [],
            "startTime": 1734619807973,
            "executionTime": 990,
            "source": [
              {
                "previousNode": "Todoist1"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Todoist3": [
          {
            "hints": [],
            "startTime": 1734619808963,
            "executionTime": 2333,
            "source": [
              {
                "previousNode": "Todoist2"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Todoist5": [
          {
            "hints": [],
            "startTime": 1734619811297,
            "executionTime": 455,
            "source": [
              {
                "previousNode": "Todoist3"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "4603488029",
                      "assigner_id": {
                        "object": true
                      },
                      "assignee_id": {
                        "object": true
                      },
                      "project_id": "2259097058",
                      "section_id": "38720481",
                      "parent_id": {
                        "object": true
                      },
                      "order": 1,
                      "content": "Click this task to see more details",
                      "description": "",
                      "is_completed": false,
                      "labels": [
                        "json array"
                      ],
                      "priority": 1,
                      "comment_count": 1,
                      "creator_id": "32694069",
                      "created_at": "2021-02-23T09:24:40.694459Z",
                      "due": {
                        "object": true
                      },
                      "url": "https://app.todoist.com/app/task/4603488029",
                      "duration": {
                        "object": true
                      },
                      "deadline": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Todoist4": [
          {
            "hints": [],
            "startTime": 1734619811752,
            "executionTime": 536,
            "source": [
              {
                "previousNode": "Todoist5"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Todoist4"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2024-12-19T14:50:05.723Z",
  "stoppedAt": "2024-12-19T14:50:12.288Z",
  "status": "running",
  "finished": true
}