snapshots/60-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1676891394228,
            "executionTime": 0,
            "source": [],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Taiga": [
          {
            "startTime": 1676891394229,
            "executionTime": 967,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "tags": [
                        "json array"
                      ],
                      "due_date": {
                        "object": true
                      },
                      "due_date_reason": "",
                      "due_date_status": "not_set",
                      "attachments": [
                        "json array"
                      ],
                      "project": 399742,
                      "project_extra_info": {
                        "object": true
                      },
                      "status": 2801529,
                      "status_extra_info": {
                        "object": true
                      },
                      "assigned_to": {
                        "object": true
                      },
                      "assigned_to_extra_info": {
                        "object": true
                      },
                      "owner": 470482,
                      "owner_extra_info": {
                        "object": true
                      },
                      "is_watcher": false,
                      "total_watchers": 0,
                      "is_voter": false,
                      "total_voters": 0,
                      "id": 1582981,
                      "ref": 487,
                      "severity": 1996617,
                      "priority": 1201587,
                      "type": 1206845,
                      "milestone": {
                        "object": true
                      },
                      "created_date": "2023-02-20T11:09:55.063Z",
                      "modified_date": "2023-02-20T11:09:55.070Z",
                      "finished_date": {
                        "object": true
                      },
                      "subject": "Test",
                      "external_reference": {
                        "object": true
                      },
                      "version": 1,
                      "watchers": [
                        "json array"
                      ],
                      "is_blocked": false,
                      "blocked_note": "",
                      "is_closed": false,
                      "comment": "",
                      "generated_user_stories": {
                        "object": true
                      },
                      "blocked_note_html": "",
                      "description": "TestIssue",
                      "description_html": "<p>TestIssue</p>"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Taiga1": [
          {
            "startTime": 1676891395197,
            "executionTime": 1765,
            "source": [
              {
                "previousNode": "Taiga"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "tags": [
                        "json array"
                      ],
                      "due_date": {
                        "object": true
                      },
                      "due_date_reason": "",
                      "due_date_status": "not_set",
                      "attachments": [
                        "json array"
                      ],
                      "project": 399742,
                      "project_extra_info": {
                        "object": true
                      },
                      "status": 2801529,
                      "status_extra_info": {
                        "object": true
                      },
                      "assigned_to": {
                        "object": true
                      },
                      "assigned_to_extra_info": {
                        "object": true
                      },
                      "owner": 470482,
                      "owner_extra_info": {
                        "object": true
                      },
                      "is_watcher": false,
                      "total_watchers": 0,
                      "is_voter": false,
                      "total_voters": 0,
                      "id": 1582981,
                      "ref": 487,
                      "severity": 1996617,
                      "priority": 1201587,
                      "type": 1206845,
                      "milestone": {
                        "object": true
                      },
                      "created_date": "2023-02-20T11:09:55.063Z",
                      "modified_date": "2023-02-20T11:09:56.890Z",
                      "finished_date": {
                        "object": true
                      },
                      "subject": "UpdatedTest",
                      "external_reference": {
                        "object": true
                      },
                      "version": 2,
                      "watchers": [
                        "json array"
                      ],
                      "is_blocked": false,
                      "blocked_note": "",
                      "is_closed": false,
                      "comment": "",
                      "generated_user_stories": {
                        "object": true
                      },
                      "blocked_note_html": "",
                      "description": "TestIssue",
                      "description_html": "<p>TestIssue</p>"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Taiga2": [
          {
            "startTime": 1676891396964,
            "executionTime": 830,
            "source": [
              {
                "previousNode": "Taiga1"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "tags": [
                        "json array"
                      ],
                      "due_date": {
                        "object": true
                      },
                      "due_date_reason": "",
                      "due_date_status": "not_set",
                      "attachments": [
                        "json array"
                      ],
                      "project": 399742,
                      "project_extra_info": {
                        "object": true
                      },
                      "status": 2801529,
                      "status_extra_info": {
                        "object": true
                      },
                      "assigned_to": {
                        "object": true
                      },
                      "assigned_to_extra_info": {
                        "object": true
                      },
                      "owner": 470482,
                      "owner_extra_info": {
                        "object": true
                      },
                      "is_watcher": false,
                      "total_watchers": 0,
                      "is_voter": false,
                      "total_voters": 0,
                      "id": 1582981,
                      "ref": 487,
                      "severity": 1996617,
                      "priority": 1201587,
                      "type": 1206845,
                      "milestone": {
                        "object": true
                      },
                      "created_date": "2023-02-20T11:09:55.063Z",
                      "modified_date": "2023-02-20T11:09:56.890Z",
                      "finished_date": {
                        "object": true
                      },
                      "subject": "UpdatedTest",
                      "external_reference": {
                        "object": true
                      },
                      "version": 2,
                      "watchers": [
                        "json array"
                      ],
                      "is_blocked": false,
                      "blocked_note": "",
                      "is_closed": false,
                      "comment": "",
                      "generated_user_stories": {
                        "object": true
                      },
                      "blocked_note_html": "",
                      "description": "TestIssue",
                      "description_html": "<p>TestIssue</p>",
                      "neighbors": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Taiga3": [
          {
            "startTime": 1676891397795,
            "executionTime": 823,
            "source": [
              {
                "previousNode": "Taiga2"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "tags": [
                        "json array"
                      ],
                      "due_date": {
                        "object": true
                      },
                      "due_date_reason": "",
                      "due_date_status": "not_set",
                      "attachments": [
                        "json array"
                      ],
                      "project": 399742,
                      "project_extra_info": {
                        "object": true
                      },
                      "status": 2801529,
                      "status_extra_info": {
                        "object": true
                      },
                      "assigned_to": {
                        "object": true
                      },
                      "assigned_to_extra_info": {
                        "object": true
                      },
                      "owner": 470482,
                      "owner_extra_info": {
                        "object": true
                      },
                      "is_watcher": false,
                      "total_watchers": 0,
                      "is_voter": false,
                      "total_voters": 0,
                      "id": 1582981,
                      "ref": 487,
                      "severity": 1996617,
                      "priority": 1201587,
                      "type": 1206845,
                      "milestone": {
                        "object": true
                      },
                      "created_date": "2023-02-20T11:09:55.063Z",
                      "modified_date": "2023-02-20T11:09:56.890Z",
                      "finished_date": {
                        "object": true
                      },
                      "subject": "UpdatedTest",
                      "external_reference": {
                        "object": true
                      },
                      "version": 2,
                      "watchers": [
                        "json array"
                      ],
                      "is_blocked": false,
                      "blocked_note": "",
                      "is_closed": false
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Taiga4": [
          {
            "startTime": 1676891398619,
            "executionTime": 824,
            "source": [
              {
                "previousNode": "Taiga3"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Taiga4"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2023-02-20T11:09:54.226Z",
  "stoppedAt": "2023-02-20T11:09:59.443Z",
  "status": "running",
  "finished": true
}