snapshots/61-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1635326771366,
            "executionTime": 1,
            "data": {
              "main": [
                [
                  {
                    "json": {}
                  }
                ]
              ]
            }
          }
        ],
        "Spotify": [
          {
            "startTime": 1635326771368,
            "executionTime": 148,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "external_urls": {
                        "object": true
                      },
                      "followers": {
                        "object": true
                      },
                      "genres": [
                        "json array"
                      ],
                      "href": "https://api.spotify.com/v1/artists/0dwFxqYkvZLSA6U6XfQcDV",
                      "id": "0dwFxqYkvZLSA6U6XfQcDV",
                      "images": [
                        "json array"
                      ],
                      "name": "Fairuz",
                      "popularity": 59,
                      "type": "artist",
                      "uri": "spotify:artist:0dwFxqYkvZLSA6U6XfQcDV"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Spotify8": [
          {
            "startTime": 1635326771517,
            "executionTime": 176,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "collaborative": false,
                      "description": "",
                      "external_urls": {
                        "object": true
                      },
                      "href": "https://api.spotify.com/v1/playlists/070qGvYJrWEB2ADn0Lo4XV",
                      "id": "070qGvYJrWEB2ADn0Lo4XV",
                      "images": [
                        "json array"
                      ],
                      "name": "Playlist1635326747869",
                      "owner": {
                        "object": true
                      },
                      "primary_color": {
                        "object": true
                      },
                      "public": true,
                      "snapshot_id": "MSxlNmI3YTFiZWU4ZDk5MmIwOWJhNWM4NTg3Njc2NzVkMjNmMTBjZTRl",
                      "tracks": {
                        "object": true
                      },
                      "type": "playlist",
                      "uri": "spotify:playlist:070qGvYJrWEB2ADn0Lo4XV"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Spotify14": [
          {
            "startTime": 1635326771694,
            "executionTime": 142,
            "data": {
              "main": [
                []
              ]
            }
          }
        ],
        "Spotify17": [
          {
            "startTime": 1635326771837,
            "executionTime": 155,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "added_at": "2021-03-09T20:01:56Z",
                      "track": {
                        "object": true
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Spotify1": [
          {
            "startTime": 1635326771995,
            "executionTime": 187,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "album_group": "album",
                      "album_type": "album",
                      "artists": [
                        "json array"
                      ],
                      "available_markets": [
                        "json array"
                      ],
                      "external_urls": {
                        "object": true
                      },
                      "href": "https://api.spotify.com/v1/albums/4wbBiEVslxWu8CX9dRQjLg",
                      "id": "4wbBiEVslxWu8CX9dRQjLg",
                      "images": [
                        "json array"
                      ],
                      "name": "Les plus belles musiques du monde : Les voix de l'Orient, Fairuz, la Diva de la chanson arabe, Vol. 1",
                      "release_date": "2019-09-02",
                      "release_date_precision": "day",
                      "total_tracks": 20,
                      "type": "album",
                      "uri": "spotify:album:4wbBiEVslxWu8CX9dRQjLg"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Spotify3": [
          {
            "startTime": 1635326772184,
            "executionTime": 180,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "album": {
                        "object": true
                      },
                      "artists": [
                        "json array"
                      ],
                      "disc_number": 1,
                      "duration_ms": 212924,
                      "explicit": false,
                      "external_ids": {
                        "object": true
                      },
                      "external_urls": {
                        "object": true
                      },
                      "href": "https://api.spotify.com/v1/tracks/2ea6bt302Bq8Hiulp8Bn2C",
                      "id": "2ea6bt302Bq8Hiulp8Bn2C",
                      "is_local": false,
                      "is_playable": true,
                      "name": "Saalouny El Nas",
                      "popularity": 53,
                      "preview_url": "https://p.scdn.co/mp3-preview/baa7f82a2f0ab2ded71342565cc9c6306cfab216?cid=d6fc82a01ffb43538b33c4003257c758",
                      "track_number": 8,
                      "type": "track",
                      "uri": "spotify:track:2ea6bt302Bq8Hiulp8Bn2C"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Spotify2": [
          {
            "startTime": 1635326772365,
            "executionTime": 216,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "external_urls": {
                        "object": true
                      },
                      "followers": {
                        "object": true
                      },
                      "genres": [
                        "json array"
                      ],
                      "href": "https://api.spotify.com/v1/artists/7Ddov9nbJDbpgzvBVb7cU1",
                      "id": "7Ddov9nbJDbpgzvBVb7cU1",
                      "images": [
                        "json array"
                      ],
                      "name": "George Wassouf",
                      "popularity": 47,
                      "type": "artist",
                      "uri": "spotify:artist:7Ddov9nbJDbpgzvBVb7cU1"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Spotify9": [
          {
            "startTime": 1635326772582,
            "executionTime": 1329,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "collaborative": false,
                      "description": "",
                      "external_urls": {
                        "object": true
                      },
                      "followers": {
                        "object": true
                      },
                      "href": "https://api.spotify.com/v1/playlists/070qGvYJrWEB2ADn0Lo4XV",
                      "id": "070qGvYJrWEB2ADn0Lo4XV",
                      "images": [
                        "json array"
                      ],
                      "name": "Playlist1635326747869",
                      "owner": {
                        "object": true
                      },
                      "primary_color": {
                        "object": true
                      },
                      "public": true,
                      "snapshot_id": "MSxlNmI3YTFiZWU4ZDk5MmIwOWJhNWM4NTg3Njc2NzVkMjNmMTBjZTRl",
                      "tracks": {
                        "object": true
                      },
                      "type": "playlist",
                      "uri": "spotify:playlist:070qGvYJrWEB2ADn0Lo4XV"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Spotify4": [
          {
            "startTime": 1635326773912,
            "executionTime": 203,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "album_type": "album",
                      "artists": [
                        "json array"
                      ],
                      "available_markets": [
                        "json array"
                      ],
                      "copyrights": [
                        "json array"
                      ],
                      "external_ids": {
                        "object": true
                      },
                      "external_urls": {
                        "object": true
                      },
                      "genres": [
                        "json array"
                      ],
                      "href": "https://api.spotify.com/v1/albums/4wbBiEVslxWu8CX9dRQjLg",
                      "id": "4wbBiEVslxWu8CX9dRQjLg",
                      "images": [
                        "json array"
                      ],
                      "label": "Mpm",
                      "name": "Les plus belles musiques du monde : Les voix de l'Orient, Fairuz, la Diva de la chanson arabe, Vol. 1",
                      "popularity": 35,
                      "release_date": "2019-09-02",
                      "release_date_precision": "day",
                      "total_tracks": 20,
                      "tracks": {
                        "object": true
                      },
                      "type": "album",
                      "uri": "spotify:album:4wbBiEVslxWu8CX9dRQjLg"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Spotify10": [
          {
            "startTime": 1635326774117,
            "executionTime": 304,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "snapshot_id": "Miw3NzQ0ODA2NDIwZjNiYjlhOGFmODVjOTUwNjk4OWU5YmIxNDM3NTQ3"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Spotify13": [
          {
            "startTime": 1635326774422,
            "executionTime": 1171,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "album_type": "album",
                      "artists": [
                        "json array"
                      ],
                      "available_markets": [
                        "json array"
                      ],
                      "external_urls": {
                        "object": true
                      },
                      "href": "https://api.spotify.com/v1/albums/2wwCc6fcyhp1tfY3J6Javr",
                      "id": "2wwCc6fcyhp1tfY3J6Javr",
                      "images": [
                        "json array"
                      ],
                      "name": "Blue Banisters",
                      "release_date": "2021-10-22",
                      "release_date_precision": "day",
                      "total_tracks": 15,
                      "type": "album",
                      "uri": "spotify:album:2wwCc6fcyhp1tfY3J6Javr"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Spotify11": [
          {
            "startTime": 1635326775594,
            "executionTime": 1172,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "added_at": "2021-10-27T09:26:14Z",
                      "added_by": {
                        "object": true
                      },
                      "is_local": false,
                      "primary_color": {
                        "object": true
                      },
                      "track": {
                        "object": true
                      },
                      "video_thumbnail": {
                        "object": true
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Spotify5": [
          {
            "startTime": 1635326776767,
            "executionTime": 1201,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "artists": [
                        "json array"
                      ],
                      "available_markets": [
                        "json array"
                      ],
                      "disc_number": 1,
                      "duration_ms": 212346,
                      "explicit": false,
                      "external_urls": {
                        "object": true
                      },
                      "href": "https://api.spotify.com/v1/tracks/3yVnG6J99Oss8SDloM3W0Q",
                      "id": "3yVnG6J99Oss8SDloM3W0Q",
                      "is_local": false,
                      "name": "Behebak Ma Ba' Ref",
                      "preview_url": "https://p.scdn.co/mp3-preview/b3e8b867d3d4ddde2ce09000d69ffcc4696a7713?cid=d6fc82a01ffb43538b33c4003257c758",
                      "track_number": 1,
                      "type": "track",
                      "uri": "spotify:track:3yVnG6J99Oss8SDloM3W0Q"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Spotify12": [
          {
            "startTime": 1635326777969,
            "executionTime": 1330,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Spotify6": [
          {
            "startTime": 1635326779300,
            "executionTime": 138,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "album": {
                        "object": true
                      },
                      "artists": [
                        "json array"
                      ],
                      "available_markets": [
                        "json array"
                      ],
                      "disc_number": 1,
                      "duration_ms": 212346,
                      "explicit": false,
                      "external_ids": {
                        "object": true
                      },
                      "external_urls": {
                        "object": true
                      },
                      "href": "https://api.spotify.com/v1/tracks/3yVnG6J99Oss8SDloM3W0Q",
                      "id": "3yVnG6J99Oss8SDloM3W0Q",
                      "is_local": false,
                      "name": "Behebak Ma Ba' Ref",
                      "popularity": 33,
                      "preview_url": "https://p.scdn.co/mp3-preview/b3e8b867d3d4ddde2ce09000d69ffcc4696a7713?cid=d6fc82a01ffb43538b33c4003257c758",
                      "track_number": 1,
                      "type": "track",
                      "uri": "spotify:track:3yVnG6J99Oss8SDloM3W0Q"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Spotify16": [
          {
            "startTime": 1635326779438,
            "executionTime": 309,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "collaborative": false,
                      "description": {
                        "object": true
                      },
                      "external_urls": {
                        "object": true
                      },
                      "followers": {
                        "object": true
                      },
                      "href": "https://api.spotify.com/v1/playlists/2M2svf1k3FGcNAelAM7Fom",
                      "id": "2M2svf1k3FGcNAelAM7Fom",
                      "images": [
                        "json array"
                      ],
                      "name": "Playlist1635326779439",
                      "owner": {
                        "object": true
                      },
                      "primary_color": {
                        "object": true
                      },
                      "public": true,
                      "snapshot_id": "MSxmZDM5NmExOThlZGNjNzgwODkxZDYzN2VlN2RkOWQ2ZTAwNmZkNzM2",
                      "tracks": {
                        "object": true
                      },
                      "type": "playlist",
                      "uri": "spotify:playlist:2M2svf1k3FGcNAelAM7Fom"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Spotify7": [
          {
            "startTime": 1635326779749,
            "executionTime": 130,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "danceability": 0.461,
                      "energy": 0.29,
                      "key": 11,
                      "loudness": -8.358,
                      "mode": 0,
                      "speechiness": 0.0358,
                      "acousticness": 0.885,
                      "instrumentalness": 0,
                      "liveness": 0.192,
                      "valence": 0.48,
                      "tempo": 112.686,
                      "type": "audio_features",
                      "id": "3yVnG6J99Oss8SDloM3W0Q",
                      "uri": "spotify:track:3yVnG6J99Oss8SDloM3W0Q",
                      "track_href": "https://api.spotify.com/v1/tracks/3yVnG6J99Oss8SDloM3W0Q",
                      "analysis_url": "https://api.spotify.com/v1/audio-analysis/3yVnG6J99Oss8SDloM3W0Q",
                      "duration_ms": 212347,
                      "time_signature": 4
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Spotify7"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {}
    }
  },
  "mode": "cli",
  "startedAt": "2021-10-27T09:26:11.362Z",
  "stoppedAt": "2021-10-27T09:26:19.880Z",
  "finished": true
}