snapshots/67-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1706635239769,
            "executionTime": 0,
            "source": [],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twist": [
          {
            "startTime": 1706635239769,
            "executionTime": 521,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "archived": false,
                      "color": 1,
                      "created_ts": 1706635240,
                      "creator": 511904,
                      "default_groups": [
                        "json array"
                      ],
                      "default_recipients": [
                        "json array"
                      ],
                      "description": "",
                      "filters": {
                        "object": true
                      },
                      "icon": 0,
                      "id": 712838,
                      "is_favorited": false,
                      "name": "TestChannel1706635239771",
                      "public": false,
                      "use_default_recipients": false,
                      "user_ids": [
                        "json array"
                      ],
                      "version": 0,
                      "workspace_id": 164330
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twist4": [
          {
            "startTime": 1706635240290,
            "executionTime": 384,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "actions": [
                        "json array"
                      ],
                      "attachments": [
                        "json array"
                      ],
                      "content": "Message 1706635240292",
                      "conversation_id": 1067233,
                      "creator": 511904,
                      "creator_name": "nodeqa",
                      "deleted": false,
                      "direct_group_mentions": [
                        "json array"
                      ],
                      "direct_mentions": [
                        "json array"
                      ],
                      "id": 89705618,
                      "last_edited_ts": {
                        "object": true
                      },
                      "obj_index": 1802,
                      "posted_ts": 1706635241,
                      "reactions": {
                        "object": true
                      },
                      "system_message": {
                        "object": true
                      },
                      "version": 0,
                      "workspace_id": 164330
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twist13": [
          {
            "startTime": 1706635240674,
            "executionTime": 382,
            "source": [
              {
                "previousNode": "Twist"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "actions": [
                        "json array"
                      ],
                      "attachments": [
                        "json array"
                      ],
                      "channel_id": 712838,
                      "closed": false,
                      "comment_count": 0,
                      "content": "test",
                      "creator": 511904,
                      "creator_name": "nodeqa",
                      "direct_group_mentions": [
                        "json array"
                      ],
                      "direct_mentions": [
                        "json array"
                      ],
                      "groups": [
                        "json array"
                      ],
                      "id": 5873828,
                      "in_inbox": false,
                      "is_archived": true,
                      "is_saved": false,
                      "last_comment": {
                        "object": true
                      },
                      "last_edited_ts": {
                        "object": true
                      },
                      "last_obj_index": -1,
                      "last_updated_ts": 1706635241,
                      "muted_until_ts": {
                        "object": true
                      },
                      "participants": [
                        "json array"
                      ],
                      "pinned": false,
                      "pinned_ts": {
                        "object": true
                      },
                      "posted_ts": 1706635241,
                      "reactions": {
                        "object": true
                      },
                      "recipients": [
                        "json array"
                      ],
                      "responders": [
                        "json array"
                      ],
                      "snippet": "test",
                      "snippet_creator": 511904,
                      "snippet_mask_avatar_url": {
                        "object": true
                      },
                      "snippet_mask_poster": {
                        "object": true
                      },
                      "starred": false,
                      "system_message": {
                        "object": true
                      },
                      "title": "Thread1706635240677",
                      "to_emails": [
                        "json array"
                      ],
                      "version": 0,
                      "workspace_id": 164330
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twist9": [
          {
            "startTime": 1706635241056,
            "executionTime": 355,
            "source": [
              {
                "previousNode": "Twist4"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "actions": [
                        "json array"
                      ],
                      "attachments": [
                        "json array"
                      ],
                      "content": "Message 1706635240292",
                      "conversation_id": 1067233,
                      "creator": 511904,
                      "creator_name": "nodeqa",
                      "deleted": false,
                      "direct_group_mentions": [
                        "json array"
                      ],
                      "direct_mentions": [
                        "json array"
                      ],
                      "id": 89705618,
                      "last_edited_ts": {
                        "object": true
                      },
                      "obj_index": 1802,
                      "posted_ts": 1706635241,
                      "reactions": {
                        "object": true
                      },
                      "system_message": {
                        "object": true
                      },
                      "version": 0,
                      "workspace_id": 164330
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twist18": [
          {
            "startTime": 1706635241411,
            "executionTime": 396,
            "source": [
              {
                "previousNode": "Twist13"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "actions": [
                        "json array"
                      ],
                      "attachments": [
                        "json array"
                      ],
                      "channel_id": 712838,
                      "content": "Comment1706635241418",
                      "creator": 511904,
                      "creator_name": "nodeqa",
                      "deleted": false,
                      "deleted_by": {
                        "object": true
                      },
                      "direct_group_mentions": [
                        "json array"
                      ],
                      "direct_mentions": [
                        "json array"
                      ],
                      "groups": [
                        "json array"
                      ],
                      "id": 88118697,
                      "last_edited_ts": {
                        "object": true
                      },
                      "obj_index": 0,
                      "posted_ts": 1706635242,
                      "reactions": {
                        "object": true
                      },
                      "recipients": [
                        "json array"
                      ],
                      "system_message": {
                        "object": true
                      },
                      "thread_id": 5873828,
                      "to_emails": [
                        "json array"
                      ],
                      "version": 0,
                      "workspace_id": 164330
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twist10": [
          {
            "startTime": 1706635241807,
            "executionTime": 361,
            "source": [
              {
                "previousNode": "Twist9"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "actions": [
                        "json array"
                      ],
                      "attachments": [
                        "json array"
                      ],
                      "content": "Message 1706635240292",
                      "conversation_id": 1067233,
                      "creator": 511904,
                      "creator_name": "nodeqa",
                      "deleted": false,
                      "direct_group_mentions": [
                        "json array"
                      ],
                      "direct_mentions": [
                        "json array"
                      ],
                      "id": 89705618,
                      "last_edited_ts": {
                        "object": true
                      },
                      "obj_index": 1802,
                      "posted_ts": 1706635241,
                      "reactions": {
                        "object": true
                      },
                      "system_message": {
                        "object": true
                      },
                      "version": 0,
                      "workspace_id": 164330
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twist19": [
          {
            "startTime": 1706635242168,
            "executionTime": 347,
            "source": [
              {
                "previousNode": "Twist18"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "actions": [
                        "json array"
                      ],
                      "attachments": [
                        "json array"
                      ],
                      "channel_id": 712838,
                      "content": "Comment1706635241418",
                      "creator": 511904,
                      "creator_name": "nodeqa",
                      "deleted": false,
                      "deleted_by": {
                        "object": true
                      },
                      "direct_group_mentions": [
                        "json array"
                      ],
                      "direct_mentions": [
                        "json array"
                      ],
                      "groups": [
                        "json array"
                      ],
                      "id": 88118697,
                      "last_edited_ts": {
                        "object": true
                      },
                      "obj_index": 0,
                      "posted_ts": 1706635242,
                      "reactions": {
                        "object": true
                      },
                      "recipients": [
                        "json array"
                      ],
                      "system_message": {
                        "object": true
                      },
                      "thread_id": 5873828,
                      "to_emails": [
                        "json array"
                      ],
                      "version": 0,
                      "workspace_id": 164330
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twist11": [
          {
            "startTime": 1706635242515,
            "executionTime": 363,
            "source": [
              {
                "previousNode": "Twist10"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "actions": [
                        "json array"
                      ],
                      "attachments": [
                        "json array"
                      ],
                      "content": "Message 1706635240292",
                      "conversation_id": 1067233,
                      "creator": 511904,
                      "creator_name": "nodeqa",
                      "deleted": false,
                      "direct_group_mentions": [
                        "json array"
                      ],
                      "direct_mentions": [
                        "json array"
                      ],
                      "id": 89705618,
                      "last_edited_ts": {
                        "object": true
                      },
                      "obj_index": 1802,
                      "posted_ts": 1706635241,
                      "reactions": {
                        "object": true
                      },
                      "system_message": {
                        "object": true
                      },
                      "version": 1,
                      "workspace_id": 164330
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twist20": [
          {
            "startTime": 1706635242878,
            "executionTime": 462,
            "source": [
              {
                "previousNode": "Twist19"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "actions": [
                        "json array"
                      ],
                      "attachments": [
                        "json array"
                      ],
                      "channel_id": 712838,
                      "content": "Updated Content",
                      "creator": 511904,
                      "creator_name": "nodeqa",
                      "deleted": false,
                      "deleted_by": {
                        "object": true
                      },
                      "direct_group_mentions": [
                        "json array"
                      ],
                      "direct_mentions": [
                        "json array"
                      ],
                      "groups": [
                        "json array"
                      ],
                      "id": 88118697,
                      "last_edited_ts": 1706635243,
                      "obj_index": 0,
                      "posted_ts": 1706635242,
                      "reactions": {
                        "object": true
                      },
                      "recipients": [
                        "json array"
                      ],
                      "system_message": {
                        "object": true
                      },
                      "thread_id": 5873828,
                      "to_emails": [
                        "json array"
                      ],
                      "version": 1,
                      "workspace_id": 164330
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twist12": [
          {
            "startTime": 1706635243340,
            "executionTime": 452,
            "source": [
              {
                "previousNode": "Twist11"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "status": "ok"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twist21": [
          {
            "startTime": 1706635243792,
            "executionTime": 441,
            "source": [
              {
                "previousNode": "Twist20"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "actions": [
                        "json array"
                      ],
                      "attachments": [
                        "json array"
                      ],
                      "channel_id": 712838,
                      "content": "Updated Content",
                      "creator": 511904,
                      "creator_name": "nodeqa",
                      "deleted": false,
                      "deleted_by": {
                        "object": true
                      },
                      "direct_group_mentions": [
                        "json array"
                      ],
                      "direct_mentions": [
                        "json array"
                      ],
                      "groups": [
                        "json array"
                      ],
                      "id": 88118697,
                      "last_edited_ts": 1706635243,
                      "obj_index": 0,
                      "posted_ts": 1706635242,
                      "reactions": {
                        "object": true
                      },
                      "recipients": [
                        "json array"
                      ],
                      "system_message": {
                        "object": true
                      },
                      "thread_id": 5873828,
                      "to_emails": [
                        "json array"
                      ],
                      "version": 1,
                      "workspace_id": 164330
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twist22": [
          {
            "startTime": 1706635244233,
            "executionTime": 216,
            "source": [
              {
                "previousNode": "Twist21"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "status": "ok"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twist14": [
          {
            "startTime": 1706635244450,
            "executionTime": 446,
            "source": [
              {
                "previousNode": "Twist22"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "actions": [
                        "json array"
                      ],
                      "attachments": [
                        "json array"
                      ],
                      "channel_id": 712838,
                      "closed": false,
                      "comment_count": 1,
                      "content": "test",
                      "creator": 511904,
                      "creator_name": "nodeqa",
                      "direct_group_mentions": [
                        "json array"
                      ],
                      "direct_mentions": [
                        "json array"
                      ],
                      "groups": [
                        "json array"
                      ],
                      "id": 5873828,
                      "in_inbox": false,
                      "is_archived": true,
                      "is_saved": false,
                      "last_comment": {
                        "object": true
                      },
                      "last_edited_ts": {
                        "object": true
                      },
                      "last_obj_index": 0,
                      "last_updated_ts": 1706635242,
                      "muted_until_ts": {
                        "object": true
                      },
                      "participants": [
                        "json array"
                      ],
                      "pinned": false,
                      "pinned_ts": {
                        "object": true
                      },
                      "posted_ts": 1706635241,
                      "reactions": {
                        "object": true
                      },
                      "recipients": [
                        "json array"
                      ],
                      "responders": [
                        "json array"
                      ],
                      "snippet": "test",
                      "snippet_creator": 511904,
                      "snippet_mask_avatar_url": {
                        "object": true
                      },
                      "snippet_mask_poster": {
                        "object": true
                      },
                      "starred": false,
                      "system_message": {
                        "object": true
                      },
                      "title": "Thread1706635240677",
                      "to_emails": [
                        "json array"
                      ],
                      "version": 3,
                      "workspace_id": 164330
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twist15": [
          {
            "startTime": 1706635244896,
            "executionTime": 180,
            "source": [
              {
                "previousNode": "Twist14"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "actions": [
                        "json array"
                      ],
                      "attachments": [
                        "json array"
                      ],
                      "channel_id": 712838,
                      "closed": false,
                      "comment_count": 1,
                      "content": "Updated Content",
                      "creator": 511904,
                      "creator_name": "nodeqa",
                      "direct_group_mentions": [
                        "json array"
                      ],
                      "direct_mentions": [
                        "json array"
                      ],
                      "groups": [
                        "json array"
                      ],
                      "id": 5873828,
                      "in_inbox": false,
                      "is_archived": true,
                      "is_saved": false,
                      "last_comment": {
                        "object": true
                      },
                      "last_edited_ts": 1706635244,
                      "last_obj_index": 0,
                      "last_updated_ts": 1706635242,
                      "muted_until_ts": {
                        "object": true
                      },
                      "participants": [
                        "json array"
                      ],
                      "pinned": false,
                      "pinned_ts": {
                        "object": true
                      },
                      "posted_ts": 1706635241,
                      "reactions": {
                        "object": true
                      },
                      "recipients": [
                        "json array"
                      ],
                      "responders": [
                        "json array"
                      ],
                      "snippet": "test",
                      "snippet_creator": 511904,
                      "snippet_mask_avatar_url": {
                        "object": true
                      },
                      "snippet_mask_poster": {
                        "object": true
                      },
                      "starred": false,
                      "system_message": {
                        "object": true
                      },
                      "title": "Thread1706635240677",
                      "to_emails": [
                        "json array"
                      ],
                      "version": 4,
                      "workspace_id": 164330
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twist17": [
          {
            "startTime": 1706635245076,
            "executionTime": 179,
            "source": [
              {
                "previousNode": "Twist15"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "actions": [
                        "json array"
                      ],
                      "attachments": [
                        "json array"
                      ],
                      "channel_id": 712838,
                      "closed": false,
                      "comment_count": 1,
                      "content": "Updated Content",
                      "creator": 511904,
                      "creator_name": "nodeqa",
                      "direct_group_mentions": [
                        "json array"
                      ],
                      "direct_mentions": [
                        "json array"
                      ],
                      "groups": [
                        "json array"
                      ],
                      "id": 5873828,
                      "in_inbox": false,
                      "is_archived": true,
                      "is_saved": false,
                      "last_comment": {
                        "object": true
                      },
                      "last_edited_ts": 1706635245,
                      "last_obj_index": 0,
                      "last_updated_ts": 1706635242,
                      "muted_until_ts": {
                        "object": true
                      },
                      "participants": [
                        "json array"
                      ],
                      "pinned": false,
                      "pinned_ts": {
                        "object": true
                      },
                      "posted_ts": 1706635241,
                      "reactions": {
                        "object": true
                      },
                      "recipients": [
                        "json array"
                      ],
                      "responders": [
                        "json array"
                      ],
                      "snippet": "Updated Content",
                      "snippet_creator": 511904,
                      "snippet_mask_avatar_url": {
                        "object": true
                      },
                      "snippet_mask_poster": {
                        "object": true
                      },
                      "starred": false,
                      "system_message": {
                        "object": true
                      },
                      "title": "Thread1706635240677",
                      "to_emails": [
                        "json array"
                      ],
                      "version": 4,
                      "workspace_id": 164330
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twist16": [
          {
            "startTime": 1706635245255,
            "executionTime": 201,
            "source": [
              {
                "previousNode": "Twist17"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "status": "ok"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twist1": [
          {
            "startTime": 1706635245457,
            "executionTime": 478,
            "source": [
              {
                "previousNode": "Twist16"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "archived": false,
                      "color": 1,
                      "created_ts": 1706635240,
                      "creator": 511904,
                      "default_groups": [
                        "json array"
                      ],
                      "default_recipients": [
                        "json array"
                      ],
                      "description": "",
                      "filters": {
                        "object": true
                      },
                      "icon": 0,
                      "id": 712838,
                      "is_favorited": false,
                      "name": "UpdatedChannel1706635245461",
                      "public": false,
                      "use_default_recipients": false,
                      "user_ids": [
                        "json array"
                      ],
                      "version": 1,
                      "workspace_id": 164330
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twist2": [
          {
            "startTime": 1706635245935,
            "executionTime": 167,
            "source": [
              {
                "previousNode": "Twist1"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "archived": false,
                      "color": 1,
                      "created_ts": 1706635240,
                      "creator": 511904,
                      "default_groups": [
                        "json array"
                      ],
                      "default_recipients": [
                        "json array"
                      ],
                      "description": "",
                      "filters": {
                        "object": true
                      },
                      "icon": 0,
                      "id": 712838,
                      "is_favorited": false,
                      "name": "UpdatedChannel1706635245461",
                      "public": false,
                      "use_default_recipients": false,
                      "user_ids": [
                        "json array"
                      ],
                      "version": 1,
                      "workspace_id": 164330
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twist3": [
          {
            "startTime": 1706635246102,
            "executionTime": 216,
            "source": [
              {
                "previousNode": "Twist2"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "archived": false,
                      "color": 1,
                      "created_ts": 1614250659,
                      "creator": 511904,
                      "default_groups": [
                        "json array"
                      ],
                      "default_recipients": [
                        "json array"
                      ],
                      "description": "",
                      "filters": {
                        "object": true
                      },
                      "icon": 0,
                      "id": 437294,
                      "is_favorited": false,
                      "name": "General",
                      "public": true,
                      "use_default_recipients": false,
                      "user_ids": [
                        "json array"
                      ],
                      "version": 0,
                      "workspace_id": 164330
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twist5": [
          {
            "startTime": 1706635246318,
            "executionTime": 170,
            "source": [
              {
                "previousNode": "Twist3"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "status": "ok"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twist6": [
          {
            "startTime": 1706635246488,
            "executionTime": 192,
            "source": [
              {
                "previousNode": "Twist5"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "status": "ok"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twist7": [
          {
            "startTime": 1706635246680,
            "executionTime": 174,
            "source": [
              {
                "previousNode": "Twist6"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "status": "ok"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twist8": [
          {
            "startTime": 1706635246854,
            "executionTime": 178,
            "source": [
              {
                "previousNode": "Twist7"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "status": "ok"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Twist8"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2024-01-30T17:20:39.768Z",
  "stoppedAt": "2024-01-30T17:20:47.032Z",
  "status": "running",
  "finished": true
}