snapshots/83-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "hints": [],
            "startTime": 1738078277429,
            "executionTime": 0,
            "source": [],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "RSS Feed Read": [
          {
            "hints": [],
            "startTime": 1738078277429,
            "executionTime": 434,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "title": "Basedash",
                      "link": "https://www.producthunt.com/posts/basedash-2",
                      "pubDate": "2025-01-24T20:00:54.000Z",
                      "author": "Chris Messina",
                      "content": "          <p>\n            The AI-native business intelligence platform\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/basedash-2?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/816910?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/816910",
                      "isoDate": "2025-01-24T20:00:54.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Metric",
                      "link": "https://www.producthunt.com/posts/metric-2",
                      "pubDate": "2025-01-10T22:30:35.000Z",
                      "author": "kilo",
                      "content": "          <p>\n            Understand your health data better\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/metric-2?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/774317?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/774317",
                      "isoDate": "2025-01-10T22:30:35.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Janus",
                      "link": "https://www.producthunt.com/posts/janus-7834fdf6-7df8-4d55-80f2-197193626248",
                      "pubDate": "2025-01-27T17:37:55.000Z",
                      "author": "Zac Zuo",
                      "content": "          <p>\n            Unified Multi-Modal AI by DeepSeek\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/janus-7834fdf6-7df8-4d55-80f2-197193626248?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/824930?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/824930",
                      "isoDate": "2025-01-27T17:37:55.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Real-Time Notes & Action Items",
                      "link": "https://www.producthunt.com/posts/real-time-notes-action-items",
                      "pubDate": "2025-01-27T08:21:03.000Z",
                      "author": "Krish Ramineni",
                      "content": "          <p>\n            AI that writes crisp bullet point notes in real-time\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/real-time-notes-action-items?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/823523?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/823523",
                      "isoDate": "2025-01-27T08:21:03.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Sense ",
                      "link": "https://www.producthunt.com/posts/sense-14",
                      "pubDate": "2025-01-08T22:04:33.000Z",
                      "author": "Kevin William David",
                      "content": "          <p>\n            AI search for all your apps and automatic work hub\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/sense-14?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/767711?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/767711",
                      "isoDate": "2025-01-08T22:04:33.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Playbook Mobile App for iOS & Android",
                      "link": "https://www.producthunt.com/posts/playbook-mobile-app-for-ios-android",
                      "pubDate": "2025-01-24T20:30:01.000Z",
                      "author": "Henry Tran",
                      "content": "          <p>\n            A whole new way to manage your visual files on the go\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/playbook-mobile-app-for-ios-android?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/816943?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/816943",
                      "isoDate": "2025-01-24T20:30:01.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Podcatcher",
                      "link": "https://www.producthunt.com/posts/podcatcher",
                      "pubDate": "2025-01-27T08:23:37.000Z",
                      "author": "Bogdan Popa",
                      "content": "          <p>\n            Super simple podcast player for iOS\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/podcatcher?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/823557?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/823557",
                      "isoDate": "2025-01-27T08:23:37.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Lagrange by OrangeCat",
                      "link": "https://www.producthunt.com/posts/lagrange-by-orangecat",
                      "pubDate": "2025-01-27T09:35:46.000Z",
                      "author": "Parth Sharma",
                      "content": "          <p>\n            Democratizing development for everyone\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/lagrange-by-orangecat?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/823768?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/823768",
                      "isoDate": "2025-01-27T09:35:46.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Jotform for Canva",
                      "link": "https://www.producthunt.com/posts/jotform-for-canva",
                      "pubDate": "2025-01-24T07:24:58.000Z",
                      "author": "Kevin William David",
                      "content": "          <p>\n            Create powerful forms for Canva\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/jotform-for-canva?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/814920?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/814920",
                      "isoDate": "2025-01-24T07:24:58.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "JustLog.Today!",
                      "link": "https://www.producthunt.com/posts/justlog-today",
                      "pubDate": "2025-01-27T22:39:37.000Z",
                      "author": "Jonathan Carletti",
                      "content": "          <p>\n            Keep yourself accountable on your indie projects\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/justlog-today?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/825475?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/825475",
                      "isoDate": "2025-01-27T22:39:37.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "rene.css",
                      "link": "https://www.producthunt.com/posts/rene-css",
                      "pubDate": "2025-01-21T09:53:04.000Z",
                      "author": "Ben Lang",
                      "content": "          <p>\n            ai-ready css framework and design toolkit\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/rene-css?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/802472?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/802472",
                      "isoDate": "2025-01-21T09:53:04.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "CheapUI",
                      "link": "https://www.producthunt.com/posts/cheapui",
                      "pubDate": "2025-01-27T15:24:55.000Z",
                      "author": "Ahmad Al-Naib",
                      "content": "          <p>\n            AI-powered UI component generator for web development\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/cheapui?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/824387?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/824387",
                      "isoDate": "2025-01-27T15:24:55.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Neosync",
                      "link": "https://www.producthunt.com/posts/neosync",
                      "pubDate": "2025-01-28T06:55:59.000Z",
                      "author": "Evis Drenova",
                      "content": "          <p>\n            Open source data anonymization platform for Developers\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/neosync?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/826543?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/826543",
                      "isoDate": "2025-01-28T06:55:59.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Blaze IDE",
                      "link": "https://www.producthunt.com/posts/blaze-ide",
                      "pubDate": "2025-01-27T15:54:47.000Z",
                      "author": "Sarthak Gupta",
                      "content": "          <p>\n            By a 16 y/o 😍 Python on mobile: Code, create anywhere!\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/blaze-ide?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/824495?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/824495",
                      "isoDate": "2025-01-27T15:54:47.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Bulletpen",
                      "link": "https://www.producthunt.com/posts/bulletpen",
                      "pubDate": "2025-01-27T06:58:30.000Z",
                      "author": "Rexan Wong",
                      "content": "          <p>\n            Write great essays while you yap\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/bulletpen?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/823270?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/823270",
                      "isoDate": "2025-01-27T06:58:30.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "EarthGuessr",
                      "link": "https://www.producthunt.com/posts/earthguessr",
                      "pubDate": "2025-01-23T09:06:27.000Z",
                      "author": "Ben Lang",
                      "content": "          <p>\n            Geoguessr, but it's satellite imagery!\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/earthguessr?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/811122?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/811122",
                      "isoDate": "2025-01-23T09:06:27.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "ArchFormation",
                      "link": "https://www.producthunt.com/posts/archformation",
                      "pubDate": "2025-01-13T15:16:18.000Z",
                      "author": "Iryna Poida",
                      "content": "          <p>\n            Design and deploy infrastructure to AWS using no-code app\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/archformation?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/779145?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/779145",
                      "isoDate": "2025-01-13T15:16:18.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Nowadays",
                      "link": "https://www.producthunt.com/posts/nowadays-2",
                      "pubDate": "2025-01-27T17:09:43.000Z",
                      "author": "Garry Tan",
                      "content": "          <p>\n            Streamlining corporate event planning with AI\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/nowadays-2?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/824863?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/824863",
                      "isoDate": "2025-01-27T17:09:43.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Portals",
                      "link": "https://www.producthunt.com/posts/portals-4",
                      "pubDate": "2025-01-13T20:11:02.000Z",
                      "author": "Gordon Wu",
                      "content": "          <p>\n            AI Agent Builder Toolkit\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/portals-4?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/780046?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/780046",
                      "isoDate": "2025-01-13T20:11:02.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Remy",
                      "link": "https://www.producthunt.com/posts/remy-3",
                      "pubDate": "2025-01-20T22:50:16.000Z",
                      "author": "Garry Tan",
                      "content": "          <p>\n            Ask any question and get answers from the world’s videos\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/remy-3?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/800986?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/800986",
                      "isoDate": "2025-01-20T22:50:16.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Omakase.ai",
                      "link": "https://www.producthunt.com/posts/omakase-ai-2",
                      "pubDate": "2025-01-27T01:53:29.000Z",
                      "author": "Masa Shimizu",
                      "content": "          <p>\n            Create your shopper AI agent with just a URL\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/omakase-ai-2?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/822713?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/822713",
                      "isoDate": "2025-01-27T01:53:29.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "//todo",
                      "link": "https://www.producthunt.com/posts/todo-c6e24a11-9213-4e63-807e-ca476f88f5f9",
                      "pubDate": "2025-01-27T18:47:47.000Z",
                      "author": "Benjamin Schachter",
                      "content": "          <p>\n            Create Linear tasks by commenting //ToDo\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/todo-c6e24a11-9213-4e63-807e-ca476f88f5f9?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/825110?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/825110",
                      "isoDate": "2025-01-27T18:47:47.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Parakeet",
                      "link": "https://www.producthunt.com/posts/parakeet-2",
                      "pubDate": "2025-01-23T22:38:09.000Z",
                      "author": "AJ Kissh",
                      "content": "          <p>\n            Email outreach with increased deliverability powered by AI\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/parakeet-2?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/813844?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/813844",
                      "isoDate": "2025-01-23T22:38:09.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Answerthepublic",
                      "link": "https://www.producthunt.com/posts/answerthepublic-3",
                      "pubDate": "2025-01-27T14:38:20.000Z",
                      "author": "Oleg Fomin",
                      "content": "          <p>\n            Insights that answer your audience's questions\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/answerthepublic-3?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/824316?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/824316",
                      "isoDate": "2025-01-27T14:38:20.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "SnappyAI",
                      "link": "https://www.producthunt.com/posts/snappyai",
                      "pubDate": "2025-01-27T01:18:27.000Z",
                      "author": "Alexander Tigselema",
                      "content": "          <p>\n            Upload files, assign roles, and query with ease\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/snappyai?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/822677?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/822677",
                      "isoDate": "2025-01-27T01:18:27.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "FitDataHub",
                      "link": "https://www.producthunt.com/posts/fitdatahub",
                      "pubDate": "2025-01-25T13:18:24.000Z",
                      "author": "Lorenzo Sintini",
                      "content": "          <p>\n            Advanced data-focused fitness logging for athletes\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/fitdatahub?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/818893?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/818893",
                      "isoDate": "2025-01-25T13:18:24.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Tuneful",
                      "link": "https://www.producthunt.com/posts/tuneful-2",
                      "pubDate": "2025-01-27T17:41:27.000Z",
                      "author": "Martin Fekete",
                      "content": "          <p>\n            Native way to control your music on macOS\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/tuneful-2?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/824933?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/824933",
                      "isoDate": "2025-01-27T17:41:27.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "DevLeague",
                      "link": "https://www.producthunt.com/posts/devleague",
                      "pubDate": "2025-01-27T13:21:21.000Z",
                      "author": "Saksham Saini",
                      "content": "          <p>\n            Your Github profile as a Pokemon card\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/devleague?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/824160?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/824160",
                      "isoDate": "2025-01-27T13:21:21.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Dust.fun",
                      "link": "https://www.producthunt.com/posts/dust-fun",
                      "pubDate": "2025-01-27T23:18:43.000Z",
                      "author": "Mariano Maisterrena",
                      "content": "          <p>\n            Coinstar for Crypto, convert low value tokens in your wallet\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/dust-fun?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/825542?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/825542",
                      "isoDate": "2025-01-27T23:18:43.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Kener",
                      "link": "https://www.producthunt.com/posts/kener-2",
                      "pubDate": "2025-01-28T03:52:40.000Z",
                      "author": "Raj Nandan Sharma",
                      "content": "          <p>\n            Hosted, open-source, docker ready stunning status page\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/kener-2?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/826022?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/826022",
                      "isoDate": "2025-01-28T03:52:40.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "OpenNFT - Mobile",
                      "link": "https://www.producthunt.com/posts/opennft-mobile",
                      "pubDate": "2025-01-26T11:36:35.000Z",
                      "author": "Matej Kokosinek",
                      "content": "          <p>\n            1000 NFT assets in your pocket\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/opennft-mobile?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/821139?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/821139",
                      "isoDate": "2025-01-26T11:36:35.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "co.dev",
                      "link": "https://www.producthunt.com/posts/co-dev",
                      "pubDate": "2025-01-26T16:21:45.000Z",
                      "author": "Garry Tan",
                      "content": "          <p>\n            Turn your ideas into full-stack apps\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/co-dev?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/821997?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/821997",
                      "isoDate": "2025-01-26T16:21:45.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Laso App",
                      "link": "https://www.producthunt.com/posts/laso-app",
                      "pubDate": "2025-01-23T17:33:51.000Z",
                      "author": "Yan Shtefanets",
                      "content": "          <p>\n            AI Custom fields for Jira to Capture and Transform data\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/laso-app?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/812854?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/812854",
                      "isoDate": "2025-01-23T17:33:51.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Llamao",
                      "link": "https://www.producthunt.com/posts/llamao",
                      "pubDate": "2025-01-23T21:38:49.000Z",
                      "author": "Sandoche",
                      "content": "          <p>\n            Private & offline alternative to ChatGPT on your device\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/llamao?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/813706?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/813706",
                      "isoDate": "2025-01-23T21:38:49.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Read Bean",
                      "link": "https://www.producthunt.com/posts/read-bean",
                      "pubDate": "2025-01-21T18:39:19.000Z",
                      "author": "Garry Tan",
                      "content": "          <p>\n            Learn Chinese with real-world content, at your level\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/read-bean?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/804782?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/804782",
                      "isoDate": "2025-01-21T18:39:19.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Dogmon - Dog Breed Identifier",
                      "link": "https://www.producthunt.com/posts/dogmon-dog-breed-identifier",
                      "pubDate": "2025-01-18T07:39:47.000Z",
                      "author": "Chi Zhang",
                      "content": "          <p>\n            Dog breed identification. Build exclusive collection.\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/dogmon-dog-breed-identifier?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/794831?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/794831",
                      "isoDate": "2025-01-18T07:39:47.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Roame Travel",
                      "link": "https://www.producthunt.com/posts/roame-travel",
                      "pubDate": "2025-01-20T22:43:31.000Z",
                      "author": "Garry Tan",
                      "content": "          <p>\n            Fly for free using your points\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/roame-travel?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/800951?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/800951",
                      "isoDate": "2025-01-20T22:43:31.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "DockFix 3.5",
                      "link": "https://www.producthunt.com/posts/dockfix-3-5",
                      "pubDate": "2025-01-26T20:28:25.000Z",
                      "author": "Gustav Lübker",
                      "content": "          <p>\n            Reimagine your macos experience\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/dockfix-3-5?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/822322?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/822322",
                      "isoDate": "2025-01-26T20:28:25.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Llama Stack",
                      "link": "https://www.producthunt.com/posts/llama-stack",
                      "pubDate": "2025-01-24T17:10:31.000Z",
                      "author": "Diego Guerra Orozco",
                      "content": "          <p>\n            Build Once and Deploy Anywhere\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/llama-stack?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/816595?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/816595",
                      "isoDate": "2025-01-24T17:10:31.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Kleanly",
                      "link": "https://www.producthunt.com/posts/kleanly",
                      "pubDate": "2025-01-27T00:07:39.000Z",
                      "author": "Haider Nawaz",
                      "content": "          <p>\n            Disable your mac's keyboard and trackpad the minimal way\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/kleanly?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/822577?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/822577",
                      "isoDate": "2025-01-27T00:07:39.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Devin 1.2 by Congition",
                      "link": "https://www.producthunt.com/posts/devin-1-2-by-congition",
                      "pubDate": "2025-01-26T18:30:00.000Z",
                      "author": "Zac Zuo",
                      "content": "          <p>\n            Enhanced Reasoning and Voice Control\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/devin-1-2-by-congition?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/822184?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/822184",
                      "isoDate": "2025-01-26T18:30:00.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Smart Bulk File Renamer",
                      "link": "https://www.producthunt.com/posts/smart-bulk-file-renamer",
                      "pubDate": "2025-01-21T18:30:49.000Z",
                      "author": "Brian Kelly",
                      "content": "          <p>\n            Automatically rename files based on their content\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/smart-bulk-file-renamer?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/804713?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/804713",
                      "isoDate": "2025-01-21T18:30:49.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Genime",
                      "link": "https://www.producthunt.com/posts/genime",
                      "pubDate": "2025-01-27T04:19:11.000Z",
                      "author": "Tushar Bansal",
                      "content": "          <p>\n            Empowering Animators with AI-Driven Creativity\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/genime?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/823016?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/823016",
                      "isoDate": "2025-01-27T04:19:11.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "VMTP",
                      "link": "https://www.producthunt.com/posts/vmtp",
                      "pubDate": "2025-01-27T04:06:03.000Z",
                      "author": "Udit ",
                      "content": "          <p>\n            Video understanding for LLMs\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/vmtp?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/822950?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/822950",
                      "isoDate": "2025-01-27T04:06:03.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Kimi AI Assistant ",
                      "link": "https://www.producthunt.com/posts/kimi-ai-assistant",
                      "pubDate": "2025-01-26T00:31:40.000Z",
                      "author": "Chris Messina",
                      "content": "          <p>\n            Free multi-modal alternative to OpenAI's o1 from Moonshot AI\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/kimi-ai-assistant?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/820225?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/820225",
                      "isoDate": "2025-01-26T00:31:40.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Apollo AI",
                      "link": "https://www.producthunt.com/posts/apollo-ai",
                      "pubDate": "2025-01-26T18:19:37.000Z",
                      "author": "Aaron Ng",
                      "content": "          <p>\n            Run local models like Llama on iOS\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/apollo-ai?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/822181?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/822181",
                      "isoDate": "2025-01-26T18:19:37.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Spotent",
                      "link": "https://www.producthunt.com/posts/spotent",
                      "pubDate": "2025-01-23T14:34:44.000Z",
                      "author": "Sean Anthony",
                      "content": "          <p>\n            The visual email builder that plugs into your existing stack\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/spotent?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/812004?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/812004",
                      "isoDate": "2025-01-23T14:34:44.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "OpenMic",
                      "link": "https://www.producthunt.com/posts/openmic",
                      "pubDate": "2025-01-23T17:50:06.000Z",
                      "author": "Claire Mulvaney",
                      "content": "          <p>\n            Find music collaborators with curated matches\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/openmic?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/813022?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/813022",
                      "isoDate": "2025-01-23T17:50:06.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Repeet",
                      "link": "https://www.producthunt.com/posts/repeet",
                      "pubDate": "2024-12-16T08:17:39.000Z",
                      "author": "Yuri Mosh",
                      "content": "          <p>\n            Learn languages with flashcards\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/repeet?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/707700?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/707700",
                      "isoDate": "2024-12-16T08:17:39.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Enki",
                      "link": "https://www.producthunt.com/posts/enki-2",
                      "pubDate": "2024-12-29T16:56:01.000Z",
                      "author": "Isala Piyarisi",
                      "content": "          <p>\n            Sticky notes for the internet age\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/enki-2?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/743408?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/743408",
                      "isoDate": "2024-12-29T16:56:01.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  }
                ]
              ]
            }
          }
        ],
        "Function": [
          {
            "hints": [],
            "startTime": 1738078277863,
            "executionTime": 6,
            "source": [
              {
                "previousNode": "RSS Feed Read"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                []
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Function"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2025-01-28T15:31:17.428Z",
  "stoppedAt": "2025-01-28T15:31:17.869Z",
  "status": "running",
  "finished": true
}