snapshots/86-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1635334068635,
            "executionTime": 1,
            "data": {
              "main": [
                [
                  {
                    "json": {}
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign": [
          {
            "startTime": 1635334068636,
            "executionTime": 2040,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "email": "fake1635334068638@gmail.com",
                      "email_empty": false,
                      "cdate": "2021-10-27T06:27:50-05:00",
                      "udate": "2021-10-27T06:27:50-05:00",
                      "orgid": "",
                      "orgname": "",
                      "links": {
                        "object": true
                      },
                      "hash": "cfe0c21d84eac28c157742b8e18ab25f",
                      "id": "772",
                      "organization": ""
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign9": [
          {
            "startTime": 1635334070678,
            "executionTime": 557,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "name": "Name1635334070679",
                      "createdTimestamp": "2021-10-27T06:27:51-05:00",
                      "updatedTimestamp": "2021-10-27T06:27:51-05:00",
                      "owner": "1",
                      "links": {
                        "object": true
                      },
                      "fields": [
                        "json array"
                      ],
                      "id": "246"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign14": [
          {
            "startTime": 1635334071236,
            "executionTime": 612,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "contact": "772",
                      "account": "246",
                      "createdTimestamp": "2021-10-27T06:27:51-05:00",
                      "updatedTimestamp": "2021-10-27T06:27:51-05:00",
                      "links": {
                        "object": true
                      },
                      "id": "3"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign15": [
          {
            "startTime": 1635334071849,
            "executionTime": 596,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "account": "246",
                      "contact": "772",
                      "jobTitle": "TestJobTitle",
                      "createdTimestamp": "2021-10-27T06:27:51-05:00",
                      "updatedTimestamp": "2021-10-27T06:27:52-05:00",
                      "links": {
                        "object": true
                      },
                      "id": "3"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign16": [
          {
            "startTime": 1635334072446,
            "executionTime": 464,
            "data": {
              "main": [
                [
                  {
                    "json": {}
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign10": [
          {
            "startTime": 1635334072912,
            "executionTime": 647,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "name": "updatedName1635334072913",
                      "accountUrl": "",
                      "createdTimestamp": "2021-10-27T06:27:51-05:00",
                      "updatedTimestamp": "2021-10-27T06:27:53-05:00",
                      "owner": "1",
                      "links": {
                        "object": true
                      },
                      "fields": [
                        "json array"
                      ],
                      "id": "246"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign11": [
          {
            "startTime": 1635334073560,
            "executionTime": 689,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "account": {
                        "object": true
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign12": [
          {
            "startTime": 1635334074250,
            "executionTime": 868,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "name": "Name1621002658600",
                      "accountUrl": {
                        "object": true
                      },
                      "createdTimestamp": "2021-05-14T09:32:11-05:00",
                      "updatedTimestamp": "2021-08-24T02:34:13-05:00",
                      "owner": "1",
                      "contactCount": "0",
                      "dealCount": "0",
                      "links": {
                        "object": true
                      },
                      "id": "48"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign13": [
          {
            "startTime": 1635334075120,
            "executionTime": 629,
            "data": {
              "main": [
                [
                  {
                    "json": {}
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign5": [
          {
            "startTime": 1635334075750,
            "executionTime": 772,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign7": [
          {
            "startTime": 1635334076523,
            "executionTime": 470,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "contact": "772",
                      "tag": "1",
                      "cdate": "2021-10-27T06:27:56-05:00",
                      "links": {
                        "object": true
                      },
                      "id": "173"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign6": [
          {
            "startTime": 1635334076994,
            "executionTime": 692,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "cdate": "2021-10-27T06:27:50-05:00",
                      "email": "fake1635334068638@gmail.com",
                      "phone": "",
                      "firstName": "",
                      "lastName": "",
                      "orgid": "0",
                      "orgname": "",
                      "segmentio_id": "",
                      "bounced_hard": "0",
                      "bounced_soft": "0",
                      "bounced_date": "0000-00-00",
                      "ip": "0",
                      "ua": "",
                      "hash": "cfe0c21d84eac28c157742b8e18ab25f",
                      "socialdata_lastcheck": "0000-00-00 00:00:00",
                      "email_local": "",
                      "email_domain": "gmail.com",
                      "sentcnt": "0",
                      "rating_tstamp": "0000-00-00",
                      "gravatar": "0",
                      "deleted": "0",
                      "anonymized": "0",
                      "adate": {
                        "object": true
                      },
                      "udate": "2021-10-27T06:27:57-05:00",
                      "edate": {
                        "object": true
                      },
                      "deleted_at": "0000-00-00 00:00:00",
                      "created_utc_timestamp": "2021-10-27 06:27:50",
                      "updated_utc_timestamp": "2021-10-27 06:27:57",
                      "created_timestamp": "2021-10-27 06:27:50",
                      "updated_timestamp": "2021-10-27 06:27:57",
                      "created_by": "0",
                      "updated_by": "0",
                      "email_empty": false,
                      "mpp_tracking": "0",
                      "links": {
                        "object": true
                      },
                      "id": "772",
                      "organization": {
                        "object": true
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign8": [
          {
            "startTime": 1635334077687,
            "executionTime": 412,
            "data": {
              "main": [
                [
                  {
                    "json": {}
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign1": [
          {
            "startTime": 1635334078100,
            "executionTime": 626,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "cdate": "2021-10-27T06:27:50-05:00",
                      "email": "updatedFake1635334078102@gmail.com",
                      "phone": "",
                      "firstName": "",
                      "lastName": "",
                      "orgid": "0",
                      "orgname": "",
                      "segmentio_id": "",
                      "bounced_hard": "0",
                      "bounced_soft": "0",
                      "bounced_date": "0000-00-00",
                      "ip": "0",
                      "ua": "",
                      "hash": "db36cc602332cec3c53f9d55ff054f7d",
                      "socialdata_lastcheck": "0000-00-00 00:00:00",
                      "email_local": "",
                      "email_domain": "gmail.com",
                      "sentcnt": "0",
                      "rating_tstamp": "0000-00-00",
                      "gravatar": "0",
                      "deleted": "0",
                      "anonymized": "0",
                      "adate": {
                        "object": true
                      },
                      "udate": "2021-10-27T06:27:58-05:00",
                      "edate": {
                        "object": true
                      },
                      "deleted_at": "0000-00-00 00:00:00",
                      "created_utc_timestamp": "2021-10-27 06:27:50",
                      "updated_utc_timestamp": "2021-10-27 06:27:57",
                      "created_timestamp": "2021-10-27 06:27:50",
                      "updated_timestamp": "2021-10-27 06:27:57",
                      "created_by": "0",
                      "updated_by": "0",
                      "email_empty": false,
                      "mpp_tracking": "0",
                      "links": {
                        "object": true
                      },
                      "id": "772",
                      "organization": {
                        "object": true
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign2": [
          {
            "startTime": 1635334078727,
            "executionTime": 728,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "contactAutomations": [
                        "json array"
                      ],
                      "contactLists": [
                        "json array"
                      ],
                      "deals": [
                        "json array"
                      ],
                      "fieldValues": [
                        "json array"
                      ],
                      "geoIps": [
                        "json array"
                      ],
                      "accountContacts": [
                        "json array"
                      ],
                      "contact": {
                        "object": true
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign3": [
          {
            "startTime": 1635334079455,
            "executionTime": 797,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "cdate": "2021-04-14T05:59:52-05:00",
                      "email": "a@a.com",
                      "phone": "",
                      "firstName": "",
                      "lastName": "",
                      "orgid": "0",
                      "orgname": "",
                      "segmentio_id": "",
                      "bounced_hard": "0",
                      "bounced_soft": "0",
                      "bounced_date": {
                        "object": true
                      },
                      "ip": "0",
                      "ua": {
                        "object": true
                      },
                      "hash": "54a85e50b2a7bf141297a326bd157ca9",
                      "socialdata_lastcheck": {
                        "object": true
                      },
                      "email_local": "",
                      "email_domain": "a.com",
                      "sentcnt": "0",
                      "rating_tstamp": {
                        "object": true
                      },
                      "gravatar": "0",
                      "deleted": "0",
                      "anonymized": "0",
                      "adate": {
                        "object": true
                      },
                      "udate": "2021-04-14T05:59:52-05:00",
                      "edate": {
                        "object": true
                      },
                      "deleted_at": {
                        "object": true
                      },
                      "created_utc_timestamp": "2021-04-14 05:59:52",
                      "updated_utc_timestamp": "2021-09-22 06:01:40",
                      "created_timestamp": "2021-04-14 05:59:52",
                      "updated_timestamp": "2021-09-22 06:01:40",
                      "created_by": {
                        "object": true
                      },
                      "updated_by": {
                        "object": true
                      },
                      "email_empty": false,
                      "mpp_tracking": "0",
                      "scoreValues": [
                        "json array"
                      ],
                      "accountContacts": [
                        "json array"
                      ],
                      "links": {
                        "object": true
                      },
                      "id": "97",
                      "organization": {
                        "object": true
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign4": [
          {
            "startTime": 1635334080252,
            "executionTime": 967,
            "data": {
              "main": [
                [
                  {
                    "json": {}
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "ActiveCampaign4"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {}
    }
  },
  "mode": "cli",
  "startedAt": "2021-10-27T11:27:48.629Z",
  "stoppedAt": "2021-10-27T11:28:01.220Z",
  "finished": true
}