snapshots/86-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "hints": [],
            "startTime": 1726655502972,
            "executionTime": 1,
            "source": [],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign": [
          {
            "hints": [],
            "startTime": 1726655502973,
            "executionTime": 800,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "email": "fake1726655502974@gmail.com",
                      "cdate": "2024-09-18T05:31:43-05:00",
                      "udate": "2024-09-18T05:31:43-05:00",
                      "phone": "",
                      "orgid": "0",
                      "orgname": "",
                      "links": {
                        "object": true
                      },
                      "hash": "040b13eecf93d134d8710c617c7ee472",
                      "id": "5436",
                      "organization": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign9": [
          {
            "hints": [],
            "startTime": 1726655503774,
            "executionTime": 590,
            "source": [
              {
                "previousNode": "ActiveCampaign"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "name": "Name1726655503776",
                      "createdTimestamp": "2024-09-18T05:31:44-05:00",
                      "updatedTimestamp": "2024-09-18T05:31:44-05:00",
                      "owner": "1",
                      "links": {
                        "object": true
                      },
                      "fields": [
                        "json array"
                      ],
                      "id": "1761"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign14": [
          {
            "hints": [],
            "startTime": 1726655504364,
            "executionTime": 567,
            "source": [
              {
                "previousNode": "ActiveCampaign9"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "contact": "5436",
                      "account": "1761",
                      "createdTimestamp": "2024-09-18T05:31:44-05:00",
                      "updatedTimestamp": "2024-09-18T05:31:44-05:00",
                      "links": {
                        "object": true
                      },
                      "id": "1464"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign15": [
          {
            "hints": [],
            "startTime": 1726655504931,
            "executionTime": 485,
            "source": [
              {
                "previousNode": "ActiveCampaign14"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "account": "1761",
                      "contact": "5436",
                      "jobTitle": "TestJobTitle",
                      "createdTimestamp": "2024-09-18T05:31:44-05:00",
                      "updatedTimestamp": "2024-09-18T05:31:45-05:00",
                      "links": {
                        "object": true
                      },
                      "id": "1464"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign16": [
          {
            "hints": [],
            "startTime": 1726655505416,
            "executionTime": 541,
            "source": [
              {
                "previousNode": "ActiveCampaign15"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign10": [
          {
            "hints": [],
            "startTime": 1726655505957,
            "executionTime": 648,
            "source": [
              {
                "previousNode": "ActiveCampaign16"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "name": "updatedName1726655505959",
                      "accountUrl": "",
                      "createdTimestamp": "2024-09-18T05:31:44-05:00",
                      "updatedTimestamp": "2024-09-18T05:31:46-05:00",
                      "owner": "1",
                      "links": {
                        "object": true
                      },
                      "fields": [
                        "json array"
                      ],
                      "id": "1761"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign11": [
          {
            "hints": [],
            "startTime": 1726655506605,
            "executionTime": 407,
            "source": [
              {
                "previousNode": "ActiveCampaign10"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "account": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign12": [
          {
            "hints": [],
            "startTime": 1726655507012,
            "executionTime": 451,
            "source": [
              {
                "previousNode": "ActiveCampaign11"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "name": "Name1621002658600",
                      "accountUrl": {
                        "object": true
                      },
                      "createdTimestamp": "2021-05-14T09:32:11-05:00",
                      "updatedTimestamp": "2021-08-24T02:34:13-05:00",
                      "owner": "1",
                      "contactCount": "0",
                      "dealCount": "0",
                      "links": {
                        "object": true
                      },
                      "id": "48"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign13": [
          {
            "hints": [],
            "startTime": 1726655507463,
            "executionTime": 448,
            "source": [
              {
                "previousNode": "ActiveCampaign12"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign5": [
          {
            "hints": [],
            "startTime": 1726655507911,
            "executionTime": 897,
            "source": [
              {
                "previousNode": "ActiveCampaign13"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign7": [
          {
            "hints": [],
            "startTime": 1726655508808,
            "executionTime": 553,
            "source": [
              {
                "previousNode": "ActiveCampaign13"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "contact": "5436",
                      "tag": "1",
                      "cdate": "2024-09-18T05:31:49-05:00",
                      "links": {
                        "object": true
                      },
                      "id": "3049"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign6": [
          {
            "hints": [],
            "startTime": 1726655509361,
            "executionTime": 868,
            "source": [
              {
                "previousNode": "ActiveCampaign5"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "cdate": "2024-09-18T05:31:43-05:00",
                      "email": "fake1726655502974@gmail.com",
                      "phone": "",
                      "firstName": "",
                      "lastName": "",
                      "orgid": "0",
                      "orgname": "",
                      "segmentio_id": "",
                      "bounced_hard": "0",
                      "bounced_soft": "0",
                      "bounced_date": {
                        "object": true
                      },
                      "ip": "0",
                      "ua": "",
                      "hash": "040b13eecf93d134d8710c617c7ee472",
                      "socialdata_lastcheck": {
                        "object": true
                      },
                      "email_local": "",
                      "email_domain": "gmail.com",
                      "sentcnt": "0",
                      "rating_tstamp": {
                        "object": true
                      },
                      "gravatar": "0",
                      "deleted": "0",
                      "anonymized": "0",
                      "adate": {
                        "object": true
                      },
                      "udate": "2024-09-18T05:31:49-05:00",
                      "edate": {
                        "object": true
                      },
                      "deleted_at": {
                        "object": true
                      },
                      "created_utc_timestamp": "2024-09-18 05:31:43",
                      "updated_utc_timestamp": "2024-09-18 05:31:49",
                      "created_timestamp": "2024-09-18 05:31:43",
                      "updated_timestamp": "2024-09-18 05:31:49",
                      "created_by": "0",
                      "updated_by": "0",
                      "mpp_tracking": "0",
                      "last_click_date": {
                        "object": true
                      },
                      "last_open_date": {
                        "object": true
                      },
                      "last_mpp_open_date": {
                        "object": true
                      },
                      "links": {
                        "object": true
                      },
                      "id": "5436",
                      "organization": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign8": [
          {
            "hints": [],
            "startTime": 1726655510230,
            "executionTime": 5053,
            "source": [
              {
                "previousNode": "ActiveCampaign7"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign1": [
          {
            "hints": [],
            "startTime": 1726655515283,
            "executionTime": 699,
            "source": [
              {
                "previousNode": "ActiveCampaign8"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "cdate": "2024-09-18T05:31:43-05:00",
                      "email": "updatedFake1726655515285@gmail.com",
                      "phone": "",
                      "firstName": "",
                      "lastName": "",
                      "orgid": "0",
                      "orgname": "",
                      "segmentio_id": "",
                      "bounced_hard": "0",
                      "bounced_soft": "0",
                      "bounced_date": {
                        "object": true
                      },
                      "ip": "0",
                      "ua": "",
                      "hash": "228cba29371cd604cc88c0069cb04569",
                      "socialdata_lastcheck": {
                        "object": true
                      },
                      "email_local": "",
                      "email_domain": "gmail.com",
                      "sentcnt": "0",
                      "rating_tstamp": {
                        "object": true
                      },
                      "gravatar": "0",
                      "deleted": "0",
                      "anonymized": "0",
                      "adate": {
                        "object": true
                      },
                      "udate": "2024-09-18T05:31:55-05:00",
                      "edate": {
                        "object": true
                      },
                      "deleted_at": {
                        "object": true
                      },
                      "created_utc_timestamp": "2024-09-18 05:31:43",
                      "updated_utc_timestamp": "2024-09-18 05:31:55",
                      "created_timestamp": "2024-09-18 05:31:43",
                      "updated_timestamp": "2024-09-18 05:31:55",
                      "created_by": "0",
                      "updated_by": "0",
                      "mpp_tracking": "0",
                      "links": {
                        "object": true
                      },
                      "id": "5436",
                      "organization": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign2": [
          {
            "hints": [],
            "startTime": 1726655515982,
            "executionTime": 678,
            "source": [
              {
                "previousNode": "ActiveCampaign1"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "contactAutomations": [
                        "json array"
                      ],
                      "contactLists": [
                        "json array"
                      ],
                      "deals": [
                        "json array"
                      ],
                      "fieldValues": [
                        "json array"
                      ],
                      "geoIps": [
                        "json array"
                      ],
                      "accountContacts": [
                        "json array"
                      ],
                      "contact": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign3": [
          {
            "hints": [],
            "startTime": 1726655516660,
            "executionTime": 530,
            "source": [
              {
                "previousNode": "ActiveCampaign2"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "cdate": "2021-04-14T05:59:52-05:00",
                      "email": "a@a.com",
                      "phone": "",
                      "firstName": "",
                      "lastName": "",
                      "orgid": "0",
                      "orgname": "",
                      "segmentio_id": "",
                      "bounced_hard": "0",
                      "bounced_soft": "0",
                      "bounced_date": {
                        "object": true
                      },
                      "ip": "0",
                      "ua": {
                        "object": true
                      },
                      "hash": "54a85e50b2a7bf141297a326bd157ca9",
                      "socialdata_lastcheck": {
                        "object": true
                      },
                      "email_local": "",
                      "email_domain": "a.com",
                      "sentcnt": "0",
                      "rating_tstamp": {
                        "object": true
                      },
                      "gravatar": "0",
                      "deleted": "0",
                      "anonymized": "0",
                      "adate": {
                        "object": true
                      },
                      "udate": "2021-04-14T05:59:52-05:00",
                      "edate": {
                        "object": true
                      },
                      "deleted_at": {
                        "object": true
                      },
                      "created_utc_timestamp": "2021-04-14 05:59:52",
                      "updated_utc_timestamp": "2022-06-02 20:44:36",
                      "created_timestamp": "2021-04-14 05:59:52",
                      "updated_timestamp": "2022-06-02 20:44:36",
                      "created_by": {
                        "object": true
                      },
                      "updated_by": {
                        "object": true
                      },
                      "mpp_tracking": "0",
                      "last_click_date": {
                        "object": true
                      },
                      "last_open_date": {
                        "object": true
                      },
                      "last_mpp_open_date": {
                        "object": true
                      },
                      "scoreValues": [
                        "json array"
                      ],
                      "accountContacts": [
                        "json array"
                      ],
                      "links": {
                        "object": true
                      },
                      "id": "97",
                      "organization": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Merge": [
          {
            "hints": [],
            "startTime": 1726655517191,
            "executionTime": 0,
            "source": [
              {
                "previousNode": "ActiveCampaign3"
              },
              {
                "previousNode": "ActiveCampaign6"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "cdate": "2021-04-14T05:59:52-05:00",
                      "email": "a@a.com",
                      "phone": "",
                      "firstName": "",
                      "lastName": "",
                      "orgid": "0",
                      "orgname": "",
                      "segmentio_id": "",
                      "bounced_hard": "0",
                      "bounced_soft": "0",
                      "bounced_date": {
                        "object": true
                      },
                      "ip": "0",
                      "ua": {
                        "object": true
                      },
                      "hash": "54a85e50b2a7bf141297a326bd157ca9",
                      "socialdata_lastcheck": {
                        "object": true
                      },
                      "email_local": "",
                      "email_domain": "a.com",
                      "sentcnt": "0",
                      "rating_tstamp": {
                        "object": true
                      },
                      "gravatar": "0",
                      "deleted": "0",
                      "anonymized": "0",
                      "adate": {
                        "object": true
                      },
                      "udate": "2021-04-14T05:59:52-05:00",
                      "edate": {
                        "object": true
                      },
                      "deleted_at": {
                        "object": true
                      },
                      "created_utc_timestamp": "2021-04-14 05:59:52",
                      "updated_utc_timestamp": "2022-06-02 20:44:36",
                      "created_timestamp": "2021-04-14 05:59:52",
                      "updated_timestamp": "2022-06-02 20:44:36",
                      "created_by": {
                        "object": true
                      },
                      "updated_by": {
                        "object": true
                      },
                      "mpp_tracking": "0",
                      "last_click_date": {
                        "object": true
                      },
                      "last_open_date": {
                        "object": true
                      },
                      "last_mpp_open_date": {
                        "object": true
                      },
                      "scoreValues": [
                        "json array"
                      ],
                      "accountContacts": [
                        "json array"
                      ],
                      "links": {
                        "object": true
                      },
                      "id": "97",
                      "organization": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign4": [
          {
            "hints": [],
            "startTime": 1726655517191,
            "executionTime": 599,
            "source": [
              {
                "previousNode": "Merge"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "ActiveCampaign4"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2024-09-18T10:31:42.971Z",
  "stoppedAt": "2024-09-18T10:31:57.790Z",
  "status": "running",
  "finished": true
}