snapshots/87-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1622541688334,
            "executionTime": 1,
            "data": {
              "main": [
                [
                  {
                    "json": {}
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign": [
          {
            "startTime": 1622541688335,
            "executionTime": 540,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "connection": {
                        "isInternal": 0,
                        "service": "n8n",
                        "externalid": 1622541688337,
                        "name": "Name1622541688337",
                        "logoUrl": "https://n8n.io/_nuxt/img/df5be1c.png",
                        "linkUrl": "https://n8n.io/",
                        "cdate": "2021-06-01T05:01:28-05:00",
                        "udate": "2021-06-01T05:01:28-05:00",
                        "links": {
                          "options": "https://n8n1612344344.api-us1.com/api/3/connections/177/options",
                          "customers": "https://n8n1612344344.api-us1.com/api/3/connections/177/customers"
                        },
                        "connectionType": "ecommerce",
                        "id": "177",
                        "serviceName": "n8n"
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign5": [
          {
            "startTime": 1622541688875,
            "executionTime": 469,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "email": "fake1622541688876@gmail.com",
                      "email_empty": false,
                      "cdate": "2021-06-01T05:01:29-05:00",
                      "udate": "2021-06-01T05:01:29-05:00",
                      "orgid": "",
                      "orgname": "",
                      "links": {
                        "bounceLogs": "https://n8n1612344344.api-us1.com/api/3/contacts/262/bounceLogs",
                        "contactAutomations": "https://n8n1612344344.api-us1.com/api/3/contacts/262/contactAutomations?limit=1000&orders%5Blastdate%5D=DESC",
                        "contactData": "https://n8n1612344344.api-us1.com/api/3/contacts/262/contactData",
                        "contactGoals": "https://n8n1612344344.api-us1.com/api/3/contacts/262/contactGoals",
                        "contactLists": "https://n8n1612344344.api-us1.com/api/3/contacts/262/contactLists",
                        "contactLogs": "https://n8n1612344344.api-us1.com/api/3/contacts/262/contactLogs",
                        "contactTags": "https://n8n1612344344.api-us1.com/api/3/contacts/262/contactTags",
                        "contactDeals": "https://n8n1612344344.api-us1.com/api/3/contacts/262/contactDeals",
                        "deals": "https://n8n1612344344.api-us1.com/api/3/contacts/262/deals",
                        "fieldValues": "https://n8n1612344344.api-us1.com/api/3/contacts/262/fieldValues",
                        "geoIps": "https://n8n1612344344.api-us1.com/api/3/contacts/262/geoIps",
                        "notes": "https://n8n1612344344.api-us1.com/api/3/contacts/262/notes",
                        "organization": "https://n8n1612344344.api-us1.com/api/3/contacts/262/organization",
                        "plusAppend": "https://n8n1612344344.api-us1.com/api/3/contacts/262/plusAppend",
                        "trackingLogs": "https://n8n1612344344.api-us1.com/api/3/contacts/262/trackingLogs",
                        "scoreValues": "https://n8n1612344344.api-us1.com/api/3/contacts/262/scoreValues",
                        "accountContacts": "https://n8n1612344344.api-us1.com/api/3/contacts/262/accountContacts",
                        "automationEntryCounts": "https://n8n1612344344.api-us1.com/api/3/contacts/262/automationEntryCounts"
                      },
                      "hash": "6d55ee282f99ed41ea99f9f0eb4a6113",
                      "id": "262",
                      "organization": ""
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign8": [
          {
            "startTime": 1622541689345,
            "executionTime": 450,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "stringid": "testlist",
                      "userid": "1",
                      "name": "TestList",
                      "cdate": "2021-03-02T10:30:17-06:00",
                      "p_use_tracking": "1",
                      "p_use_analytics_read": "0",
                      "p_use_analytics_link": "0",
                      "p_use_twitter": "0",
                      "p_use_facebook": "0",
                      "p_embed_image": "1",
                      "p_use_captcha": "1",
                      "send_last_broadcast": "0",
                      "private": "0",
                      "analytics_domains": null,
                      "analytics_source": "",
                      "analytics_ua": "",
                      "twitter_token": "",
                      "twitter_token_secret": "",
                      "facebook_session": null,
                      "carboncopy": null,
                      "subscription_notify": null,
                      "unsubscription_notify": null,
                      "require_name": "0",
                      "get_unsubscribe_reason": "0",
                      "to_name": "Subscriber",
                      "optinoptout": "1",
                      "sender_name": "",
                      "sender_addr1": "",
                      "sender_addr2": "",
                      "sender_city": "",
                      "sender_state": "",
                      "sender_zip": "",
                      "sender_country": "",
                      "sender_phone": "",
                      "sender_url": "https://n8n1612344344.activehosted.com",
                      "sender_reminder": "You are receiving these emails because you are subscribed to our updates.",
                      "fulladdress": "",
                      "optinmessageid": "0",
                      "optoutconf": "0",
                      "deletestamp": null,
                      "udate": null,
                      "created_timestamp": "2021-03-02 10:30:17",
                      "updated_timestamp": "2021-03-02 10:30:17",
                      "created_by": null,
                      "updated_by": null,
                      "links": {
                        "contactGoalLists": "https://n8n1612344344.api-us1.com/api/3/lists/1/contactGoalLists",
                        "user": "https://n8n1612344344.api-us1.com/api/3/lists/1/user",
                        "addressLists": "https://n8n1612344344.api-us1.com/api/3/lists/1/addressLists"
                      },
                      "id": "1",
                      "user": "1"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign9": [
          {
            "startTime": 1622541689796,
            "executionTime": 371,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "tag": "Tag1622541689797",
                      "tagType": "contact",
                      "cdate": "2021-06-01T05:01:30-05:00",
                      "links": {
                        "contactGoalTags": "https://n8n1612344344.api-us1.com/api/3/tags/87/contactGoalTags"
                      },
                      "id": "87"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign1": [
          {
            "startTime": 1622541690167,
            "executionTime": 361,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "connection": {
                        "service": "n8n",
                        "externalid": "1622541688337",
                        "name": "Name1622541688337",
                        "isInternal": "0",
                        "connectionType": "ecommerce",
                        "status": "1",
                        "syncStatus": 0,
                        "sync_request_time": null,
                        "sync_start_time": null,
                        "logoUrl": "https://n8n.io/_nuxt/img/df5be1c.png",
                        "linkUrl": "https://n8n.io/",
                        "cdate": "2021-06-01T05:01:28-05:00",
                        "udate": "2021-06-01T05:01:30-05:00",
                        "links": {
                          "options": "https://n8n1612344344.api-us1.com/api/3/connections/177/options",
                          "customers": "https://n8n1612344344.api-us1.com/api/3/connections/177/customers"
                        },
                        "id": "177",
                        "serviceName": "n8n"
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign7": [
          {
            "startTime": 1622541690528,
            "executionTime": 771,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "contacts": [
                        {
                          "cdate": "2021-06-01T05:01:29-05:00",
                          "email": "fake1622541688876@gmail.com",
                          "phone": "",
                          "firstName": "",
                          "lastName": "",
                          "orgid": "0",
                          "orgname": "",
                          "segmentio_id": "",
                          "bounced_hard": "0",
                          "bounced_soft": "0",
                          "bounced_date": null,
                          "ip": "0",
                          "ua": null,
                          "hash": "6d55ee282f99ed41ea99f9f0eb4a6113",
                          "socialdata_lastcheck": null,
                          "email_local": "",
                          "email_domain": "",
                          "sentcnt": "0",
                          "rating_tstamp": null,
                          "gravatar": "0",
                          "deleted": "0",
                          "anonymized": "0",
                          "adate": null,
                          "udate": "2021-06-01T05:01:29-05:00",
                          "edate": null,
                          "deleted_at": null,
                          "created_utc_timestamp": "2021-06-01 05:01:29",
                          "updated_utc_timestamp": "2021-06-01 05:01:29",
                          "created_timestamp": "2021-06-01 05:01:29",
                          "updated_timestamp": "2021-06-01 05:01:29",
                          "created_by": null,
                          "updated_by": null,
                          "email_empty": false,
                          "links": {
                            "bounceLogs": "https://n8n1612344344.api-us1.com/api/3/contacts/262/bounceLogs",
                            "contactAutomations": "https://n8n1612344344.api-us1.com/api/3/contacts/262/contactAutomations?limit=1000&orders%5Blastdate%5D=DESC",
                            "contactData": "https://n8n1612344344.api-us1.com/api/3/contacts/262/contactData",
                            "contactGoals": "https://n8n1612344344.api-us1.com/api/3/contacts/262/contactGoals",
                            "contactLists": "https://n8n1612344344.api-us1.com/api/3/contacts/262/contactLists",
                            "contactLogs": "https://n8n1612344344.api-us1.com/api/3/contacts/262/contactLogs",
                            "contactTags": "https://n8n1612344344.api-us1.com/api/3/contacts/262/contactTags",
                            "contactDeals": "https://n8n1612344344.api-us1.com/api/3/contacts/262/contactDeals",
                            "deals": "https://n8n1612344344.api-us1.com/api/3/contacts/262/deals",
                            "fieldValues": "https://n8n1612344344.api-us1.com/api/3/contacts/262/fieldValues",
                            "geoIps": "https://n8n1612344344.api-us1.com/api/3/contacts/262/geoIps",
                            "notes": "https://n8n1612344344.api-us1.com/api/3/contacts/262/notes",
                            "organization": "https://n8n1612344344.api-us1.com/api/3/contacts/262/organization",
                            "plusAppend": "https://n8n1612344344.api-us1.com/api/3/contacts/262/plusAppend",
                            "trackingLogs": "https://n8n1612344344.api-us1.com/api/3/contacts/262/trackingLogs",
                            "scoreValues": "https://n8n1612344344.api-us1.com/api/3/contacts/262/scoreValues",
                            "accountContacts": "https://n8n1612344344.api-us1.com/api/3/contacts/262/accountContacts",
                            "automationEntryCounts": "https://n8n1612344344.api-us1.com/api/3/contacts/262/automationEntryCounts"
                          },
                          "id": "262",
                          "organization": null
                        }
                      ],
                      "dealGroups": [
                        {
                          "title": "TestPipeLine",
                          "currency": "usd",
                          "autoassign": "0",
                          "allusers": "1",
                          "allgroups": "1",
                          "win_probability_initialize_date": null,
                          "cdate": "2021-03-02T11:14:02-06:00",
                          "udate": "2021-03-02T11:14:02-06:00",
                          "links": {
                            "stages": "https://n8n1612344344.api-us1.com/api/3/dealGroups/1/stages",
                            "dealGroupUsers": "https://n8n1612344344.api-us1.com/api/3/dealGroups/1/dealGroupUsers",
                            "dealGroupGroups": "https://n8n1612344344.api-us1.com/api/3/dealGroups/1/dealGroupGroups",
                            "winProbabilityFeatures": "https://n8n1612344344.api-us1.com/api/3/dealGroups/1/winProbabilityFeatures"
                          },
                          "id": "1"
                        }
                      ],
                      "dealStages": [
                        {
                          "group": "1",
                          "title": "To Contact",
                          "color": "19CCA3",
                          "order": "1",
                          "width": "280",
                          "dealOrder": "next-action DESC",
                          "cardRegion1": "title",
                          "cardRegion2": "next-action",
                          "cardRegion3": "show-avatar",
                          "cardRegion4": "contact-fullname-acctname",
                          "cardRegion5": "value",
                          "cdate": null,
                          "udate": null,
                          "links": {
                            "group": "https://n8n1612344344.api-us1.com/api/3/dealStages/1/group"
                          },
                          "id": "1"
                        }
                      ],
                      "deal": {
                        "title": "Title1622541690528",
                        "value": 101,
                        "currency": "usd",
                        "contact": "262",
                        "group": "1",
                        "owner": "1",
                        "stage": 1,
                        "cdate": "2021-06-01T05:01:31-05:00",
                        "mdate": "2021-06-01T05:01:31-05:00",
                        "description": "",
                        "organization": "",
                        "status": 0,
                        "nextdate": null,
                        "hash": "f6c3e4aa",
                        "winProbability": null,
                        "winProbabilityMdate": null,
                        "links": {
                          "dealActivities": "https://n8n1612344344.api-us1.com/api/3/deals/85/dealActivities",
                          "contact": "https://n8n1612344344.api-us1.com/api/3/deals/85/contact",
                          "contactDeals": "https://n8n1612344344.api-us1.com/api/3/deals/85/contactDeals",
                          "group": "https://n8n1612344344.api-us1.com/api/3/deals/85/group",
                          "nextTask": "https://n8n1612344344.api-us1.com/api/3/deals/85/nextTask",
                          "notes": "https://n8n1612344344.api-us1.com/api/3/deals/85/notes",
                          "account": "https://n8n1612344344.api-us1.com/api/3/deals/85/account",
                          "customerAccount": "https://n8n1612344344.api-us1.com/api/3/deals/85/customerAccount",
                          "organization": "https://n8n1612344344.api-us1.com/api/3/deals/85/organization",
                          "owner": "https://n8n1612344344.api-us1.com/api/3/deals/85/owner",
                          "scoreValues": "https://n8n1612344344.api-us1.com/api/3/deals/85/scoreValues",
                          "stage": "https://n8n1612344344.api-us1.com/api/3/deals/85/stage",
                          "tasks": "https://n8n1612344344.api-us1.com/api/3/deals/85/tasks",
                          "dealCustomFieldData": "https://n8n1612344344.api-us1.com/api/3/deals/85/dealCustomFieldData"
                        },
                        "fields": [],
                        "id": "85",
                        "isDisabled": false,
                        "account": "",
                        "customerAccount": ""
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign10": [
          {
            "startTime": 1622541691299,
            "executionTime": 331,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "tagType": "contact",
                      "tag": "Tag1622541689797",
                      "description": "",
                      "subscriber_count": "0",
                      "cdate": "2021-06-01T05:01:30-05:00",
                      "created_timestamp": "2021-06-01 05:01:30",
                      "updated_timestamp": "2021-06-01 05:01:30",
                      "created_by": null,
                      "updated_by": null,
                      "links": {
                        "contactGoalTags": "https://n8n1612344344.api-us1.com/api/3/tags/87/contactGoalTags"
                      },
                      "id": "87"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign2": [
          {
            "startTime": 1622541691630,
            "executionTime": 372,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "connection": {
                        "service": "n8n",
                        "externalid": "1622541688337",
                        "name": "Name1622541688337",
                        "isInternal": "0",
                        "connectionType": "ecommerce",
                        "status": "1",
                        "syncStatus": "0",
                        "sync_request_time": null,
                        "sync_start_time": null,
                        "lastSync": null,
                        "logoUrl": "https://n8n.io/_nuxt/img/df5be1c.png",
                        "linkUrl": "https://n8n.io/",
                        "credentialExpiration": null,
                        "cdate": "2021-06-01T05:01:28-05:00",
                        "udate": "2021-06-01T05:01:30-05:00",
                        "links": {
                          "options": "https://n8n1612344344.api-us1.com/api/3/connections/177/options",
                          "customers": "https://n8n1612344344.api-us1.com/api/3/connections/177/customers"
                        },
                        "id": "177",
                        "serviceName": "n8n"
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign14": [
          {
            "startTime": 1622541692002,
            "executionTime": 430,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "dealStages": [
                        {
                          "group": "1",
                          "title": "To Contact",
                          "color": "19CCA3",
                          "order": "1",
                          "width": "280",
                          "dealOrder": "next-action DESC",
                          "cardRegion1": "title",
                          "cardRegion2": "next-action",
                          "cardRegion3": "show-avatar",
                          "cardRegion4": "contact-fullname-acctname",
                          "cardRegion5": "value",
                          "cdate": null,
                          "udate": null,
                          "links": {
                            "group": "https://n8n1612344344.api-us1.com/api/3/dealStages/1/group"
                          },
                          "id": "1"
                        }
                      ],
                      "deal": {
                        "hash": "f6c3e4aa",
                        "owner": "1",
                        "contact": "262",
                        "organization": null,
                        "group": "1",
                        "stage": "1",
                        "title": "Title1622541690528",
                        "description": "",
                        "percent": "0",
                        "cdate": "2021-06-01T05:01:31-05:00",
                        "mdate": "2021-06-01T05:01:32-05:00",
                        "nextdate": null,
                        "nexttaskid": null,
                        "value": 201,
                        "currency": "usd",
                        "status": 0,
                        "activitycount": "2",
                        "nextdealid": "85",
                        "edate": null,
                        "winProbability": null,
                        "winProbabilityMdate": null,
                        "links": {
                          "dealActivities": "https://n8n1612344344.api-us1.com/api/3/deals/85/dealActivities",
                          "contact": "https://n8n1612344344.api-us1.com/api/3/deals/85/contact",
                          "contactDeals": "https://n8n1612344344.api-us1.com/api/3/deals/85/contactDeals",
                          "group": "https://n8n1612344344.api-us1.com/api/3/deals/85/group",
                          "nextTask": "https://n8n1612344344.api-us1.com/api/3/deals/85/nextTask",
                          "notes": "https://n8n1612344344.api-us1.com/api/3/deals/85/notes",
                          "account": "https://n8n1612344344.api-us1.com/api/3/deals/85/account",
                          "customerAccount": "https://n8n1612344344.api-us1.com/api/3/deals/85/customerAccount",
                          "organization": "https://n8n1612344344.api-us1.com/api/3/deals/85/organization",
                          "owner": "https://n8n1612344344.api-us1.com/api/3/deals/85/owner",
                          "scoreValues": "https://n8n1612344344.api-us1.com/api/3/deals/85/scoreValues",
                          "stage": "https://n8n1612344344.api-us1.com/api/3/deals/85/stage",
                          "tasks": "https://n8n1612344344.api-us1.com/api/3/deals/85/tasks",
                          "dealCustomFieldData": "https://n8n1612344344.api-us1.com/api/3/deals/85/dealCustomFieldData"
                        },
                        "fields": [],
                        "id": "85",
                        "isDisabled": false,
                        "account": null,
                        "customerAccount": null
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign11": [
          {
            "startTime": 1622541692432,
            "executionTime": 353,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "tag": {
                        "tagType": "contact",
                        "tag": "Tag1622541689797",
                        "description": "",
                        "subscriber_count": "0",
                        "cdate": "2021-06-01T05:01:30-05:00",
                        "created_timestamp": "2021-06-01 05:01:30",
                        "updated_timestamp": "2021-06-01 05:01:30",
                        "created_by": null,
                        "updated_by": null,
                        "links": {
                          "contactGoalTags": "https://n8n1612344344.api-us1.com/api/3/tags/87/contactGoalTags"
                        },
                        "id": "87"
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign3": [
          {
            "startTime": 1622541692785,
            "executionTime": 457,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "service": "n8n",
                      "externalid": "1621002648800",
                      "name": "Name1621002648800",
                      "isInternal": "0",
                      "connectionType": "ecommerce",
                      "status": "1",
                      "syncStatus": "0",
                      "sync_request_time": null,
                      "sync_start_time": null,
                      "lastSync": null,
                      "logoUrl": "https://n8n.io/_nuxt/img/df5be1c.png",
                      "linkUrl": "https://n8n.io/",
                      "credentialExpiration": null,
                      "cdate": "2021-05-14T09:31:09-05:00",
                      "udate": "2021-05-14T09:31:09-05:00",
                      "links": {
                        "options": "https://n8n1612344344.api-us1.com/api/3/connections/92/options",
                        "customers": "https://n8n1612344344.api-us1.com/api/3/connections/92/customers"
                      },
                      "id": "92",
                      "serviceName": "n8n"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign15": [
          {
            "startTime": 1622541693242,
            "executionTime": 688,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "deal": {
                        "hash": "f6c3e4aa",
                        "owner": "1",
                        "contact": "262",
                        "organization": null,
                        "group": "1",
                        "stage": "1",
                        "title": "Title1622541690528",
                        "description": "",
                        "percent": "0",
                        "cdate": "2021-06-01T05:01:31-05:00",
                        "mdate": "2021-06-01T05:01:32-05:00",
                        "nextdate": null,
                        "nexttaskid": "0",
                        "value": "201",
                        "currency": "usd",
                        "winProbability": null,
                        "winProbabilityMdate": null,
                        "status": "0",
                        "activitycount": "3",
                        "nextdealid": "85",
                        "edate": "0000-00-00 00:00:00",
                        "links": {
                          "dealActivities": "https://n8n1612344344.api-us1.com/api/3/deals/85/dealActivities",
                          "contact": "https://n8n1612344344.api-us1.com/api/3/deals/85/contact",
                          "contactDeals": "https://n8n1612344344.api-us1.com/api/3/deals/85/contactDeals",
                          "group": "https://n8n1612344344.api-us1.com/api/3/deals/85/group",
                          "nextTask": "https://n8n1612344344.api-us1.com/api/3/deals/85/nextTask",
                          "notes": "https://n8n1612344344.api-us1.com/api/3/deals/85/notes",
                          "account": "https://n8n1612344344.api-us1.com/api/3/deals/85/account",
                          "customerAccount": "https://n8n1612344344.api-us1.com/api/3/deals/85/customerAccount",
                          "organization": "https://n8n1612344344.api-us1.com/api/3/deals/85/organization",
                          "owner": "https://n8n1612344344.api-us1.com/api/3/deals/85/owner",
                          "scoreValues": "https://n8n1612344344.api-us1.com/api/3/deals/85/scoreValues",
                          "stage": "https://n8n1612344344.api-us1.com/api/3/deals/85/stage",
                          "tasks": "https://n8n1612344344.api-us1.com/api/3/deals/85/tasks",
                          "dealCustomFieldData": "https://n8n1612344344.api-us1.com/api/3/deals/85/dealCustomFieldData"
                        },
                        "id": "85",
                        "isDisabled": false,
                        "nextTask": null,
                        "account": null,
                        "customerAccount": null
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign12": [
          {
            "startTime": 1622541693930,
            "executionTime": 359,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "tagType": "contact",
                      "tag": "TestTag",
                      "description": "",
                      "subscriber_count": "1",
                      "cdate": "2021-03-02T10:29:14-06:00",
                      "created_timestamp": "2021-03-02 10:29:14",
                      "updated_timestamp": "2021-06-01 05:01:32",
                      "created_by": null,
                      "updated_by": null,
                      "links": {
                        "contactGoalTags": "https://n8n1612344344.api-us1.com/api/3/tags/1/contactGoalTags"
                      },
                      "id": "1"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign4": [
          {
            "startTime": 1622541694289,
            "executionTime": 471,
            "data": {
              "main": [
                [
                  {
                    "json": {}
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign16": [
          {
            "startTime": 1622541694760,
            "executionTime": 472,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "deals": [
                        {
                          "hash": "f6c3e4aa",
                          "owner": "1",
                          "contact": "262",
                          "organization": null,
                          "group": "1",
                          "stage": "1",
                          "title": "Title1622541690528",
                          "description": "",
                          "percent": "0",
                          "cdate": "2021-06-01T05:01:31-05:00",
                          "mdate": "2021-06-01T05:01:32-05:00",
                          "nextdate": null,
                          "nexttaskid": "0",
                          "value": "201",
                          "currency": "usd",
                          "winProbability": null,
                          "winProbabilityMdate": null,
                          "status": "0",
                          "activitycount": "3",
                          "nextdealid": "85",
                          "edate": "0000-00-00 00:00:00",
                          "links": {
                            "dealActivities": "https://n8n1612344344.api-us1.com/api/3/deals/85/dealActivities",
                            "contact": "https://n8n1612344344.api-us1.com/api/3/deals/85/contact",
                            "contactDeals": "https://n8n1612344344.api-us1.com/api/3/deals/85/contactDeals",
                            "group": "https://n8n1612344344.api-us1.com/api/3/deals/85/group",
                            "nextTask": "https://n8n1612344344.api-us1.com/api/3/deals/85/nextTask",
                            "notes": "https://n8n1612344344.api-us1.com/api/3/deals/85/notes",
                            "account": "https://n8n1612344344.api-us1.com/api/3/deals/85/account",
                            "customerAccount": "https://n8n1612344344.api-us1.com/api/3/deals/85/customerAccount",
                            "organization": "https://n8n1612344344.api-us1.com/api/3/deals/85/organization",
                            "owner": "https://n8n1612344344.api-us1.com/api/3/deals/85/owner",
                            "scoreValues": "https://n8n1612344344.api-us1.com/api/3/deals/85/scoreValues",
                            "stage": "https://n8n1612344344.api-us1.com/api/3/deals/85/stage",
                            "tasks": "https://n8n1612344344.api-us1.com/api/3/deals/85/tasks",
                            "dealCustomFieldData": "https://n8n1612344344.api-us1.com/api/3/deals/85/dealCustomFieldData"
                          },
                          "id": "85",
                          "isDisabled": false,
                          "nextTask": null,
                          "account": null,
                          "customerAccount": null
                        }
                      ],
                      "note": {
                        "note": "TestNote",
                        "relid": "85",
                        "reltype": "Deal",
                        "cdate": "2021-06-01T05:01:35-05:00",
                        "mdate": "2021-06-01T05:01:35-05:00",
                        "userid": "1",
                        "links": {
                          "activities": "https://n8n1612344344.api-us1.com/api/3/notes/84/activities",
                          "user": "https://n8n1612344344.api-us1.com/api/3/notes/84/user",
                          "mentions": "https://n8n1612344344.api-us1.com/api/3/notes/84/mentions",
                          "notes": "https://n8n1612344344.api-us1.com/api/3/notes/84/notes",
                          "owner": "https://n8n1612344344.api-us1.com/api/3/notes/84/owner"
                        },
                        "owner": {
                          "type": "deal",
                          "id": "85"
                        },
                        "is_draft": "",
                        "id": "84",
                        "user": "1"
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign13": [
          {
            "startTime": 1622541695232,
            "executionTime": 412,
            "data": {
              "main": [
                [
                  {
                    "json": {}
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign17": [
          {
            "startTime": 1622541695644,
            "executionTime": 423,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "users": [
                        {
                          "username": "admin",
                          "firstName": "Leoni",
                          "lastName": "Bruch",
                          "email": "nodeqa@n8n.io",
                          "phone": "",
                          "signature": "",
                          "lang": "english",
                          "localZoneid": "Europe/Berlin",
                          "password_updated_utc_timestamp": "2021-03-02 04:28:49",
                          "cdate": null,
                          "udate": null,
                          "mfaEnabled": "0",
                          "links": {
                            "lists": "https://n8n1612344344.api-us1.com/api/3/users/1/lists",
                            "userGroup": "https://n8n1612344344.api-us1.com/api/3/users/1/userGroup",
                            "dealGroupTotals": "https://n8n1612344344.api-us1.com/api/3/users/1/dealGroupTotals",
                            "dealGroupUsers": "https://n8n1612344344.api-us1.com/api/3/users/1/dealGroupUsers",
                            "configs": "https://n8n1612344344.api-us1.com/api/3/users/1/configs",
                            "dealConnection": "https://n8n1612344344.api-us1.com/api/3/users/1/dealConnection",
                            "userConversationsPermission": "https://n8n1612344344.api-us1.com/api/3/users/1/userConversationsPermission",
                            "seatUser": "https://n8n1612344344.api-us1.com/api/3/users/1/seatUser"
                          },
                          "id": "1"
                        }
                      ],
                      "deals": [
                        {
                          "hash": "f6c3e4aa",
                          "owner": "1",
                          "contact": "262",
                          "organization": null,
                          "group": "1",
                          "stage": "1",
                          "title": "Title1622541690528",
                          "description": "",
                          "percent": "0",
                          "cdate": "2021-06-01T05:01:31-05:00",
                          "mdate": "2021-06-01T05:01:35-05:00",
                          "nextdate": null,
                          "nexttaskid": "0",
                          "value": "201",
                          "currency": "usd",
                          "winProbability": null,
                          "winProbabilityMdate": null,
                          "status": "0",
                          "activitycount": "4",
                          "nextdealid": "85",
                          "edate": "0000-00-00 00:00:00",
                          "links": {
                            "dealActivities": "https://n8n1612344344.api-us1.com/api/3/deals/85/dealActivities",
                            "contact": "https://n8n1612344344.api-us1.com/api/3/deals/85/contact",
                            "contactDeals": "https://n8n1612344344.api-us1.com/api/3/deals/85/contactDeals",
                            "group": "https://n8n1612344344.api-us1.com/api/3/deals/85/group",
                            "nextTask": "https://n8n1612344344.api-us1.com/api/3/deals/85/nextTask",
                            "notes": "https://n8n1612344344.api-us1.com/api/3/deals/85/notes",
                            "account": "https://n8n1612344344.api-us1.com/api/3/deals/85/account",
                            "customerAccount": "https://n8n1612344344.api-us1.com/api/3/deals/85/customerAccount",
                            "organization": "https://n8n1612344344.api-us1.com/api/3/deals/85/organization",
                            "owner": "https://n8n1612344344.api-us1.com/api/3/deals/85/owner",
                            "scoreValues": "https://n8n1612344344.api-us1.com/api/3/deals/85/scoreValues",
                            "stage": "https://n8n1612344344.api-us1.com/api/3/deals/85/stage",
                            "tasks": "https://n8n1612344344.api-us1.com/api/3/deals/85/tasks",
                            "dealCustomFieldData": "https://n8n1612344344.api-us1.com/api/3/deals/85/dealCustomFieldData"
                          },
                          "id": "85",
                          "isDisabled": false,
                          "nextTask": null,
                          "account": null,
                          "customerAccount": null
                        }
                      ],
                      "note": {
                        "relid": "85",
                        "reltype": "Deal",
                        "userid": "1",
                        "is_draft": "0",
                        "cdate": "2021-06-01T05:01:35-05:00",
                        "mdate": "2021-06-01T05:01:35-05:00",
                        "note": "UpdatedNote",
                        "user": "1",
                        "owner": {
                          "type": "deal",
                          "id": "85"
                        },
                        "links": {
                          "activities": "https://n8n1612344344.api-us1.com/api/3/notes/84/activities",
                          "user": "https://n8n1612344344.api-us1.com/api/3/notes/84/user",
                          "mentions": "https://n8n1612344344.api-us1.com/api/3/notes/84/mentions",
                          "notes": "https://n8n1612344344.api-us1.com/api/3/notes/84/notes",
                          "owner": "https://n8n1612344344.api-us1.com/api/3/notes/84/owner"
                        },
                        "id": "84"
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign18": [
          {
            "startTime": 1622541696067,
            "executionTime": 353,
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "hash": "92900823",
                      "owner": "1",
                      "contact": "254",
                      "organization": null,
                      "group": "1",
                      "stage": "1",
                      "title": "Title1622470457097",
                      "description": "",
                      "percent": "0",
                      "cdate": "2021-05-31T09:14:17-05:00",
                      "mdate": "2021-05-31T09:14:18-05:00",
                      "nextdate": null,
                      "nexttaskid": "0",
                      "value": "201",
                      "currency": "usd",
                      "winProbability": null,
                      "winProbabilityMdate": null,
                      "status": "0",
                      "activitycount": "3",
                      "nextdealid": "82",
                      "edate": "0000-00-00 00:00:00",
                      "links": {
                        "dealActivities": "https://n8n1612344344.api-us1.com/api/3/deals/82/dealActivities",
                        "contact": "https://n8n1612344344.api-us1.com/api/3/deals/82/contact",
                        "contactDeals": "https://n8n1612344344.api-us1.com/api/3/deals/82/contactDeals",
                        "group": "https://n8n1612344344.api-us1.com/api/3/deals/82/group",
                        "nextTask": "https://n8n1612344344.api-us1.com/api/3/deals/82/nextTask",
                        "notes": "https://n8n1612344344.api-us1.com/api/3/deals/82/notes",
                        "account": "https://n8n1612344344.api-us1.com/api/3/deals/82/account",
                        "customerAccount": "https://n8n1612344344.api-us1.com/api/3/deals/82/customerAccount",
                        "organization": "https://n8n1612344344.api-us1.com/api/3/deals/82/organization",
                        "owner": "https://n8n1612344344.api-us1.com/api/3/deals/82/owner",
                        "scoreValues": "https://n8n1612344344.api-us1.com/api/3/deals/82/scoreValues",
                        "stage": "https://n8n1612344344.api-us1.com/api/3/deals/82/stage",
                        "tasks": "https://n8n1612344344.api-us1.com/api/3/deals/82/tasks",
                        "dealCustomFieldData": "https://n8n1612344344.api-us1.com/api/3/deals/82/dealCustomFieldData"
                      },
                      "id": "82",
                      "isDisabled": false,
                      "nextTask": null,
                      "account": null,
                      "customerAccount": null
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign19": [
          {
            "startTime": 1622541696420,
            "executionTime": 855,
            "data": {
              "main": [
                [
                  {
                    "json": {}
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign6": [
          {
            "startTime": 1622541697275,
            "executionTime": 558,
            "data": {
              "main": [
                [
                  {
                    "json": {}
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "ActiveCampaign6"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {}
    }
  },
  "mode": "cli",
  "startedAt": "2021-06-01T10:01:28.330Z",
  "stoppedAt": "2021-06-01T10:01:37.834Z",
  "finished": true
}