snapshots/88-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "hints": [],
            "startTime": 1732699138649,
            "executionTime": 0,
            "source": [],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign": [
          {
            "hints": [],
            "startTime": 1732699138649,
            "executionTime": 1013,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "connection": {
                        "object": true
                      },
                      "meta": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign1": [
          {
            "hints": [],
            "startTime": 1732699139662,
            "executionTime": 489,
            "source": [
              {
                "previousNode": "ActiveCampaign"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "connections": [
                        "json array"
                      ],
                      "ecomCustomer": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign7": [
          {
            "hints": [],
            "startTime": 1732699140151,
            "executionTime": 422,
            "source": [
              {
                "previousNode": "ActiveCampaign1"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "connections": [
                        "json array"
                      ],
                      "ecomOrderProducts": [
                        "json array"
                      ],
                      "ecomOrder": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign12": [
          {
            "hints": [],
            "startTime": 1732699140574,
            "executionTime": 361,
            "source": [
              {
                "previousNode": "ActiveCampaign7"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "ecomOrderProduct": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign13": [
          {
            "hints": [],
            "startTime": 1732699140936,
            "executionTime": 340,
            "source": [
              {
                "previousNode": "ActiveCampaign12"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "ecomOrderProducts": [
                        "json array"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign14": [
          {
            "hints": [],
            "startTime": 1732699141276,
            "executionTime": 322,
            "source": [
              {
                "previousNode": "ActiveCampaign13"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "orderid": "112",
                      "connectionid": "636",
                      "externalid": "ProductId1644891804797",
                      "sku": "",
                      "name": "Product1644891804797",
                      "description": {
                        "object": true
                      },
                      "price": "101",
                      "quantity": "1",
                      "category": "Test",
                      "imageUrl": "",
                      "productUrl": "",
                      "createdDate": "2022-02-14T20:23:25-06:00",
                      "updatedDate": "2022-02-14T20:23:25-06:00",
                      "tags": {
                        "object": true
                      },
                      "isOnSale": {
                        "object": true
                      },
                      "brand": {
                        "object": true
                      },
                      "averageRating": {
                        "object": true
                      },
                      "tstamp": "2022-02-14T20:23:25-06:00",
                      "links": {
                        "object": true
                      },
                      "id": "110",
                      "ecomOrder": "112"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign8": [
          {
            "hints": [],
            "startTime": 1732699141598,
            "executionTime": 348,
            "source": [
              {
                "previousNode": "ActiveCampaign14"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "ecomOrderProducts": [
                        "json array"
                      ],
                      "contactConversions": [
                        "json array"
                      ],
                      "ecomOrder": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign9": [
          {
            "hints": [],
            "startTime": 1732699141947,
            "executionTime": 383,
            "source": [
              {
                "previousNode": "ActiveCampaign8"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "ecomOrder": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign10": [
          {
            "hints": [],
            "startTime": 1732699142330,
            "executionTime": 336,
            "source": [
              {
                "previousNode": "ActiveCampaign9"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "customerid": "3",
                      "connectionid": "6",
                      "state": "1",
                      "source": "0",
                      "externalid": "externalOrderId1614707598654",
                      "externalcheckoutid": {
                        "object": true
                      },
                      "orderNumber": "",
                      "email": "customerEmail1614707598651@gmail.com",
                      "totalPrice": "201",
                      "discountAmount": {
                        "object": true
                      },
                      "shippingAmount": {
                        "object": true
                      },
                      "taxAmount": {
                        "object": true
                      },
                      "totalProducts": "0",
                      "currency": "EUR",
                      "shippingMethod": "",
                      "orderUrl": "",
                      "externalCreatedDate": "2021-03-02T11:48:16-06:00",
                      "externalUpdatedDate": {
                        "object": true
                      },
                      "abandonedDate": {
                        "object": true
                      },
                      "createdDate": "2021-03-02T11:53:19-06:00",
                      "updatedDate": "2021-03-02T11:54:15-06:00",
                      "orderDate": "2021-03-02T11:48:16-06:00",
                      "tstamp": "2021-03-02T11:54:15-06:00",
                      "links": {
                        "object": true
                      },
                      "id": "2",
                      "connection": "6",
                      "customer": "3"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign11": [
          {
            "hints": [],
            "startTime": 1732699142666,
            "executionTime": 426,
            "source": [
              {
                "previousNode": "ActiveCampaign10"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign2": [
          {
            "hints": [],
            "startTime": 1732699143092,
            "executionTime": 350,
            "source": [
              {
                "previousNode": "ActiveCampaign11"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "ecomCustomer": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign3": [
          {
            "hints": [],
            "startTime": 1732699143442,
            "executionTime": 338,
            "source": [
              {
                "previousNode": "ActiveCampaign2"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "ecomCustomer": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign4": [
          {
            "hints": [],
            "startTime": 1732699143781,
            "executionTime": 396,
            "source": [
              {
                "previousNode": "ActiveCampaign3"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "connectionid": "6",
                      "externalid": "",
                      "email": "deleted+10@example.com",
                      "totalRevenue": "201",
                      "totalOrders": "1",
                      "totalProducts": "0",
                      "avgRevenuePerOrder": "201",
                      "avgProductCategory": "",
                      "tstamp": "2021-05-14T20:06:40-05:00",
                      "acceptsMarketing": "0",
                      "sms_marketing_state": {
                        "object": true
                      },
                      "sms_opt_in_level": {
                        "object": true
                      },
                      "sms_consent_updated_at": {
                        "object": true
                      },
                      "links": {
                        "object": true
                      },
                      "id": "3",
                      "connection": "6"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign15": [
          {
            "hints": [],
            "startTime": 1732699144177,
            "executionTime": 419,
            "source": [
              {
                "previousNode": "ActiveCampaign4"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "cdate": "2024-11-27T03:18:59-06:00",
                      "email": "fake1732699139667@gmail.com",
                      "phone": "",
                      "firstName": "",
                      "lastName": "",
                      "orgid": "0",
                      "orgname": "",
                      "segmentio_id": "",
                      "bounced_hard": "0",
                      "bounced_soft": "0",
                      "bounced_date": {
                        "object": true
                      },
                      "ip": "0",
                      "ua": {
                        "object": true
                      },
                      "hash": "4a29bad869671cb08d498cfbbbdc6a94",
                      "socialdata_lastcheck": {
                        "object": true
                      },
                      "email_local": "",
                      "email_domain": "gmail.com",
                      "sentcnt": "0",
                      "rating_tstamp": {
                        "object": true
                      },
                      "gravatar": "0",
                      "deleted": "0",
                      "anonymized": "0",
                      "adate": {
                        "object": true
                      },
                      "udate": "2024-11-27T03:19:00-06:00",
                      "edate": {
                        "object": true
                      },
                      "deleted_at": {
                        "object": true
                      },
                      "created_utc_timestamp": "2024-11-27 03:18:59",
                      "updated_utc_timestamp": "2024-11-27 03:19:00",
                      "created_timestamp": "2024-11-27 03:18:59",
                      "updated_timestamp": "2024-11-27 03:19:00",
                      "created_by": {
                        "object": true
                      },
                      "updated_by": {
                        "object": true
                      },
                      "mpp_tracking": "0",
                      "last_click_date": {
                        "object": true
                      },
                      "last_open_date": {
                        "object": true
                      },
                      "last_mpp_open_date": {
                        "object": true
                      },
                      "scoreValues": [
                        "json array"
                      ],
                      "accountContacts": [
                        "json array"
                      ],
                      "links": {
                        "object": true
                      },
                      "id": "5725",
                      "organization": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign16": [
          {
            "hints": [],
            "startTime": 1732699144597,
            "executionTime": 549,
            "source": [
              {
                "previousNode": "ActiveCampaign15"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign5": [
          {
            "hints": [],
            "startTime": 1732699145147,
            "executionTime": 406,
            "source": [
              {
                "previousNode": "ActiveCampaign16"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "ActiveCampaign6": [
          {
            "hints": [],
            "startTime": 1732699145554,
            "executionTime": 876,
            "source": [
              {
                "previousNode": "ActiveCampaign5"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "meta": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "ActiveCampaign6"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2024-11-27T09:18:58.647Z",
  "stoppedAt": "2024-11-27T09:19:06.430Z",
  "status": "running",
  "finished": true
}