snapshots/95-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1676027872708,
            "executionTime": 0,
            "source": [],
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Set": [
          {
            "startTime": 1676027872709,
            "executionTime": 1,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "name": "test"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Function": [
          {
            "startTime": 1676027872710,
            "executionTime": 18,
            "source": [
              {
                "previousNode": "Set"
              }
            ],
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "name": "test"
                    },
                    "pairedItem": {
                      "item": 0
                    },
                    "index": 0
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Function"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2023-02-10T11:17:52.706Z",
  "stoppedAt": "2023-02-10T11:17:52.729Z",
  "finished": true
}