snapshots/98-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "hints": [],
            "startTime": 1722863236905,
            "executionTime": 1,
            "source": [],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Disqus": [
          {
            "hints": [],
            "startTime": 1722863236906,
            "executionTime": 209,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "aetBannerConfirmation": {
                        "object": true
                      },
                      "founder": "252695960",
                      "twitterName": {
                        "object": true
                      },
                      "commentsLinkOne": "1 Comment",
                      "guidelines": {
                        "object": true
                      },
                      "favicon": {
                        "object": true
                      },
                      "commentsLinkZero": "0 Comments",
                      "disableDisqusBranding": false,
                      "id": "disqus-demo-page",
                      "createdAt": "2017-05-22T19:17:36.057166",
                      "category": "Business",
                      "aetBannerEnabled": false,
                      "aetBannerTitle": {
                        "object": true
                      },
                      "raw_guidelines": {
                        "object": true
                      },
                      "initialCommentCount": {
                        "object": true
                      },
                      "votingType": {
                        "object": true
                      },
                      "daysUnapproveNewUsers": {
                        "object": true
                      },
                      "installCompleted": true,
                      "moderatorBadgeText": "",
                      "commentPolicyText": {
                        "object": true
                      },
                      "aetEnabled": false,
                      "channel": {
                        "object": true
                      },
                      "sort": 4,
                      "description": {
                        "object": true
                      },
                      "newPolicy": true,
                      "raw_description": {
                        "object": true
                      },
                      "customFont": {
                        "object": true
                      },
                      "language": "en",
                      "adsReviewStatus": 0,
                      "commentsPlaceholderTextEmpty": {
                        "object": true
                      },
                      "daysAlive": 0,
                      "forumCategory": {
                        "object": true
                      },
                      "linkColor": {
                        "object": true
                      },
                      "colorScheme": "auto",
                      "pk": "5140050",
                      "commentsPlaceholderTextPopulated": {
                        "object": true
                      },
                      "permissions": {
                        "object": true
                      },
                      "commentPolicyLink": {
                        "object": true
                      },
                      "aetBannerDescription": {
                        "object": true
                      },
                      "name": "Disqus Demo Page",
                      "commentsLinkMultiple": "{num} Comments",
                      "settings": {
                        "object": true
                      },
                      "organizationId": 3883635,
                      "typeface": "auto",
                      "url": {
                        "object": true
                      },
                      "daysThreadAlive": 0,
                      "avatar": {
                        "object": true
                      },
                      "signedUrl": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Disqus1": [
          {
            "hints": [],
            "startTime": 1722863237115,
            "executionTime": 318,
            "source": [
              {
                "previousNode": "Disqus"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "6858940",
                      "forum": "disqus-demo-page",
                      "order": 0,
                      "isDefault": true,
                      "title": "General"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Disqus2": [
          {
            "hints": [],
            "startTime": 1722863237433,
            "executionTime": 238,
            "source": [
              {
                "previousNode": "Disqus1"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "feed": "https://disqus-demo-page.disqus.com/http1270014000jekyll_theme_miloc20240523jekyll_posthtml/latest.rss",
                      "clean_title": "Untitled",
                      "dislikes": 0,
                      "likes": 0,
                      "message": "",
                      "ratingsEnabled": false,
                      "isSpam": false,
                      "isDeleted": false,
                      "category": "6858940",
                      "adsDisabled": false,
                      "author": "252695960",
                      "userScore": 0,
                      "id": "10205158172",
                      "signedLink": "http://disq.us/?url=http%3A%2F%2F127.0.0.1%3A4000%2Fjekyll-theme-milo%2Fc%2F2024%2F05%2F23%2FJekyll-post.html&key=aNTpXlKlL5qSeTqkKamp3A",
                      "createdAt": "2024-05-24T01:40:11",
                      "hasStreaming": false,
                      "raw_message": "",
                      "isClosed": false,
                      "link": "http://127.0.0.1:4000/jekyll-theme-milo/c/2024/05/23/Jekyll-post.html",
                      "slug": "http1270014000jekyll_theme_miloc20240523jekyll_posthtml",
                      "forum": "disqus-demo-page",
                      "identifiers": [
                        "json array"
                      ],
                      "posts": 0,
                      "userSubscription": false,
                      "validateAllPosts": false,
                      "title": "Untitled",
                      "highlightedPost": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Disqus3": [
          {
            "hints": [],
            "startTime": 1722863237672,
            "executionTime": 231,
            "source": [
              {
                "previousNode": "Disqus2"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "editableUntil": "2021-02-20T11:14:59",
                      "dislikes": 0,
                      "thread": "8396245103",
                      "numReports": 0,
                      "likes": 0,
                      "message": "<p>You have done a good job with your knowledge that makes our work easy because you are providing such good information. Keep sharing this kind of knowledge with us.<br><a href=\"https://disq.us/url?url=https%3A%2F%2Fwww.mehrsaffron.com%2Fbuy-saffron%2F%3AvSrYduQGHsKICdIN3wMd8fB5TFQ&amp;cuid=5140050\" rel=\"nofollow noopener\" title=\"https://www.mehrsaffron.com/buy-saffron/\">buy spanish saffron online</a></p>",
                      "id": "5266881862",
                      "createdAt": "2021-02-13T11:14:59",
                      "author": {
                        "object": true
                      },
                      "media": [
                        "json array"
                      ],
                      "isSpam": false,
                      "isDeletedByAuthor": false,
                      "isHighlighted": false,
                      "parent": {
                        "object": true
                      },
                      "isApproved": true,
                      "isNewUserNeedsApproval": false,
                      "isDeleted": false,
                      "isFlagged": false,
                      "raw_message": "You have done a good job with your knowledge that makes our work easy because you are providing such good information. Keep sharing this kind of knowledge with us.\n<a href=\"https://www.mehrsaffron.com/buy-saffron/\">buy spanish saffron online</a>",
                      "isAtFlagLimit": false,
                      "canVote": false,
                      "forum": "disqus-demo-page",
                      "points": 0,
                      "moderationLabels": [
                        "json array"
                      ],
                      "isEdited": false,
                      "sb": false
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Disqus3"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2024-08-05T13:07:16.905Z",
  "stoppedAt": "2024-08-05T13:07:17.904Z",
  "status": "running",
  "finished": true
}