workflows/10.json
{
  "id": 10,
  "name": "PagerDuty:Incident:create get update getAll:IncidentNote:create getAll:User:get:LogEntry:getAll get",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        260
      ]
    },
    {
      "parameters": {
        "title": "Test",
        "serviceId": "PS66D8E",
        "email": "nodeqa@n8n.io",
        "additionalFields": {}
      },
      "name": "PagerDuty",
      "type": "n8n-nodes-base.pagerDuty",
      "typeVersion": 1,
      "position": [
        400,
        260
      ],
      "credentials": {
        "pagerDutyApi": "PagerDuty creds"
      }
    },
    {
      "parameters": {
        "operation": "get",
        "incidentId": "={{$json[\"id\"]}}"
      },
      "name": "PagerDuty1",
      "type": "n8n-nodes-base.pagerDuty",
      "typeVersion": 1,
      "position": [
        550,
        260
      ],
      "credentials": {
        "pagerDutyApi": "PagerDuty creds"
      }
    },
    {
      "parameters": {
        "operation": "update",
        "incidentId": "={{$json[\"id\"]}}",
        "email": "nodeqa@n8n.io",
        "updateFields": {
          "status": "acknowledged"
        }
      },
      "name": "PagerDuty2",
      "type": "n8n-nodes-base.pagerDuty",
      "typeVersion": 1,
      "position": [
        870,
        260
      ],
      "credentials": {
        "pagerDutyApi": "PagerDuty creds"
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 1,
        "options": {}
      },
      "name": "PagerDuty3",
      "type": "n8n-nodes-base.pagerDuty",
      "typeVersion": 1,
      "position": [
        1030,
        260
      ],
      "credentials": {
        "pagerDutyApi": "PagerDuty creds"
      }
    },
    {
      "parameters": {
        "resource": "incidentNote",
        "incidentId": "={{$json[\"id\"]}}",
        "content": "Simple note for an incident",
        "email": "nodeqa@n8n.io"
      },
      "name": "PagerDuty4",
      "type": "n8n-nodes-base.pagerDuty",
      "typeVersion": 1,
      "position": [
        720,
        350
      ],
      "credentials": {
        "pagerDutyApi": "PagerDuty creds"
      }
    },
    {
      "parameters": {
        "resource": "incidentNote",
        "operation": "getAll",
        "incidentId": "={{$json[\"id\"]}}",
        "limit": 1
      },
      "name": "PagerDuty5",
      "type": "n8n-nodes-base.pagerDuty",
      "typeVersion": 1,
      "position": [
        720,
        160
      ],
      "credentials": {
        "pagerDutyApi": "PagerDuty creds"
      }
    },
    {
      "parameters": {
        "resource": "user",
        "userId": "PIP3SRL"
      },
      "name": "PagerDuty6",
      "type": "n8n-nodes-base.pagerDuty",
      "typeVersion": 1,
      "position": [
        400,
        110
      ],
      "credentials": {
        "pagerDutyApi": "PagerDuty creds"
      }
    },
    {
      "parameters": {
        "resource": "logEntry",
        "operation": "getAll",
        "limit": 1,
        "options": {}
      },
      "name": "PagerDuty7",
      "type": "n8n-nodes-base.pagerDuty",
      "typeVersion": 1,
      "position": [
        400,
        440
      ],
      "credentials": {
        "pagerDutyApi": "PagerDuty creds"
      }
    },
    {
      "parameters": {
        "resource": "logEntry",
        "logEntryId": "={{$node[\"PagerDuty\"].json[\"first_trigger_log_entry\"][\"id\"]}}"
      },
      "name": "PagerDuty8",
      "type": "n8n-nodes-base.pagerDuty",
      "typeVersion": 1,
      "position": [
        550,
        440
      ],
      "credentials": {
        "pagerDutyApi": "PagerDuty creds"
      }
    }
  ],
  "connections": {
    "PagerDuty": {
      "main": [
        [
          {
            "node": "PagerDuty1",
            "type": "main",
            "index": 0
          },
          {
            "node": "PagerDuty8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PagerDuty1": {
      "main": [
        [
          {
            "node": "PagerDuty4",
            "type": "main",
            "index": 0
          },
          {
            "node": "PagerDuty5",
            "type": "main",
            "index": 0
          },
          {
            "node": "PagerDuty2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PagerDuty2": {
      "main": [
        [
          {
            "node": "PagerDuty3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "PagerDuty",
            "type": "main",
            "index": 0
          },
          {
            "node": "PagerDuty6",
            "type": "main",
            "index": 0
          },
          {
            "node": "PagerDuty7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PagerDuty7": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2021-02-15T13:56:59.611Z",
  "updatedAt": "2021-02-19T11:45:25.483Z",
  "settings": {},
  "staticData": null
}