workflows/10.json
{
  "id": 10,
  "name": "PagerDuty:incident:create get update getAll:incidentNote:create getAll:User:get:LogEntry:getAll get",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        260
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "title": "Test",
        "serviceId": "PO5XHDI",
        "email": "nodeqa@n8n.io",
        "additionalFields": {}
      },
      "name": "PagerDuty",
      "type": "n8n-nodes-base.pagerDuty",
      "typeVersion": 1,
      "position": [
        400,
        260
      ],
      "credentials": {
        "pagerDutyOAuth2Api": "PagerDuty OAuth2 API creds"
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "get",
        "incidentId": "={{$json[\"id\"]}}"
      },
      "name": "PagerDuty1",
      "type": "n8n-nodes-base.pagerDuty",
      "typeVersion": 1,
      "position": [
        550,
        260
      ],
      "credentials": {
        "pagerDutyOAuth2Api": "PagerDuty OAuth2 API creds"
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "incidentId": "={{$json[\"id\"]}}",
        "email": "nodeqa@n8n.io",
        "updateFields": {
          "status": "acknowledged"
        }
      },
      "name": "PagerDuty2",
      "type": "n8n-nodes-base.pagerDuty",
      "typeVersion": 1,
      "position": [
        870,
        260
      ],
      "credentials": {
        "pagerDutyOAuth2Api": "PagerDuty OAuth2 API creds"
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "getAll",
        "limit": 1,
        "options": {}
      },
      "name": "PagerDuty3",
      "type": "n8n-nodes-base.pagerDuty",
      "typeVersion": 1,
      "position": [
        1030,
        260
      ],
      "credentials": {
        "pagerDutyOAuth2Api": "PagerDuty OAuth2 API creds"
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "incidentNote",
        "incidentId": "={{$json[\"id\"]}}",
        "content": "Simple note for an incident",
        "email": "nodeqa@n8n.io"
      },
      "name": "PagerDuty4",
      "type": "n8n-nodes-base.pagerDuty",
      "typeVersion": 1,
      "position": [
        720,
        350
      ],
      "credentials": {
        "pagerDutyOAuth2Api": "PagerDuty OAuth2 API creds"
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "incidentNote",
        "operation": "getAll",
        "incidentId": "={{$json[\"id\"]}}",
        "limit": 1
      },
      "name": "PagerDuty5",
      "type": "n8n-nodes-base.pagerDuty",
      "typeVersion": 1,
      "position": [
        720,
        160
      ],
      "credentials": {
        "pagerDutyOAuth2Api": "PagerDuty OAuth2 API creds"
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "user",
        "userId": "PT0VVWO"
      },
      "name": "PagerDuty6",
      "type": "n8n-nodes-base.pagerDuty",
      "typeVersion": 1,
      "position": [
        400,
        110
      ],
      "credentials": {
        "pagerDutyOAuth2Api": "PagerDuty OAuth2 API creds"
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "logEntry",
        "operation": "getAll",
        "limit": 1,
        "options": {}
      },
      "name": "PagerDuty7",
      "type": "n8n-nodes-base.pagerDuty",
      "typeVersion": 1,
      "position": [
        400,
        540
      ],
      "credentials": {
        "pagerDutyOAuth2Api": "PagerDuty OAuth2 API creds"
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "logEntry",
        "logEntryId": "={{$node[\"PagerDuty\"].json[\"first_trigger_log_entry\"][\"id\"]}}"
      },
      "name": "PagerDuty8",
      "type": "n8n-nodes-base.pagerDuty",
      "typeVersion": 1,
      "position": [
        730,
        540
      ],
      "credentials": {
        "pagerDutyOAuth2Api": "PagerDuty OAuth2 API creds"
      }
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(500);\n\n// Output data\nreturn items;"
      },
      "name": "Sleep 0.5 second1",
      "type": "n8n-nodes-base.function",
      "position": [
        560,
        540
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "PagerDuty",
            "type": "main",
            "index": 0
          },
          {
            "node": "PagerDuty7",
            "type": "main",
            "index": 0
          },
          {
            "node": "PagerDuty6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PagerDuty": {
      "main": [
        [
          {
            "node": "PagerDuty1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sleep 0.5 second1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PagerDuty1": {
      "main": [
        [
          {
            "node": "PagerDuty4",
            "type": "main",
            "index": 0
          },
          {
            "node": "PagerDuty5",
            "type": "main",
            "index": 0
          },
          {
            "node": "PagerDuty2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PagerDuty2": {
      "main": [
        [
          {
            "node": "PagerDuty3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sleep 0.5 second1": {
      "main": [
        [
          {
            "node": "PagerDuty8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2021-02-15T13:56:59.611Z",
  "updatedAt": "2021-06-04T10:22:47.268Z",
  "settings": {},
  "staticData": null
}