workflows/11.json
{
  "id": 11,
  "name": "Mailchimp:Member:getall get create update delete:Member Tag:create delete:ListGroup:getAll:Campaign:getAll get replicate delete",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        160,
        300
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "list": "eb9ad4be19",
        "limit": 1,
        "options": {}
      },
      "name": "Mailchimp1",
      "type": "n8n-nodes-base.mailchimp",
      "typeVersion": 1,
      "position": [
        430,
        300
      ],
      "credentials": {
        "mailchimpApi": "Mailchimp creds"
      }
    },
    {
      "parameters": {
        "operation": "get",
        "list": "eb9ad4be19",
        "email": "nodeqa@n8n.io",
        "options": {}
      },
      "name": "Mailchimp",
      "type": "n8n-nodes-base.mailchimp",
      "typeVersion": 1,
      "position": [
        590,
        300
      ],
      "credentials": {
        "mailchimpApi": "Mailchimp creds"
      }
    },
    {
      "parameters": {
        "operation": "update",
        "list": "eb9ad4be19",
        "email": "={{$json[\"email_address\"]}}",
        "updateFields": {
          "emailType": "html"
        }
      },
      "name": "Mailchimp2",
      "type": "n8n-nodes-base.mailchimp",
      "typeVersion": 1,
      "position": [
        780,
        300
      ],
      "credentials": {
        "mailchimpApi": "Mailchimp creds"
      }
    },
    {
      "parameters": {
        "resource": "memberTag",
        "list": "eb9ad4be19",
        "email": "nodeqa@n8n.io",
        "tags": [
          "n8n"
        ],
        "options": {}
      },
      "name": "Mailchimp4",
      "type": "n8n-nodes-base.mailchimp",
      "typeVersion": 1,
      "position": [
        790,
        140
      ],
      "credentials": {
        "mailchimpApi": "Mailchimp creds"
      }
    },
    {
      "parameters": {
        "resource": "memberTag",
        "operation": "delete",
        "list": "eb9ad4be19",
        "email": "nodeqa@n8n.io",
        "tags": [
          "n8n"
        ],
        "options": {}
      },
      "name": "Mailchimp5",
      "type": "n8n-nodes-base.mailchimp",
      "typeVersion": 1,
      "position": [
        970,
        140
      ],
      "credentials": {
        "mailchimpApi": "Mailchimp creds"
      }
    },
    {
      "parameters": {
        "list": "eb9ad4be19",
        "email": "={{$json[\"email\"]}}",
        "status": "subscribed",
        "options": {}
      },
      "name": "Mailchimp3",
      "type": "n8n-nodes-base.mailchimp",
      "typeVersion": 1,
      "position": [
        570,
        450
      ],
      "credentials": {
        "mailchimpApi": "Mailchimp creds"
      }
    },
    {
      "parameters": {
        "functionCode": "items = [{\n  json:{\n    email: `test${Date.now().toString().substr(5)}@gmail.com`\n  }\n}\n]\nreturn items;"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        430,
        450
      ],
      "notesInFlow": true,
      "notes": "Generate fake email"
    },
    {
      "parameters": {
        "operation": "delete",
        "list": "eb9ad4be19",
        "email": "={{$json[\"email_address\"]}}"
      },
      "name": "Mailchimp6",
      "type": "n8n-nodes-base.mailchimp",
      "typeVersion": 1,
      "position": [
        730,
        450
      ],
      "credentials": {
        "mailchimpApi": "Mailchimp creds"
      }
    },
    {
      "parameters": {
        "resource": "listGroup",
        "list": "eb9ad4be19",
        "groupCategory": "2adbc0d543",
        "limit": 1
      },
      "name": "Mailchimp7",
      "type": "n8n-nodes-base.mailchimp",
      "typeVersion": 1,
      "position": [
        430,
        140
      ],
      "credentials": {
        "mailchimpApi": "Mailchimp creds"
      }
    },
    {
      "parameters": {
        "resource": "campaign",
        "limit": 1,
        "options": {}
      },
      "name": "Mailchimp8",
      "type": "n8n-nodes-base.mailchimp",
      "typeVersion": 1,
      "position": [
        430,
        610
      ],
      "credentials": {
        "mailchimpApi": "Mailchimp creds"
      }
    },
    {
      "parameters": {
        "resource": "campaign",
        "operation": "get",
        "campaignId": "={{$node[\"Mailchimp8\"].json[\"id\"]}}"
      },
      "name": "Mailchimp9",
      "type": "n8n-nodes-base.mailchimp",
      "typeVersion": 1,
      "position": [
        580,
        610
      ],
      "credentials": {
        "mailchimpApi": "Mailchimp creds"
      }
    },
    {
      "parameters": {
        "resource": "campaign",
        "operation": "replicate",
        "campaignId": "={{$node[\"Mailchimp8\"].json[\"id\"]}}"
      },
      "name": "Mailchimp10",
      "type": "n8n-nodes-base.mailchimp",
      "typeVersion": 1,
      "position": [
        720,
        610
      ],
      "credentials": {
        "mailchimpApi": "Mailchimp creds"
      }
    },
    {
      "parameters": {
        "resource": "campaign",
        "operation": "delete",
        "campaignId": "={{$node[\"Mailchimp10\"].json[\"id\"]}}"
      },
      "name": "Mailchimp11",
      "type": "n8n-nodes-base.mailchimp",
      "typeVersion": 1,
      "position": [
        870,
        610
      ],
      "credentials": {
        "mailchimpApi": "Mailchimp creds"
      }
    }
  ],
  "connections": {
    "Mailchimp1": {
      "main": [
        [
          {
            "node": "Mailchimp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mailchimp": {
      "main": [
        [
          {
            "node": "Mailchimp2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mailchimp4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Mailchimp1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Function",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mailchimp7",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mailchimp8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mailchimp4": {
      "main": [
        [
          {
            "node": "Mailchimp5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "Mailchimp3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mailchimp3": {
      "main": [
        [
          {
            "node": "Mailchimp6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mailchimp8": {
      "main": [
        [
          {
            "node": "Mailchimp9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mailchimp9": {
      "main": [
        [
          {
            "node": "Mailchimp10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mailchimp10": {
      "main": [
        [
          {
            "node": "Mailchimp11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2021-02-15T16:15:47.074Z",
  "updatedAt": "2021-06-04T11:31:27.468Z",
  "settings": {},
  "staticData": null
}