workflows/117.json
{
  "id": 117,
  "name": "Gotify:Message:create getAll delete",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "message": "=Message content {{Date.now()}}",
        "additionalFields": {
          "title": "=Title{{Date.now()}}"
        }
      },
      "name": "Gotify",
      "type": "n8n-nodes-base.gotify",
      "typeVersion": 1,
      "position": [
        500,
        300
      ],
      "credentials": {
        "gotifyApi": "Gotify API creds"
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 1
      },
      "name": "Gotify1",
      "type": "n8n-nodes-base.gotify",
      "typeVersion": 1,
      "position": [
        650,
        300
      ],
      "credentials": {
        "gotifyApi": "Gotify API creds"
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "messageId": "={{$node[\"Gotify\"].json[\"id\"]}}"
      },
      "name": "Gotify2",
      "type": "n8n-nodes-base.gotify",
      "typeVersion": 1,
      "position": [
        800,
        300
      ],
      "credentials": {
        "gotifyApi": "Gotify API creds"
      }
    }
  ],
  "connections": {
    "Gotify": {
      "main": [
        [
          {
            "node": "Gotify1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gotify1": {
      "main": [
        [
          {
            "node": "Gotify2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Gotify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2021-03-10T11:09:19.174Z",
  "updatedAt": "2021-03-10T11:09:40.674Z",
  "settings": {},
  "staticData": null
}