workflows/118.json
{
  "id": 118,
  "name": "Redis:info set keys get delete",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {},
      "name": "Redis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        600,
        300
      ],
      "credentials": {
        "redis": "Redis creds"
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{$node[\"Set\"].json[\"key\"]}}",
        "value": "={{$node[\"Set\"].json[\"value\"]}}"
      },
      "name": "Redis1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        750,
        300
      ],
      "credentials": {
        "redis": "Redis creds"
      }
    },
    {
      "parameters": {
        "operation": "keys",
        "keyPattern": "={{$node[\"Set\"].json[\"key\"]}}"
      },
      "name": "Redis2",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "credentials": {
        "redis": "Redis creds"
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "value",
        "key": "={{$node[\"Set\"].json[\"key\"]}}",
        "options": {}
      },
      "name": "Redis3",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ],
      "credentials": {
        "redis": "Redis creds"
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{$node[\"Set\"].json[\"key\"]}}"
      },
      "name": "Redis4",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1300,
        300
      ],
      "credentials": {
        "redis": "Redis creds"
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "key",
              "value": "=Key{{Date.now()}}"
            },
            {
              "name": "value",
              "value": "=Value{{Date.now()}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "if($node['Set'].json['value'] !== $node['Redis3'].json['value'] ){\n  throw new Error('Error in redis node');\n}\nreturn items;"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1300,
        450
      ],
      "notesInFlow": true,
      "notes": "validate the saved value"
    }
  ],
  "connections": {
    "Redis": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "Redis3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis3": {
      "main": [
        [
          {
            "node": "Redis4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        []
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2021-03-10T13:48:09.104Z",
  "updatedAt": "2021-03-10T13:48:54.504Z",
  "settings": {},
  "staticData": null
}