workflows/120.json
{
  "id": 120,
  "name": "MySQL:insert update executeQuery",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "name",
              "value": "=Name{{Date.now()}}"
            }
          ],
          "number": [
            {
              "name": "id",
              "value": "={{Math.round(Math.random()*100000)}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "name",
              "value": "=UpdatedName{{Date.now()}}"
            }
          ],
          "number": [
            {
              "name": "id",
              "value": "={{$node[\"Set\"].json[\"id\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "table": "TestTable",
        "columns": "id,name"
      },
      "name": "MySQL",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        650,
        300
      ],
      "credentials": {
        "mySql": "MySQL creds"
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": "TestTable",
        "columns": "id,name"
      },
      "name": "MySQL1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ],
      "credentials": {
        "mySql": "MySQL creds"
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT * FROM TestTable LIMIT 1;"
      },
      "name": "MySQL2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        1250,
        300
      ],
      "credentials": {
        "mySql": "MySQL creds"
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=DELETE FROM TestTable WHERE id={{$node[\"Set1\"].json[\"id\"]}};"
      },
      "name": "MySQL3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        1450,
        300
      ],
      "credentials": {
        "mySql": "MySQL creds"
      }
    }
  ],
  "connections": {
    "Set": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "MySQL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL1": {
      "main": [
        [
          {
            "node": "MySQL2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL2": {
      "main": [
        [
          {
            "node": "MySQL3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2021-03-10T15:35:11.016Z",
  "updatedAt": "2021-03-10T15:36:00.949Z",
  "settings": {},
  "staticData": null
}