workflows/121.json
{
  "id": 121,
  "name": "Mautic:Company:create update get getAll delete:Contact:create update get getAll delete:ContactCompany:add remove",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "company",
        "name": "=Company{{Date.now()}}",
        "additionalFields": {}
      },
      "name": "Mautic",
      "type": "n8n-nodes-base.mautic",
      "typeVersion": 1,
      "position": [
        550,
        250
      ],
      "credentials": {
        "mauticOAuth2Api": "Mautic OAuth2 API creds"
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "company",
        "operation": "update",
        "companyId": "={{$node[\"Mautic\"].json[\"id\"]}}",
        "updateFields": {
          "name": "=UpdatedCompany{{Date.now()}}"
        }
      },
      "name": "Mautic1",
      "type": "n8n-nodes-base.mautic",
      "typeVersion": 1,
      "position": [
        700,
        250
      ],
      "credentials": {
        "mauticOAuth2Api": "Mautic OAuth2 API creds"
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "company",
        "operation": "get",
        "companyId": "={{$node[\"Mautic\"].json[\"id\"]}}"
      },
      "name": "Mautic2",
      "type": "n8n-nodes-base.mautic",
      "typeVersion": 1,
      "position": [
        1300,
        250
      ],
      "credentials": {
        "mauticOAuth2Api": "Mautic OAuth2 API creds"
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "company",
        "operation": "getAll",
        "limit": 1,
        "additionalFields": {}
      },
      "name": "Mautic3",
      "type": "n8n-nodes-base.mautic",
      "typeVersion": 1,
      "position": [
        1450,
        250
      ],
      "credentials": {
        "mauticOAuth2Api": "Mautic OAuth2 API creds"
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "company",
        "operation": "delete",
        "companyId": "={{$node[\"Mautic\"].json[\"id\"]}}"
      },
      "name": "Mautic4",
      "type": "n8n-nodes-base.mautic",
      "typeVersion": 1,
      "position": [
        1600,
        250
      ],
      "credentials": {
        "mauticOAuth2Api": "Mautic OAuth2 API creds"
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "email": "=fakeemail{{Date.now()}}@gmail.com",
        "firstName": "=Name{{Date.now()}}",
        "lastName": "=LasName{{Date.now()}}",
        "position": "=Position{{Date.now()}}",
        "title": "=Title{{Date.now()}}",
        "additionalFields": {},
        "options": {}
      },
      "name": "Mautic5",
      "type": "n8n-nodes-base.mautic",
      "typeVersion": 1,
      "position": [
        550,
        400
      ],
      "credentials": {
        "mauticOAuth2Api": "Mautic OAuth2 API creds"
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "contactId": "={{$node[\"Mautic5\"].json[\"id\"]}}",
        "updateFields": {
          "title": "=UpdatedTitle{{Date.now()}}"
        },
        "options": {}
      },
      "name": "Mautic6",
      "type": "n8n-nodes-base.mautic",
      "typeVersion": 1,
      "position": [
        700,
        400
      ],
      "credentials": {
        "mauticOAuth2Api": "Mautic OAuth2 API creds"
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "get",
        "contactId": "={{$node[\"Mautic5\"].json[\"id\"]}}",
        "options": {}
      },
      "name": "Mautic7",
      "type": "n8n-nodes-base.mautic",
      "typeVersion": 1,
      "position": [
        1300,
        400
      ],
      "credentials": {
        "mauticOAuth2Api": "Mautic OAuth2 API creds"
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "getAll",
        "limit": 1,
        "options": {}
      },
      "name": "Mautic8",
      "type": "n8n-nodes-base.mautic",
      "typeVersion": 1,
      "position": [
        1450,
        400
      ],
      "credentials": {
        "mauticOAuth2Api": "Mautic OAuth2 API creds"
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "delete",
        "contactId": "={{$node[\"Mautic5\"].json[\"id\"]}}",
        "options": {}
      },
      "name": "Mautic9",
      "type": "n8n-nodes-base.mautic",
      "typeVersion": 1,
      "position": [
        1600,
        400
      ],
      "credentials": {
        "mauticOAuth2Api": "Mautic OAuth2 API creds"
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "contactCompany",
        "operation": "add",
        "contactId": "={{$node[\"Mautic5\"].json[\"id\"]}}",
        "companyId": "={{$node[\"Mautic\"].json[\"id\"]}}"
      },
      "name": "Mautic10",
      "type": "n8n-nodes-base.mautic",
      "typeVersion": 1,
      "position": [
        1000,
        340
      ],
      "credentials": {
        "mauticOAuth2Api": "Mautic OAuth2 API creds"
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "contactCompany",
        "operation": "remove",
        "contactId": "={{$node[\"Mautic5\"].json[\"id\"]}}",
        "companyId": "={{$node[\"Mautic\"].json[\"id\"]}}"
      },
      "name": "Mautic11",
      "type": "n8n-nodes-base.mautic",
      "typeVersion": 1,
      "position": [
        1150,
        340
      ],
      "credentials": {
        "mauticOAuth2Api": "Mautic OAuth2 API creds"
      }
    },
    {
      "parameters": {
        "mode": "wait"
      },
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        850,
        340
      ],
      "notesInFlow": true,
      "notes": "Keep single execution"
    }
  ],
  "connections": {
    "Mautic": {
      "main": [
        [
          {
            "node": "Mautic1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Mautic",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mautic5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mautic1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mautic2": {
      "main": [
        [
          {
            "node": "Mautic3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mautic3": {
      "main": [
        [
          {
            "node": "Mautic4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mautic5": {
      "main": [
        [
          {
            "node": "Mautic6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mautic6": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Mautic7": {
      "main": [
        [
          {
            "node": "Mautic8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mautic8": {
      "main": [
        [
          {
            "node": "Mautic9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mautic10": {
      "main": [
        [
          {
            "node": "Mautic11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mautic11": {
      "main": [
        [
          {
            "node": "Mautic2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mautic7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Mautic10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2021-03-10T16:41:57.544Z",
  "updatedAt": "2021-03-10T17:11:01.404Z",
  "settings": {},
  "staticData": null
}