workflows/134.json
{
  "id": 134,
  "name": "TravisCI:Build:trigger getAll get restart cancel",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 1,
        "additionalFields": {
          "order": "asc",
          "sortBy": "id"
        }
      },
      "name": "TravisCI",
      "type": "n8n-nodes-base.travisCi",
      "typeVersion": 1,
      "position": [
        600,
        300
      ],
      "credentials": {
        "travisCiApi": "Travis API"
      }
    },
    {
      "parameters": {
        "operation": "get",
        "buildId": "={{$node[\"TravisCI\"].json[\"id\"]}}",
        "additionalFields": {}
      },
      "name": "TravisCI1",
      "type": "n8n-nodes-base.travisCi",
      "typeVersion": 1,
      "position": [
        750,
        300
      ],
      "credentials": {
        "travisCiApi": "Travis API"
      }
    },
    {
      "parameters": {
        "operation": "trigger",
        "slug": "nodemationqa/nodeQA",
        "branch": "master",
        "additionalFields": {}
      },
      "name": "TravisCI2",
      "type": "n8n-nodes-base.travisCi",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "credentials": {
        "travisCiApi": "Travis API"
      }
    },
    {
      "parameters": {
        "operation": "restart",
        "buildId": "={{$node[\"TravisCI\"].json[\"id\"]}}"
      },
      "name": "TravisCI3",
      "type": "n8n-nodes-base.travisCi",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "credentials": {
        "travisCiApi": "Travis API"
      }
    },
    {
      "parameters": {
        "buildId": "={{$node[\"TravisCI\"].json[\"id\"]}}"
      },
      "name": "TravisCI4",
      "type": "n8n-nodes-base.travisCi",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ],
      "credentials": {
        "travisCiApi": "Travis API"
      }
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "TravisCI2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TravisCI": {
      "main": [
        [
          {
            "node": "TravisCI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TravisCI2": {
      "main": [
        [
          {
            "node": "TravisCI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TravisCI1": {
      "main": [
        [
          {
            "node": "TravisCI3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TravisCI3": {
      "main": [
        [
          {
            "node": "TravisCI4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TravisCI4": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2021-03-15T08:59:35.889Z",
  "updatedAt": "2021-03-15T09:10:38.510Z",
  "settings": {},
  "staticData": null
}