workflows/147.json
{
  "id": 147,
  "name": "Raindrop:User:get:Collection:create get update getAll delete:Bookmark:create get update getAll delete:Tag:getAll delete",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "resource": "user"
      },
      "name": "Raindrop",
      "type": "n8n-nodes-base.raindrop",
      "typeVersion": 1,
      "position": [
        460,
        230
      ],
      "credentials": {
        "raindropOAuth2Api": "Raindrop OAuth2 API creds"
      }
    },
    {
      "parameters": {
        "operation": "create",
        "title": "=Collection{{Date.now()}}",
        "additionalFields": {
          "public": false
        }
      },
      "name": "Raindrop1",
      "type": "n8n-nodes-base.raindrop",
      "typeVersion": 1,
      "position": [
        460,
        380
      ],
      "credentials": {
        "raindropOAuth2Api": "Raindrop OAuth2 API creds"
      }
    },
    {
      "parameters": {
        "collectionId": "={{$node[\"Raindrop1\"].json[\"_id\"]}}"
      },
      "name": "Raindrop2",
      "type": "n8n-nodes-base.raindrop",
      "typeVersion": 1,
      "position": [
        600,
        380
      ],
      "credentials": {
        "raindropOAuth2Api": "Raindrop OAuth2 API creds"
      }
    },
    {
      "parameters": {
        "operation": "update",
        "collectionId": "={{$node[\"Raindrop1\"].json[\"_id\"]}}",
        "updateFields": {
          "title": "=Updated{{$node[\"Raindrop1\"].json[\"title\"]}}"
        }
      },
      "name": "Raindrop3",
      "type": "n8n-nodes-base.raindrop",
      "typeVersion": 1,
      "position": [
        750,
        380
      ],
      "credentials": {
        "raindropOAuth2Api": "Raindrop OAuth2 API creds"
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 1
      },
      "name": "Raindrop4",
      "type": "n8n-nodes-base.raindrop",
      "typeVersion": 1,
      "position": [
        900,
        380
      ],
      "credentials": {
        "raindropOAuth2Api": "Raindrop OAuth2 API creds"
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "collectionId": "={{$node[\"Raindrop1\"].json[\"_id\"]}}"
      },
      "name": "Raindrop5",
      "type": "n8n-nodes-base.raindrop",
      "typeVersion": 1,
      "position": [
        2100,
        370
      ],
      "credentials": {
        "raindropOAuth2Api": "Raindrop OAuth2 API creds"
      }
    },
    {
      "parameters": {
        "resource": "bookmark",
        "operation": "create",
        "collectionId": "={{$node[\"Raindrop1\"].json[\"_id\"]}}",
        "link": "https://n8n.io/",
        "additionalFields": {
          "tags": "n8n,automation,worfklow,test",
          "title": "=Bookmark{{Date.now()}}"
        }
      },
      "name": "Raindrop6",
      "type": "n8n-nodes-base.raindrop",
      "typeVersion": 1,
      "position": [
        1050,
        500
      ],
      "credentials": {
        "raindropOAuth2Api": "Raindrop OAuth2 API creds"
      }
    },
    {
      "parameters": {
        "resource": "bookmark",
        "bookmarkId": "={{$node[\"Raindrop6\"].json[\"_id\"]}}"
      },
      "name": "Raindrop7",
      "type": "n8n-nodes-base.raindrop",
      "typeVersion": 1,
      "position": [
        1200,
        500
      ],
      "credentials": {
        "raindropOAuth2Api": "Raindrop OAuth2 API creds"
      }
    },
    {
      "parameters": {
        "resource": "bookmark",
        "operation": "update",
        "bookmarkId": "={{$node[\"Raindrop6\"].json[\"_id\"]}}",
        "updateFields": {
          "title": "=Updated{{$node[\"Raindrop6\"].json[\"title\"]}}"
        }
      },
      "name": "Raindrop8",
      "type": "n8n-nodes-base.raindrop",
      "typeVersion": 1,
      "position": [
        1350,
        500
      ],
      "credentials": {
        "raindropOAuth2Api": "Raindrop OAuth2 API creds"
      }
    },
    {
      "parameters": {
        "resource": "bookmark",
        "operation": "getAll",
        "collectionId": "={{$node[\"Raindrop1\"].json[\"_id\"]}}",
        "limit": 1
      },
      "name": "Raindrop9",
      "type": "n8n-nodes-base.raindrop",
      "typeVersion": 1,
      "position": [
        1500,
        500
      ],
      "credentials": {
        "raindropOAuth2Api": "Raindrop OAuth2 API creds"
      }
    },
    {
      "parameters": {
        "resource": "bookmark",
        "operation": "delete",
        "bookmarkId": "={{$node[\"Raindrop6\"].json[\"_id\"]}}"
      },
      "name": "Raindrop10",
      "type": "n8n-nodes-base.raindrop",
      "typeVersion": 1,
      "position": [
        1950,
        500
      ],
      "credentials": {
        "raindropOAuth2Api": "Raindrop OAuth2 API creds"
      }
    },
    {
      "parameters": {
        "resource": "tag",
        "operation": "getAll",
        "limit": 1,
        "filters": {}
      },
      "name": "Raindrop11",
      "type": "n8n-nodes-base.raindrop",
      "typeVersion": 1,
      "position": [
        1650,
        650
      ],
      "credentials": {
        "raindropOAuth2Api": "Raindrop OAuth2 API creds"
      }
    },
    {
      "parameters": {
        "resource": "tag",
        "operation": "delete",
        "tags": "test",
        "additionalFields": {}
      },
      "name": "Raindrop12",
      "type": "n8n-nodes-base.raindrop",
      "typeVersion": 1,
      "position": [
        1800,
        650
      ],
      "credentials": {
        "raindropOAuth2Api": "Raindrop OAuth2 API creds"
      }
    }
  ],
  "connections": {
    "Raindrop1": {
      "main": [
        [
          {
            "node": "Raindrop2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Raindrop2": {
      "main": [
        [
          {
            "node": "Raindrop3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Raindrop3": {
      "main": [
        [
          {
            "node": "Raindrop4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Raindrop4": {
      "main": [
        [
          {
            "node": "Raindrop6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Raindrop6": {
      "main": [
        [
          {
            "node": "Raindrop7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Raindrop7": {
      "main": [
        [
          {
            "node": "Raindrop8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Raindrop8": {
      "main": [
        [
          {
            "node": "Raindrop9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Raindrop9": {
      "main": [
        [
          {
            "node": "Raindrop11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Raindrop11": {
      "main": [
        [
          {
            "node": "Raindrop12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Raindrop12": {
      "main": [
        [
          {
            "node": "Raindrop10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Raindrop10": {
      "main": [
        [
          {
            "node": "Raindrop5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Raindrop",
            "type": "main",
            "index": 0
          },
          {
            "node": "Raindrop1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2021-03-24T08:48:20.306Z",
  "updatedAt": "2021-03-24T08:55:26.613Z",
  "settings": {},
  "staticData": null
}