workflows/151.json
{
  "id": 151,
  "name": "Wise:Account:getStatement getBalances getCurrencies:ExchangeRate:get:Profile:get getAll:Recipient:getAll:Quote:create get:Transfer:create get getAll execute delete",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        650
      ]
    },
    {
      "parameters": {
        "profileId": 16154361
      },
      "name": "Wise",
      "type": "n8n-nodes-base.wise",
      "typeVersion": 1,
      "position": [
        650,
        200
      ],
      "credentials": {
        "wiseApi": "Wise API creds"
      }
    },
    {
      "parameters": {
        "operation": "getCurrencies"
      },
      "name": "Wise1",
      "type": "n8n-nodes-base.wise",
      "typeVersion": 1,
      "position": [
        800,
        200
      ],
      "credentials": {
        "wiseApi": "Wise API creds"
      }
    },
    {
      "parameters": {
        "operation": "getStatement",
        "profileId": 16154361,
        "borderlessAccountId": 23302,
        "currency": "EUR",
        "additionalFields": {
          "lineStyle": "FLAT"
        }
      },
      "name": "Wise2",
      "type": "n8n-nodes-base.wise",
      "typeVersion": 1,
      "position": [
        500,
        200
      ],
      "credentials": {
        "wiseApi": "Wise API creds"
      }
    },
    {
      "parameters": {
        "resource": "exchangeRate",
        "source": "EUR",
        "target": "USD",
        "additionalFields": {}
      },
      "name": "Wise3",
      "type": "n8n-nodes-base.wise",
      "typeVersion": 1,
      "position": [
        500,
        350
      ],
      "credentials": {
        "wiseApi": "Wise API creds"
      },
      "notes": "CAP_RESULTS_LENGTH=1"
    },
    {
      "parameters": {
        "resource": "profile",
        "profileId": 16154361
      },
      "name": "Wise4",
      "type": "n8n-nodes-base.wise",
      "typeVersion": 1,
      "position": [
        500,
        500
      ],
      "credentials": {
        "wiseApi": "Wise API creds"
      }
    },
    {
      "parameters": {
        "resource": "recipient",
        "limit": 1
      },
      "name": "Wise5",
      "type": "n8n-nodes-base.wise",
      "typeVersion": 1,
      "position": [
        500,
        650
      ],
      "credentials": {
        "wiseApi": "Wise API creds"
      }
    },
    {
      "parameters": {
        "resource": "quote",
        "operation": "create",
        "profileId": 16154361,
        "targetAccountId": 147784112,
        "amount": 2,
        "sourceCurrency": "EUR",
        "targetCurrency": "EUR"
      },
      "name": "Wise6",
      "type": "n8n-nodes-base.wise",
      "typeVersion": 1,
      "position": [
        500,
        800
      ],
      "credentials": {
        "wiseApi": "Wise API creds"
      }
    },
    {
      "parameters": {
        "resource": "quote",
        "quoteId": "={{$node[\"Wise6\"].json[\"id\"]}}"
      },
      "name": "Wise7",
      "type": "n8n-nodes-base.wise",
      "typeVersion": 1,
      "position": [
        640,
        800
      ],
      "credentials": {
        "wiseApi": "Wise API creds"
      }
    },
    {
      "parameters": {
        "resource": "transfer",
        "operation": "create",
        "profileId": 16154361,
        "quoteId": "={{$node[\"Wise6\"].json[\"id\"]}}",
        "targetAccountId": 147784111,
        "additionalFields": {}
      },
      "name": "Wise8",
      "type": "n8n-nodes-base.wise",
      "typeVersion": 1,
      "position": [
        800,
        850
      ],
      "credentials": {
        "wiseApi": "Wise API creds"
      }
    },
    {
      "parameters": {
        "resource": "transfer",
        "transferId": "={{$node[\"Wise8\"].json[\"id\"]}}"
      },
      "name": "Wise9",
      "type": "n8n-nodes-base.wise",
      "typeVersion": 1,
      "position": [
        950,
        850
      ],
      "credentials": {
        "wiseApi": "Wise API creds"
      }
    },
    {
      "parameters": {
        "resource": "transfer",
        "operation": "getAll",
        "profileId": 16154361,
        "limit": 1,
        "filters": {}
      },
      "name": "Wise10",
      "type": "n8n-nodes-base.wise",
      "typeVersion": 1,
      "position": [
        1100,
        850
      ],
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "wiseApi": "Wise API creds"
      }
    },
    {
      "parameters": {
        "resource": "profile",
        "operation": "getAll"
      },
      "name": "Wise12",
      "type": "n8n-nodes-base.wise",
      "typeVersion": 1,
      "position": [
        650,
        500
      ],
      "credentials": {
        "wiseApi": "Wise API creds"
      }
    },
    {
      "parameters": {
        "resource": "transfer",
        "operation": "execute",
        "profileId": 16154361,
        "transferId": "={{$node[\"Wise8\"].json[\"id\"]}}"
      },
      "name": "Wise13",
      "type": "n8n-nodes-base.wise",
      "typeVersion": 1,
      "position": [
        1250,
        850
      ],
      "credentials": {
        "wiseApi": "Wise API creds"
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "quote",
        "operation": "create",
        "profileId": 16154361,
        "targetAccountId": 147784112,
        "amount": 2,
        "sourceCurrency": "EUR",
        "targetCurrency": "EUR"
      },
      "name": "Wise14",
      "type": "n8n-nodes-base.wise",
      "typeVersion": 1,
      "position": [
        500,
        1000
      ],
      "credentials": {
        "wiseApi": "Wise API creds"
      }
    },
    {
      "parameters": {
        "resource": "transfer",
        "operation": "create",
        "profileId": 16154361,
        "quoteId": "={{$node[\"Wise14\"].json[\"id\"]}}",
        "targetAccountId": 147784111,
        "additionalFields": {}
      },
      "name": "Wise16",
      "type": "n8n-nodes-base.wise",
      "typeVersion": 1,
      "position": [
        650,
        1050
      ],
      "credentials": {
        "wiseApi": "Wise API creds"
      }
    },
    {
      "parameters": {
        "resource": "transfer",
        "operation": "delete",
        "transferId": "={{$node[\"Wise16\"].json[\"id\"]}}"
      },
      "name": "Wise15",
      "type": "n8n-nodes-base.wise",
      "typeVersion": 1,
      "position": [
        800,
        1050
      ],
      "credentials": {
        "wiseApi": "Wise API creds"
      }
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Wise5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wise4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wise3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wise2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wise6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wise14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wise": {
      "main": [
        [
          {
            "node": "Wise1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wise2": {
      "main": [
        [
          {
            "node": "Wise",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wise6": {
      "main": [
        [
          {
            "node": "Wise7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wise4": {
      "main": [
        [
          {
            "node": "Wise12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wise7": {
      "main": [
        [
          {
            "node": "Wise8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wise8": {
      "main": [
        [
          {
            "node": "Wise9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wise9": {
      "main": [
        [
          {
            "node": "Wise10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wise10": {
      "main": [
        [
          {
            "node": "Wise13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wise14": {
      "main": [
        [
          {
            "node": "Wise16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wise16": {
      "main": [
        [
          {
            "node": "Wise15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2021-03-24T14:46:45.567Z",
  "updatedAt": "2021-07-12T13:09:37.660Z",
  "settings": {},
  "staticData": null
}