workflows/158.json
{
  "id": 158,
  "name": "MicrosoftSQL:insert update executeQuery",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "table": "TestTable",
        "columns": "id,content"
      },
      "name": "Microsoft SQL",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [
        550,
        300
      ],
      "credentials": {
        "microsoftSql": "Microsoft SQL"
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "content",
              "value": "=Content{{(new Date()).toISOString()}}"
            }
          ],
          "number": [
            {
              "name": "id",
              "value": "={{Math.round(Math.random()*10000)}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": "TestTable",
        "columns": "id,content"
      },
      "name": "Microsoft SQL1",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [
        850,
        300
      ],
      "credentials": {
        "microsoftSql": "Microsoft SQL"
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "content",
              "value": "=UpdatedContent{{(new Date()).toISOString()}}"
            }
          ],
          "number": []
        },
        "options": {}
      },
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT * FROM TestTable WHERE id={{$node[\"Set\"].json[\"id\"]}};"
      },
      "name": "Microsoft SQL2",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [
        1000,
        300
      ],
      "notesInFlow": true,
      "credentials": {
        "microsoftSql": "Microsoft SQL"
      },
      "notes": "Execute Query (SELECT one)"
    },
    {
      "parameters": {
        "operation": "delete",
        "table": "TestTable"
      },
      "name": "Microsoft SQL3",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [
        1150,
        300
      ],
      "credentials": {
        "microsoftSql": "Microsoft SQL"
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM TestTable;"
      },
      "name": "Microsoft SQL4",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [
        1300,
        300
      ],
      "notesInFlow": true,
      "credentials": {
        "microsoftSql": "Microsoft SQL"
      },
      "notes": "Execute Query (SELECT All)"
    }
  ],
  "connections": {
    "Microsoft SQL": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Microsoft SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Microsoft SQL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL1": {
      "main": [
        [
          {
            "node": "Microsoft SQL2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL2": {
      "main": [
        [
          {
            "node": "Microsoft SQL3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL3": {
      "main": [
        [
          {
            "node": "Microsoft SQL4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2021-03-25T15:40:17.167Z",
  "updatedAt": "2021-03-25T15:40:17.167Z",
  "settings": {},
  "staticData": null
}