workflows/166.json
{
  "id": 166,
  "name": "Intercom:Company:create get getAll update users:Lead:create get getAll update delete:User:create get getAll update delete",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        270,
        300
      ]
    },
    {
      "parameters": {
        "resource": "company",
        "companyId": "=Company{{Date.now()}}",
        "additionalFields": {
          "name": "=TestingCompany{{(new Date()).toISOString()}}"
        },
        "customAttributesUi": {
          "customAttributesValues": []
        }
      },
      "name": "Intercom1",
      "type": "n8n-nodes-base.intercom",
      "typeVersion": 1,
      "position": [
        450,
        140
      ],
      "credentials": {
        "intercomApi": "Intercom API creds"
      }
    },
    {
      "parameters": {
        "resource": "company",
        "operation": "get",
        "selectBy": "companyId",
        "value": "={{$node[\"Intercom1\"].json[\"company_id\"]}}"
      },
      "name": "Intercom",
      "type": "n8n-nodes-base.intercom",
      "typeVersion": 1,
      "position": [
        600,
        140
      ],
      "credentials": {
        "intercomApi": "Intercom API creds"
      }
    },
    {
      "parameters": {
        "resource": "company",
        "operation": "getAll",
        "limit": 1,
        "filters": {}
      },
      "name": "Intercom2",
      "type": "n8n-nodes-base.intercom",
      "typeVersion": 1,
      "position": [
        750,
        140
      ],
      "alwaysOutputData": true,
      "credentials": {
        "intercomApi": "Intercom API creds"
      }
    },
    {
      "parameters": {
        "resource": "company",
        "operation": "update",
        "companyId": "={{$node[\"Intercom1\"].json[\"company_id\"]}}",
        "additionalFields": {
          "name": "=Updated{{$node[\"Intercom\"].json[\"name\"]}}"
        }
      },
      "name": "Intercom3",
      "type": "n8n-nodes-base.intercom",
      "typeVersion": 1,
      "position": [
        900,
        140
      ],
      "credentials": {
        "intercomApi": "Intercom API creds"
      }
    },
    {
      "parameters": {
        "resource": "company",
        "operation": "users",
        "listBy": "companyId",
        "value": "={{$node[\"Intercom\"].json[\"company_id\"]}}"
      },
      "name": "Intercom4",
      "type": "n8n-nodes-base.intercom",
      "typeVersion": 1,
      "position": [
        1050,
        140
      ],
      "credentials": {
        "intercomApi": "Intercom API creds"
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "email": "=fake{{Date.now()}}@email.com",
        "additionalFields": {
          "avatar": "https://static.intercomassets.com/ember/assets/images/onboarding/home/guide-assistants/phil-978b5567c644d4c0f67a4516c03c6b91.png"
        }
      },
      "name": "Intercom5",
      "type": "n8n-nodes-base.intercom",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "credentials": {
        "intercomApi": "Intercom API creds"
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "operation": "get",
        "selectBy": "id",
        "value": "={{$node[\"Intercom5\"].json[\"id\"]}}"
      },
      "name": "Intercom6",
      "type": "n8n-nodes-base.intercom",
      "typeVersion": 1,
      "position": [
        600,
        300
      ],
      "credentials": {
        "intercomApi": "Intercom API creds"
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "operation": "getAll",
        "limit": 1,
        "filters": {}
      },
      "name": "Intercom7",
      "type": "n8n-nodes-base.intercom",
      "typeVersion": 1,
      "position": [
        750,
        300
      ],
      "alwaysOutputData": true,
      "credentials": {
        "intercomApi": "Intercom API creds"
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "operation": "update",
        "value": "={{$node[\"Intercom5\"].json[\"id\"]}}",
        "additionalFields": {
          "name": "=UpdatedLead"
        }
      },
      "name": "Intercom8",
      "type": "n8n-nodes-base.intercom",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "credentials": {
        "intercomApi": "Intercom API creds"
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "operation": "delete",
        "deleteBy": "id",
        "value": "={{$node[\"Intercom5\"].json[\"id\"]}}"
      },
      "name": "Intercom9",
      "type": "n8n-nodes-base.intercom",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ],
      "credentials": {
        "intercomApi": "Intercom API creds"
      }
    },
    {
      "parameters": {
        "identifierType": "userId",
        "idValue": "=User{{Date.now()}}",
        "additionalFields": {}
      },
      "name": "Intercom10",
      "type": "n8n-nodes-base.intercom",
      "typeVersion": 1,
      "position": [
        450,
        440
      ],
      "credentials": {
        "intercomApi": "Intercom API creds"
      }
    },
    {
      "parameters": {
        "operation": "get",
        "selectBy": "id",
        "value": "={{$node[\"Intercom10\"].json[\"id\"]}}"
      },
      "name": "Intercom11",
      "type": "n8n-nodes-base.intercom",
      "typeVersion": 1,
      "position": [
        600,
        440
      ],
      "credentials": {
        "intercomApi": "Intercom API creds"
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 1,
        "filters": {}
      },
      "name": "Intercom12",
      "type": "n8n-nodes-base.intercom",
      "typeVersion": 1,
      "position": [
        740,
        440
      ],
      "alwaysOutputData": true,
      "credentials": {
        "intercomApi": "Intercom API creds"
      }
    },
    {
      "parameters": {
        "operation": "update",
        "value": "={{$node[\"Intercom10\"].json[\"id\"]}}",
        "additionalFields": {
          "name": "UpdatedUser"
        }
      },
      "name": "Intercom13",
      "type": "n8n-nodes-base.intercom",
      "typeVersion": 1,
      "position": [
        900,
        440
      ],
      "credentials": {
        "intercomApi": "Intercom API creds"
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "id": "={{$node[\"Intercom10\"].json[\"id\"]}}"
      },
      "name": "Intercom14",
      "type": "n8n-nodes-base.intercom",
      "typeVersion": 1,
      "position": [
        1050,
        440
      ],
      "credentials": {
        "intercomApi": "Intercom API creds"
      }
    }
  ],
  "connections": {
    "Intercom1": {
      "main": [
        [
          {
            "node": "Intercom",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intercom": {
      "main": [
        [
          {
            "node": "Intercom2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intercom2": {
      "main": [
        [
          {
            "node": "Intercom3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intercom3": {
      "main": [
        [
          {
            "node": "Intercom4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intercom5": {
      "main": [
        [
          {
            "node": "Intercom6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intercom6": {
      "main": [
        [
          {
            "node": "Intercom7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intercom7": {
      "main": [
        [
          {
            "node": "Intercom8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intercom8": {
      "main": [
        [
          {
            "node": "Intercom9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intercom10": {
      "main": [
        [
          {
            "node": "Intercom11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intercom11": {
      "main": [
        [
          {
            "node": "Intercom12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intercom12": {
      "main": [
        [
          {
            "node": "Intercom13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intercom13": {
      "main": [
        [
          {
            "node": "Intercom14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Intercom5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Intercom10",
            "type": "main",
            "index": 0
          },
          {
            "node": "Intercom1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2021-04-09T07:48:03.152Z",
  "updatedAt": "2021-04-16T10:57:50.621Z",
  "settings": {},
  "staticData": null
}