workflows/170.json
{
  "id": 170,
  "name": "Xero:Contact:create get getAll update:Invoice:create get getAll update",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "resource": "contact",
        "organizationId": "ecc71ca1-0af9-4249-b6d5-d4eb880b5f29",
        "name": "=Contact{{Date.now()}}",
        "additionalFields": {
          "firstName": "=FirstName{{Date.now()}}"
        }
      },
      "name": "Xero",
      "type": "n8n-nodes-base.xero",
      "typeVersion": 1,
      "position": [
        500,
        200
      ],
      "credentials": {
        "xeroOAuth2Api": "Xero OAuth2 API creds"
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "get",
        "organizationId": "ecc71ca1-0af9-4249-b6d5-d4eb880b5f29",
        "contactId": "={{$node[\"Xero\"].json[\"ContactID\"]}}"
      },
      "name": "Xero1",
      "type": "n8n-nodes-base.xero",
      "typeVersion": 1,
      "position": [
        650,
        200
      ],
      "credentials": {
        "xeroOAuth2Api": "Xero OAuth2 API creds"
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "getAll",
        "organizationId": "ecc71ca1-0af9-4249-b6d5-d4eb880b5f29",
        "limit": 1,
        "options": {
          "orderBy": "UpdatedDateUTC",
          "sortOrder": "ASC"
        }
      },
      "name": "Xero2",
      "type": "n8n-nodes-base.xero",
      "typeVersion": 1,
      "position": [
        800,
        200
      ],
      "credentials": {
        "xeroOAuth2Api": "Xero OAuth2 API creds"
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "update",
        "organizationId": "ecc71ca1-0af9-4249-b6d5-d4eb880b5f29",
        "contactId": "={{$node[\"Xero\"].json[\"ContactID\"]}}",
        "updateFields": {
          "firstName": "=Updated{{$node[\"Xero1\"].json[\"FirstName\"]}}"
        }
      },
      "name": "Xero3",
      "type": "n8n-nodes-base.xero",
      "typeVersion": 1,
      "position": [
        950,
        200
      ],
      "credentials": {
        "xeroOAuth2Api": "Xero OAuth2 API creds"
      }
    },
    {
      "parameters": {
        "organizationId": "ecc71ca1-0af9-4249-b6d5-d4eb880b5f29",
        "type": "ACCPAY",
        "contactId": "={{$node[\"Xero1\"].json[\"ContactID\"]}}",
        "lineItemsUi": {
          "lineItemsValues": [
            {
              "description": "Test",
              "quantity": 3,
              "unitAmount": "10",
              "itemCode": "BOOK",
              "accountCode": "300",
              "taxType": "INPUT",
              "taxAmount": "10"
            }
          ]
        },
        "additionalFields": {}
      },
      "name": "Xero4",
      "type": "n8n-nodes-base.xero",
      "typeVersion": 1,
      "position": [
        800,
        350
      ],
      "credentials": {
        "xeroOAuth2Api": "Xero OAuth2 API creds"
      }
    },
    {
      "parameters": {
        "operation": "get",
        "organizationId": "ecc71ca1-0af9-4249-b6d5-d4eb880b5f29",
        "invoiceId": "={{$node[\"Xero4\"].json[\"InvoiceID\"]}}"
      },
      "name": "Xero5",
      "type": "n8n-nodes-base.xero",
      "typeVersion": 1,
      "position": [
        950,
        350
      ],
      "credentials": {
        "xeroOAuth2Api": "Xero OAuth2 API creds"
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "organizationId": "ecc71ca1-0af9-4249-b6d5-d4eb880b5f29",
        "limit": 1,
        "options": {}
      },
      "name": "Xero6",
      "type": "n8n-nodes-base.xero",
      "typeVersion": 1,
      "position": [
        1100,
        350
      ],
      "credentials": {
        "xeroOAuth2Api": "Xero OAuth2 API creds"
      }
    },
    {
      "parameters": {
        "operation": "update",
        "organizationId": "ecc71ca1-0af9-4249-b6d5-d4eb880b5f29",
        "invoiceId": "={{$node[\"Xero4\"].json[\"InvoiceID\"]}}",
        "updateFields": {
          "dueDate": "2021-04-29T22:00:00.000Z",
          "status": "SUBMITTED"
        }
      },
      "name": "Xero7",
      "type": "n8n-nodes-base.xero",
      "typeVersion": 1,
      "position": [
        1250,
        350
      ],
      "credentials": {
        "xeroOAuth2Api": "Xero OAuth2 API creds"
      }
    }
  ],
  "connections": {
    "Xero": {
      "main": [
        [
          {
            "node": "Xero1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Xero1": {
      "main": [
        [
          {
            "node": "Xero2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Xero4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Xero2": {
      "main": [
        [
          {
            "node": "Xero3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Xero4": {
      "main": [
        [
          {
            "node": "Xero5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Xero5": {
      "main": [
        [
          {
            "node": "Xero6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Xero6": {
      "main": [
        [
          {
            "node": "Xero7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Xero",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2021-04-19T09:55:16.357Z",
  "updatedAt": "2021-04-19T09:55:16.357Z",
  "settings": {},
  "staticData": null
}