workflows/173.json
{
  "id": 173,
  "name": "GetResponse:Contact:create getAll get update delete",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "email": "=fake{{Date.now()}}@email.com",
        "campaignId": "MHDjt",
        "additionalFields": {
          "name": "=Name{{Date.now()}}"
        }
      },
      "name": "GetResponse",
      "type": "n8n-nodes-base.getResponse",
      "typeVersion": 1,
      "position": [
        500,
        300
      ],
      "credentials": {
        "getResponseApi": "GetResponse API creds"
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 1,
        "options": {
          "sortBy": "createdOn",
          "sortOrder": "DESC"
        }
      },
      "name": "GetResponse1",
      "type": "n8n-nodes-base.getResponse",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "credentials": {
        "getResponseApi": "GetResponse API creds"
      }
    },
    {
      "parameters": {
        "contactId": "={{$node[\"GetResponse1\"].json[\"contactId\"]}}",
        "options": {}
      },
      "name": "GetResponse2",
      "type": "n8n-nodes-base.getResponse",
      "typeVersion": 1,
      "position": [
        1100,
        300
      ],
      "credentials": {
        "getResponseApi": "GetResponse API creds"
      }
    },
    {
      "parameters": {
        "operation": "update",
        "contactId": "={{$node[\"GetResponse1\"].json[\"contactId\"]}}",
        "updateFields": {
          "email": "=Updated{{$node[\"GetResponse1\"].json[\"email\"]}}",
          "name": "=Updated{{$node[\"GetResponse1\"].json[\"name\"]}}"
        }
      },
      "name": "GetResponse3",
      "type": "n8n-nodes-base.getResponse",
      "typeVersion": 1,
      "position": [
        1300,
        300
      ],
      "credentials": {
        "getResponseApi": "GetResponse API creds"
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "contactId": "={{$node[\"GetResponse1\"].json[\"contactId\"]}}",
        "options": {}
      },
      "name": "GetResponse4",
      "type": "n8n-nodes-base.getResponse",
      "typeVersion": 1,
      "position": [
        1500,
        300
      ],
      "credentials": {
        "getResponseApi": "GetResponse API creds"
      }
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(1000);\n\n// Output data\nreturn items;"
      },
      "name": "Sleep 1 second",
      "type": "n8n-nodes-base.function",
      "position": [
        700,
        300
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "GetResponse1": {
      "main": [
        [
          {
            "node": "GetResponse2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetResponse2": {
      "main": [
        [
          {
            "node": "GetResponse3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetResponse3": {
      "main": [
        [
          {
            "node": "GetResponse4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "GetResponse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sleep 1 second": {
      "main": [
        [
          {
            "node": "GetResponse1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetResponse": {
      "main": [
        [
          {
            "node": "Sleep 1 second",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2021-04-19T15:04:14.654Z",
  "updatedAt": "2021-04-20T08:10:42.292Z",
  "settings": {},
  "staticData": null
}