workflows/174.json
{
  "id": 174,
  "name": "Vero:User:create alias addTags removeTags unsubscribe resubscribe delete:Event:track",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "id": "={{$node[\"Set id & email\"].json[\"id\"]}}",
        "additionalFields": {
          "email": "={{$node[\"Set id & email\"].json[\"email\"]}}"
        },
        "dataAttributesUi": {
          "dataAttributesValues": []
        }
      },
      "name": "Vero",
      "type": "n8n-nodes-base.vero",
      "typeVersion": 1,
      "position": [
        550,
        300
      ],
      "credentials": {
        "veroApi": "Vero API creds"
      }
    },
    {
      "parameters": {
        "operation": "alias",
        "id": "={{$node[\"Set id & email\"].json[\"id\"]}}",
        "newId": "={{$node[\"Set id & email\"].json[\"email\"]}}"
      },
      "name": "Vero1",
      "type": "n8n-nodes-base.vero",
      "typeVersion": 1,
      "position": [
        700,
        300
      ],
      "credentials": {
        "veroApi": "Vero API creds"
      }
    },
    {
      "parameters": {
        "operation": "addTags",
        "id": "={{$node[\"Set id & email\"].json[\"email\"]}}",
        "tags": "TEST,"
      },
      "name": "Vero2",
      "type": "n8n-nodes-base.vero",
      "typeVersion": 1,
      "position": [
        850,
        300
      ],
      "credentials": {
        "veroApi": "Vero API creds"
      }
    },
    {
      "parameters": {
        "operation": "removeTags",
        "id": "={{$node[\"Set id & email\"].json[\"email\"]}}",
        "tags": "TEST,"
      },
      "name": "Vero3",
      "type": "n8n-nodes-base.vero",
      "typeVersion": 1,
      "position": [
        1000,
        300
      ],
      "credentials": {
        "veroApi": "Vero API creds"
      }
    },
    {
      "parameters": {
        "operation": "unsubscribe",
        "id": "={{$node[\"Set id & email\"].json[\"email\"]}}"
      },
      "name": "Vero4",
      "type": "n8n-nodes-base.vero",
      "typeVersion": 1,
      "position": [
        1150,
        300
      ],
      "credentials": {
        "veroApi": "Vero API creds"
      }
    },
    {
      "parameters": {
        "operation": "resubscribe",
        "id": "={{$node[\"Set id & email\"].json[\"email\"]}}"
      },
      "name": "Vero5",
      "type": "n8n-nodes-base.vero",
      "typeVersion": 1,
      "position": [
        1300,
        300
      ],
      "credentials": {
        "veroApi": "Vero API creds"
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "id": "={{$node[\"Set id & email\"].json[\"email\"]}}"
      },
      "name": "Vero6",
      "type": "n8n-nodes-base.vero",
      "typeVersion": 1,
      "position": [
        1600,
        300
      ],
      "credentials": {
        "veroApi": "Vero API creds"
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "email",
              "value": "=fake{{Date.now()}}@email.com"
            }
          ],
          "number": [
            {
              "name": "id",
              "value": "={{Math.round(Math.random()*1000)}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set id & email",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "resource": "event",
        "id": "={{$node[\"Set id & email\"].json[\"email\"]}}",
        "email": "={{$node[\"Set id & email\"].json[\"email\"]}}",
        "eventName": "=Event{{Date.now()}}",
        "dataAttributesUi": {
          "dataAttributesValues": [
            {
              "key": "Type",
              "value": "Test"
            }
          ]
        },
        "extraAttributesUi": {
          "extraAttributesValues": []
        }
      },
      "name": "Vero7",
      "type": "n8n-nodes-base.vero",
      "typeVersion": 1,
      "position": [
        1450,
        400
      ],
      "credentials": {
        "veroApi": "Vero API creds"
      }
    }
  ],
  "connections": {
    "Vero1": {
      "main": [
        [
          {
            "node": "Vero2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Set id & email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vero": {
      "main": [
        [
          {
            "node": "Vero1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vero2": {
      "main": [
        [
          {
            "node": "Vero3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vero3": {
      "main": [
        [
          {
            "node": "Vero4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vero4": {
      "main": [
        [
          {
            "node": "Vero5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vero5": {
      "main": [
        [
          {
            "node": "Vero7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set id & email": {
      "main": [
        [
          {
            "node": "Vero",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vero7": {
      "main": [
        [
          {
            "node": "Vero6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2021-04-20T08:36:34.927Z",
  "updatedAt": "2021-04-20T08:36:34.927Z",
  "settings": {},
  "staticData": null
}