workflows/18.json
{
  "id": 18,
  "name": "[remove executeSingle] send email node test",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "marzdali14@gmail.com",
        "toEmail": "marzdali14@gmail.com",
        "subject": "={{$json[\"subject\"]}}",
        "text": "={{$json[\"body\"]}}",
        "options": {}
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        660,
        300
      ],
      "credentials": {
        "smtp": "SMTP creds"
      }
    },
    {
      "parameters": {
        "functionCode": "items = [\n{\n  json:{\n    subject:'test1',\n    body:'Hi, this is test 1'\n  }\n},\n{\n  json:{\n    subject:'test2',\n    body:'Hi, this is test 2'\n  }\n}\n\n];\nreturn items;"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    }
  ],
  "connections": {
    "Send Email": {
      "main": [
        []
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2021-02-16T12:37:08.809Z",
  "updatedAt": "2021-02-16T12:37:09.710Z",
  "settings": {},
  "staticData": null
}