workflows/187.json
{
  "id": 187,
  "name": "Strapi:Entry:create get getAll update delete",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "contentType": "Tests",
        "columns": "test,random"
      },
      "name": "Strapi",
      "type": "n8n-nodes-base.strapi",
      "typeVersion": 1,
      "position": [
        550,
        300
      ],
      "credentials": {
        "strapiApi": "Strapi API creds"
      }
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "random",
              "value": "={{Math.round(Math.random()*1000)}}"
            }
          ],
          "string": [
            {
              "name": "test",
              "value": "=Entry{{Date.now()}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "contentType": "Tests",
        "entryId": "={{$node[\"Strapi\"].json[\"id\"]}}"
      },
      "name": "Strapi1",
      "type": "n8n-nodes-base.strapi",
      "typeVersion": 1,
      "position": [
        700,
        300
      ],
      "credentials": {
        "strapiApi": "Strapi API creds"
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "contentType": "Tests",
        "limit": 1,
        "options": {}
      },
      "name": "Strapi2",
      "type": "n8n-nodes-base.strapi",
      "typeVersion": 1,
      "position": [
        850,
        300
      ],
      "credentials": {
        "strapiApi": "Strapi API creds"
      }
    },
    {
      "parameters": {
        "operation": "update",
        "contentType": "Tests",
        "columns": "test"
      },
      "name": "Strapi3",
      "type": "n8n-nodes-base.strapi",
      "typeVersion": 1,
      "position": [
        1150,
        300
      ],
      "credentials": {
        "strapiApi": "Strapi API creds"
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [
            {
              "name": "id",
              "value": "={{$node[\"Strapi1\"].json[\"id\"]}}"
            }
          ],
          "string": [
            {
              "name": "test",
              "value": "=Updated{{$node[\"Set\"].json[\"test\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "contentType": "Tests",
        "entryId": "={{$node[\"Strapi\"].json[\"id\"]}}"
      },
      "name": "Strapi4",
      "type": "n8n-nodes-base.strapi",
      "typeVersion": 1,
      "position": [
        1290,
        300
      ],
      "credentials": {
        "strapiApi": "Strapi API creds"
      }
    }
  ],
  "connections": {
    "Strapi": {
      "main": [
        [
          {
            "node": "Strapi1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Strapi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Strapi1": {
      "main": [
        [
          {
            "node": "Strapi2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Strapi2": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Strapi3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Strapi3": {
      "main": [
        [
          {
            "node": "Strapi4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2021-04-29T08:02:29.441Z",
  "updatedAt": "2021-04-29T08:02:29.441Z",
  "settings": {},
  "staticData": null
}