workflows/19.json
{
  "id": 19,
  "name": "SentryIo:Organization:create get getAll update:Team:create get getAll update delete:Project:create getAll get update delete:Issue:getAll get update:Event:getAll get:Release:create get getAll update delete",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        210,
        580
      ]
    },
    {
      "parameters": {
        "resource": "organization",
        "operation": "create",
        "name": "=Org{{Date.now()}}",
        "agreeTerms": true,
        "additionalFields": {}
      },
      "name": "Sentry.io",
      "type": "n8n-nodes-base.sentryIo",
      "typeVersion": 1,
      "position": [
        420,
        300
      ],
      "credentials": {
        "sentryIoApi": "sentry io token"
      }
    },
    {
      "parameters": {
        "resource": "organization",
        "organizationSlug": "={{$node[\"Sentry.io\"].json[\"slug\"]}}"
      },
      "name": "Sentry.io1",
      "type": "n8n-nodes-base.sentryIo",
      "typeVersion": 1,
      "position": [
        610,
        300
      ],
      "credentials": {
        "sentryIoApi": "sentry io token"
      }
    },
    {
      "parameters": {
        "resource": "organization",
        "operation": "getAll",
        "limit": 1,
        "additionalFields": {}
      },
      "name": "Sentry.io2",
      "type": "n8n-nodes-base.sentryIo",
      "typeVersion": 1,
      "position": [
        980,
        300
      ],
      "credentials": {
        "sentryIoApi": "sentry io token"
      }
    },
    {
      "parameters": {
        "resource": "team",
        "operation": "create",
        "organizationSlug": "n8n-iq",
        "name": "=Team{{Date.now()}}",
        "additionalFields": {}
      },
      "name": "Sentry.io3",
      "type": "n8n-nodes-base.sentryIo",
      "typeVersion": 1,
      "position": [
        420,
        140
      ],
      "credentials": {
        "sentryIoApi": "sentry io token"
      }
    },
    {
      "parameters": {
        "resource": "team",
        "organizationSlug": "n8n-iq",
        "teamSlug": "={{$node[\"Sentry.io3\"].json[\"slug\"]}}"
      },
      "name": "Sentry.io4",
      "type": "n8n-nodes-base.sentryIo",
      "typeVersion": 1,
      "position": [
        580,
        140
      ],
      "credentials": {
        "sentryIoApi": "sentry io token"
      }
    },
    {
      "parameters": {
        "resource": "team",
        "operation": "getAll",
        "organizationSlug": "n8n-iq",
        "limit": 1
      },
      "name": "Sentry.io5",
      "type": "n8n-nodes-base.sentryIo",
      "typeVersion": 1,
      "position": [
        930,
        140
      ],
      "credentials": {
        "sentryIoApi": "sentry io token"
      }
    },
    {
      "parameters": {
        "resource": "project",
        "operation": "getAll",
        "limit": 1
      },
      "name": "Sentry.io6",
      "type": "n8n-nodes-base.sentryIo",
      "typeVersion": 1,
      "position": [
        590,
        470
      ],
      "credentials": {
        "sentryIoApi": "sentry io token"
      }
    },
    {
      "parameters": {
        "resource": "project",
        "organizationSlug": "n8n-iq",
        "projectSlug": "={{$node[\"Sentry.io22\"].json[\"slug\"]}}"
      },
      "name": "Sentry.io7",
      "type": "n8n-nodes-base.sentryIo",
      "typeVersion": 1,
      "position": [
        780,
        470
      ],
      "credentials": {
        "sentryIoApi": "sentry io token"
      }
    },
    {
      "parameters": {
        "resource": "issue",
        "issueId": "={{$json[\"id\"]}}"
      },
      "name": "Sentry.io8",
      "type": "n8n-nodes-base.sentryIo",
      "typeVersion": 1,
      "position": [
        610,
        630
      ],
      "credentials": {
        "sentryIoApi": "sentry io token"
      }
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "getAll",
        "organizationSlug": "n8n-iq",
        "projectSlug": "javascript",
        "limit": 1,
        "additionalFields": {}
      },
      "name": "Sentry.io9",
      "type": "n8n-nodes-base.sentryIo",
      "typeVersion": 1,
      "position": [
        430,
        630
      ],
      "credentials": {
        "sentryIoApi": "sentry io token"
      }
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "update",
        "issueId": "={{$json[\"id\"]}}",
        "additionalFields": {
          "isBookmarked": "={{!$json[\"isBookmarked\"]}}"
        }
      },
      "name": "Sentry.io10",
      "type": "n8n-nodes-base.sentryIo",
      "typeVersion": 1,
      "position": [
        780,
        630
      ],
      "credentials": {
        "sentryIoApi": "sentry io token"
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "organizationSlug": "n8n-iq",
        "projectSlug": "javascript",
        "full": false,
        "limit": 1
      },
      "name": "Sentry.io11",
      "type": "n8n-nodes-base.sentryIo",
      "typeVersion": 1,
      "position": [
        430,
        780
      ],
      "credentials": {
        "sentryIoApi": "sentry io token"
      }
    },
    {
      "parameters": {
        "organizationSlug": "n8n-iq",
        "projectSlug": "javascript",
        "eventId": "={{$json[\"id\"]}}"
      },
      "name": "Sentry.io12",
      "type": "n8n-nodes-base.sentryIo",
      "typeVersion": 1,
      "position": [
        610,
        780
      ],
      "credentials": {
        "sentryIoApi": "sentry io token"
      }
    },
    {
      "parameters": {
        "resource": "release",
        "operation": "create",
        "organizationSlug": "n8n-iq",
        "version": "={{Date.now().toString()}}",
        "url": "http://n8n.io",
        "projects": "={{[$node[\"Sentry.io22\"].json[\"slug\"]]}}",
        "additionalFields": {}
      },
      "name": "Sentry.io13",
      "type": "n8n-nodes-base.sentryIo",
      "typeVersion": 1,
      "position": [
        1100,
        530
      ],
      "credentials": {
        "sentryIoApi": "sentry io token"
      }
    },
    {
      "parameters": {
        "resource": "release",
        "organizationSlug": "n8n-iq",
        "version": "={{$node[\"Sentry.io13\"].json[\"shortVersion\"]}}"
      },
      "name": "Sentry.io14",
      "type": "n8n-nodes-base.sentryIo",
      "typeVersion": 1,
      "position": [
        1260,
        530
      ],
      "credentials": {
        "sentryIoApi": "sentry io token"
      }
    },
    {
      "parameters": {
        "resource": "release",
        "operation": "getAll",
        "organizationSlug": "n8n-iq",
        "limit": 1,
        "additionalFields": {}
      },
      "name": "Sentry.io15",
      "type": "n8n-nodes-base.sentryIo",
      "typeVersion": 1,
      "position": [
        1440,
        530
      ],
      "credentials": {
        "sentryIoApi": "sentry io token"
      }
    },
    {
      "parameters": {
        "resource": "team",
        "operation": "update",
        "organizationSlug": "n8n-iq",
        "teamSlug": "={{$node[\"Sentry.io3\"].json[\"slug\"]}}",
        "updateFields": {}
      },
      "name": "Sentry.io16",
      "type": "n8n-nodes-base.sentryIo",
      "typeVersion": 1,
      "position": [
        750,
        140
      ],
      "credentials": {
        "sentryIoApi": "sentry io token"
      }
    },
    {
      "parameters": {
        "resource": "team",
        "operation": "delete",
        "organizationSlug": "n8n-iq",
        "teamSlug": "={{$node[\"Sentry.io3\"].json[\"slug\"]}}"
      },
      "name": "Sentry.io17",
      "type": "n8n-nodes-base.sentryIo",
      "typeVersion": 1,
      "position": [
        1100,
        140
      ],
      "credentials": {
        "sentryIoApi": "sentry io token"
      }
    },
    {
      "parameters": {
        "resource": "organization",
        "operation": "update",
        "organization_slug": "={{$node[\"Sentry.io\"].json[\"slug\"]}}",
        "updateFields": {}
      },
      "name": "Sentry.io18",
      "type": "n8n-nodes-base.sentryIo",
      "typeVersion": 1,
      "position": [
        790,
        300
      ],
      "credentials": {
        "sentryIoApi": "sentry io token"
      }
    },
    {
      "parameters": {
        "resource": "project",
        "operation": "update",
        "organizationSlug": "n8n-iq",
        "projectSlug": "={{$node[\"Sentry.io6\"].json[\"slug\"]}}",
        "updateFields": {}
      },
      "name": "Sentry.io19",
      "type": "n8n-nodes-base.sentryIo",
      "typeVersion": 1,
      "position": [
        950,
        470
      ],
      "credentials": {
        "sentryIoApi": "sentry io token"
      }
    },
    {
      "parameters": {
        "resource": "release",
        "operation": "update",
        "organizationSlug": "n8n-iq",
        "version": "={{$node[\"Sentry.io13\"].json[\"shortVersion\"]}}",
        "updateFields": {}
      },
      "name": "Sentry.io20",
      "type": "n8n-nodes-base.sentryIo",
      "typeVersion": 1,
      "position": [
        1600,
        530
      ],
      "credentials": {
        "sentryIoApi": "sentry io token"
      }
    },
    {
      "parameters": {
        "resource": "release",
        "operation": "delete",
        "organizationSlug": "n8n-iq",
        "version": "={{$node[\"Sentry.io13\"].json[\"shortVersion\"]}}"
      },
      "name": "Sentry.io21",
      "type": "n8n-nodes-base.sentryIo",
      "typeVersion": 1,
      "position": [
        1750,
        530
      ],
      "credentials": {
        "sentryIoApi": "sentry io token"
      }
    },
    {
      "parameters": {
        "resource": "project",
        "operation": "create",
        "organizationSlug": "n8n-iq",
        "teamSlug": "n8nteam",
        "name": "=ProjectTest{{Date.now()}}",
        "additionalFields": {}
      },
      "name": "Sentry.io22",
      "type": "n8n-nodes-base.sentryIo",
      "typeVersion": 1,
      "position": [
        430,
        470
      ],
      "credentials": {
        "sentryIoApi": "sentry io token"
      }
    },
    {
      "parameters": {
        "resource": "project",
        "operation": "delete",
        "organizationSlug": "n8n-iq",
        "projectSlug": "={{$node[\"Sentry.io22\"].json[\"slug\"]}}"
      },
      "name": "Sentry.io23",
      "type": "n8n-nodes-base.sentryIo",
      "typeVersion": 1,
      "position": [
        1900,
        480
      ],
      "credentials": {
        "sentryIoApi": "sentry io token"
      }
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Sentry.io",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sentry.io3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sentry.io22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentry.io": {
      "main": [
        [
          {
            "node": "Sentry.io1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentry.io1": {
      "main": [
        [
          {
            "node": "Sentry.io18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentry.io3": {
      "main": [
        [
          {
            "node": "Sentry.io4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentry.io4": {
      "main": [
        [
          {
            "node": "Sentry.io16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentry.io6": {
      "main": [
        [
          {
            "node": "Sentry.io7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentry.io8": {
      "main": [
        [
          {
            "node": "Sentry.io10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentry.io9": {
      "main": [
        [
          {
            "node": "Sentry.io8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentry.io11": {
      "main": [
        [
          {
            "node": "Sentry.io12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentry.io13": {
      "main": [
        [
          {
            "node": "Sentry.io14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentry.io14": {
      "main": [
        [
          {
            "node": "Sentry.io15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentry.io16": {
      "main": [
        [
          {
            "node": "Sentry.io5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentry.io5": {
      "main": [
        [
          {
            "node": "Sentry.io17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentry.io18": {
      "main": [
        [
          {
            "node": "Sentry.io2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentry.io7": {
      "main": [
        [
          {
            "node": "Sentry.io19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentry.io19": {
      "main": [
        [
          {
            "node": "Sentry.io13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentry.io15": {
      "main": [
        [
          {
            "node": "Sentry.io20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentry.io20": {
      "main": [
        [
          {
            "node": "Sentry.io21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentry.io22": {
      "main": [
        [
          {
            "node": "Sentry.io6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentry.io21": {
      "main": [
        [
          {
            "node": "Sentry.io23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2021-02-16T14:22:05.872Z",
  "updatedAt": "2021-07-15T13:45:13.306Z",
  "settings": {},
  "staticData": null
}