workflows/195.json
{
  "id": 195,
  "name": "Kitemaker:Organization:get:Space:getAll:User:getAll:WorkItem:create get getAll update",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "resource": "organization"
      },
      "name": "Kitemaker",
      "type": "n8n-nodes-base.kitemaker",
      "typeVersion": 1,
      "position": [
        450,
        150
      ],
      "credentials": {
        "kitemakerApi": "Kitemaker API creds"
      }
    },
    {
      "parameters": {
        "resource": "space",
        "limit": 1
      },
      "name": "Kitemaker1",
      "type": "n8n-nodes-base.kitemaker",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "credentials": {
        "kitemakerApi": "Kitemaker API creds"
      }
    },
    {
      "parameters": {
        "resource": "user",
        "limit": 1
      },
      "name": "Kitemaker2",
      "type": "n8n-nodes-base.kitemaker",
      "typeVersion": 1,
      "position": [
        450,
        450
      ],
      "credentials": {
        "kitemakerApi": "Kitemaker API creds"
      }
    },
    {
      "parameters": {
        "operation": "create",
        "title": "=WorkItem{{Date.now()}}",
        "statusId": "0f42cd20f9617405",
        "additionalFields": {}
      },
      "name": "Kitemaker3",
      "type": "n8n-nodes-base.kitemaker",
      "typeVersion": 1,
      "position": [
        450,
        600
      ],
      "credentials": {
        "kitemakerApi": "Kitemaker API creds"
      }
    },
    {
      "parameters": {
        "workItemId": "={{$node[\"Kitemaker3\"].json[\"id\"]}}"
      },
      "name": "Kitemaker4",
      "type": "n8n-nodes-base.kitemaker",
      "typeVersion": 1,
      "position": [
        600,
        600
      ],
      "credentials": {
        "kitemakerApi": "Kitemaker API creds"
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "spaceId": "0f42cd20b0617400",
        "limit": 1
      },
      "name": "Kitemaker5",
      "type": "n8n-nodes-base.kitemaker",
      "typeVersion": 1,
      "position": [
        750,
        600
      ],
      "credentials": {
        "kitemakerApi": "Kitemaker API creds"
      }
    },
    {
      "parameters": {
        "operation": "update",
        "workItemId": "={{$node[\"Kitemaker3\"].json[\"id\"]}}",
        "updateFields": {
          "statusId": "0f42cd20f9617401",
          "title": "=Updated{{$node[\"Kitemaker3\"].json[\"title\"]}}"
        }
      },
      "name": "Kitemaker6",
      "type": "n8n-nodes-base.kitemaker",
      "typeVersion": 1,
      "position": [
        900,
        600
      ],
      "credentials": {
        "kitemakerApi": "Kitemaker API creds"
      }
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Kitemaker1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Kitemaker",
            "type": "main",
            "index": 0
          },
          {
            "node": "Kitemaker2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Kitemaker3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kitemaker3": {
      "main": [
        [
          {
            "node": "Kitemaker4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kitemaker4": {
      "main": [
        [
          {
            "node": "Kitemaker5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kitemaker5": {
      "main": [
        [
          {
            "node": "Kitemaker6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2021-05-03T07:34:19.371Z",
  "updatedAt": "2021-05-03T07:34:19.371Z",
  "settings": {},
  "staticData": null
}