workflows/202.json
{
  "id": 202,
  "name": "Beeminder:Datapoint:create getAll update delete",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "goalName": "testing",
        "additionalFields": {}
      },
      "name": "Beeminder",
      "type": "n8n-nodes-base.beeminder",
      "typeVersion": 1,
      "position": [
        490,
        300
      ],
      "credentials": {
        "beeminderApi": "Beeminder API creds"
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "goalName": "testing",
        "limit": 1,
        "options": {}
      },
      "name": "Beeminder1",
      "type": "n8n-nodes-base.beeminder",
      "typeVersion": 1,
      "position": [
        650,
        300
      ],
      "credentials": {
        "beeminderApi": "Beeminder API creds"
      }
    },
    {
      "parameters": {
        "operation": "update",
        "goalName": "testing",
        "datapointId": "={{$node[\"Beeminder\"].json[\"id\"]}}",
        "updateFields": {
          "value": 10
        }
      },
      "name": "Beeminder2",
      "type": "n8n-nodes-base.beeminder",
      "typeVersion": 1,
      "position": [
        800,
        300
      ],
      "credentials": {
        "beeminderApi": "Beeminder API creds"
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "goalName": "testing",
        "datapointId": "={{$node[\"Beeminder4\"].json[\"id\"]}}"
      },
      "name": "Beeminder3",
      "type": "n8n-nodes-base.beeminder",
      "typeVersion": 1,
      "position": [
        1100,
        350
      ],
      "credentials": {
        "beeminderApi": "Beeminder API creds"
      }
    },
    {
      "parameters": {
        "goalName": "testing",
        "value": 3,
        "additionalFields": {}
      },
      "name": "Beeminder4",
      "type": "n8n-nodes-base.beeminder",
      "typeVersion": 1,
      "position": [
        950,
        350
      ],
      "credentials": {
        "beeminderApi": "Beeminder API creds"
      }
    }
  ],
  "connections": {
    "Beeminder": {
      "main": [
        [
          {
            "node": "Beeminder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Beeminder1": {
      "main": [
        [
          {
            "node": "Beeminder2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Beeminder2": {
      "main": [
        [
          {
            "node": "Beeminder4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Beeminder4": {
      "main": [
        [
          {
            "node": "Beeminder3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Beeminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2021-05-12T08:49:01.587Z",
  "updatedAt": "2021-05-12T08:49:01.587Z",
  "settings": {},
  "staticData": null
}