workflows/22.json
{
  "id": 22,
  "name": "Hubspot:ContactList:add remove:Form:getFields submit",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "resource": "form",
        "formId": "a3c94446-bea8-49be-80a7-c862efe7ceb6"
      },
      "name": "Hubspot",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 1,
      "position": [
        490,
        210
      ],
      "credentials": {
        "hubspotApi": "hubsport api key"
      }
    },
    {
      "parameters": {
        "resource": "form",
        "operation": "submit",
        "formId": "a3c94446-bea8-49be-80a7-c862efe7ceb6",
        "additionalFields": {},
        "lengalConsentUi": {
          "lengalConsentValues": {
            "consentToProcess": true,
            "text": "test",
            "communicationsUi": {
              "communicationValues": []
            }
          }
        }
      },
      "name": "Hubspot1",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 1,
      "position": [
        890,
        210
      ],
      "credentials": {
        "hubspotApi": "hubsport api key"
      }
    },
    {
      "parameters": {
        "resource": "contactList"
      },
      "name": "Hubspot2",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 1,
      "position": [
        1220,
        290
      ],
      "credentials": {
        "hubspotApi": "hubsport api key"
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "contactList",
        "email": "nodeqa@n8n.io",
        "listId": "2"
      },
      "name": "Hubspot3",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 1,
      "position": [
        500,
        410
      ],
      "credentials": {
        "hubspotApi": "hubsport api key"
      }
    },
    {
      "parameters": {
        "resource": "contactList",
        "operation": "remove",
        "id": "={{$json[\"updated\"][0]}}",
        "listId": "2"
      },
      "name": "Hubspot4",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 1,
      "position": [
        700,
        410
      ],
      "credentials": {
        "hubspotApi": "hubsport api key"
      }
    },
    {
      "parameters": {
        "functionCode": "return [{json:{\n  email:`test${Date.now().toString().substr(5)}@gmail.com`,\n  firstname:'Test first',\n  lastname:'Test last',\n  message:'Message'\n}}];"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        690,
        210
      ],
      "notesInFlow": true,
      "notes": "Turn field into single json"
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Hubspot",
            "type": "main",
            "index": 0
          },
          {
            "node": "Hubspot3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hubspot": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hubspot3": {
      "main": [
        [
          {
            "node": "Hubspot4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "Hubspot1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2021-02-16T16:30:25.114Z",
  "updatedAt": "2021-02-16T19:02:02.611Z",
  "settings": {},
  "staticData": null
}