workflows/231.json
{
  "createdAt": "2024-02-14T09:47:52.177Z",
  "updatedAt": "2024-02-14T09:47:52.177Z",
  "id": "231",
  "name": "HTTP:InvalidHostHeader",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "c77e4d13-9a3f-4db7-92d5-f8c074d8d5c5",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        760,
        780
      ]
    },
    {
      "parameters": {
        "url": "https://n8n.io",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Host",
              "value": "internal.domain"
            }
          ]
        },
        "options": {}
      },
      "id": "629d3dee-0d13-42af-8168-7ab456622c93",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        980,
        780
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "0661cd7b-238e-4b62-bd2a-6e2d9ede5c40",
      "name": "Success",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1440,
        800
      ]
    },
    {
      "parameters": {
        "errorMessage": "Request was not sent, internal SSL error!"
      },
      "id": "e71eb5fd-95c2-43fc-bd70-7fc7525286f1",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1400,
        580
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "e4bed74d-e103-4029-ab3c-77d5ff464b36",
              "leftValue": "={{ $json.error.status }}",
              "rightValue": 403,
              "operator": {
                "type": "number",
                "operation": "notExists",
                "singleValue": true
              }
            },
            {
              "id": "be1eb71b-cccc-4433-95d2-4d4e7c19a2e8",
              "leftValue": "={{ $json.error.message }}",
              "rightValue": "ssl",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "236d8db2-2eca-4c2c-a609-2e7145cff7bb",
      "name": "Internal SSL Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1200,
        780
      ]
    }
  ],
  "connections": {
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Internal SSL Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Internal SSL Error?": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "27cc9b56542ad45b38725555722c50a1c3fee1670bbb67980558314ee08517c4"
  },
  "pinData": {},
  "versionId": "31585615-5f35-4f88-99af-abdb66b77099",
  "triggerCount": 0,
  "tags": []
}