workflows/241.json
{
  "createdAt": "2024-03-04T20:33:51.500Z",
  "updatedAt": "2024-03-04T21:15:59.000Z",
  "id": "241",
  "name": "Agent:OpenAiFunctions",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b6fdea51-4b5d-49b6-bbb9-f398e3ea872c",
              "name": "wiki_called",
              "value": "={{ $json.intermediateSteps.filter(a => a.action.tool === 'wikipedia-api').length >= 2 }}",
              "type": "boolean"
            },
            {
              "id": "a2807ad9-7402-47a8-baf8-3ba8feea2494",
              "name": "calculator_called",
              "value": "={{ $json.intermediateSteps.filter(a => a.action.tool === 'calculator').length >= 1 }}",
              "type": "boolean"
            },
            {
              "id": "29ca8b14-ce95-4497-85eb-687db33ecd06",
              "name": "has_correct_output",
              "value": "={{ $json.output.includes('37830') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "19c7f30c-1234-4dac-8635-59f3101a9dd5",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1240,
        760
      ]
    },
    {
      "parameters": {
        "model": "gpt-4-turbo-preview",
        "options": {
          "temperature": 0
        }
      },
      "id": "704163e9-dee9-4d4f-97b8-9681b050af21",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        920,
        900
      ],
      "credentials": {
        "openAiApi": {
          "id": "Zak03cqeLUOsgkFI",
          "name": "OpenAi account"
        }
      },
      "notes": "IGNORED_PROPERTIES=messages"
    },
    {
      "parameters": {},
      "id": "44f670cc-c4e9-44fc-8870-18955f727be1",
      "name": "Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        1080,
        1040
      ]
    },
    {
      "parameters": {},
      "id": "512b9782-663e-43dd-b16f-d6bdbcced585",
      "name": "Wikipedia",
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        1080,
        920
      ]
    },
    {
      "parameters": {},
      "id": "f036de64-49fa-4854-89b7-2679f6e3cf59",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        700,
        760
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "29ca8b14-ce95-4497-85eb-687db33ecd06",
              "name": "has_correct_output",
              "value": "={{ $json.output.output.result === 100 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a84a2eee-afed-4d8b-b447-d48cc4a59143",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1240,
        1160
      ]
    },
    {
      "parameters": {},
      "id": "3d3a3ef2-0c72-469f-9b8d-16224b1a9484",
      "name": "Calculator1",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        1020,
        1420
      ]
    },
    {
      "parameters": {
        "model": "gpt4",
        "options": {
          "temperature": 0
        }
      },
      "id": "d7147b3a-ca64-46e0-a356-f5ad9b3009a1",
      "name": "Azure OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        920,
        1300
      ],
      "credentials": {
        "azureOpenAiApi": {
          "id": "RNAgogiex4JxTr44",
          "name": "Azure Open AI account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"result\": \"number\"\n  }\n}"
      },
      "id": "0485c8e6-4bea-4880-aec8-560aa754a0e9",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [
        1080,
        1320
      ]
    },
    {
      "parameters": {
        "agent": "openAiFunctionsAgent",
        "promptType": "define",
        "text": "How much is 23200 / 232? Only respond with a number",
        "hasOutputParser": true,
        "options": {
          "returnIntermediateSteps": false
        }
      },
      "id": "d4baca39-ca3e-433b-a985-8943454583f4",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.4,
      "position": [
        900,
        1160
      ]
    },
    {
      "parameters": {
        "agent": "openAiFunctionsAgent",
        "promptType": "define",
        "text": "1. Search for Albert Einstein on Wikipedia, note his year of birth\n2. Search for J. Robert Oppenheimer on Wikipedia, note his year of birth\n3. Sum Oppenheimer + Einstein years of birth and multiply by 10\n4. Respond ONLY with numerical result, no other comments or text",
        "options": {
          "returnIntermediateSteps": true
        }
      },
      "id": "f0129970-11c7-45c6-9665-28498c9c87dd",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.4,
      "position": [
        900,
        760
      ]
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "efbb6d01-7aae-45ac-a210-0001540ba923",
  "triggerCount": 0,
  "tags": []
}
