workflows/26.json
{
  "id": 26,
  "name": "ClickUp:Folder:create update getAll get delete:Goal:create update getAll get delete:GoalKeyResult:create update delete",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "resource": "folder",
        "team": "4651110",
        "space": "8716115",
        "name": "=testFolder{{Date.now()}}"
      },
      "name": "ClickUp",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        460,
        220
      ],
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "update",
        "team": "4651110",
        "space": "8716115",
        "folder": "={{$node[\"ClickUp\"].json[\"id\"]}}",
        "updateFields": {
          "name": "=testFolderUpdated{{Date.now()}}"
        }
      },
      "name": "ClickUp1",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        740,
        220
      ],
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "getAll",
        "team": "4651110",
        "space": "8716115",
        "limit": 1,
        "filters": {}
      },
      "name": "ClickUp2",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1050,
        220
      ],
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "get",
        "team": "4651110",
        "space": "8716115",
        "folder": "={{$node[\"ClickUp\"].json[\"id\"]}}"
      },
      "name": "ClickUp3",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1330,
        220
      ],
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "delete",
        "team": "4651110",
        "space": "8716115",
        "folder": "={{$node[\"ClickUp\"].json[\"id\"]}}"
      },
      "name": "ClickUp4",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1610,
        220
      ],
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "resource": "goal",
        "team": "4651110",
        "name": "=testGoal{{Date.now()}}",
        "additionalFields": {}
      },
      "name": "ClickUp5",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        450,
        400
      ],
      "credentials": {
        "clickUpApi": "clickup cred"
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "goal",
        "operation": "update",
        "goal": "={{$node[\"ClickUp5\"].json[\"id\"]}}",
        "updateFields": {
          "name": "=testGoalUpdated{{Date.now()}}"
        }
      },
      "name": "ClickUp6",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1630,
        390
      ],
      "credentials": {
        "clickUpApi": "clickup cred"
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "goal",
        "operation": "getAll",
        "team": "4651110",
        "limit": 1
      },
      "name": "ClickUp7",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1950,
        390
      ],
      "credentials": {
        "clickUpApi": "clickup cred"
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "goal",
        "operation": "get",
        "goal": "={{$node[\"ClickUp5\"].json[\"id\"]}}"
      },
      "name": "ClickUp8",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        2230,
        390
      ],
      "credentials": {
        "clickUpApi": "clickup cred"
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "goal",
        "operation": "delete",
        "goal": "={{$node[\"ClickUp5\"].json[\"id\"]}}"
      },
      "name": "ClickUp9",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        2510,
        390
      ],
      "credentials": {
        "clickUpApi": "clickup cred"
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "goalKeyResult",
        "goal": "={{$node[\"ClickUp5\"].json[\"id\"]}}",
        "name": "=testGoalResult{{Date.now()}}",
        "type": "boolean",
        "additionalFields": {}
      },
      "name": "ClickUp10",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        730,
        510
      ],
      "credentials": {
        "clickUpApi": "clickup cred"
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "goalKeyResult",
        "operation": "update",
        "keyResult": "={{$node[\"ClickUp10\"].json[\"id\"]}}",
        "updateFields": {
          "name": "=Updated Key result{{Date.now()}}"
        }
      },
      "name": "ClickUp11",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1060,
        510
      ],
      "credentials": {
        "clickUpApi": "clickup cred"
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "goalKeyResult",
        "operation": "delete",
        "keyResult": "={{$node[\"ClickUp10\"].json[\"id\"]}}"
      },
      "name": "ClickUp12",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1340,
        510
      ],
      "credentials": {
        "clickUpApi": "clickup cred"
      },
      "disabled": true
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(800);\n\n// Output data\nreturn items;"
      },
      "name": "Sleep 8 Seconds",
      "type": "n8n-nodes-base.function",
      "position": [
        590,
        220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(800);\n\n// Output data\nreturn items;"
      },
      "name": "Sleep 8 Seconds1",
      "type": "n8n-nodes-base.function",
      "position": [
        890,
        220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(800);\n\n// Output data\nreturn items;"
      },
      "name": "Sleep 8 Seconds2",
      "type": "n8n-nodes-base.function",
      "position": [
        1180,
        220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(800);\n\n// Output data\nreturn items;"
      },
      "name": "Sleep 8 Seconds3",
      "type": "n8n-nodes-base.function",
      "position": [
        1470,
        220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(800);\n\n// Output data\nreturn items;"
      },
      "name": "Sleep 8 Seconds4",
      "type": "n8n-nodes-base.function",
      "position": [
        580,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(800);\n\n// Output data\nreturn items;"
      },
      "name": "Sleep 8 Seconds5",
      "type": "n8n-nodes-base.function",
      "position": [
        890,
        510
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(800);\n\n// Output data\nreturn items;"
      },
      "name": "Sleep 8 Seconds6",
      "type": "n8n-nodes-base.function",
      "position": [
        1200,
        510
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(800);\n\n// Output data\nreturn items;"
      },
      "name": "Sleep 8 Seconds7",
      "type": "n8n-nodes-base.function",
      "position": [
        1500,
        390
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(800);\n\n// Output data\nreturn items;"
      },
      "name": "Sleep 8 Seconds8",
      "type": "n8n-nodes-base.function",
      "position": [
        1790,
        390
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(800);\n\n// Output data\nreturn items;"
      },
      "name": "Sleep 8 Seconds9",
      "type": "n8n-nodes-base.function",
      "position": [
        2090,
        390
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(800);\n\n// Output data\nreturn items;"
      },
      "name": "Sleep 8 Seconds10",
      "type": "n8n-nodes-base.function",
      "position": [
        2380,
        390
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "ClickUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp": {
      "main": [
        [
          {
            "node": "Sleep 8 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp1": {
      "main": [
        [
          {
            "node": "Sleep 8 Seconds1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp2": {
      "main": [
        [
          {
            "node": "Sleep 8 Seconds2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp3": {
      "main": [
        [
          {
            "node": "Sleep 8 Seconds3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp5": {
      "main": [
        [
          {
            "node": "Sleep 8 Seconds4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp6": {
      "main": [
        [
          {
            "node": "Sleep 8 Seconds8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp7": {
      "main": [
        [
          {
            "node": "Sleep 8 Seconds9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp8": {
      "main": [
        [
          {
            "node": "Sleep 8 Seconds10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp10": {
      "main": [
        [
          {
            "node": "Sleep 8 Seconds5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp11": {
      "main": [
        [
          {
            "node": "Sleep 8 Seconds6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp12": {
      "main": [
        [
          {
            "node": "Sleep 8 Seconds7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sleep 8 Seconds": {
      "main": [
        [
          {
            "node": "ClickUp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sleep 8 Seconds1": {
      "main": [
        [
          {
            "node": "ClickUp2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sleep 8 Seconds2": {
      "main": [
        [
          {
            "node": "ClickUp3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sleep 8 Seconds3": {
      "main": [
        [
          {
            "node": "ClickUp4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sleep 8 Seconds4": {
      "main": [
        [
          {
            "node": "ClickUp10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sleep 8 Seconds5": {
      "main": [
        [
          {
            "node": "ClickUp11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sleep 8 Seconds6": {
      "main": [
        [
          {
            "node": "ClickUp12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sleep 8 Seconds7": {
      "main": [
        [
          {
            "node": "ClickUp6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sleep 8 Seconds8": {
      "main": [
        [
          {
            "node": "ClickUp7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sleep 8 Seconds9": {
      "main": [
        [
          {
            "node": "ClickUp8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sleep 8 Seconds10": {
      "main": [
        [
          {
            "node": "ClickUp9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2021-02-17T09:14:09.452Z",
  "updatedAt": "2021-05-21T11:16:43.023Z",
  "settings": {},
  "staticData": null
}