workflows/27.json
{
  "id": 27,
  "name": "ClickUp:Task:create update member getAll get delete:List:create update customFields member getAll get delete",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        160,
        420
      ]
    },
    {
      "parameters": {
        "resource": "folder",
        "team": "4651110",
        "space": "8716115",
        "name": "=TestFolder{{Date.now()}}"
      },
      "name": "ClickUp",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        310,
        310
      ],
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "resource": "list",
        "operation": "create",
        "team": "4651110",
        "space": "8716115",
        "folder": "={{$json[\"id\"]}}",
        "name": "=TestList{{Date.now()}}",
        "additionalFields": {}
      },
      "name": "ClickUp1",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        580,
        340
      ],
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "resource": "list",
        "operation": "update",
        "team": "4651110",
        "space": "8716115",
        "folder": "={{$node[\"ClickUp\"].json[\"id\"]}}",
        "list": "={{$node[\"ClickUp1\"].json[\"id\"]}}",
        "updateFields": {
          "name": "=UpdateTestList{{Date.now()}}"
        }
      },
      "name": "ClickUp2",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        860,
        660
      ],
      "retryOnFail": true,
      "waitBetweenTries": 500,
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "resource": "list",
        "team": "4651110",
        "space": "8716115",
        "folder": "={{$json[\"folder\"][\"id\"]}}",
        "list": "={{$json[\"id\"]}}"
      },
      "name": "ClickUp3",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1100,
        660
      ],
      "alwaysOutputData": true,
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "resource": "list",
        "operation": "member",
        "id": "={{$node[\"ClickUp2\"].json[\"id\"]}}",
        "returnAll": false,
        "limit": 1
      },
      "name": "ClickUp4",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1400,
        660
      ],
      "alwaysOutputData": true,
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "resource": "list",
        "operation": "getAll",
        "team": "4651110",
        "space": "8716115",
        "folder": "={{$node[\"ClickUp\"].json[\"id\"]}}",
        "limit": 1,
        "filters": {}
      },
      "name": "ClickUp5",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1730,
        660
      ],
      "alwaysOutputData": true,
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "resource": "list",
        "operation": "get",
        "team": "4651110",
        "space": "8716115",
        "folder": "={{$node[\"ClickUp\"].json[\"id\"]}}",
        "list": "={{$node[\"ClickUp1\"].json[\"id\"]}}"
      },
      "name": "ClickUp6",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        2050,
        660
      ],
      "alwaysOutputData": true,
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "resource": "list",
        "operation": "delete",
        "team": "4651110",
        "space": "8716115",
        "folder": "={{$node[\"ClickUp\"].json[\"id\"]}}",
        "list": "={{$node[\"ClickUp1\"].json[\"id\"]}}"
      },
      "name": "ClickUp7",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        2380,
        660
      ],
      "alwaysOutputData": true,
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "delete",
        "team": "4651110",
        "space": "8716115",
        "folder": "={{$node[\"ClickUp\"].json[\"id\"]}}"
      },
      "name": "ClickUp8",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        2670,
        660
      ],
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "team": "4651110",
        "space": "8716115",
        "folder": "={{$json[\"folder\"][\"id\"]}}",
        "list": "={{$json[\"id\"]}}",
        "name": "=testTask{{Date.now()}}",
        "additionalFields": {}
      },
      "name": "ClickUp9",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        850,
        460
      ],
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{$json[\"id\"]}}",
        "updateFields": {
          "name": "={{$json[\"name\"]}}Updated{{Date.now()}}"
        }
      },
      "name": "ClickUp10",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1100,
        460
      ],
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "operation": "member",
        "id": "={{$json[\"id\"]}}",
        "returnAll": false,
        "limit": 1
      },
      "name": "ClickUp11",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1400,
        460
      ],
      "alwaysOutputData": true,
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "team": "4651110",
        "space": "8716115",
        "folder": "={{$node[\"ClickUp\"].json[\"id\"]}}",
        "list": "={{$node[\"ClickUp1\"].json[\"id\"]}}",
        "returnAll": false,
        "limit": 1,
        "filters": {}
      },
      "name": "ClickUp12",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1740,
        460
      ],
      "alwaysOutputData": true,
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "operation": "get",
        "id": "={{$node[\"ClickUp9\"].json[\"id\"]}}"
      },
      "name": "ClickUp13",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        2050,
        460
      ],
      "alwaysOutputData": true,
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "id": "={{$node[\"ClickUp9\"].json[\"id\"]}}"
      },
      "name": "ClickUp14",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        2380,
        460
      ],
      "alwaysOutputData": true,
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(800);\n\n// Output data\nreturn items;"
      },
      "name": "Sleep 8 Seconds",
      "type": "n8n-nodes-base.function",
      "position": [
        440,
        310
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(800);\n\n// Output data\nreturn items;"
      },
      "name": "Sleep 8 Seconds1",
      "type": "n8n-nodes-base.function",
      "position": [
        710,
        340
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(800);\n\n// Output data\nreturn items;"
      },
      "name": "Sleep 8 Seconds2",
      "type": "n8n-nodes-base.function",
      "position": [
        980,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(800);\n\n// Output data\nreturn items;"
      },
      "name": "Sleep 8 Seconds3",
      "type": "n8n-nodes-base.function",
      "position": [
        1240,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(800);\n\n// Output data\nreturn items;"
      },
      "name": "Sleep 8 Seconds4",
      "type": "n8n-nodes-base.function",
      "position": [
        1570,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(800);\n\n// Output data\nreturn items;"
      },
      "name": "Sleep 8 Seconds5",
      "type": "n8n-nodes-base.function",
      "position": [
        1890,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(800);\n\n// Output data\nreturn items;"
      },
      "name": "Sleep 8 Seconds6",
      "type": "n8n-nodes-base.function",
      "position": [
        2210,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(800);\n\n// Output data\nreturn items;"
      },
      "name": "Sleep 8 Seconds7",
      "type": "n8n-nodes-base.function",
      "position": [
        980,
        660
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(800);\n\n// Output data\nreturn items;"
      },
      "name": "Sleep 8 Seconds8",
      "type": "n8n-nodes-base.function",
      "position": [
        1240,
        660
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(800);\n\n// Output data\nreturn items;"
      },
      "name": "Sleep 8 Seconds9",
      "type": "n8n-nodes-base.function",
      "position": [
        1550,
        660
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(800);\n\n// Output data\nreturn items;"
      },
      "name": "Sleep 8 Seconds10",
      "type": "n8n-nodes-base.function",
      "position": [
        1890,
        660
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(800);\n\n// Output data\nreturn items;"
      },
      "name": "Sleep 8 Seconds11",
      "type": "n8n-nodes-base.function",
      "position": [
        2210,
        660
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(800);\n\n// Output data\nreturn items;"
      },
      "name": "Sleep 8 Seconds12",
      "type": "n8n-nodes-base.function",
      "position": [
        2530,
        660
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(800);\n\n// Output data\nreturn items;"
      },
      "name": "Sleep 8 Seconds13",
      "type": "n8n-nodes-base.function",
      "position": [
        700,
        660
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "ClickUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp": {
      "main": [
        [
          {
            "node": "Sleep 8 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp1": {
      "main": [
        [
          {
            "node": "Sleep 8 Seconds1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp2": {
      "main": [
        [
          {
            "node": "Sleep 8 Seconds7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp3": {
      "main": [
        [
          {
            "node": "Sleep 8 Seconds8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp4": {
      "main": [
        [
          {
            "node": "Sleep 8 Seconds9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp5": {
      "main": [
        [
          {
            "node": "Sleep 8 Seconds10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp6": {
      "main": [
        [
          {
            "node": "Sleep 8 Seconds11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp7": {
      "main": [
        [
          {
            "node": "Sleep 8 Seconds12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp9": {
      "main": [
        [
          {
            "node": "Sleep 8 Seconds2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp10": {
      "main": [
        [
          {
            "node": "Sleep 8 Seconds3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp11": {
      "main": [
        [
          {
            "node": "Sleep 8 Seconds4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp12": {
      "main": [
        [
          {
            "node": "Sleep 8 Seconds5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp13": {
      "main": [
        [
          {
            "node": "Sleep 8 Seconds6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp14": {
      "main": [
        [
          {
            "node": "Sleep 8 Seconds13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sleep 8 Seconds": {
      "main": [
        [
          {
            "node": "ClickUp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sleep 8 Seconds1": {
      "main": [
        [
          {
            "node": "ClickUp9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sleep 8 Seconds2": {
      "main": [
        [
          {
            "node": "ClickUp10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sleep 8 Seconds3": {
      "main": [
        [
          {
            "node": "ClickUp11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sleep 8 Seconds4": {
      "main": [
        [
          {
            "node": "ClickUp12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sleep 8 Seconds5": {
      "main": [
        [
          {
            "node": "ClickUp13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sleep 8 Seconds6": {
      "main": [
        [
          {
            "node": "ClickUp14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sleep 8 Seconds7": {
      "main": [
        [
          {
            "node": "ClickUp3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sleep 8 Seconds8": {
      "main": [
        [
          {
            "node": "ClickUp4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sleep 8 Seconds9": {
      "main": [
        [
          {
            "node": "ClickUp5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sleep 8 Seconds10": {
      "main": [
        [
          {
            "node": "ClickUp6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sleep 8 Seconds11": {
      "main": [
        [
          {
            "node": "ClickUp7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sleep 8 Seconds12": {
      "main": [
        [
          {
            "node": "ClickUp8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sleep 8 Seconds13": {
      "main": [
        [
          {
            "node": "ClickUp2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2021-02-17T09:32:18.514Z",
  "updatedAt": "2021-05-21T11:18:41.858Z",
  "settings": {},
  "staticData": null
}