workflows/27.json
{
  "id": 27,
  "name": "ClickUp:Task:create update member getAll get delete:List:create update customFields member getAll get delete",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        160,
        420
      ]
    },
    {
      "parameters": {
        "resource": "folder",
        "team": "4651110",
        "space": "8716115",
        "name": "=TestFolder{{Date.now()}}"
      },
      "name": "ClickUp",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        320,
        310
      ],
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "resource": "list",
        "operation": "create",
        "team": "4651110",
        "space": "8716115",
        "folder": "={{$json[\"id\"]}}",
        "name": "=TestList{{Date.now()}}",
        "additionalFields": {}
      },
      "name": "ClickUp1",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        590,
        340
      ],
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "resource": "list",
        "operation": "update",
        "team": "4651110",
        "space": "8716115",
        "folder": "={{$node[\"ClickUp\"].json[\"id\"]}}",
        "list": "={{$node[\"ClickUp1\"].json[\"id\"]}}",
        "updateFields": {
          "name": "=UpdateTestList{{Date.now()}}"
        }
      },
      "name": "ClickUp2",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        870,
        660
      ],
      "retryOnFail": true,
      "waitBetweenTries": 500,
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "resource": "list",
        "team": "4651110",
        "space": "8716115",
        "folder": "={{$json[\"folder\"][\"id\"]}}",
        "list": "={{$json[\"id\"]}}"
      },
      "name": "ClickUp3",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1110,
        660
      ],
      "alwaysOutputData": true,
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "resource": "list",
        "operation": "member",
        "id": "={{$node[\"ClickUp2\"].json[\"id\"]}}",
        "returnAll": false,
        "limit": 1
      },
      "name": "ClickUp4",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1410,
        660
      ],
      "alwaysOutputData": true,
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "resource": "list",
        "operation": "getAll",
        "team": "4651110",
        "space": "8716115",
        "folder": "={{$node[\"ClickUp\"].json[\"id\"]}}",
        "limit": 1,
        "filters": {}
      },
      "name": "ClickUp5",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1740,
        660
      ],
      "alwaysOutputData": true,
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "resource": "list",
        "operation": "get",
        "team": "4651110",
        "space": "8716115",
        "folder": "={{$node[\"ClickUp\"].json[\"id\"]}}",
        "list": "={{$node[\"ClickUp1\"].json[\"id\"]}}"
      },
      "name": "ClickUp6",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        2060,
        660
      ],
      "alwaysOutputData": true,
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "resource": "list",
        "operation": "delete",
        "team": "4651110",
        "space": "8716115",
        "folder": "={{$node[\"ClickUp\"].json[\"id\"]}}",
        "list": "={{$node[\"ClickUp1\"].json[\"id\"]}}"
      },
      "name": "ClickUp7",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        2390,
        660
      ],
      "alwaysOutputData": true,
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "delete",
        "team": "4651110",
        "space": "8716115",
        "folder": "={{$node[\"ClickUp\"].json[\"id\"]}}"
      },
      "name": "ClickUp8",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        2680,
        660
      ],
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "team": "4651110",
        "space": "8716115",
        "folder": "={{$json[\"folder\"][\"id\"]}}",
        "list": "={{$json[\"id\"]}}",
        "name": "=testTask{{Date.now()}}",
        "additionalFields": {}
      },
      "name": "ClickUp9",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        860,
        460
      ],
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{$json[\"id\"]}}",
        "updateFields": {
          "name": "={{$json[\"name\"]}}Updated{{Date.now()}}"
        }
      },
      "name": "ClickUp10",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1110,
        460
      ],
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "operation": "member",
        "id": "={{$json[\"id\"]}}",
        "returnAll": false,
        "limit": 1
      },
      "name": "ClickUp11",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1410,
        460
      ],
      "alwaysOutputData": true,
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "team": "4651110",
        "space": "8716115",
        "folder": "={{$node[\"ClickUp\"].json[\"id\"]}}",
        "list": "={{$node[\"ClickUp1\"].json[\"id\"]}}",
        "returnAll": false,
        "limit": 1,
        "filters": {}
      },
      "name": "ClickUp12",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1750,
        460
      ],
      "alwaysOutputData": true,
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "operation": "get",
        "id": "={{$node[\"ClickUp9\"].json[\"id\"]}}"
      },
      "name": "ClickUp13",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        2060,
        460
      ],
      "alwaysOutputData": true,
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "id": "={{$node[\"ClickUp9\"].json[\"id\"]}}"
      },
      "name": "ClickUp14",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        2390,
        460
      ],
      "alwaysOutputData": true,
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(500);\n\n// Output data\nreturn items;"
      },
      "name": "Delay",
      "type": "n8n-nodes-base.function",
      "position": [
        450,
        310
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(500);\n\n// Output data\nreturn items;"
      },
      "name": "Delay1",
      "type": "n8n-nodes-base.function",
      "position": [
        720,
        340
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(500);\n\n// Output data\nreturn items;"
      },
      "name": "Delay2",
      "type": "n8n-nodes-base.function",
      "position": [
        990,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(500);\n\n// Output data\nreturn items;"
      },
      "name": "Delay3",
      "type": "n8n-nodes-base.function",
      "position": [
        1250,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(500);\n\n// Output data\nreturn items;"
      },
      "name": "Delay4",
      "type": "n8n-nodes-base.function",
      "position": [
        1580,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(500);\n\n// Output data\nreturn items;"
      },
      "name": "Delay5",
      "type": "n8n-nodes-base.function",
      "position": [
        1900,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(500);\n\n// Output data\nreturn items;"
      },
      "name": "Delay6",
      "type": "n8n-nodes-base.function",
      "position": [
        2220,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(500);\n\n// Output data\nreturn items;"
      },
      "name": "Delay7",
      "type": "n8n-nodes-base.function",
      "position": [
        990,
        660
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(500);\n\n// Output data\nreturn items;"
      },
      "name": "Delay8",
      "type": "n8n-nodes-base.function",
      "position": [
        1250,
        660
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(500);\n\n// Output data\nreturn items;"
      },
      "name": "Delay9",
      "type": "n8n-nodes-base.function",
      "position": [
        1560,
        660
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(500);\n\n// Output data\nreturn items;"
      },
      "name": "Delay10",
      "type": "n8n-nodes-base.function",
      "position": [
        1900,
        660
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(500);\n\n// Output data\nreturn items;"
      },
      "name": "Delay11",
      "type": "n8n-nodes-base.function",
      "position": [
        2220,
        660
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(500);\n\n// Output data\nreturn items;"
      },
      "name": "Delay12",
      "type": "n8n-nodes-base.function",
      "position": [
        2540,
        660
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(500);\n\n// Output data\nreturn items;"
      },
      "name": "Delay13",
      "type": "n8n-nodes-base.function",
      "position": [
        710,
        660
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "ClickUp": {
      "main": [
        [
          {
            "node": "Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp1": {
      "main": [
        [
          {
            "node": "Delay1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp2": {
      "main": [
        [
          {
            "node": "Delay7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp3": {
      "main": [
        [
          {
            "node": "Delay8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp4": {
      "main": [
        [
          {
            "node": "Delay9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp5": {
      "main": [
        [
          {
            "node": "Delay10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp6": {
      "main": [
        [
          {
            "node": "Delay11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "ClickUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp7": {
      "main": [
        [
          {
            "node": "Delay12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp9": {
      "main": [
        [
          {
            "node": "Delay2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp10": {
      "main": [
        [
          {
            "node": "Delay3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp11": {
      "main": [
        [
          {
            "node": "Delay4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp12": {
      "main": [
        [
          {
            "node": "Delay5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp13": {
      "main": [
        [
          {
            "node": "Delay6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp14": {
      "main": [
        [
          {
            "node": "Delay13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay": {
      "main": [
        [
          {
            "node": "ClickUp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay1": {
      "main": [
        [
          {
            "node": "ClickUp9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay3": {
      "main": [
        [
          {
            "node": "ClickUp11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay2": {
      "main": [
        [
          {
            "node": "ClickUp10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay4": {
      "main": [
        [
          {
            "node": "ClickUp12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay6": {
      "main": [
        [
          {
            "node": "ClickUp14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay5": {
      "main": [
        [
          {
            "node": "ClickUp13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay9": {
      "main": [
        [
          {
            "node": "ClickUp5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay8": {
      "main": [
        [
          {
            "node": "ClickUp4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay7": {
      "main": [
        [
          {
            "node": "ClickUp3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay10": {
      "main": [
        [
          {
            "node": "ClickUp6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay11": {
      "main": [
        [
          {
            "node": "ClickUp7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay12": {
      "main": [
        [
          {
            "node": "ClickUp8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay13": {
      "main": [
        [
          {
            "node": "ClickUp2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2021-02-17T09:32:18.514Z",
  "updatedAt": "2021-03-15T15:51:13.445Z",
  "settings": {},
  "staticData": null
}