workflows/30.json
{
  "id": 30,
  "name": "ClickUp:TaskDependency:create delete",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "resource": "folder",
        "team": "4651110",
        "space": "8716115",
        "name": "=TestFolder3{{Date.now()}}"
      },
      "name": "ClickUp",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        400,
        300
      ],
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "resource": "list",
        "operation": "create",
        "team": "4651110",
        "space": "8716115",
        "folder": "={{$node[\"ClickUp\"].json[\"id\"]}}",
        "name": "=TestList{{Date.now()}}",
        "additionalFields": {}
      },
      "name": "ClickUp1",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        700,
        350
      ],
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "team": "4651110",
        "space": "8716115",
        "folder": "={{$node[\"ClickUp\"].json[\"id\"]}}",
        "list": "={{$node[\"ClickUp1\"].json[\"id\"]}}",
        "name": "=testTask{{Date.now()}}",
        "additionalFields": {}
      },
      "name": "ClickUp9",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        990,
        400
      ],
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "resource": "taskDependency",
        "task": "={{$node[\"ClickUp9\"].json[\"id\"]}}",
        "dependsOnTask": "={{$node[\"ClickUp11\"].json[\"id\"]}}"
      },
      "name": "ClickUp10",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1530,
        500
      ],
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "team": "4651110",
        "space": "8716115",
        "folder": "={{$node[\"ClickUp\"].json[\"id\"]}}",
        "list": "={{$node[\"ClickUp1\"].json[\"id\"]}}",
        "name": "=testTask2{{Date.now()}}",
        "additionalFields": {}
      },
      "name": "ClickUp11",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1250,
        400
      ],
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "resource": "taskDependency",
        "operation": "delete",
        "task": "={{$node[\"ClickUp9\"].json[\"id\"]}}",
        "dependsOnTask": "={{$node[\"ClickUp11\"].json[\"id\"]}}"
      },
      "name": "ClickUp12",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1810,
        500
      ],
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "resource": "list",
        "operation": "delete",
        "team": "4651110",
        "space": "8716115",
        "folder": "={{$node[\"ClickUp\"].json[\"id\"]}}",
        "list": "={{$node[\"ClickUp1\"].json[\"id\"]}}"
      },
      "name": "ClickUp7",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        2080,
        350
      ],
      "alwaysOutputData": true,
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "delete",
        "team": "4651110",
        "space": "8716115",
        "folder": "={{$node[\"ClickUp\"].json[\"id\"]}}"
      },
      "name": "ClickUp8",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        2370,
        300
      ],
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(500);\n\n// Output data\nreturn items;"
      },
      "name": "Delay",
      "type": "n8n-nodes-base.function",
      "position": [
        550,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(500);\n\n// Output data\nreturn items;"
      },
      "name": "Delay1",
      "type": "n8n-nodes-base.function",
      "position": [
        850,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(500);\n\n// Output data\nreturn items;"
      },
      "name": "Delay2",
      "type": "n8n-nodes-base.function",
      "position": [
        1120,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(500);\n\n// Output data\nreturn items;"
      },
      "name": "Delay3",
      "type": "n8n-nodes-base.function",
      "position": [
        1390,
        500
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(500);\n\n// Output data\nreturn items;"
      },
      "name": "Delay4",
      "type": "n8n-nodes-base.function",
      "position": [
        1670,
        500
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(500);\n\n// Output data\nreturn items;"
      },
      "name": "Delay5",
      "type": "n8n-nodes-base.function",
      "position": [
        1950,
        350
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(500);\n\n// Output data\nreturn items;"
      },
      "name": "Delay6",
      "type": "n8n-nodes-base.function",
      "position": [
        2240,
        300
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "ClickUp": {
      "main": [
        [
          {
            "node": "Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp1": {
      "main": [
        [
          {
            "node": "Delay1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "ClickUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp9": {
      "main": [
        [
          {
            "node": "Delay2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp11": {
      "main": [
        [
          {
            "node": "Delay3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp10": {
      "main": [
        [
          {
            "node": "Delay4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp7": {
      "main": [
        [
          {
            "node": "Delay6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp12": {
      "main": [
        [
          {
            "node": "Delay5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay6": {
      "main": [
        [
          {
            "node": "ClickUp8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay5": {
      "main": [
        [
          {
            "node": "ClickUp7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay4": {
      "main": [
        [
          {
            "node": "ClickUp12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay3": {
      "main": [
        [
          {
            "node": "ClickUp10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay2": {
      "main": [
        [
          {
            "node": "ClickUp11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay1": {
      "main": [
        [
          {
            "node": "ClickUp9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay": {
      "main": [
        [
          {
            "node": "ClickUp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2021-02-17T11:28:33.699Z",
  "updatedAt": "2021-03-15T15:17:31.464Z",
  "settings": {},
  "staticData": null
}