workflows/31.json
{
  "id": 31,
  "name": "ClickUp:TimeEntry:create update start stop getall get delete:TimeEntryTag: add getAll remove",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        180,
        300
      ]
    },
    {
      "parameters": {
        "resource": "folder",
        "team": "4651110",
        "space": "8716115",
        "name": "=TestFolder3{{Date.now()}}"
      },
      "name": "ClickUp",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        340,
        300
      ],
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "resource": "list",
        "operation": "create",
        "team": "4651110",
        "space": "8716115",
        "folder": "={{$node[\"ClickUp\"].json[\"id\"]}}",
        "name": "=TestList{{Date.now()}}",
        "additionalFields": {}
      },
      "name": "ClickUp1",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        620,
        350
      ],
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "team": "4651110",
        "space": "8716115",
        "folder": "={{$node[\"ClickUp\"].json[\"id\"]}}",
        "list": "={{$node[\"ClickUp1\"].json[\"id\"]}}",
        "name": "={{Date.now()}}task",
        "additionalFields": {}
      },
      "name": "ClickUp9",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        880,
        400
      ],
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "resource": "timeEntry",
        "team": "4651110",
        "space": "8716115",
        "folder": "={{$node[\"ClickUp\"].json[\"id\"]}}",
        "list": "={{$node[\"ClickUp1\"].json[\"id\"]}}",
        "start": "={{Date.now()}}",
        "duration": 2,
        "task": "={{$node[\"ClickUp9\"].json[\"id\"]}}",
        "additionalFields": {}
      },
      "name": "ClickUp10",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1230,
        490
      ],
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "resource": "timeEntryTag",
        "team": "4651110",
        "timeEntryIds": "={{$node[\"ClickUp10\"].json[\"id\"]}}",
        "tagsUi": {
          "tagsValues": [
            {
              "name": "n8n",
              "tag_bg": "#FF3503",
              "tag_fg": "#FFFFFF"
            }
          ]
        }
      },
      "name": "ClickUp11",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1530,
        570
      ],
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "resource": "timeEntryTag",
        "operation": "getAll",
        "team": "4651110"
      },
      "name": "ClickUp12",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1900,
        570
      ],
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "resource": "timeEntryTag",
        "operation": "remove",
        "team": "4651110",
        "timeEntryIds": "={{$node[\"ClickUp10\"].json[\"id\"]}}",
        "tagNames": [
          "{\"name\":\"n8n\",\"creator\":8779387,\"tag_bg\":\"#FF3503\",\"tag_fg\":\"#FFFFFF\"}"
        ]
      },
      "name": "ClickUp13",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        2210,
        570
      ],
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "resource": "timeEntry",
        "operation": "update",
        "team": "4651110",
        "space": "8716115",
        "folder": "={{$node[\"ClickUp\"].json[\"id\"]}}",
        "list": "={{$node[\"ClickUp1\"].json[\"id\"]}}",
        "timeEntry": "={{$node[\"ClickUp10\"].json[\"id\"]}}",
        "updateFields": {
          "duration": 1
        }
      },
      "name": "ClickUp14",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        2490,
        480
      ],
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "resource": "timeEntry",
        "operation": "start",
        "team": "4651110",
        "task": "={{$node[\"ClickUp9\"].json[\"id\"]}}",
        "additionalFields": {}
      },
      "name": "ClickUp15",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        2770,
        480
      ],
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "resource": "timeEntry",
        "operation": "stop",
        "team": "4651110"
      },
      "name": "ClickUp16",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        3060,
        480
      ],
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "resource": "timeEntry",
        "operation": "getAll",
        "team": "4651110",
        "limit": 1,
        "filters": {}
      },
      "name": "ClickUp17",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        3330,
        480
      ],
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "resource": "timeEntry",
        "operation": "get",
        "team": "4651110",
        "timeEntry": "={{$node[\"ClickUp10\"].json[\"id\"]}}"
      },
      "name": "ClickUp18",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        3600,
        480
      ],
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "resource": "timeEntry",
        "operation": "delete",
        "team": "4651110",
        "timeEntry": "={{$node[\"ClickUp10\"].json[\"id\"]}}"
      },
      "name": "ClickUp19",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        3870,
        480
      ],
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "delete",
        "team": "4651110",
        "space": "8716115",
        "folder": "={{$node[\"ClickUp\"].json[\"id\"]}}"
      },
      "name": "ClickUp2",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        4170,
        330
      ],
      "credentials": {
        "clickUpApi": "clickup cred"
      }
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(800);\n\n// Output data\nreturn items;"
      },
      "name": "Sleep 8 Seconds",
      "type": "n8n-nodes-base.function",
      "position": [
        470,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(800);\n\n// Output data\nreturn items;"
      },
      "name": "Sleep 8 Seconds1",
      "type": "n8n-nodes-base.function",
      "position": [
        750,
        350
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(800);\n\n// Output data\nreturn items;"
      },
      "name": "Sleep 8 Seconds2",
      "type": "n8n-nodes-base.function",
      "position": [
        1020,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(800);\n\n// Output data\nreturn items;"
      },
      "name": "Sleep 8 Seconds3",
      "type": "n8n-nodes-base.function",
      "position": [
        1370,
        500
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(800);\n\n// Output data\nreturn items;"
      },
      "name": "Sleep 8 Seconds4",
      "type": "n8n-nodes-base.function",
      "position": [
        1710,
        570
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(800);\n\n// Output data\nreturn items;"
      },
      "name": "Sleep 8 Seconds5",
      "type": "n8n-nodes-base.function",
      "position": [
        2050,
        570
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(800);\n\n// Output data\nreturn items;"
      },
      "name": "Sleep 8 Seconds6",
      "type": "n8n-nodes-base.function",
      "position": [
        2360,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(800);\n\n// Output data\nreturn items;"
      },
      "name": "Sleep 8 Seconds7",
      "type": "n8n-nodes-base.function",
      "position": [
        2630,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(800);\n\n// Output data\nreturn items;"
      },
      "name": "Sleep 8 Seconds8",
      "type": "n8n-nodes-base.function",
      "position": [
        2910,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(800);\n\n// Output data\nreturn items;"
      },
      "name": "Sleep 8 Seconds9",
      "type": "n8n-nodes-base.function",
      "position": [
        3200,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(800);\n\n// Output data\nreturn items;"
      },
      "name": "Sleep 8 Seconds10",
      "type": "n8n-nodes-base.function",
      "position": [
        3470,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(800);\n\n// Output data\nreturn items;"
      },
      "name": "Sleep 8 Seconds11",
      "type": "n8n-nodes-base.function",
      "position": [
        3730,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(800);\n\n// Output data\nreturn items;"
      },
      "name": "Sleep 8 Seconds12",
      "type": "n8n-nodes-base.function",
      "position": [
        4050,
        330
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "ClickUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp": {
      "main": [
        [
          {
            "node": "Sleep 8 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp1": {
      "main": [
        [
          {
            "node": "Sleep 8 Seconds1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp9": {
      "main": [
        [
          {
            "node": "Sleep 8 Seconds2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp10": {
      "main": [
        [
          {
            "node": "Sleep 8 Seconds3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp11": {
      "main": [
        [
          {
            "node": "Sleep 8 Seconds4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp12": {
      "main": [
        [
          {
            "node": "Sleep 8 Seconds5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp13": {
      "main": [
        [
          {
            "node": "Sleep 8 Seconds6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp14": {
      "main": [
        [
          {
            "node": "Sleep 8 Seconds7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp15": {
      "main": [
        [
          {
            "node": "Sleep 8 Seconds8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp16": {
      "main": [
        [
          {
            "node": "Sleep 8 Seconds9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp17": {
      "main": [
        [
          {
            "node": "Sleep 8 Seconds10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp18": {
      "main": [
        [
          {
            "node": "Sleep 8 Seconds11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp19": {
      "main": [
        [
          {
            "node": "Sleep 8 Seconds12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sleep 8 Seconds": {
      "main": [
        [
          {
            "node": "ClickUp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sleep 8 Seconds1": {
      "main": [
        [
          {
            "node": "ClickUp9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sleep 8 Seconds2": {
      "main": [
        [
          {
            "node": "ClickUp10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sleep 8 Seconds3": {
      "main": [
        [
          {
            "node": "ClickUp11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sleep 8 Seconds4": {
      "main": [
        [
          {
            "node": "ClickUp12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sleep 8 Seconds5": {
      "main": [
        [
          {
            "node": "ClickUp13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sleep 8 Seconds6": {
      "main": [
        [
          {
            "node": "ClickUp14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sleep 8 Seconds7": {
      "main": [
        [
          {
            "node": "ClickUp15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sleep 8 Seconds8": {
      "main": [
        [
          {
            "node": "ClickUp16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sleep 8 Seconds9": {
      "main": [
        [
          {
            "node": "ClickUp17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sleep 8 Seconds10": {
      "main": [
        [
          {
            "node": "ClickUp18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sleep 8 Seconds11": {
      "main": [
        [
          {
            "node": "ClickUp19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sleep 8 Seconds12": {
      "main": [
        [
          {
            "node": "ClickUp2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2021-02-17T11:37:42.892Z",
  "updatedAt": "2021-05-21T11:23:28.228Z",
  "settings": {},
  "staticData": null
}