workflows/4.json
{
  "id": 4,
  "name": "FTP:ftp:list download upload",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "operation": "list",
        "path": "/1KB.zip"
      },
      "name": "FTP1",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "credentials": {
        "ftp": "FTP creds"
      }
    },
    {
      "parameters": {
        "path": "1KB.zip"
      },
      "name": "FTP",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        600,
        300
      ],
      "credentials": {
        "ftp": "FTP creds"
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "path": "=/upload/{{$node[\"Set\"].json[\"filename\"]}}"
      },
      "name": "FTP2",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "credentials": {
        "ftp": "FTP creds"
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "filename",
              "value": "=test{{Date.now()}}.zip"
            }
          ]
        },
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        750,
        300
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "FTP1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FTP1": {
      "main": [
        [
          {
            "node": "FTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FTP": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FTP2": {
      "main": [
        []
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "FTP2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2021-01-21T13:48:02.703Z",
  "updatedAt": "2021-03-15T13:59:19.891Z",
  "settings": {},
  "staticData": null
}