workflows/59.json
{
  "id": 59,
  "name": "SendGrid:List:create update get getAll delete:Contact:upsert getAll get delete:mail:send",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        150,
        400
      ]
    },
    {
      "parameters": {
        "name": "=TestList{{Date.now()}}"
      },
      "name": "SendGrid",
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [
        350,
        300
      ],
      "credentials": {
        "sendGridApi": "SendGrid creds"
      }
    },
    {
      "parameters": {
        "operation": "update",
        "listId": "={{$node[\"SendGrid\"].json[\"id\"]}}",
        "name": "UpdatedTestList"
      },
      "name": "SendGrid1",
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [
        500,
        300
      ],
      "credentials": {
        "sendGridApi": "SendGrid creds"
      }
    },
    {
      "parameters": {
        "operation": "get",
        "listId": "={{$node[\"SendGrid\"].json[\"id\"]}}"
      },
      "name": "SendGrid2",
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [
        650,
        300
      ],
      "credentials": {
        "sendGridApi": "SendGrid creds"
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "listId": "={{$node[\"SendGrid\"].json[\"id\"]}}"
      },
      "name": "SendGrid3",
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [
        950,
        300
      ],
      "credentials": {
        "sendGridApi": "SendGrid creds"
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 1
      },
      "name": "SendGrid4",
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [
        800,
        300
      ],
      "credentials": {
        "sendGridApi": "SendGrid creds"
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "email": "=fakeemail{{Date.now()}}@gmail.com",
        "additionalFields": {
          "firstName": "Fake",
          "lastName": "Email"
        }
      },
      "name": "SendGrid5",
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [
        350,
        450
      ],
      "credentials": {
        "sendGridApi": "SendGrid creds"
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "getAll",
        "limit": 1,
        "filters": {}
      },
      "name": "SendGrid6",
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [
        650,
        450
      ],
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "sendGridApi": "SendGrid creds"
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "get",
        "contactId": "={{$node[\"SendGrid6\"].json[\"id\"]}}"
      },
      "name": "SendGrid7",
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [
        800,
        450
      ],
      "alwaysOutputData": true,
      "credentials": {
        "sendGridApi": "SendGrid creds"
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "delete",
        "ids": "=undefined"
      },
      "name": "SendGrid8",
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [
        950,
        450
      ],
      "credentials": {
        "sendGridApi": "SendGrid creds"
      }
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(1000);\nreturn item;"
      },
      "name": "FunctionItem",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [
        500,
        450
      ],
      "notes": "Sleep function"
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(5000);\n\n// Output data\nreturn items;"
      },
      "name": "Sleep 5 Seconds",
      "type": "n8n-nodes-base.function",
      "position": [
        1400,
        200
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "mail",
        "fromEmail": "node8qa@gmail.com",
        "fromName": "node,qa",
        "toEmail": "node8qa@gmail.com",
        "subject": "SendGrid test workflow",
        "contentValue": "=Message at {{(new Date).toUTCString()}}",
        "additionalFields": {}
      },
      "name": "SendGrid9",
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [
        350,
        600
      ],
      "credentials": {
        "sendGridApi": "SendGrid creds"
      }
    }
  ],
  "connections": {
    "SendGrid": {
      "main": [
        [
          {
            "node": "SendGrid1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SendGrid1": {
      "main": [
        [
          {
            "node": "SendGrid2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SendGrid2": {
      "main": [
        [
          {
            "node": "SendGrid4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SendGrid4": {
      "main": [
        [
          {
            "node": "SendGrid3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "SendGrid",
            "type": "main",
            "index": 0
          },
          {
            "node": "SendGrid5",
            "type": "main",
            "index": 0
          },
          {
            "node": "SendGrid9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SendGrid5": {
      "main": [
        [
          {
            "node": "FunctionItem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SendGrid6": {
      "main": [
        [
          {
            "node": "SendGrid7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SendGrid7": {
      "main": [
        [
          {
            "node": "SendGrid8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FunctionItem": {
      "main": [
        [
          {
            "node": "SendGrid6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2021-02-23T10:02:06.947Z",
  "updatedAt": "2021-04-13T10:12:52.388Z",
  "settings": {},
  "staticData": null
}