workflows/82.json
{
  "id": 82,
  "name": "Microsoft OneDrive:Folder:create getChildren share search:File:upload get share download copy delete search",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "create",
        "name": "=TestFolder{{Date.now()}}",
        "options": {}
      },
      "name": "Microsoft OneDrive",
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        490,
        300
      ],
      "credentials": {
        "microsoftOneDriveOAuth2Api": "Microsoft Drive OAuth2 creds"
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "folderId": "={{$node[\"Microsoft OneDrive\"].json[\"id\"]}}"
      },
      "name": "Microsoft OneDrive1",
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        1710,
        300
      ],
      "alwaysOutputData": true,
      "credentials": {
        "microsoftOneDriveOAuth2Api": "Microsoft Drive OAuth2 creds"
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "search",
        "query": "test"
      },
      "name": "Microsoft OneDrive2",
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        2010,
        300
      ],
      "alwaysOutputData": true,
      "credentials": {
        "microsoftOneDriveOAuth2Api": "Microsoft Drive OAuth2 creds"
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "share",
        "folderId": "={{$node[\"Microsoft OneDrive\"].json[\"id\"]}}",
        "type": "view",
        "scope": "anonymous"
      },
      "name": "Microsoft OneDrive3",
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        1860,
        300
      ],
      "alwaysOutputData": true,
      "credentials": {
        "microsoftOneDriveOAuth2Api": "Microsoft Drive OAuth2 creds"
      }
    },
    {
      "parameters": {
        "fileName": "=FileName{{Date.now()}}",
        "parentId": "={{$node[\"Microsoft OneDrive\"].json[\"id\"]}}",
        "fileContent": "=Test written at {{Date()}}"
      },
      "name": "Microsoft OneDrive4",
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        650,
        450
      ],
      "credentials": {
        "microsoftOneDriveOAuth2Api": "Microsoft Drive OAuth2 creds"
      }
    },
    {
      "parameters": {
        "operation": "get",
        "fileId": "={{$node[\"Microsoft OneDrive4\"].json[\"id\"]}}"
      },
      "name": "Microsoft OneDrive5",
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        800,
        450
      ],
      "credentials": {
        "microsoftOneDriveOAuth2Api": "Microsoft Drive OAuth2 creds"
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": "={{$node[\"Microsoft OneDrive4\"].json[\"id\"]}}",
        "type": "view",
        "scope": "anonymous"
      },
      "name": "Microsoft OneDrive6",
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        950,
        450
      ],
      "credentials": {
        "microsoftOneDriveOAuth2Api": "Microsoft Drive OAuth2 creds"
      }
    },
    {
      "parameters": {
        "operation": "search",
        "query": "Test"
      },
      "name": "Microsoft OneDrive7",
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        1550,
        450
      ],
      "alwaysOutputData": true,
      "credentials": {
        "microsoftOneDriveOAuth2Api": "Microsoft Drive OAuth2 creds"
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{$node[\"Microsoft OneDrive4\"].json[\"id\"]}}"
      },
      "name": "Microsoft OneDrive8",
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        1100,
        450
      ],
      "alwaysOutputData": true,
      "credentials": {
        "microsoftOneDriveOAuth2Api": "Microsoft Drive OAuth2 creds"
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": "={{$node[\"Microsoft OneDrive4\"].json[\"id\"]}}",
        "additionalFields": {
          "name": "=CopiedFile{{Date.now()}}"
        },
        "parentReference": {
          "name": "=CopiedFile{{Date.now()}}",
          "path": "=/drive/root:/{{$node[\"Microsoft OneDrive\"].json[\"name\"]}}"
        }
      },
      "name": "Microsoft OneDrive9",
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        1250,
        450
      ],
      "credentials": {
        "microsoftOneDriveOAuth2Api": "Microsoft Drive OAuth2 creds"
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "fileId": "={{$node[\"Microsoft OneDrive4\"].json[\"id\"]}}"
      },
      "name": "Microsoft OneDrive10",
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        1400,
        450
      ],
      "credentials": {
        "microsoftOneDriveOAuth2Api": "Microsoft Drive OAuth2 creds"
      }
    }
  ],
  "connections": {
    "Microsoft OneDrive": {
      "main": [
        [
          {
            "node": "Microsoft OneDrive4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft OneDrive1": {
      "main": [
        [
          {
            "node": "Microsoft OneDrive3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft OneDrive3": {
      "main": [
        [
          {
            "node": "Microsoft OneDrive2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft OneDrive4": {
      "main": [
        [
          {
            "node": "Microsoft OneDrive5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft OneDrive5": {
      "main": [
        [
          {
            "node": "Microsoft OneDrive6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft OneDrive6": {
      "main": [
        [
          {
            "node": "Microsoft OneDrive8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft OneDrive7": {
      "main": [
        [
          {
            "node": "Microsoft OneDrive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft OneDrive8": {
      "main": [
        [
          {
            "node": "Microsoft OneDrive9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft OneDrive9": {
      "main": [
        [
          {
            "node": "Microsoft OneDrive10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft OneDrive10": {
      "main": [
        [
          {
            "node": "Microsoft OneDrive7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Microsoft OneDrive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2021-03-01T10:15:48.446Z",
  "updatedAt": "2021-03-01T11:29:30.539Z",
  "settings": {},
  "staticData": null
}