workflows/84.json
{
  "id": 84,
  "name": "Matrix:Room:create invite kick leave:RoomMember:getAll:Message:create getAll:Account:me:Media:upload:Event:get",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "resource": "account"
      },
      "name": "Matrix",
      "type": "n8n-nodes-base.matrix",
      "typeVersion": 1,
      "position": [
        450,
        100
      ],
      "credentials": {
        "matrixApi": "Matrix creds"
      }
    },
    {
      "parameters": {
        "resource": "room",
        "roomName": "=Room{{Date.now()}}"
      },
      "name": "Matrix1",
      "type": "n8n-nodes-base.matrix",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "credentials": {
        "matrixApi": "Matrix creds"
      }
    },
    {
      "parameters": {
        "resource": "room",
        "operation": "invite",
        "roomId": "={{$node[\"Matrix1\"].json[\"room_id\"]}}",
        "userId": "@node8qa:matrix.org"
      },
      "name": "Matrix2",
      "type": "n8n-nodes-base.matrix",
      "typeVersion": 1,
      "position": [
        1000,
        300
      ],
      "alwaysOutputData": true,
      "credentials": {
        "matrixApi": "Matrix creds"
      }
    },
    {
      "parameters": {
        "resource": "room",
        "operation": "kick",
        "roomId": "={{$node[\"Matrix1\"].json[\"room_id\"]}}",
        "userId": "@node8qa:matrix.org",
        "reason": "test"
      },
      "name": "Matrix3",
      "type": "n8n-nodes-base.matrix",
      "typeVersion": 1,
      "position": [
        1150,
        300
      ],
      "alwaysOutputData": true,
      "credentials": {
        "matrixApi": "Matrix creds"
      }
    },
    {
      "parameters": {
        "resource": "room",
        "operation": "leave",
        "roomId": "={{$node[\"Matrix1\"].json[\"room_id\"]}}"
      },
      "name": "Matrix4",
      "type": "n8n-nodes-base.matrix",
      "typeVersion": 1,
      "position": [
        1300,
        300
      ],
      "alwaysOutputData": true,
      "credentials": {
        "matrixApi": "Matrix creds"
      }
    },
    {
      "parameters": {
        "resource": "roomMember",
        "roomId": "={{$node[\"Matrix1\"].json[\"room_id\"]}}",
        "filters": {}
      },
      "name": "Matrix5",
      "type": "n8n-nodes-base.matrix",
      "typeVersion": 1,
      "position": [
        600,
        350
      ],
      "alwaysOutputData": true,
      "credentials": {
        "matrixApi": "Matrix creds"
      }
    },
    {
      "parameters": {
        "roomId": "={{$node[\"Matrix1\"].json[\"room_id\"]}}",
        "text": "=Test {{Date.now()}}"
      },
      "name": "Matrix6",
      "type": "n8n-nodes-base.matrix",
      "typeVersion": 1,
      "position": [
        600,
        200
      ],
      "alwaysOutputData": true,
      "credentials": {
        "matrixApi": "Matrix creds"
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "roomId": "={{$node[\"Matrix1\"].json[\"room_id\"]}}",
        "limit": 1,
        "otherOptions": {}
      },
      "name": "Matrix7",
      "type": "n8n-nodes-base.matrix",
      "typeVersion": 1,
      "position": [
        750,
        200
      ],
      "alwaysOutputData": true,
      "credentials": {
        "matrixApi": "Matrix creds"
      }
    },
    {
      "parameters": {
        "resource": "media",
        "roomId": "={{$node[\"Matrix1\"].json[\"room_id\"]}}"
      },
      "name": "Matrix8",
      "type": "n8n-nodes-base.matrix",
      "typeVersion": 1,
      "position": [
        750,
        500
      ],
      "alwaysOutputData": true,
      "credentials": {
        "matrixApi": "Matrix creds"
      }
    },
    {
      "parameters": {
        "filePath": "../../../assets/n8n-logo.png"
      },
      "name": "Read Binary File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        600,
        500
      ]
    },
    {
      "parameters": {
        "resource": "event",
        "roomId": "={{$node[\"Matrix1\"].json[\"room_id\"]}}",
        "eventId": "={{$node[\"Matrix8\"].json[\"event_id\"]}}"
      },
      "name": "Matrix9",
      "type": "n8n-nodes-base.matrix",
      "typeVersion": 1,
      "position": [
        900,
        550
      ],
      "alwaysOutputData": true,
      "credentials": {
        "matrixApi": "Matrix creds"
      }
    }
  ],
  "connections": {
    "Matrix1": {
      "main": [
        [
          {
            "node": "Matrix6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Matrix5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Matrix2": {
      "main": [
        [
          {
            "node": "Matrix3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Matrix3": {
      "main": [
        [
          {
            "node": "Matrix4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Matrix6": {
      "main": [
        [
          {
            "node": "Matrix7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Matrix7": {
      "main": [
        [
          {
            "node": "Matrix2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Binary File": {
      "main": [
        [
          {
            "node": "Matrix8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Matrix8": {
      "main": [
        [
          {
            "node": "Matrix9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Matrix1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Matrix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2021-03-01T11:14:09.665Z",
  "updatedAt": "2021-03-01T11:21:28.506Z",
  "settings": {},
  "staticData": null
}