workflows/95.json
{
  "id": 95,
  "name": "Set",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "name",
              "value": "test"
            }
          ]
        },
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        430,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "testData =  JSON.stringify({\n  name: \"test\"\n});\n\nif(JSON.stringify($node['Set'].json)!==testData){\n  throw new Error('Error in Set node');\n}\nreturn items;"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        600,
        300
      ],
      "notesInFlow": true,
      "notes": "Verify the result of set node"
    }
  ],
  "connections": {
    "Set": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2021-03-03T14:28:28.227Z",
  "updatedAt": "2021-03-03T14:28:29.476Z",
  "settings": {},
  "staticData": null
}